#notfound {
	width: 1093px;
	height: 400px;

	background: #fff;
	.page {
		display: block;
		margin-top: -29px;
		padding: 0;
		padding-top: 497px;
		width: 1094px;
		height: 285px;
		overflow: hidden;

		background: url('../img/kogneato_metal_detecting.png') 495px 145px no-repeat, url('../img/404_logo_balls.png') 0 353px no-repeat, url('../img/404_beachandocean.png') 0 255px no-repeat;
		border: 0;
		-webkit-box-shadow: none;
		   -moz-box-shadow: none;
		        box-shadow: none;
		p {
			padding-right: 625px;

			font-size: 18px;

			text-shadow: 0 1px 0 rgba(255, 255, 255, .75);

			text-align: right;
		}
		h1 {
			position: absolute;
			top: 107px;
			left: 45px;

			width: 497px;
			height: 300px;

			background: url('../img/404_insand.png') top center no-repeat;

			text-indent: -9000px;
		}
	}
}
