$black: #000;
$blue: #0093e7;
$brown: #694d28;
$cobalt: #4373c1;
$dark-gray: #3f3f3f;
$gray-c: #cccccc;
$gray: #ababab;
$green: #4d5822;
$light-gray: #b0b0b0;
$light-green: #8dcb45;
$medium-gray: #888;
$off-white: #eeeeee;
$orange-highlight: #fff389;
$orange: #ff8f11;
$pale-green: #c0e195;
$peach: #ffbc78;
$purple: #b944cc;
$sand: #fff6c9;
$skyblue: #7ba7f2;
$white: #fff;
$red: #ff0000;

