body {
	overflow: hidden;
}

.create header {
	margin-bottom: 0;
}
html, body.create {
	height:100%;
	min-height:100%;
	margin: 0;
	padding: 0;
	min-width: 1000px;
}

a {
	cursor: pointer;
}

#container {
	width:100%;
	height:inherit;
	margin: 0 auto;
	padding: 0;
	border: none;
}
#action-bar {
	position: relative;
	height:52px;
	width: 100%;
	text-align: right;
	border-bottom: 4px #b944cc solid;
	white-space: nowrap;
}

#action-bar:before{
	content: "Editing";
	background: #b944cc;

	position: absolute;
	bottom: 0;
	left: 0;
	height: 40px;
	width: 100px;

	font-family: "Lato", "Arial", sans-serif;
	font-size: 20px;
	font-weight: 900;
	color: #FFFFFF;
	text-align: center;
	vertical-align: middle;

	border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	-khtml-border-radius: 5px 5px 0 0;

	line-height:45px;
}
#action-bar a {
	font-family: 'Lucida Grande', 'Verdana', sans-serif;
	font-size: 13px;
	text-decoration: underline;
	margin-right: 13px;
}

.dot {
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	background: #ababab;

	width: 6px;
	height: 6px;

	position: relative;
	display: inline-block;

	margin: 0 8px 0 14px;
}

#returnLink {
	float:left;
	margin-left: 120px;
	margin-top: 23px;
}

.edit_button {
	margin: 10px 0 0 6px;

	font-family: Lato, arial, serif;
	padding: 7px 13px 8px 13px;

	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	font-weight:700;
	color:#694d28;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.75);
	-moz-box-shadow: 1px 2px 4px #888;
	-webkit-box-shadow: 1px 2px 4px #888;
	box-shadow: 1px 2px 4px #888;
	font-size: 15px;
	position:relative;
	cursor:pointer;
	display:inline-block;
}

.publish, .preview {
	background: #fff6c9;
	width: 558px;
	height: 160px;
	text-align: center;
	border: 1px solid rgba(0,0,0,.1);
	border-bottom: 2px solid rgba(0,0,0,.1);
	padding: 0 0 12px 20px;
	margin: 10px auto;
}

.preview{
	height:100px;
}
.publish h1, .publish p, .preview h1, .preview p {
	font-family: "Lato", "Arial", sans-serif;
	color: #000000;
	text-align: left;
}
.publish h1, .preview h1{
	font-size: 24px;
}
.publish p, .preview p{
	font-size: 14px;
}
.page {
	margin:0 20px;
	padding:0;
	text-align:center;
}

.green
{
	background:#8dcb45;
	background-image: -webkit-linear-gradient(top, #c0e195, #8dcb45);
	background-image: -o-linear-gradient(top, #c0e195, #8dcb45);
	background-image: -moz-linear-gradient(top, #c0e195, #8dcb45);
	background-image: -ms-linear-gradient(top, #c0e195, #8dcb45);
	border:#8dcb45 1px solid;
	color:#4d5822;
}
.green:hover
{
	background:#c0e195;
	background-image: -webkit-linear-gradient(top, #8dcb45, #c0e195);
	background-image: -o-linear-gradient(top, #8dcb45, #c0e195);
	background-image: -moz-linear-gradient(top, #8dcb45, #c0e195);
	background-image: -ms-linear-gradient(top, #8dcb45, #c0e195);
	text-decoration:none;
}
.orange
{
	background:#ff8f11;
	background-image: -webkit-linear-gradient(top, #ffbc78, #ff8f11);
	background-image: -o-linear-gradient(top, #ffbc78, #ff8f11);
	background-image: -moz-linear-gradient(top, #ffbc78, #ff8f11);
	background-image: -ms-linear-gradient(top, #ffbc78, #ff8f11);
	border:#ff8f11 1px solid;
	color: #694d28;
}
.orange:hover
{
	background:#ffce8c;
	background-image: -webkit-linear-gradient(top, #ff8f11, #ffbc78);
	background-image: -o-linear-gradient(top, #ff8f11, #ffbc78);
	background-image: -moz-linear-gradient(top, #ff8f11, #ffbc78);
	background-image: -ms-linear-gradient(top, #ff8f11, #ffbc78);
	text-decoration:none;
}
.page .center
{
	min-height:600px;
}

#embed_dialog
{
	position: absolute;
	top: -50%;
	left: 50%;
	margin: -250px -387px;
	width: 675px;
	height: 500px;
	z-index: 2;
	box-shadow: 0px 0px 1000px #000,
		0px 0px 10px #000;
	opacity: 0;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
	background: #fff;
}
#embed_dialog.show {
	opacity: 1;
	box-shadow: none;
	text-align: left;
	top: 50%;
	width: 800px;
}
#modal-cover {
	background-color: #000000;
	height: 10000px;
	opacity: 0.4;
	position: absolute;
	right: -20px;
	top: 65px;
	width: 100%;
	z-index: 1;
}

.animate-show {
	opacity:1;
	-webkit-transition: all ease 0.5s;
	transition: all ease 0.5s;
}

.animate-show.ng-hide {
	height: 0;
	padding-top: 0;
	padding-bottom: 0;
	margin-top: 0;
	margin-bottom: 0;
	opacity: 0;
	display: block !important;
}
