@import "mixins";
@import "colors";

.content {
	@include respond-to(phone, tablet-portrait) {
		padding: 20px;

		border-top: solid 1px $light-gray;
		border-bottom: solid 1px $light-gray;
		background: $white;
	}

	padding: 40px 215px 20px 60px;

	background: url("../img/question_mark_circle.png") 780px 30px no-repeat;
	background-color: $white;

	h1 {
		margin: 0 0 30px;
		padding: 0 0 5px;
		padding-bottom: 20px;

		font-family: "Lato", arial, serif;
		font-size: 38px;
		font-weight: 700;

		border-bottom: dotted black 1px;
	}

	h2 {
		margin: 20px 0 0;

		font-family: "Lato", arial, serif;
		font-size: 26px;
	}

	section {
		clear: both;

		margin-bottom: 0;
		padding-bottom: 15px;
	}

	section.float {
		@include respond-to(phone, tablet-portrait, tablet-landscape) {
			float: none;

			width: inherit;
		}

		float: left;
		clear: none;

		width: 25%;
	}

	section.float.right {
		@include respond-to(phone, tablet-portrait, tablet-landscape) {
			float: none;

			width: inherit;
		}

		float: right;

		width: 40%;
	}

	section.float.left {
		@include respond-to(phone, tablet-portrait, tablet-landscape) {
			float: none;

			width: inherit;
		}

		float: left;

		width: 53%;
	}

	section.bordered {
		border-bottom: dotted 1px $gray-c;
	}

	section.bordered-top {
		border-top: dotted 1px $gray-c;
	}

	h3 {
		margin: 30px 0 0 0;

		font-size: 1.3em;
	}

	h3 + p {
		margin-top: 0.5em;
	}

	a {
		text-decoration: underline;
	}

	dl dt {
		font-family: "Lato", arial, serif;
		font-weight: bold;
	}

	dl dd {
		margin: 0 0 0 20px;
		padding-bottom: 10px;
	}

	.no-flash, .flash-installed {
		padding: 15px 20px;

		font-size: 15px;

		text-align: center;

		color: $dark-gray;
		border-radius: 5px;
		background: $off-white;
	}
}

.get-flash {
	display: block;

	width: 160px;
	height: 41px;
	margin: 0 auto;

	text-indent: -9999px;

	background: url("../img/get_flashplayer.gif");
	background-repeat: no-repeat;

	&:active {
		background-position: 0 2px;
	}
}
