.my_widgets section.page,
.catalog aside,
.spotlight .main_container,
.login section.page,
.my_widgets section,
.user section.page
{
	border: #e1e1e1 1px solid;
}
.my_widgets section.page {
	border-left: none;
	border-top: none;
}
.widget_detail .tooltip, .catalog .infocard, .catalog section.page,
.spotlight .main_container,
.user section.page
{
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#e1e1e1')";
}
#password_label, #username_label
{
	background:#fff !important;
	opacity: 1 !important;
	border: none !important	;
	-ms-filter: "none";
}
.my_widgets .page .share-widget-container {
	border-top: 1px solid #9d9d9d;
	background:  #e0e0e0 url(../img/widget_link_icon.png) no-repeat 20px 20px;
}

.my_widgets aside .search .textbox {
	position:absolute;
	border: none;
	outline: none;
	width: 165px;
	left: 30px;
}

#popupback
{
	background:url('../img/bg_000_50.png');
}

#show_more_activity {
	color: #000 !important;
}

#notfound {
	margin-top: -29px;
	padding-top: 30px;
}

#notfound .page {
	background: url('../img/404_page.png') 0 0 no-repeat;
	margin-top: 0;
	padding-top:468px;
}
#notfound .page h1 {
	background: none;
}
body.widget section.widget section object {
	background: #000;
	padding:1px;
}

body.scores .details ul li.feedback
{
	background:#929AA4;
}
