
.index_catalog_button {
       margin-top:15px;
       /*float:right;*/
       padding: 10px;
}
.text a {
	color:#0093E7;
    font-family: Lato, arial, serif;
	text-decoration: underline;
	font-weight: 700;
	font-size: 0.95em;
}
html.ie9 .cat_list_ul li:first-child {
	margin-left:0 !important;
}
