@import 'mixins.scss';

.content {
	padding: 30px 120px;
	max-width: 600px;
	box-sizing: border-box;

	text-align: center;
}

.login {
	label {
		cursor: text;
	}
	section.page,
	aside {
		background: #fff;
	}
	.container {
		position: relative;

		margin: 15px auto 0 auto;
		width: 640px;
	}
	section.page,
	aside {
		border: rgba(0, 0, 0, .11) 1px solid;
		box-shadow: 1px 3px 10px #888;
	}
	section.page {
		top: 0;
		right: 0;
		z-index: 100;

		margin: 0 auto;
		padding: 30px 10px;
		width: 600px;
	}
	.container.widget {
		section.page {
			min-height: 400px;

			border-right: 0;
			border-bottom: 0;
			border-left: 0;
		}
		.attempts.page {
			min-height: 280px;
		}
		div.detail {
			.attempts-text {
				margin-top: 40px;
				margin-bottom: 5px;
			}
			.attempts-subtext {
				margin-bottom: 40px;

				font-size: .8em;
				font-weight: 600;
			}
		}
		&.preview section.page {
			margin-top: 55px;

			border-top: 4px #b944cc solid;
			&:before {
				content: 'Previewing';

				position: absolute;
				top: -40px;
				left: 0;

				padding: 8px 0 12px 0;
				width: 160px;
				height: 20px;

				color: #fff;
				font-family: 'Lato', 'Arial', sans-serif;
				font-size: 20px;
				font-weight: 900;

				background: #b944cc;
				border-radius: 5px 5px 0 0;

				text-align: center;
				vertical-align: middle;

				-khtml-border-radius: 5px 5px 0 0;
			}
		}
	}
	.availability_message {
		padding: 1em 70px;
	}
}

.login {
	.container.widget div.detail h3 {
		margin-top: 3px;
	}
	.form-content ul {
		position: relative;

		margin: 30px auto 0;
		padding: 0;
		max-width: 500px;
		li {
			position: relative;

			display: block;
			margin: 13px 0 0;

			list-style-type: none;

			text-align: center;
			label {
				position: absolute;
				top: 0;
				left: 0;

				display: block;
				width: 300px;

				font-size: 17px;
			}
			label {
				z-index: 1000;

				margin-top: 13px;
				margin-left: 14px;
				height: 27px;
			}
			input {
				&[type='text'],
				&[type='password'] {
					z-index: 500;

					display: inline-block;
					padding-right: 12px;
					padding-left: 12px;
					width: 100%;
					height: 40px;
					box-sizing: border-box;

					font-size: 18px;

					background: #fff;
					border: solid 1px #abadb3;
				}
			}
		}
	}
	ul.help_links {
		padding: 0;
		li {
			display: inline-block;

			@include respond-to(phone) {
				display: block;
			}
			a {
				margin: 0 5px 0 5px;
			}
			&:after {
				content: '|';

				@include respond-to(phone) {
					content: '';
				}
			}
			&:last-child:after {
				content: '';
			}
		}
	}
	.error {
		margin: -5px 0 -10px 0;
		p {
			margin: 25px auto 0;
			padding: 6px 10px;
			width: 340px;

			color: red;
			font-family: 'Lato';
			font-size: 17px;
			font-weight: 600;

			background: #ffcfcf;
		}
	}
	.additional_info {
		padding-right: 20px;
		padding-bottom: 20px;
		padding-left: 20px;
	}
	.widget_info {
		margin: 0;
		/*min-height: 155px;*/
		margin-bottom: 20px;
		padding-right: 15px;
		padding-left: 70px;

		list-style: none;
		li {
			display: block;
			margin-right: 10px;

			list-style-type: none;
		}
	}
	.widget_icon {
		position: absolute;
		top: 25px;
		left: -25px;

		padding: 15px;
		width: 115px;
		height: inherit;

		color: #fff;
		font-size: 10px;
		line-height: 13px;

		background: #0093e7;
		box-shadow: 0 2px 2px rgba(0, 0, 0, .4);

		text-align: right;
		img {
			padding-bottom: 5px;
			padding-left: 10px;
			width: 100px;
			height: 100px;
		}
	}
	.widget_info li {
		&.widget_tag {
			display: inline-block;
			margin-right: 3px;
			padding: 2px 6px;

			color: #48483e;
			font-size: 12px;

			background: #f2f0d0;
			border-radius: 3px;

			vertical-align: top;
			text-transform: uppercase;
		}
		&.widget_availability {
			display: inline-block;
			padding: 0;
			padding-bottom: 15px;
			width: 335px;

			font-size: 13px;
			.available_date,
			.available_time {
				font-weight: 100;
			}
		}
		&.widget_name {
			margin: 0;
			margin-bottom: 10px;
			padding: 0 0 5px 0;

			font-family: 'Lato', arial, serif;
			font-size: 38px;
			font-weight: 700;
			line-height: 37px;

			border-bottom: dotted black 1px;
		}
	}
	.widget_type {
		display: block;

		color: #b2b2b2;
		font-size: 12px;

		text-transform: uppercase;
	}
	.server_date {
		display: none;
	}
}

/*.login .notice {
			 width:618px;
}*/
