html {
	width: 100%;
	height: 100%;
	overflow-x: hidden;

	background: white;
}

body {
	margin: 0;
	padding: 0;
	min-width: 600px;

	font-family: 'Lucida Grande', sans-serif;
}

header {
	z-index: 0;

	visibility: hidden;
	margin: 0 0 2em 0;
	padding: 0;
	height: auto;
}

.preview {
	header {
		visibility: visible;
		h1 {
			background: #68d053;
		}
	}
	.container {
		margin: 0 auto;
		margin-top: 5em;
		padding: 2em;
		width: 500px;
		height: 300px;
		box-sizing: border-box;

		background: #ebebeb;

		text-align: center;
		p {
			margin-bottom: 2em;
		}
	}
}

.lti-error header,
.selectWidget header,
.widgetSelected header,
.progress header {
	visibility: visible;
}

.widgetSelected header h1 {
	background: #68d053;
}

a {
	color: #0093e7;
}

header > h1 {
	margin: 0;
	padding: 20px 20px 20px 162px;

	color: white;
	font-family: 'Lato', 'Arial', sans-serif;
	font-size: 18pt;

	background: #3690e6;
}

.button {
	position: relative;

	display: inline-block;
	padding: 7px 23px 8px 23px;

	color: #694d28;
	font-family: 'Lato', arial, serif;
	font-size: 18px;
	font-weight: 700;

	background: #ffba5d;
	background-image: linear-gradient(top, #ffce8c, #ffa42a);
	border: #fdb34f 1px solid;
	border-radius: 6px;
	box-shadow: 1px 2px 4px #888;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, .5);

	cursor: pointer;
	text-decoration: none;
	&:hover {
		background-image: linear-gradient(top, #ffa42a, #ffce8c);

		text-decoration: none;
	}
}

.highlighted {
	background-color: #ffd800;
}

#logo {
	position: absolute;
	top: 0;
	left: 30px;

	width: 113px;
	height: 82px;

	background: white url(../img/materia_tmp_logo.png) 0 0 no-repeat;
	border: 1px solid gray;
	border-top: none;
}

#select-widget {
	display: none;
	margin-top: 50px;
}

#error-container {
	padding: 0 30px;
}

#search {
	margin-right: 10px;
	margin-left: 30px;
	padding-right: 10px;
	padding-left: 23px;
	width: 190px;
	height: 19px;

	background: #fff url('../img/magnifyingglass.png') 5px 50% no-repeat;
	border: solid 1px #b0b0b0;
	border-radius: 12px;
	outline: none;
}

#refresh {
	position: absolute;
	top: 125px;
	right: 30px;

	margin-left: 0;

	font-size: 10pt;
}

#list-container {
	position: absolute;
	top: 160px;
	right: 30px;
	bottom: 70px;
	left: 30px;

	min-width: 540px;
	overflow: scroll;
	overflow-x: auto;
	overflow-y: scroll;

	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
}

#no-widgets-container {
	position: absolute;
	top: 40px;
	right: 0;
	left: 0;

	text-align: center;
}

#no-widgets {
	display: inline-block;
	padding: 1em;
	width: 280px;

	background: #fff389;
}

#create-widget-button {
	display: block;
	margin-top: 1em;
}

#list-container {
	ul {
		margin: 0;
		padding: 0;

		list-style-type: none;
	}
	li {
		position: relative;

		padding: 0 20px 0 20px;
		height: 86px;

		border-top: 1px solid #ccc;
		/*margin: 10px 0 10px 0;*/
		&:hover {
			background-color: #ffe0a5;
		}
		&.selected {
			/*background-color: #ffcb68;*/
			&:hover {
				/*background-color: #ffcb68;*/
			}
		}
		h2 {
			margin-top: 11px;
			margin-bottom: 0;
			margin-left: 80px;

			font-family: 'Lato', Arial, sans-serif;
			font-size: 14pt;
		}
		&.draft h2 {
			color: gray;
		}
		h3 {
			margin-top: 0;
			margin-left: 80px;

			color: #555;
			font-size: 10pt;
			font-weight: normal;
		}
		&.draft h3 {
			margin-bottom: 5px;

			color: gray;
		}
		.preview {
			position: absolute;

			display: none;
		}
		&:hover .preview,
		&.selected .preview {
			right: 20px;
			bottom: 10px;

			display: block;
		}
		.view-at-materia {
			position: absolute;
			top: 10px;
			right: 20px;

			display: none;
		}
		&:hover .view-at-materia,
		&.selected .view-at-materia {
			display: block;
		}
		.embed-button {
			position: absolute;
			top: 10px;
			right: 20px;

			display: none;
		}
		&:hover .embed-button,
		&.selected .embed-button {
			display: inline-block;
		}
	}
}

#select-widget .widget-icon {
	position: absolute;
	top: 13px;
	left: 10px;

	width: 60px;
	height: 60px;
}

#list-container li.draft .widget-icon {
	opacity: .5;
}

.draft-label {
	position: absolute;
	top: 34px;
	left: 18px;

	padding: 1px 8px 1px 8px;

	color: white;
	font-family: 'Lato', Arial, sans-serif;
	font-size: 9pt;
	font-weight: 900;

	background: gray;
	background: rgba(0, 0, 0, .6);
	border-radius: 2px;
}

#goto-new-widgets {
	position: absolute;
	bottom: 0;
	left: 0;

	margin-left: 30px;
	padding-top: 35px;
	height: 35px;

	line-height: 0;
}

.cancel-button {
	position: absolute;
	right: 30px;
	bottom: 15px;

	display: none;
}

#success-message {
	margin-bottom: 2em;
	padding: 2px;

	background: #fff389;

	text-align: center;
	ul {
		padding: 0;

		font-size: 10pt;

		list-style-type: none;
	}
}

.arrow_right {
	position: absolute;
	top: -7px;
	left: -36px;
	z-index: 600;

	display: inline-block;
	width: 48px;
	height: 56px;

	background: url(../img/button_arrow_circle_green.png) no-repeat bottom;
}

.preview-button:hover .arrow_right {
	background: url(../img/button_arrow_circle_green_hover.png) no-repeat bottom;
}

.ie8,
.ie9 {
	.arrow_right {
		background: url(../img/ie9_button_arrow_circle_green.png) no-repeat bottom;
	}
	.preview-button:hover .arrow_right {
		background: url(../img/ie9_button_arrow_circle_green_hover.png) no-repeat bottom;
	}
}

#progress {
	.widget-info {
		margin: 3em auto 0 auto;
		width: 580px;
		height: 60px;
		h1 {
			display: inline-block;
			float: right;
			margin-top: 0;
			width: 465px;

			font-family: 'Lato', 'Arial', sans;
			font-size: 24pt;
			font-weight: bold;

			text-align: center;
			text-align: left;
		}
		img {
			float: left;
		}
	}
	.progress-container {
		margin: 5em auto 0 auto;
		padding: 4em 1em 5em 1em;
		width: 580px;
		box-sizing: border-box;

		background: #f7f7f7;
		border: 1px solid #c5c5c5;
		> span {
			display: block;
			margin-bottom: 1em;

			font-size: 14pt;
			line-height: 0;

			text-align: center;
		}
		&.success > span {
			color: #37c89c;
			font-weight: bold;
		}
	}
}

/* jQuery UI: */

.ui-progressbar {
	margin: 0 auto;
	width: 470px;
	/*background: #b2aeb7;*/
	height: 20px;

	background: url('/assets/img/progressbar-bg.gif');
	border-radius: 11px;
}

.ui-progressbar-value {
	height: 100%;

	background: #1da4cd;
	border-radius: 11px;

	transition: width .2s ease, background .2s ease;
}

.progress-container.success .ui-progressbar-value {
	background: #37c89c;
}

.qtip.lti {
	top: 111px;
	right: 155px;

	width: 195px;

	font-size: 13px;
}
