@import 'colors';

html {
	background: $white;
	height: 100%;
	overflow-x: hidden;
	width: 100%;
}

body {
	font-family: 'Lucida Grande', sans-serif;
	margin: 0;
	min-width: 600px;
	padding: 0;
}

header {
	height: auto;
	margin: 0 0 2em 0;
	padding: 0;
	visibility: hidden;
	z-index: 0;
}

.preview {
	header {
		visibility: visible;

		h1 {
			background: #68d053;
		}
	}

	.container {
		background: #ebebeb;
		box-sizing: border-box;
		height: 300px;
		margin: 0 auto;
		margin-top: 5em;
		padding: 2em;
		text-align: center;
		width: 500px;

		p {
			margin-bottom: 2em;
		}
	}
}

.lti-error header,
.selectWidget header,
.widgetSelected header,
.progress header {
	visibility: visible;
}

.widgetSelected header h1 {
	background: #68d053;
}

a {
	color: $blue;
}

header > h1 {
	background: #3690e6;
	color: $white;
	font-family: 'Lato', 'Arial', sans-serif;
	font-size: 18pt;
	margin: 0;
	padding: 20px 20px 20px 162px;
}

.button {
	background: #ffba5d;
	background-image: linear-gradient(top, #ffce8c, #ffa42a);
	border: #fdb34f 1px solid;
	border-radius: 6px;
	box-shadow: 1px 2px 4px $medium-gray;
	color: $brown;
	cursor: pointer;
	display: inline-block;
	font-family: 'Lato', arial, serif;
	font-size: 18px;
	font-weight: 700;
	padding: 7px 23px 8px 23px;
	position: relative;
	text-decoration: none;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, .5);

	&:hover {
		background-image: linear-gradient(top, #ffa42a, #ffce8c);
		text-decoration: none;
	}
}

.highlighted {
	background-color: #ffd800;
}

#logo {
	background: $white url(../img/materia_tmp_logo.png) 20px 15px no-repeat;
	border: 1px solid gray;
	border-top: 0;
	height: 82px;
	left: 30px;
	position: absolute;
	top: 0;
	width: 113px;
}

#select-widget {
	display: none;
	margin-top: 50px;
}

#error-container {
	padding: 0 30px;
}

#search {
	background: $white url('../img/magnifyingglass.png') 5px 50% no-repeat;
	border: solid 1px $light-gray;
	border-radius: 12px;
	height: 19px;
	margin-left: 30px;
	margin-right: 10px;
	outline: none;
	padding-left: 23px;
	padding-right: 10px;
	width: 190px;
}

#refresh {
	font-size: 10pt;
	margin-left: 0;
	position: absolute;
	right: 30px;
	top: 125px;
}

#list-container {
	border-bottom: 1px solid gray;
	border-top: 1px solid gray;
	bottom: 70px;
	left: 30px;
	min-width: 540px;
	overflow-x: auto;
	overflow-y: scroll;
	overflow: scroll;
	position: absolute;
	right: 30px;
	top: 160px;
}

#no-widgets-container {
	left: 0;
	position: absolute;
	right: 0;
	text-align: center;
	top: 40px;
}

#no-widgets {
	background: #fff389;
	display: inline-block;
	padding: 1em;
	width: 280px;
}

#create-widget-button {
	display: block;
	margin-top: 1em;
}

#list-container {
	ul {
		margin: 0;
		padding: 0;

		list-style-type: none;
	}

	li {
		border-top: 1px solid #ccc;
		height: 86px;
		padding: 0 20px 0 20px;
		position: relative;

		&:hover {
			background-color: #ffe0a5;
		}

		h2 {
			font-family: 'Lato', Arial, sans-serif;
			font-size: 14pt;
			margin-bottom: 0;
			margin-left: 80px;
			margin-top: 11px;
		}

		&.draft h2 {
			color: gray;
		}

		h3 {
			color: #555;
			font-size: 10pt;
			font-weight: normal;
			margin-left: 80px;
			margin-top: 0;
		}

		&.draft h3 {
			margin-bottom: 5px;

			color: gray;
		}

		.preview {
			position: absolute;

			display: none;
		}

		&:hover .preview,
		&.selected .preview {
			right: 20px;
			bottom: 10px;

			display: block;
		}

		.view-at-materia {
			position: absolute;
			top: 10px;
			right: 20px;

			display: none;
		}

		&:hover .view-at-materia,
		&.selected .view-at-materia {
			display: block;
		}

		.embed-button {
			position: absolute;
			top: 10px;
			right: 20px;

			display: none;
		}

		&:hover .embed-button,
		&.selected .embed-button {
			display: inline-block;
		}
	}
}

#select-widget .widget-icon {
	height: 60px;
	left: 10px;
	position: absolute;
	top: 13px;
	width: 60px;
}

#list-container li.draft .widget-icon {
	opacity: .5;
}

.draft-label {
	background: rgba(0, 0, 0, .6);
	border-radius: 2px;
	color: $white;
	font-family: 'Lato', Arial, sans-serif;
	font-size: 9pt;
	font-weight: 900;
	left: 18px;
	padding: 1px 8px 1px 8px;
	position: absolute;
	top: 34px;
}

#goto-new-widgets {
	bottom: 0;
	height: 35px;
	left: 0;
	line-height: 0;
	margin-left: 30px;
	padding-top: 35px;
	position: absolute;
}

.cancel-button {
	bottom: 15px;
	display: none;
	position: absolute;
	right: 30px;
}

#success-message {
	background: #fff389;
	margin-bottom: 2em;
	padding: 2px;
	text-align: center;

	ul {
		font-size: 10pt;
		list-style-type: none;
		padding: 0;
	}
}

.arrow_right {
	background: url(../img/button_arrow_circle_green.png) no-repeat bottom;
	display: inline-block;
	height: 56px;
	left: -36px;
	position: absolute;
	top: -7px;
	width: 48px;
	z-index: 600;
}

.preview-button:hover .arrow_right {
	background: url(../img/button_arrow_circle_green_hover.png) no-repeat bottom;
}

.ie8,
.ie9 {
	.arrow_right {
		background: url(../img/ie9_button_arrow_circle_green.png) no-repeat bottom;
	}
	.preview-button:hover .arrow_right {
		background: url(../img/ie9_button_arrow_circle_green_hover.png) no-repeat bottom;
	}
}

#progress {
	.widget-info {
		height: 60px;
		margin: 3em auto 0;
		width: 580px;

		h1 {
			display: inline-block;
			float: right;
			font-family: 'Lato', 'Arial', sans;
			font-size: 24pt;
			font-weight: bold;
			margin-top: 0;
			text-align: center;
			text-align: left;
			width: 465px;
		}

		img {
			float: left;
		}
	}

	.progress-container {
		background: #f7f7f7;
		border: 1px solid #c5c5c5;
		box-sizing: border-box;
		margin: 5em auto 0 auto;
		padding: 4em 1em 5em 1em;
		width: 580px;

		> span {
			display: block;
			font-size: 14pt;
			line-height: 0;
			margin-bottom: 1em;
			text-align: center;
		}

		&.success > span {
			color: #37c89c;
			font-weight: bold;
		}
	}
}

/* jQuery UI: */

.ui-progressbar {
	background: url('/assets/img/progressbar-bg.gif');
	border-radius: 11px;
	height: 20px;
	margin: 0 auto;
	width: 470px;
}

.ui-progressbar-value {
	background: #1da4cd;
	border-radius: 11px;
	height: 100%;
	transition: width .2s ease, background .2s ease;
}

.progress-container.success .ui-progressbar-value {
	background: #37c89c;
}

.qtip.lti {
	font-size: 13px;
	right: 155px;
	top: 111px;
	width: 195px;
}

.lti-select footer {
	display: none;
}

