@import "colors";

html {
	overflow-x: hidden;

	width: 100%;
	height: 100%;

	background: $white;
}

body {
	min-width: 600px;
	margin: 0;
	padding: 0;

	font-family: "Lucida Grande", sans-serif;
}

header {
	z-index: 0;

	visibility: hidden;

	height: auto;
	margin: 0 0 2em 0;
	padding: 0;
}

.preview {
	header {
		visibility: visible;

		h1 {
			background: #68d053;
		}
	}

	.container {
		box-sizing: border-box;
		width: 500px;
		height: 300px;
		margin: 0 auto;
		margin-top: 5em;
		padding: 2em;

		text-align: center;

		background: #ebebeb;

		p {
			margin-bottom: 2em;
		}
	}
}

.lti-error header, .selectWidget header, .widgetSelected header, .progress header {
	visibility: visible;
}

.widgetSelected header h1 {
	background: #68d053;
}

a {
	color: $blue;
}

header > h1 {
	margin: 0;
	padding: 20px 20px 20px 162px;

	font-family: "Lato", "Arial", sans-serif;
	font-size: 18pt;

	color: $white;
	background: #3690e6;
}

.button {
	position: relative;

	display: inline-block;

	padding: 7px 23px 8px 23px;

	font-family: "Lato", arial, serif;
	font-size: 18px;
	font-weight: 700;

	cursor: pointer;
	text-decoration: none;

	color: $brown;
	border: #fdb34f 1px solid;
	border-radius: 6px;
	background: #ffba5d;
	background-image: linear-gradient(top, #ffce8c, #ffa42a);
	box-shadow: 1px 2px 4px $medium-gray;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);

	&:hover {
		text-decoration: none;

		background-image: linear-gradient(top, #ffa42a, #ffce8c);
	}
}

.highlighted {
	background-color: #ffd800;
}

#logo {
	position: absolute;
	top: 0;
	left: 30px;

	width: 113px;
	height: 82px;

	border: 1px solid gray;
	border-top: 0;
	background: $white url(../img/materia_tmp_logo.png) 20px 15px no-repeat;
}

#select-widget {
	display: none;

	margin-top: 50px;
}

#error-container {
	padding: 0 30px;
}

#search {
	width: 190px;
	height: 19px;
	margin-right: 10px;
	margin-left: 30px;
	padding-right: 10px;
	padding-left: 23px;

	border: solid 1px $light-gray;
	border-radius: 12px;
	outline: none;
	background: $white url("../img/magnifyingglass.png") 5px 50% no-repeat;
}

#refresh {
	position: absolute;
	top: 125px;
	right: 30px;

	margin-left: 0;

	font-size: 10pt;
}

#list-container {
	position: absolute;
	top: 160px;
	right: 30px;
	bottom: 70px;
	left: 30px;

	overflow: scroll;
	overflow-x: auto;
	overflow-y: scroll;

	min-width: 540px;

	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
}

#no-widgets-container {
	position: absolute;
	top: 40px;
	right: 0;
	left: 0;

	text-align: center;
}

#no-widgets {
	display: inline-block;

	width: 280px;
	padding: 1em;

	background: #fff389;
}

#create-widget-button {
	display: block;

	margin-top: 1em;
}

#list-container {
	ul {
		margin: 0;
		padding: 0;

		list-style-type: none;
	}

	li {
		position: relative;

		height: 86px;
		padding: 0 20px 0 20px;

		border-top: 1px solid #ccc;

		&:hover {
			background-color: #ffe0a5;
		}

		h2 {
			margin-top: 11px;
			margin-bottom: 0;
			margin-left: 80px;

			font-family: "Lato", Arial, sans-serif;
			font-size: 14pt;
		}

		&.draft h2 {
			color: gray;
		}

		h3 {
			margin-top: 0;
			margin-left: 80px;

			font-size: 10pt;
			font-weight: normal;

			color: #555;
		}

		&.draft h3 {
			margin-bottom: 5px;

			color: gray;
		}

		.preview {
			position: absolute;

			display: none;
		}

		&:hover .preview, &.selected .preview {
			right: 20px;
			bottom: 10px;

			display: block;
		}

		.view-at-materia {
			position: absolute;
			top: 10px;
			right: 20px;

			display: none;
		}

		&:hover .view-at-materia, &.selected .view-at-materia {
			display: block;
		}

		.embed-button {
			position: absolute;
			top: 10px;
			right: 20px;

			display: none;
		}

		&:hover .embed-button, &.selected .embed-button {
			display: inline-block;
		}
	}
}

#select-widget .widget-icon {
	position: absolute;
	top: 13px;
	left: 10px;

	width: 60px;
	height: 60px;
}

#list-container li.draft .widget-icon {
	opacity: 0.5;
}

.draft-label {
	position: absolute;
	top: 34px;
	left: 18px;

	padding: 1px 8px 1px 8px;

	font-family: "Lato", Arial, sans-serif;
	font-size: 9pt;
	font-weight: 900;

	color: $white;
	border-radius: 2px;
	background: rgba(0, 0, 0, 0.6);
}

#goto-new-widgets {
	position: absolute;
	bottom: 0;
	left: 0;

	height: 35px;
	margin-left: 30px;
	padding-top: 35px;

	line-height: 0;
}

.cancel-button {
	position: absolute;
	right: 30px;
	bottom: 15px;

	display: none;
}

#success-message {
	margin-bottom: 2em;
	padding: 2px;

	text-align: center;

	background: #fff389;

	ul {
		padding: 0;

		list-style-type: none;

		font-size: 10pt;
	}
}

.arrow_right {
	position: absolute;
	z-index: 600;
	top: -7px;
	left: -36px;

	display: inline-block;

	width: 48px;
	height: 56px;

	background: url(../img/button_arrow_circle_green.png) no-repeat bottom;
}

.preview-button:hover .arrow_right {
	background: url(../img/button_arrow_circle_green_hover.png) no-repeat bottom;
}

.ie8, .ie9 {
	.arrow_right {
		background: url(../img/ie9_button_arrow_circle_green.png) no-repeat bottom;
	}
	.preview-button:hover .arrow_right {
		background: url(../img/ie9_button_arrow_circle_green_hover.png) no-repeat bottom;
	}
}

#progress {
	.widget-info {
		width: 580px;
		height: 60px;
		margin: 3em auto 0;

		h1 {
			display: inline-block;
			float: right;

			width: 465px;
			margin-top: 0;

			font-family: "Lato", "Arial", sans;
			font-size: 24pt;
			font-weight: bold;

			text-align: center;
			text-align: left;
		}

		img {
			float: left;
		}
	}

	.progress-container {
		box-sizing: border-box;
		width: 580px;
		margin: 5em auto 0 auto;
		padding: 4em 1em 5em 1em;

		border: 1px solid #c5c5c5;
		background: #f7f7f7;

		> span {
			display: block;

			margin-bottom: 1em;

			font-size: 14pt;
			line-height: 0;

			text-align: center;
		}

		&.success > span {
			font-weight: bold;

			color: #37c89c;
		}
	}
}

/* jQuery UI: */

.ui-progressbar {
	width: 470px;
	height: 20px;
	margin: 0 auto;

	border-radius: 11px;
	background: url("/assets/img/progressbar-bg.gif");
}

.ui-progressbar-value {
	height: 100%;

	transition: width 0.2s ease, background 0.2s ease;

	border-radius: 11px;
	background: #1da4cd;
}

.progress-container.success .ui-progressbar-value {
	background: #37c89c;
}

.qtip.lti {
	top: 111px;
	right: 155px;

	width: 195px;

	font-size: 13px;
}

.lti-select footer {
	display: none;
}
