@import 'mixins';
@import 'colors';
@import 'font-awesome/font-awesome';

html {
	background-image: url('../img/back.png');
	background-image: -webkit-linear-gradient(left, #f5f5f5 15px, white 2px);
	background-image: -moz-repeating-linear-gradient(left 0deg, #f5f5f5,
	#f5f5f5 15px, white 2px, white 17px);
	background-image:   -o-repeating-linear-gradient(left 0deg, #f5f5f5,
	#f5f5f5 15px, white 2px, white 17px);
	background-image:      repeating-linear-gradient(left 0deg, #f5f5f5,
	#f5f5f5 15px, white 2px, white 17px);
	-webkit-background-size: 17px 100%;
}

body,
html {
	margin: 0;
	padding: 0;

	font-size: 16px;
}

body {
	overflow: auto;

	font-family: 'Lucida Grande', arial, serif;
}

section,
header,
nav,
article,
aside,
footer {
	display: block;
}

a {
	color: $blue;

	text-decoration: none;
}

a img {
	border: none;
}

a:hover {
	text-decoration: underline;
}

header[role=banner] {
	position: relative;
	z-index: 1000;

	display: block;
	margin-bottom: 30px;
	padding: 15px;

	background: url(../img/header_border.png) 0 100% repeat-x $white;
	.logged_in {
		background: $white url(../img/header_border_alt.png) 0 100% repeat-x;
	}
	.avatar img {
		display: block;
		float: left;
		margin-right: 10px;
		width: 32px;
		height: auto;
	}
	.logo {
		display: inline-block;
		float: left;
		margin: 0;

		@include respond-to(phone, tablet-portrait) {
			float: none;
		}
		a {
			display: block;
			width: 77px;
			height: 50px;

			color: transparent;

			background-image: url(../img/materia_tmp_logo.png);
			background-image: url(../img/materia_tmp_logo.svg);
			background-repeat: no-repeat;
			background-size: 77px 50px;
		}
	}
	ul,
	p {
		margin: 0;
		padding: 0;
	}
	.user {
		padding-top: 15px;

		color: #979696;
		font-size: 12px;
	}
	.avatar {
		font-family: 'Lucida Grande', arial, serif;
	}
	nav {
		margin-left: 100px;

		transition: max-height ease .5s;

		@include respond-to(phone, tablet-portrait) {
			margin-left: 0;
			max-height: 0;
			overflow: hidden;
		}
		ul {
			@include clearfix;
			li {
				display: inline;
				padding: 0 10px 0 0;
			}
			.nav-link {
				@include respond-to(phone, tablet-portrait) {
					display: block;
					padding: 15px 0;

					border-top: 1px solid rgba($black, .2);
				}
				&:first-of-type {
					@include respond-to(phone, tablet-portrait) {
						margin-top: 15px;
					}
				}
			}
		}
		&.expanded {
			@include respond-to(phone, tablet-portrait) {
				max-height: 500px;
			}
		}
	}
}

.tiny {
	font-size: 85%;
}

a.external {
	padding-right: 18px;

	background: url('../img/external_link_arrow_blue.png') right center no-repeat;
}

.hidden {
	display: none;
}
.page {
	position: relative;
	z-index: 1;
}
.main h2,
.main h3 {
	display: inline;
	margin: 0;
	padding: 0;

	font-family: 'Lato', arial, serif;
	font-weight: 700;
}
.detail {
	padding-bottom: 10px;
}
/*.detail h2:after {
	   content: ": ";
}*/

#main a {
	margin: 0;
	padding: 0;

	color: $blue;
	font-weight: bold;
}
nav ul li a {
	font-size: 17px;
}

.logout a {
	font-size: 14px;
}
.messages a {
	position: absolute;
	right: 20px;
	bottom: 13px;

	font-size: 14px;
}

.main a {
	padding: 0;
}
.searchClose {
	position: relative;

	display: inline;
	margin-top: 6px;
	margin-left: -25px;

	color: #ddd;

	cursor: pointer;
}
.popup h2,
.detail h2 {
	margin: 0;
	padding: 0;

	color: #0a0a0a;
	font-family: 'Lato', arial, serif;
	font-size: 20pt;
	font-weight: 900;

	text-shadow: 0 1px 0 #ccc;
}
.ie9 .popup h2,
.detail h2 {
	font-weight: 600;
}
h3 {
	font-family: 'Lato', arial, serif;
	font-size: 1.1em;
	font-weight: 700;
}

.left {
	float: left;
}
.right {
	float: right;
}
.text {
	float: left;
	margin: 0 0 0 10px;
	width: 500px;
}
.layered_windows {
	float: left;
	margin-top: 50px;
	width: 370px;
}
.cat_list {
	margin: 0 auto;
	padding: 20px;
	width: 962px;

	font-family: 'Lato', arial, serif;
}
.cat_list h2 {
	display: inline-block;
	margin-bottom: 30px;
}
.action-button {
	position: relative;

	display: inline-block;
	padding: 7px 23px 8px 23px;

	color: $brown;
	font-family: 'Lato', arial, serif;
	font-size: 18px;
	font-weight: 700;

	background: #ffba5d;
	background-image: linear-gradient(top, #ffce8c, #ffa42a);
	border: #fdb34f 1px solid;
	border-radius: 6px;
	box-shadow: 1px 2px 4px $medium-gray;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, .5);

	cursor: pointer;
	user-select: none;
}

.action-button {
	position: relative;

	display: inline-block;
	padding: 8px 20px;

	font-family: Lato, arial, serif;
	font-size: 18px;
	font-weight: 700;

	border: 1px solid transparent;
	border-radius: 6px;
	box-shadow: 0 2px 2px rgba($black, .3);

	cursor: pointer;
	transition: background-color ease .3s, background-image ease .3s, border-color ease .3s;
	text-align: center;
	white-space: nowrap;

	@include button-variant(rgba($black, .6), #ddd);
	&:hover {
		background-color: #ddd;

		text-decoration: none;
	}
	&.small {
		padding: 6px 18px;

		font-size: 14px;
	}
	&.large {
		padding: 12px 24px;

		font-size: 24px;
	}
	&.hollow {
		background-color: transparent;
		border: 3px solid;
	}
	&.red {
		@include button-variant(rgba($black, .6), #f92328);
	}
	&.orange {
		@include button-variant(rgba($black, .6), #ffba5d);
		.arrow_right {
			display: inline-block;

			background: url(../img/arrow.png) no-repeat bottom;
		}
		&.disabled {
			border-color: #999;
			&:hover {
				border-color: #999;
			}
		}
	}
	&.green {
		@include button-variant(rgba($black, .6), #b2cd43);
	}
	&.dark {
		@include button-variant($white, #666);
	}
	&.transparent {
		box-shadow: none;
		text-shadow: none;

		@include button-variant($blue, transparent);
		&:hover {
			background-color: $blue;
		}
	}
	&.active {
		animation: none;
	}
	&[disabled] {
		opacity: .5;
		cursor: not-allowed;
		pointer-events: none;
	}
	&.block {
		display: block;
	}
}

.cancel_button {
	margin: 10px 15px;

	color: #555;

	text-decoration: underline;
}

.ie .action-button {
	border-radius: 0;
}

.action-button:hover {
	background: #eca444;
	background-image: linear-gradient(top, #ffa42a, #ffce8c);

	text-decoration: none;
	box-shadow: 1px 2px 4px $medium-gray;
}

.content-container {
	margin: 0 auto;
	padding: 0 15px;

	@include clearfix;
	@include max-width;

	@include respond-to(phone, tablet-portrait) {
		padding: 0;
	}
}

.content {
	position: relative;

	margin: 0 auto;
	padding: 10px 15px 25px;
	box-sizing: border-box;

	background-color: $white;
	border: 3px solid rgba(0,0,0,.11);
	box-shadow: 1px 3px 10px rgba($black, .3);

	@include respond-to(phone, tablet-portrait) {
		border: 0;
		box-shadow: none;
	}

	@include clearfix;
	&.aside-content {
		float: left;
		margin-top: 47px;
		padding-bottom: 15px;
		box-sizing: border-box;

		border-right: 0;
	}
	.top {
		margin: -10px -15px 10px;
		padding: 10px 15px;

		color: #a6a6a6;

		background: #eee;

		@include clearfix;
		h1 {
			margin: 0;

			font-family: Lato,arial,serif;
			font-size: 22px;

			text-shadow: 0 1px rgba($white, .6);
		}
	}
}

.message {
	padding: 15px 30px;

	color: #222;

	background-color: #e0e0e0;
	border: 1px solid darken(#e0e0e0, 20%);
}

.index_catalog_button {
	float: right;
	margin-top: 15px;
}

.cat_list_ul {
	margin: 0 auto;
	padding: 0;
}
.cat_list_ul li {
	display: inline-block;
	margin-right: 47px;

	list-style: none;

	text-align: center;
}
.cat_list_ul li:first-child {
	margin-left: 4px;
}

.cat_list_ul li:last-child {
	margin-right: 0 !important;
}
.cat_list_ul li a {
	color: $black;
	font-family: 'Lato', arial, serif;
	font-weight: bold;

	text-decoration: none;
}

dl.inline-def {
	overflow-x: visible;
	overflow-y: auto;
}

dl.inline-def dt {
	display: block;
	float: left;
	clear: left;

	font-family: 'Lato', arial, serif;
	font-size: 12px;
	font-weight: 700;
}

dl.inline-def dd {
	display: block;
	float: left;
	margin: 0;
	margin-left: 4px;

	font-size: 12px;
}

dl.features-list {
	display: none;
}

dl.blurb dd {
	font-size: 10px;
}

dl.blurb dt {
	display: none;
}

.widget a.feature,
.widget a.supported_data {
	margin-right: 5px;
	padding: 2px 6px;

	color: $white;
	font-size: 11px;
	font-weight: bold;

	background: $blue;
	border-radius: 2px;

	text-decoration: none;
}

.widget a.customizable {
	color: $white;

	background: #e53f1f;
}

.widget a.customizable:hover {
	color: #e53f1f;

	background: #fcb8ab;
}

.widget a.scorable {
	color: #405118;

	background: #abe51f;
}

.widget a.scorable:hover {
	color: #abe51f;

	background: #405118;
}

#notices {
	position: absolute;
	top: 78px;
	right: 80px;
	z-index: 101;

	display: none;
	padding: 0;
	width: 380px;
	max-height: 400px;
	overflow: auto;
	overflow-x: hidden;

	background: $white;
	border: 1px solid rgba(0,0,0,.25);
	border-radius: 3px 0 3px 3px;
	box-shadow: 0 2px 2px rgba(0,0,0,.35);

	text-align: right;
}
#notices:before {
	content: 'Messages:';

	display: block;
	margin-top: 18px;
	margin-bottom: 12px;
	margin-left: 19px;

	color: #7f7f7f;
	font-family: 'Lato', arial, serif;
	font-weight: bold;

	text-align: left;
}
#notices :first-child {
	border-top: 0;
}
#notices :last-child {
	border-radius: 0 0 3px 3px;
}

.notice {
	position: relative;

	display: block;
	padding: 0;
	padding: 12px 5px 10px 0;
	overflow: auto;

	font-family: 'Lato', arial, serif;
	font-size: 10px;
	font-weight: bold;

	background: $white;
	border-top: 1px solid #e5e5e5;

	text-align: center;
}
.notice:hover {
	background: #f4f4f4;
}
.notice .notice_right_side {
	display: inline-block;
}
.notice a.noticeClose {
	position: absolute;
	top: 4px;
	right: 5px;

	width: 19px;
	height: 19px;

	background: url('../img/close.png') no-repeat;
}
.notice p {
	font-family: 'Lucida Grande', arial, sans-serif;
	font-size: 17px;
	font-weight: 100;
}
.notice p.speech {
	display: inline-block;
	margin-top: 15px;
	padding: 12px 15px 12px 30px;
	width: 225px;
	min-height: 35px;

	font-size: 12px;

	background: #f0f0f0;
	background: url('../img/notice_speech_bubble_start.gif') left 15px no-repeat, url('../img/notice_speech_border.gif') 17px 0 repeat-y, url('../img/notice_speech_border.gif') right 0 repeat-y, url('../img/notice_speech_top.gif') 0 top repeat-x, url('../img/notice_speech_top.gif') 0 bottom repeat-x, url('../img/notice_speech_bg.gif') 0 0 repeat-y;

	text-align: left;
}
.notice p.icon {
	float: left;
	margin: 10px 0 0 13px;
	max-width: 50px;
}
.notice p.icon .senderAvatar {
	max-width: 50px;
}
.notice p.subject {
	clear: both;
	margin: 0;
	padding: 0;
	width: 270px;

	font-size: 10px;

	text-align: left;
}
.notice p.subject b {
	font-weight: bold;
}
#notifications_link {
	position: absolute;
	right: 86px;
	bottom: 16px;

	width: 30px;
	height: 17px;

	background: url(../img/materia-mail-icon.png) 0 0 no-repeat;
	border-radius: 3px;
	box-shadow: 0 2px 2px rgba(0,0,0,.35);

	cursor: pointer;
	text-decoration: none;
}
#notifications_link.selected {
	position: absolute;
	right: 80px;
	bottom: 5px;
	z-index: 110;

	width: 41px;
	height: 40px;

	background: $white url(../img/materia-mail-icon.png) 0 0 no-repeat;
	background-position: center;
	border: 1px solid rgba(0,0,0,.25);
	border-bottom: none;
	border-radius: 3px 3px 0 0;
	box-shadow: 0 -1px 2px 0 rgba(0,0,0,.35);
}
#notifications_link:after {
	content: attr(data-notifications);

	position: absolute;
	top: -1.5em;
	right: -1em;
	z-index: 999;

	min-width: 1.5em;
	min-height: 1.5em;

	color: $white;
	font-size: .72em;
	font-weight: bold;
	line-height: 1.5em;

	background: #e00101;
	background-image: linear-gradient(top, rgb(243, 0, 0), rgb(150, 4, 4));
	border: 2px solid #fdfdfd;
	border-radius: 4em;
	box-shadow: 0 2px 2px rgba(0,0,0,.35);
	text-shadow: 0 1px 0 rgba(0,0,0,.15);

	text-align: center;
	text-decoration: none;
}

#popupback {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1100;

	margin-top: -21px;

	background: $black;

	opacity: .5;
}
#popup {
	position: absolute;
	z-index: 1150;

	padding: 10px;
}
#popup.dark {
	color: $white;

	background: #262626;
	border: 3px solid $medium-gray;
	border-radius: 5px;
}
#popup.light {
	color: $black;

	background: $white;
}

.loading_popup,
.register_popup {
	font-weight: bold;
}

#popup.alert {
	padding: 0;
	width: 350px;

	background-color: $white;
	border-radius: 5px;

	text-align: center;
}

#popup.alert h1 {
	margin: 0;
	padding: 10px 20px;

	color: $white;
	font-family: 'Lato', arial, serif;
	font-size: 22px;

	background: #6390dc;
	background-image: linear-gradient(top, $skyblue, $cobalt);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;

	text-align: left;

	   -moz-border-top-left-radius: 5px;
	   -moz-border-top-right-radius: 5px;
}

#popup.alert p {
	margin: 20px;

	font-size: 12px;

	text-align: left;
}

#popup.alert button {
	margin: 1em auto 2em;

	font-size: 16px;
}

#loading_image {
	display: inline-block;
	margin-top: -4px;
}
#loading {
	display: inline-block;
	margin: -100px 20px 0 0;
	padding: 10px 0 0 0;
}

.template {
	display: none !important;
}

.container.general {
	position: relative;

	margin: 0 auto;
	width: 970px;
}

.container.general .page {
	top: 0;
	right: 0;
	z-index: 100;

	margin: 0 auto;
	padding: 40px 60px 30px 60px;
	width: 660px;
	min-height: 400px;

	background-color: $white;
	box-shadow: 1px 3px 10px $medium-gray;

	text-align: left;
}


.container.general h1 {
	margin: 0 0 20px 0;
	padding: 0 0 5px 0;

	font-family: 'Lato', arial, serif;
	font-size: 38px;
	font-weight: 700;
}


.container.general h2 {
	margin-top: 30px;

	font-family: 'Lato', arial, serif;
	font-size: 26px;
}

.get_flash {
	margin-top: 25px;
}

.get_flash span {
	display: block;

	font-size: 11px;
}

.container.general .permission_error {
	padding-bottom: 55px;

	background: url('../img/kogneato_looking.png') 35px bottom no-repeat,
	url('../img/student-landing-page.png') center bottom no-repeat;
	background-color: $white;
}

.container.general .permission_error h1 {
	padding: 0 0 10px 0;

	font-family: 'Lato', arial, serif;
	font-size: 34px;
	font-weight: 900;
	line-height: 37px;
}

.error-nowidget {
	display: block;
	margin: 180px auto;
	width: 400px;
	height: 200px;

	color: #616161;

	background: #ededed;
	border: 1px solid #dadada;
	border-radius: 3px;

	text-align: center;
}

.error-nowidget p.errorWindowPara {
	margin: 75px auto !important;
	padding: 0;
	width: 80%;
}

.error-support {
	margin-top: 58px;
}

.error-support dt {
	display: list-item;
	float: left;
	margin-right: 10px;
	margin-left: 40px;

	list-style: disc;
}

.error-support dt:after {
	content: ':';
}

.error-support h3 {
	margin-bottom: 1px;
}

.error-support span.subtitle {
	margin-top: 0;

	color: #666;
	font-size: .9em;
}

.form-content ul li {
	text-align: left;
}

.get-started {
	margin-top: 50px;
	padding: 45px 0;

	font-family: 'Lato', arial, serif;
	font-size: 24px;
	font-weight: 900;

	background-color: #3690e6;

	text-align: center;
	vertical-align: middle;

	@include respond-to(phone, tablet-portrait) {
		padding: 30px 0;
		margin-top: 0;
	}
	h1 {
		float: left;
		margin: 0;
		max-width: 720px;

		color: $white;
		font-family: 'Lato', arial, serif;
		font-size: 44px;
		font-weight: 500;

		text-align: left;

		@include respond-to(phone, tablet-portrait, tablet-landscape) {
			float: none;

			font-size: 36px;

			text-align: center;
		}
	}
	p {
		float: right;

		@include respond-to(phone, tablet-portrait, tablet-landscape) {
			float: none;
			margin-bottom: 0;
		}
	}
}

.bottom_header {
	color: #474747;
	font-family: 'Lato', arial, serif;
	font-size: 30px;
	font-weight: 500;
	line-height: 30px;

	text-align: center;
}
.bottom_header hr {
	display: inline-block;
	margin: 0 10px;
	width: 350px;

	opacity: .25;
	vertical-align: middle;
}

.front-bottom {
	background: $white url('../img/repeat_border_diag_bottom.png') 0 100% repeat-x;
	border-bottom: 3px solid rgba(0,0,0,.11);
	.info {
		display: inline-block;
		margin: 30px 0;

		color: #4c4c4c;
		font-family: 'Lucida Grande', arial, serif;
		font-size: 14px;
		font-weight: 300;

		text-align: left;

		@include respond-to(phone, tablet-portrait) {
			text-align: center;
		}
		&:nth-of-type(2) {
			text-align: right;
			@include respond-to(phone, tablet-portrait) {
				text-align: center;
			}
		}
		h2 {
			color: #3690e6;
			font-family: 'Lato', arial, serif;
			font-size: 30px;
			font-weight: 700;
		}
	}
	img {
		display: inline-block;
		margin: 20px auto 0;

		border: solid 2px $white;
		box-shadow: 1px 2px 4px rgba($black, .3);
		&.left {
			margin-right: 30px;
		}
		&.right {
			margin-left: 30px;
		}
	}
}

hr {
	margin: 15px 0;

	opacity: .25;
}

.p-s {
	margin: 30px 0;

	text-align: center;
	h2 {
		color: #3690e6;
		font-family: 'Lato', arial, serif;
		font-size: 30px;
		font-weight: 700;
	}
	p {
		color: #4c4c4c;
		font-family: 'Lucida Grande', arial, serif;
		font-size: 14px;
		font-weight: 300;
		.copyright {
			margin: 150px auto 0;
			padding-bottom: 30px;

			text-align: center;
		}
	}
}

.qtip-wrapper {
	border-radius: 5px;
	box-shadow: 0 3px 3px rgba(0,0,0,.3);
}
.qtip-content {
	font-family: 'Lato', Arial, sans;
	font-weight: 900;
}

#no_permission h1 {
	margin: 0 0 30px 0;
	padding: 0 0 5px 0;
	padding-bottom: 20px;

	font-family: 'Lato', arial, serif;
	font-size: 33px;
	font-weight: 700;

	border-bottom: dotted black 1px;
}
#no_permission .error-support .contact dt {
	width: 65px;
}
#no_permission .error-support .online-support dt {
	width: 170px;
}
#swfplaceholder {
	position: absolute;

	background: #ccc;
}
#swfplaceholder p {
	position: absolute;

	margin: 0;
	padding: 0;

	color: #aaa;
	font-family: 'Lato';
	font-size: 3em;
	font-weight: bold;
}


/*********
Fancybox Overrides
*********/
#fancybox-left-ico,
#fancybox-right-ico {
	position: absolute;
	top: 50%;
	left: 0 !important;
	z-index: 1102;

	display: block !important;
	margin: -50px 0 0 -120px;
	width: 100px;
	height: 100px;

	background-color: rgba(0,0,0,.5);
	background-image: none;
	border-radius: 100%;

	cursor: pointer;
	transition: 200ms all;
}

#fancybox-close {
	position: absolute;
	top: 20px;
	right: 20px;

	width: 40px;
	height: 40px;

	color: rgba(255,255,255,.7);

	background: none;
	background-color: rgba(0,0,0,.5);
	border-radius: 100%;

	text-align: center;
	vertical-align: middle;
}
#fancybox-close:after {
	content: '\00D7';

	margin: 0;

	font-size: 40px;
	line-height: 34.5px;
}
#fancybox-close:hover {
	text-decoration: none;
}
#fancybox-left-ico {
	background-position: 51px -30px;
}
#fancybox-right-ico {
	right: -120px  !important;
	left: auto !important;

	background-position: 51px -60px;
}
#fancybox-left:hover,
#fancybox-right:hover {
	visibility: visible; /* IE6 */
}
#fancybox-left-ico:before {
	content: '';

	position: absolute;
	top: 20px;
	left: 28px;

	width: 0;
	height: 0;

	border-top: 30px solid transparent;
	border-right: 30px solid rgba(255,255,255,.7);
	border-bottom: 30px solid transparent;
}
#fancybox-right-ico:before {
	content: '';

	position: absolute;
	top: 20px;
	right: 28px;

	width: 0;
	height: 0;

	border-top: 30px solid transparent;
	border-bottom: 30px solid transparent;
	border-left: 30px solid rgba(255,255,255,.7);
}

@media only screen and (min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 2) {
	h1.logo a {
		background: url(../img/retina/materia_tmp_logo@2x.png) 0 0 no-repeat;
		background-size: 160px 68px;
	}

	header {
		background: $white url(../img/header_border.png) 0 100% repeat-x;
		background-size: 12px 6px;
	}
}

.qtip {
	position: absolute;
	z-index: 101;

	padding: 10px;
	width: 230px;

	color: $white;
	font-weight: bold;

	background: $purple;
	border: 4px solid $purple;
	border-radius: 5px;
}
.qtip.top:after,
.qtip.top:before {
	content: ' ';

	position: absolute;
	bottom: 100%;
	left: 50%;

	width: 0;
	height: 0;

	border: solid transparent;

	pointer-events: none;
}

.qtip.top:after {
	margin-left: -20px;

	border-width: 20px;
	border-color: rgba(185, 68, 204, 0);
	border-bottom-color: $purple;
}
.qtip.top:before {
	margin-left: -26px;

	border-width: 26px;
	border-color: rgba(185, 68, 204, 0);
	border-bottom-color: $purple;
}

.qtip.right:after {
	content: ' ';

	position: absolute;
	top: 50%;
	left: 100%;

	margin-top: -28px;
	width: 0;
	height: 0;

	border: solid transparent;
	border-width: 28px;
	border-color: rgba(185, 68, 204, 0);
	border-left-color: $purple;

	pointer-events: none;
}

span.subtitle {
	font-family: 'Lato', arial, serif;
	font-size: 1.1em;
	font-weight: 700;
}

footer[role=contentinfo] {
	padding: 15px 0;

	text-align: center;
}


// Utility classes
.text-center {
	text-align: center !important;
}

.base-margin {
	margin: 15px;
}

.base-margin-top {
	margin-top: 15px;
}

.base-margin-right {
	margin-right: 15px;
}

.base-margin-bottom {
	margin-bottom: 15px;
}

.base-margin-left {
	margin-left: 15px;
}

.no-margin {
	margin: 0;
}

.hidden {
	display: none !important;
}

// Responsive classes for phone
.hidden-xs {
	@include respond-to(phone) {
		display: none !important;
	}
}

.visible-xs-block {
	@include respond-to(phone) {
		display: block !important;
	}
}

.visible-xs-inline {
	@include respond-to(phone) {
		display: inline !important;
	}
}

// Responsive classes for tablet-portait
.hidden-sm {
	@include respond-to(tablet-portrait) {
		display: none !important;
	}
}

.visible-sm-block {
	@include respond-to(tablet-portrait) {
		display: block !important;
	}
}

.visible-sm-inline {
	@include respond-to(tablet-portrait) {
		display: inline !important;
	}
}

// Responsive classes for tablet-landscape
.hidden-md {
	@include respond-to(tablet-landscape) {
		display: none !important;
	}
}

.visible-md-block {
	display: none !important;

	@include respond-to(tablet-landscape) {
		display: block !important;
	}
}

.visible-md-inline {
	display: none !important;

	@include respond-to(tablet-landscape) {
		display: inline !important;
	}
}

// Responsive classes for desktop
.hidden-lg {
	@include respond-to(desktop) {
		display: none !important;
	}
}

.visible-lg-block {
	display: none !important;

	@include respond-to(desktop) {
		display: block !important;
	}
}

.visible-lg-inline {
	display: none !important;

	@include respond-to(desktop) {
		display: inline !important;
	}
}

// Responsive classes for large-desktop
.hidden-xl {
	@include respond-to(large-desktop) {
		display: none !important;
	}
}

.visible-xl-block {
	display: none !important;

	@include respond-to(large-desktop) {
		display: block !important;
	}
}

.visible-xl-inline {
	display: none !important;

	@include respond-to(large-desktop) {
		display: inline !important;
	}
}
