html {
	background-image: url('../img/back.png');

	background-image: -webkit-linear-gradient(left, #f5f5f5 15px, white 2px);
   -webkit-background-size: 17px 100%;

	background-image: -moz-repeating-linear-gradient(left 0deg, #f5f5f5,
	#f5f5f5 15px, white 2px, white 17px);

	background-image:
	-o-repeating-linear-gradient(left 0deg, #f5f5f5,
	#f5f5f5 15px, white 2px, white 17px);

	background-image:
	repeating-linear-gradient(left 0deg, #f5f5f5,
	#f5f5f5 15px, white 2px, white 17px);
}

body, html {
	margin: 0;
	padding:0;
	font-size: 16px;
}

body {
	font-family: 'Lucida Grande', arial, serif;
	overflow:auto;
}

section, header, nav, article, aside, footer {
	display: block;
}

a {
	text-decoration:none;
	color: #0093E7;
}

a img {
	border:none;
}

a:hover {
	   text-decoration:underline;
}

header {
	   position:relative;
	   z-index: 1000;

	   padding: 35px 0 0 136px;
	   margin: 0 0 25px 0;
	   display:block;
	   height: 43px;

       background:#fff url(../img/header_border.png) 0% 100% repeat-x;
       height: 49px;
}

header.logged_in {
	   background:#fff url(../img/header_border_alt.png) 0% 100% repeat-x;

}

header .avatar img {
	width: 24px;
	height: 24px;
	display:block;
}

h1.logo {
	   position:absolute;
	   left:0;
	   top:0;
	   margin:0;
	   overflow:hidden;
}
h1.logo a {
	   display:block;
	   width:100px;
	   height: 0;
	   padding:60px 0 0 10px;
	   margin: 10px 0 0 10px;
	   background: url(../img/materia_tmp_logo.png) 0% 0% no-repeat;
	   /*margin:-80px 0 0 0;*/
}

.tiny {
	font-size: 85%;
}

a.external {
	padding-right: 18px;
	background: url('../img/external_link_arrow_blue.png') right center no-repeat;
}

nav ul li {
	   display:inline;
	   padding:0 10px 0 0;
}
header ul, header p {
	   margin:0;
	   padding: 0;
}
header .user {
	   color: #979696;
	   font-size:12px;
	   position:absolute;
	   top:36px;
}
header .avatar {
	font-family: 'Lucida Grande', arial, serif;
}
header .user.avatar {
	  top:12px;
}
.hidden {
	display: none;
}
.page {
	   position:relative;
	   z-index: 1;
}
.main h2, .main h3 {
	   font-family: 'Lato', arial, serif;
	   margin:0;
	   padding:0;
	   display:inline;
	   font-weight:700;
}
.detail {
	   padding-bottom: 10px;
}
/*.detail h2:after {
	   content: ": ";
}*/

nav {
	   display:block;
	   margin-top:16px;
}

nav ul li a {
	   font-family: 'Lato', arial, serif;
	   font-weight:bold;
}
nav ul li a, #main a {
	   color: #0093e7;
	   font-weight:bold;
	   margin:0;
	   padding:0;
}
nav ul li a {
	   font-size:17px;
}

.logout a {
	   position:absolute;
	   right:20px;
	   bottom: 13px;
	   font-size: 14px;
}
.messages a {
	   position:absolute;
	   right:20px;
	   bottom: 13px;
	   font-size: 14px;
}

.main a {
	   padding: 0;
}
.searchClose
{
	color: #ddd;
	margin-left: -25px;
	margin-top: 6px;
	cursor: pointer;
	position: relative;
	display: inline;
}
.popup h2, .detail h2 {
	   color: #0a0a0a;
	   /*-webkit-mask-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));*/
	   font-weight:900;
	   font-size: 20pt;
	   font-family: 'Lato', arial, serif;
	   margin:0;
	   padding:0;
	   text-shadow: 0px 1px 0px #ccc;
}
.ie9 .popup h2, .detail h2 {
	   font-weight:600;
}
h3
{
	   font-size:1.1em;
	   font-weight:700;
	   font-family: 'Lato', arial, serif;
}

.left {
	   float:left;
}
.right {
	   float:right;
}
.text {
	margin:0 0 0 10px;
	float:left;
	width: 500px;
}
.layered_windows {
	float:left;
	width: 370px;
	margin-top: 50px;
}
.cat_list {
	font-family: 'Lato', arial, serif;
	width: 962px;
	margin: 0 auto;
	padding: 20px;
}
.cat_list h2 {
	display:inline-block;
	margin-bottom:30px;
}
.action_button {
	font-family: 'Lato', arial, serif;
	padding: 7px 23px 8px 23px;
	background:#ffba5d;
	background-image: -webkit-linear-gradient(top, #ffce8c, #ffa42a);
	background-image: -o-linear-gradient(top, #ffce8c, #ffa42a);
	background-image: -moz-linear-gradient(top, #ffce8c, #ffa42a);
	background-image: -ms-linear-gradient(top, #ffce8c, #ffa42a);
	background-image: linear-gradient(top, #ffce8c, #ffa42a);


	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	border:#fdb34f 1px solid;
	font-weight:700;
	color:#694d28;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
	-moz-box-shadow: 1px 2px 4px #888;
	-webkit-box-shadow: 1px 2px 4px #888;
	box-shadow: 1px 2px 4px #888;
	font-size: 18px;
	position:relative;
	cursor:pointer;
	display:inline-block;
	-ms-user-select: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;

	.ng-modal & {
		margin: 5px auto;
	}
}

.cancel_button {
	color: #555;
	text-decoration: underline;
	margin: 10px 15px;
}

.ie .action_button {
	border-radius: 0;
}

.action_button:hover {
	background: #eca444;
	background-image: -webkit-linear-gradient(top, #ffa42a, #ffce8c);
	background-image: -o-linear-gradient(top, #ffa42a, #ffce8c);
	background-image: -moz-linear-gradient(top, #ffa42a, #ffce8c);
	background-image: -ms-linear-gradient(top, #ffa42a, #ffce8c);
	text-decoration:none;

	/*text-shadow: inset 1px 1px 1px rgba(256, 256, 256, 0.5);
	-moz-box-shadow: inset 1px 2px 4px #888;
	-webkit-box-shadow: 1px 2px 4px #888;*/
}
 .index_catalog_button {
	  float:right;
	  margin-top:15px;
}

.cat_list_ul {
	   padding:0;
	   margin: 0 auto;
}
.cat_list_ul li {
	   list-style:none;
	   display: inline-block;
	   margin-right: 47px;
	   text-align:center;
}
.cat_list_ul li:first-child {
	   margin-left: 4px;
}

.cat_list_ul li:last-child {
	   margin-right: 0 !important;
}
.cat_list_ul li a{
	   color: #000;
	   text-decoration:none;
	   font-family: 'Lato', arial, serif;
	   font-weight:bold;
}

dl.inline_def {
	overflow-y:auto;
	overflow-x:visible;
}

dl.inline_def dt {
	font-weight:700;
	font-size: 12px;
	font-family: 'Lato', arial, serif;
	display:block;
	float:left;
	clear:left;
}

dl.inline_def dd {
	display:block;
	float:left;
	margin:0;
	margin-left:4px;
	font-size:12px;
}

dl.features_list {
	display:none;
}

dl.blurb dd {
	font-size:10px;
}

dl.blurb dt {
	display:none;
}

.widget a.feature, .widget a.supported_data {
	font-size:11px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	background: #0093E7;
	color:#fff;
	padding: 2px 6px;
	font-weight:bold;
	text-decoration:none;
	margin-right:5px;
}

.widget a.customizable {
	background: #e53f1f;
	color: #fff;
}

.widget a.customizable:hover {
	color: #e53f1f;
	background: #fcb8ab;
}

.widget a.scorable {
	background: #abe51f;
	color: #405118;
}

.widget a.scorable:hover {
	color: #abe51f;
	background: #405118;
}

#notices {
	text-align: right;
	position: absolute;
	z-index: 101;

	right: 80px;
	top: 78px;
	width: 380px;
	max-height: 400px;

	padding: 0;
	overflow: auto;
	overflow-x: hidden;

	border: 1px solid rgba(0,0,0,.25);
	background: #ffffff;
	display:none;

	-webkit-border-radius:3px 0 3px 3px;
	-moz-border-radius:3px 0 3px 3px;
	border-radius:3px 0 3px 3px;

	-webkit-box-shadow: 0px 2px 2px rgba(0,0,0,.35);
	-moz-box-shadow: 0px 2px 2px rgba(0,0,0,.35);
	box-shadow:0px 2px 2px rgba(0,0,0,.35);
}
#notices:before {
	content: 'Messages:';
	font-family: 'Lato', arial, serif;
	font-weight: bold;
	color: #7f7f7f;

	margin-left: 19px;
	margin-top: 18px;
	margin-bottom: 12px;

	text-align: left;
	display: block;
}
#notices :first-child {
	border-top: 0px;
}
#notices :last-child {
	-webkit-border-radius:0 0 3px 3px;
	-moz-border-radius:0 0 3px 3px;
	border-radius:0 0 3px 3px;
}

.notice {
	padding: 0;

	display: block;
	background: #ffffff;
	border-top: 1px solid #e5e5e5;

	font-family: 'Lato', arial, serif;
	font-weight: bold;
	font-size: 10px;
	text-align: center;

	position: relative;
	padding: 12px 5px 10px 0;
	overflow: auto;
}
.notice:hover {
	background: #f4f4f4;
}
.notice .notice_right_side {
	display: inline-block;
}
.notice .noticeClose {
	position: absolute;
	right: 5px;
	top:4px;
	background: url('../img/close.png') no-repeat;

	width: 19px;
	height: 19px;

	cursor: pointer;
}
.notice p {
	font-family: 'Lucida Grande', arial, sans-serif;
	font-weight:100;
	font-size: 17px;
}
.notice p.speech {
	display:inline-block;
	background: #f0f0f0;
	padding: 12px 15px 12px 30px;
	margin-top: 15px;

	font-size: 12px;

	width: 225px;
	min-height: 35px;

	background: url('../img/notice_speech_bubble_start.gif') left 15px no-repeat, url('../img/notice_speech_border.gif') 17px 0 repeat-y, url('../img/notice_speech_border.gif') right 0 repeat-y, url('../img/notice_speech_top.gif') 0 top repeat-x, url('../img/notice_speech_top.gif') 0 bottom repeat-x, url('../img/notice_speech_bg.gif') 0 0 repeat-y;
	text-align:left;
}
.notice p.icon {
	float: left;
	margin: 10px 0 0 13px;
	max-width: 50px;
}
.notice p.icon .senderAvatar {
	max-width: 50px;
}
.notice p.subject {
	width: 270px;
	clear:both;
	margin:0;
	padding:0;

	text-align:left;
	font-size:10px;
}
.notice p.subject b{
	font-weight: bold;
}
#notifications_link
{
	position:absolute;
	right:86px;
	bottom: 16px;

	width: 30px;
	height: 17px;

	cursor:pointer;

	background: url(../img/materia-mail-icon.png) 0% 0% no-repeat;
	text-decoration:none;

	-webkit-box-shadow: 0px 2px 2px rgba(0,0,0,.35);
	-moz-box-shadow: 0px 2px 2px rgba(0,0,0,.35);
	box-shadow:0px 2px 2px rgba(0,0,0,.35);

	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
}
#notifications_link.selected {
	position:absolute;
	right:80px;
	bottom: 5px;
	z-index:110;

	width: 41px;
	height: 40px;

	border: 1px solid rgba(0,0,0,.25);
	border-bottom: none;
	background: #ffffff url(../img/materia-mail-icon.png) 0% 0% no-repeat;
	background-position:center;

	-webkit-border-radius:3px 3px 0 0;
	-moz-border-radius:3px 3px 0 0;
	border-radius:3px 3px 0 0;

	-webkit-box-shadow: 0 -1px 2px 0 rgba(0,0,0,.35);
	-moz-box-shadow: 0 -1px 2px 0 rgba(0,0,0,.35);
	box-shadow: 0 -1px 2px 0 rgba(0,0,0,.35);
}
#notifications_link:after {
	content:attr(data-notifications);
	position: absolute;

	top: -1.5em;
	right: -1em;

	min-width: 1.5em;
	min-height: 1.5em;

	line-height:1.5em;
	text-align:center;

	font-size: .72em;
	font-weight:bold;
	color:#ffffff;
	text-shadow:0px 1px 0px rgba(0,0,0,.15);
	text-decoration:none;

	-webkit-box-shadow: 0px 2px 2px rgba(0,0,0,.35);
	-moz-box-shadow: 0px 2px 2px rgba(0,0,0,.35);
	box-shadow:0px 2px 2px rgba(0,0,0,.35);

	-webkit-border-radius:4em;
	-moz-border-radius:4em;
	border-radius:4em;

	background: #e00101;
	background-image: -webkit-linear-gradient(top, rgb(243, 0, 0), rgb(150, 4, 4));
	background-image: -moz-linear-gradient(top, rgb(243, 0, 0), rgb(150, 4, 4));
	background-image: -o-linear-gradient(top, rgb(243, 0, 0), rgb(150, 4, 4));
	background-image: -ms-linear-gradient(top, rgb(243, 0, 0), rgb(150, 4, 4));
	background-image: linear-gradient(top, rgb(243, 0, 0), rgb(150, 4, 4));

	border:2px solid #fdfdfd;

	z-index: 999;
}

#popupback {
	background:#000000;
	opacity:.5;
	z-index:1100;
	position:fixed;
	left:0;
	top:0;
	margin-top:-21px;
}
#popup
{
	z-index:1150;
	position:absolute;
	padding: 10px;
}
#popup.dark
{
	background:#262626;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 3px solid #888;
	color: #FFFFFF;
}
#popup.light
{
	background:#ffffff;
	color: #000000;
}
.loading_popup, .register_popup {
	font-weight: bold;
}
#popup.alert
{
	padding: 0;
	background-color: #FFFFFF;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-align: center;
	width: 350px;
}
#popup.alert h1
{
	background: #6390dc;
	background-image: -webkit-linear-gradient(top, #7ba7f2, #4373c1);
	background-image: -o-linear-gradient(top, #7ba7f2, #4373c1);
	background-image: -moz-linear-gradient(top, #7ba7f2, #4373c1);
	background-image: -ms-linear-gradient(top, #7ba7f2, #4373c1);
	background-image: linear-gradient(top, #7ba7f2, #4373c1);
	-webkit-border-top-left-radius: 5px;
	-moz-border-top-left-radius: 5px;
	border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
	color: #fff;
	margin: 0;
	padding: 10px 20px;
	font-family: 'Lato', arial, serif;
	font-size: 22px;
	text-align: left;
}
#popup.alert p
{
	margin: 20px;
	font-size: 12px;
	text-align: left;
}
#popup.alert button
{
	margin: 1em auto 2em;
	font-size: 16px;
}

#loading_image {
	margin-top: -4px;
	display: inline-block;
}
#loading {
	display: inline-block;
	margin: -100px 20px 0 0;
	padding: 10px 0 0 0;
}
/* Rotator */
#bowlG{
position:relative;
width:20px;
height:20px;
}

#bowl_ringG{
position:absolute;
width:20px;
height:20px;
border:2px solid #FFFFFF;
-moz-border-radius:20px;
-webkit-border-radius:20px;
}

.ball_holderG{
position:absolute;
width:5px;
height:20px;
left:7px;
top:0px;
-webkit-animation-name:ball_moveG;
-webkit-animation-duration:1s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-timing-function:linear;
-ms-animation-name:ball_moveG;
-ms-animation-duration:1s;
-ms-animation-iteration-count:infinite;
-ms-animation-timing-function:linear;
-moz-animation-name:ball_moveG;
-moz-animation-duration:1s;
-moz-animation-iteration-count:infinite;
-moz-animation-timing-function:linear;
}

.ballG{
position:absolute;
left:0px;
top:-5px;
width:8px;
height:8px;
background:#FFFFFF;
-moz-border-radius:7px;
-webkit-border-radius:7px;
border-radius:7px;
}

@-webkit-keyframes ball_moveG{
0%{
-webkit-transform:rotate(0deg)}

100%{
-webkit-transform:rotate(360deg)}

}

@keyframes ball_moveG{
0%{
transform:rotate(0deg)}

100%{
transform:rotate(360deg)}

}

@-moz-keyframes ball_moveG{
0%{
-moz-transform:rotate(0deg)}

100%{
-moz-transform:rotate(360deg)}

}

.template {
	display: none !important;
}

.container.general{
	margin:0 auto;
	width: 970px;
	position:relative;
}

.container.general .page{
	/* border:rgba(0,0,0,0.22) 1px solid; */
	-moz-box-shadow: 1px 3px 10px #888;
	/* -webkit-box-shadow: 1px 3px 10px #888; */
	/* box-shadow: 1px 3px 10px #888; */

	margin:0 auto;
	top:0;
	right:0;
	z-index:100;
	width: 660px;
	padding: 40px 60px 30px 60px;
	background-color: #fff;
	min-height: 400px;
	text-align: left;
}


.container.general h1{
	font-family: 'Lato', arial, serif;
	font-weight: 700;
	font-size: 38px;
	margin: 0 0 20px 0;
	padding: 0 0 5px 0;
}


.container.general h2{
	font-size: 26px;
	margin-top:30px;
	font-family: 'Lato', arial, serif;
}

.get_flash {
	margin-top: 25px;
}

.get_flash span {
	display: block;
	font-size: 11px;
}

.error-nowidget {
	margin: 180px auto;

	color: #616161;

	background: #ededed;
	border: 1px solid #dadada;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

	text-align: center;

	width: 400px;
	height: 200px;

	display: block;
}

.error-nowidget p.errorWindowPara {
	width: 80%;
	margin: 75px auto !important;
	padding: 0;
}

.error-support{
	margin-top: 58px;
}

.error-support dt{
	list-style: disc;
	margin-left: 40px;
	float: left;
	margin-right: 10px;
	display: list-item;
}

.error-support dt:after{
	content:":";
}

.error-support h3 {
	margin-bottom: 1px;
}

.error-support span.subtitle {
	font-size: .9em;
	margin-top: 0px;
	color: #666;
}

.form-content ul li{
	text-align: left;
}

.get_started {
	text-align: center;
	font-family: 'Lato', arial, serif;
	font-size: 24px;
	font-weight: 900;
	color: #474747;
	margin-top: 50px;
	padding: 0;
	vertical-align: middle;
	width: 100%;
	background-color: #3690e6;
}
.get_started p {
	display: inline-block;
	vertical-align: middle;
	padding: 0;
	margin: 36px 0;
}
.get_started p.desc {
	font-family: 'Lato', arial, serif;
	font-size: 44px;
	font-weight: 500;
	color: #FFFFFF;
	text-align: left;
	width: 720px;
	margin-right: 15px;
}
.get_started p .bold {
	font-weight: 700;
}
.get_started p.button_wrap {
	height: 100%;
	display: inline-block;
}
.get_started .action_button {
	font-size: 30px;
}

.bottom_header {
	text-align: center;
	font-family: 'Lato', arial, serif;
	font-size: 30px;
	font-weight: 500;
	color: #474747;
	line-height: 30px;
}
.bottom_header hr {
	width: 350px;
	display: inline-block;
	margin: 0 10px;
	vertical-align: middle;
	opacity: .25;
}

.front_bottom {
	width: 100%;
	background-color: #fbfbfb;
	margin-bottom: 0;
	padding-top: 65px;
}
.front_bottom .wrapper {
	width: 965px;
	margin: 0 auto;
}
.front_bottom div {
	width: 600px;
	height: 275px;

	font-family: 'Lucida Grande', arial, serif;
	font-weight: 300;
	font-size: 14px;
	color: #4c4c4c;

	margin: 10px 0px 20px 20px;
	padding: 0 20px;
	text-align: left;
	display: inline-block;
}
.front_bottom div h2 {
	font-family: 'Lato', arial, serif;
	font-size: 30px;
	font-weight: 700;
	color: #3690e6;
}
.front_bottom div:nth-of-type(2)
{
	text-align: right;
	margin-left:20px;
}

.front_bottom img {
	display: inline-block;
	float: left;
	border: solid 2px #FFFFFF;
	-moz-box-shadow: 1px 2px 4px #888;
	-webkit-box-shadow: 1px 2px 4px #888;
	box-shadow: 1px 2px 4px #888;

	margin-top: 20px;
}
.front_bottom img:nth-of-type(2) {
	float: right;
}

hr {
	width: 955px;
	opacity: .25;
	margin-top: 50px;
}

.p_s {
	width: 955px;
	text-align: center;
	margin: 30px auto 0;
}
.p_s h2 {
	font-family: 'Lato', arial, serif;
	font-size: 30px;
	font-weight: 700;
	color: #3690e6;
}
.p_s p {
	font-family: 'Lucida Grande', arial, serif;
	color: #4c4c4c;
	font-weight: 300;
	font-size: 14px;
	text-align: left;
}
.p_s p.copyright {
	text-align: center;
	margin: 150px auto 0;
	padding-bottom: 30px;
}

.qtip-wrapper {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	-moz-box-shadow: 0px 3px 3px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0px 3px 3px rgba(0,0,0,0.3);
	box-shadow: 0px 3px 3px rgba(0,0,0,0.3);
}
.qtip-content {
	font-family: 'Lato', Arial, sans;
	font-weight: 900;
}

#no_permission h1 {
	font-family: 'Lato', arial, serif;
	font-weight: 700;
	font-size: 33px;
	padding: 0 0 5px 0;
	padding-bottom: 20px;
	margin: 0 0 30px 0;
	border-bottom: dotted black 1px;
}
#no_permission .error-support .contact dt{
	width: 65px;
}
#no_permission .error-support .online-support dt{
	width: 170px;
}
#swfplaceholder {
	position: absolute;
	background: #ccc;
}
#swfplaceholder p{
	position: absolute;
	font-family: 'Lato';
	font-size: 3em;
	font-weight: bold;
	color: #aaa;
	padding: 0;
	margin: 0;
}


/*********
Fancybox Overrides
*********/
#fancybox-left-ico, #fancybox-right-ico {
	background-color: rgba(0,0,0,0.5);
	background-image: none;
	position: absolute;
	top: 50%;
	left: 0 !important;
	margin: -50px 0 0 -120px;
	width: 100px;
	height: 100px;
	border-radius: 100%;
	cursor: pointer;
	z-index: 1102;
	display: block !important;
	-webkit-transition: 200ms all;
	   -moz-transition: 200ms all;
	    -ms-transition: 200ms all;
	     -o-transition: 200ms all;
	        transition: 200ms all;
}

#fancybox-close {
	position: absolute;
	top: 20px;
	right: 20px;
	background: none;
	color: rgba(255,255,255,0.7);
	background-color: rgba(0,0,0,0.5);
	width: 40px;
	height: 40px;
	border-radius: 100%;
	text-align:center;
	vertical-align:middle;
}
#fancybox-close:after {
	line-height: 34.5px;
	font-size: 40px;
	margin: 0px;
	content: "\00D7";
}
#fancybox-close:hover {
	text-decoration: none;
}
#fancybox-left-ico {
	background-position: 51px -30px;
}
#fancybox-right-ico {
	background-position: 51px -60px;
	left: auto !important;
	right: -120px  !important;
}
#fancybox-left:hover, #fancybox-right:hover {
	visibility: visible; /* IE6 */
}
#fancybox-left-ico:before {
	position: absolute;
	left: 28px;
	top: 20px;
	width: 0;
	height: 0;
	border-top: 30px solid transparent;
	border-bottom: 30px solid transparent;
	border-right: 30px solid rgba(255,255,255,0.7);
	content: "";
}
#fancybox-right-ico:before {
	position: absolute;
	top: 20px;
	right: 28px;
	width: 0;
	height: 0;
	border-top: 30px solid transparent;
	border-bottom: 30px solid transparent;
	border-left: 30px solid rgba(255,255,255,0.7);
	content: "";
}

@media only screen and (min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 2){ 
	h1.logo a {
	   background: url(../img/retina/materia_tmp_logo@2x.png) 0% 0% no-repeat;
	   background-size: 160px 68px;
	}

	header{
		background:#fff url(../img/header_border.png) 0% 100% repeat-x;
		background-size: 12px 6px;
	}
}

.qtip {
	position: absolute;
	background: #b944cc;
	border: 4px solid #b944cc;
	z-index: 101;
	color: #fff;
	padding: 10px;
	border-radius: 5px;
	width: 230px;
	font-weight: bold;
}
.qtip.top:after, .qtip.top:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.qtip.top:after {
	border-color: rgba(185, 68, 204, 0);
	border-bottom-color: #b944cc;
	border-width: 20px;
	margin-left: -20px;
}
.qtip.top:before {
	border-color: rgba(185, 68, 204, 0);
	border-bottom-color: #b944cc;
	border-width: 26px;
	margin-left: -26px;
}

.qtip.right:after {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(185, 68, 204, 0);
	border-left-color: #b944cc;
	border-width: 28px;
	margin-top: -28px;
}

span.subtitle {
	font-size:1.1em;
	font-weight:700;
	font-family: 'Lato', arial, serif;
}

.ng-modal-dialog {

	padding: 15px 10px 15px 10px;

	.ng-modal-title {
		font-size: 150%;
		border-bottom: solid 1px #bebebe;
	}
}

.alert .action_button {
	display: block;
}

/* hack fix to ngModal plugin to disable closing halting alerts */
.ng-modal.fatal {
	.ng-modal-close {
		display: none;
	}
	.ng-modal-overlay {
		pointer-events: none;
	}
}