@import "mixins";
@import "colors";
@import "font-awesome/font-awesome";

html {
	background-image: url("../img/back.png");
	background-image: -webkit-linear-gradient(left, #f5f5f5 15px, white 2px);
	background-image: -moz-repeating-linear-gradient(left 0deg, #f5f5f5,
	#f5f5f5 15px, white 2px, white 17px);
	background-image:   -o-repeating-linear-gradient(left 0deg, #f5f5f5,
	#f5f5f5 15px, white 2px, white 17px);
	background-image:      repeating-linear-gradient(left 0deg, #f5f5f5,
	#f5f5f5 15px, white 2px, white 17px);
	-webkit-background-size: 17px 100%;
}

body, html {
	margin: 0;
	padding: 0;

	font-size: 16px;
}

body {
	overflow: auto;

	font-family: "Lucida Grande", arial, serif;
}

section, header, nav, article, aside, footer {
	display: block;
}

a {
	text-decoration: none;

	color: $blue;
}

a img {
	border: none;
}

a:hover {
	text-decoration: underline;
}

header[role=banner] {
	position: relative;
	z-index: 1000;

	display: block;

	margin-bottom: 30px;
	padding: 15px;

	background: url(../img/header_border.png) 0 100% repeat-x $white;
	.avatar img {
		display: block;
		float: left;

		width: 32px;
		height: auto;
		margin-right: 10px;
	}
	.logo {
		@include respond-to(phone, tablet-portrait) {
			float: none;
		}

		display: inline-block;
		float: left;

		margin: 0;
		a {
			display: block;

			width: 77px;
			height: 50px;

			color: transparent;
			background-image: url(../img/materia_tmp_logo.png);
			background-image: url(../img/materia_tmp_logo.svg);
			background-repeat: no-repeat;
			background-size: 77px 50px;
		}
	}
	ul, p {
		margin: 0;
		padding: 0;
	}
	.user {
		padding-top: 15px;

		font-size: 12px;

		color: #979696;
	}
	.avatar {
		font-family: "Lucida Grande", arial, serif;
	}
	nav {
		@include respond-to(phone, tablet-portrait) {
			overflow: hidden;

			max-height: 0;
			margin-left: 0;
		}

		margin-left: 100px;

		transition: max-height ease 0.5s;
		ul {
			@include clearfix;
			li {
				display: inline;

				padding: 0 10px 0 0;
			}
			.nav-link {
				@include respond-to(phone, tablet-portrait) {
					display: block;

					padding: 15px 0;

					border-top: 1px solid rgba($black, 0.2);
				}
				&:first-of-type {
					@include respond-to(phone, tablet-portrait) {
						margin-top: 15px;
					}
				}
			}
		}
		&.expanded {
			@include respond-to(phone, tablet-portrait) {
				max-height: 500px;
			}
		}
	}
}

.tiny {
	font-size: 85%;
}

a.external {
	padding-right: 18px;

	background: url("../img/external_link_arrow_blue.png") right center no-repeat;
}

.hidden {
	display: none;
}
.page {
	position: relative;
	z-index: 1;
}
.main h2, .main h3 {
	display: inline;

	margin: 0;
	padding: 0;

	font-family: "Lato", arial, serif;
	font-weight: 700;
}
.detail {
	padding-bottom: 10px;
}
/*.detail h2:after {
	   content: ": ";
}*/

#main a {
	margin: 0;
	padding: 0;

	font-weight: bold;

	color: $blue;
}
nav ul li a {
	font-size: 17px;
}

.logout a {
	font-size: 14px;
}
.messages a {
	position: absolute;
	right: 20px;
	bottom: 13px;

	font-size: 14px;
}

.main a {
	padding: 0;
}

.popup h2, .detail h2 {
	margin: 0;
	padding: 0;

	font-family: "Lato", arial, serif;
	font-size: 20pt;
	font-weight: 900;

	color: #0a0a0a;
	text-shadow: 0 1px 0 #ccc;
}
.ie9 .popup h2, .detail h2 {
	font-weight: 600;
}
h3 {
	font-family: "Lato", arial, serif;
	font-size: 1.1em;
	font-weight: 700;
}

.left {
	float: left;
}
.right {
	float: right;
}
.text {
	float: left;

	width: 500px;
	margin: 0 0 0 10px;
}
.cat-list {
	width: 962px;
	margin: 0 auto;
	padding: 20px;

	font-family: "Lato", arial, serif;
}
.cat-list h2 {
	display: inline-block;

	margin-bottom: 30px;
}
.action-button {
	position: relative;

	display: inline-block;

	padding: 7px 23px 8px 23px;

	font-family: "Lato", arial, serif;
	font-size: 18px;
	font-weight: 700;

	cursor: pointer;
	user-select: none;

	color: $brown;
	border: #fdb34f 1px solid;
	border-radius: 6px;
	background: #ffba5d;
	background-image: linear-gradient(top, #ffce8c, #ffa42a);
	box-shadow: 1px 2px 4px $medium-gray;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
}

.action-button {
	@include button-variant(rgba($black, 0.6), #ddd);

	position: relative;

	display: inline-block;

	padding: 8px 20px;

	font-family: Lato, arial, serif;
	font-size: 18px;
	font-weight: 700;

	cursor: pointer;
	transition: background-color ease 0.3s, background-image ease 0.3s, border-color ease 0.3s;
	text-align: center;
	white-space: nowrap;

	border: 1px solid transparent;
	border-radius: 6px;
	box-shadow: 0 2px 2px rgba($black, 0.3);
	&:hover {
		text-decoration: none;

		background-color: #ddd;
	}
	&.small {
		padding: 6px 18px;

		font-size: 14px;
	}
	&.large {
		padding: 12px 24px;

		font-size: 24px;
	}
	&.hollow {
		border: 3px solid;
		background-color: transparent;
	}
	&.red {
		@include button-variant(rgba($black, 0.6), #f92328);
	}
	&.orange {
		@include button-variant(rgba($black, 0.6), #ffba5d);
		.arrow-right {
			display: inline-block;

			background: url(../img/arrow.png) no-repeat bottom;
		}
		&.disabled {
			border-color: #999;
			&:hover {
				border-color: #999;
			}
		}
	}
	&.green {
		@include button-variant(rgba($black, 0.6), #b2cd43);
	}
	&.dark {
		@include button-variant($white, #666);
	}
	&.transparent {
		@include button-variant($blue, transparent);

		box-shadow: none;
		text-shadow: none;
		&:hover {
			background-color: $blue;
		}
	}
	&.active {
		animation: none;
	}
	&[disabled] {
		cursor: not-allowed;
		pointer-events: none;

		opacity: 0.5;
	}
	&.block {
		display: block;
	}
}

.cancel-button {
	margin: 10px 15px;

	text-decoration: underline;

	color: #555;
}

.ie .action-button {
	border-radius: 0;
}

.action-button:hover {
	text-decoration: none;

	background: #eca444;
	background-image: linear-gradient(top, #ffa42a, #ffce8c);
}

.content-container {
	@include clearfix;
	@include max-width;
	@include respond-to(phone, tablet-portrait) {
		padding: 0;
	}
	section.info p, section.p-s p {
		@include respond-to(phone, tablet-portrait) {
			padding: 15px;
		}
	}
	margin: 0 auto;
	padding: 0 15px;
}

section.get-started h1 {
	@include respond-to(phone, tablet-portrait) {
		padding: 15px;
	}
}


.content {
	@include respond-to(phone, tablet-portrait) {
		border: solid 1px $off-white;
		box-shadow: none;
	}

	&.full-size {
		@include respond-to(phone, tablet-portrait, tablet-landscape) {
			width: 100%;
			margin-left: -50%;
			left: 50%;
		}
	}
	@include clearfix;

	position: relative;

	box-sizing: border-box;
	margin: 0 auto;
	padding: 30px 30px 30px;

	border: 3px solid rgba(0,0,0,0.11);
	background-color: $white;
	box-shadow: 1px 3px 10px rgba($black, 0.3);
	&.aside-content {
		float: left;

		box-sizing: border-box;
		margin-top: 47px;
		padding: 15px 15px 15px;
		padding-bottom: 15px;

		border-right: 0;
	}
	.top {
		@include clearfix;

		margin: -30px -30px 30px;
		padding: 10px 15px;

		color: #a6a6a6;
		background: #eee;
		h1 {
			margin: 0;

			font-family: Lato,arial,serif;
			font-size: 22px;

			text-shadow: 0 1px rgba($white, 0.6);
		}
	}
}

.message {
	padding: 15px 30px;

	color: #222;
	border: 1px solid darken(#e0e0e0, 20%);
	background-color: #e0e0e0;
}

dl.inline-def {
	overflow-x: visible;
	overflow-y: auto;
}

dl.inline-def dt {
	display: block;
	float: left;
	clear: left;

	font-family: "Lato", arial, serif;
	font-size: 12px;
	font-weight: 700;
}

dl.inline-def dd {
	display: block;
	float: left;

	margin: 0;
	margin-left: 4px;

	font-size: 12px;
}

dl.features-list {
	display: none;
}

dl.blurb dd {
	font-size: 10px;
}

dl.blurb dt {
	display: none;
}

.widget a.feature, .widget a.supported-data {
	margin-right: 5px;
	padding: 2px 6px;

	font-size: 11px;
	font-weight: bold;

	text-decoration: none;

	color: $white;
	border-radius: 2px;
	background: $blue;
}

.widget a.customizable {
	color: $white;
	background: #e53f1f;
}

.widget a.customizable:hover {
	color: #e53f1f;
	background: #fcb8ab;
}

.widget a.scorable {
	color: #405118;
	background: #abe51f;
}

.widget a.scorable:hover {
	color: #abe51f;
	background: #405118;
}

#notices {
	position: absolute;
	z-index: 101;
	top: 74px;
	right: 80px;

	display: none;
	overflow: auto;
	overflow-x: hidden;

	width: 380px;
	max-height: 400px;
	padding: 0;

	text-align: right;

	border: 1px solid rgba(0,0,0,0.25);
	border-radius: 3px 0 3px 3px;
	background: $white;
	box-shadow: 0 2px 2px rgba(0,0,0,0.35);
}
#notices:before {
	content: "Messages:";

	display: block;

	margin-top: 18px;
	margin-bottom: 12px;
	margin-left: 19px;

	font-family: "Lato", arial, serif;
	font-weight: bold;

	text-align: left;

	color: #7f7f7f;
}
#notices :first-child {
	border-top: 0;
}
#notices :last-child {
	border-radius: 0 0 3px 3px;
}

.notice {
	position: relative;

	display: block;
	overflow: auto;

	padding: 0;
	padding: 12px 5px 10px 0;

	font-family: "Lato", arial, serif;
	font-size: 10px;
	font-weight: bold;

	text-align: center;

	border-top: 1px solid #e5e5e5;
	background: $white;
}
.notice:hover {
	background: #f4f4f4;
}
.notice .notice-right-side {
	display: inline-block;
}
.notice a.noticeClose {
	position: absolute;
	top: 4px;
	right: 5px;

	width: 19px;
	height: 19px;

	background: url("../img/close.png") no-repeat;
}
.notice p {
	font-family: "Lucida Grande", arial, sans-serif;
	font-size: 17px;
	font-weight: 100;
}
.notice p.speech {
	display: inline-block;

	width: 225px;
	min-height: 35px;
	margin-top: 15px;
	padding: 12px 15px 12px 30px;

	font-size: 12px;

	text-align: left;

	background: #f0f0f0;
	background: url("../img/notice_speech_bubble_start.gif") left 15px no-repeat, url("../img/notice_speech_border.gif") 17px 0 repeat-y, url("../img/notice_speech_border.gif") right 0 repeat-y, url("../img/notice_speech_top.gif") 0 top repeat-x, url("../img/notice_speech_top.gif") 0 bottom repeat-x, url("../img/notice_speech_bg.gif") 0 0 repeat-y;
}
.notice p.icon {
	float: left;

	max-width: 50px;
	margin: 10px 0 0 13px;
}
.notice p.icon .senderAvatar {
	max-width: 50px;
}
.notice p.subject {
	clear: both;

	width: 270px;
	margin: 0;
	padding: 0;

	font-size: 10px;

	text-align: left;
}
.notice p.subject b {
	font-weight: bold;
}
#notifications-link {
	position: absolute;
	right: 86px;
	bottom: 16px;

	width: 30px;
	height: 17px;

	cursor: pointer;
	text-decoration: none;

	border-radius: 3px;
	background: url(../img/materia-mail-icon.png) 0 0 no-repeat;
	box-shadow: 0 2px 2px rgba(0,0,0,0.35);
}
#notifications-link.selected {
	position: absolute;
	z-index: 110;
	right: 80px;
	bottom: 5px;

	width: 41px;
	height: 40px;

	border: 1px solid rgba(0,0,0,0.25);
	border-bottom: none;
	border-radius: 3px 3px 0 0;
	background: $white url(../img/materia-mail-icon.png) 0 0 no-repeat;
	background-position: center;
	box-shadow: 0 -1px 2px 0 rgba(0,0,0,0.35);
}
#notifications-link:after {
	content: attr(data-notifications);

	position: absolute;
	z-index: 999;
	top: -1.5em;
	right: -1em;

	min-width: 1.5em;
	min-height: 1.5em;

	font-size: 0.72em;
	font-weight: bold;
	line-height: 1.5em;

	text-align: center;
	text-decoration: none;

	color: $white;
	border: 2px solid #fdfdfd;
	border-radius: 4em;
	background: #e00101;
	background-image: linear-gradient(top, rgb(243, 0, 0), rgb(150, 4, 4));
	box-shadow: 0 2px 2px rgba(0,0,0,0.35);
	text-shadow: 0 1px 0 rgba(0,0,0,0.15);
}

#popupback {
	position: fixed;
	z-index: 1100;
	top: 0;
	left: 0;

	margin-top: -21px;

	opacity: 0.5;
	background: $black;
}
#popup {
	position: absolute;
	z-index: 1150;

	padding: 10px;
}
#popup.dark {
	color: $white;
	border: 3px solid $medium-gray;
	border-radius: 5px;
	background: #262626;
}
#popup.light {
	color: $black;
	background: $white;
}

#popup.alert {
	width: 350px;
	padding: 0;

	text-align: center;

	border-radius: 5px;
	background-color: $white;
}

#popup.alert h1 {
	margin: 0;
	padding: 10px 20px;

	font-family: "Lato", arial, serif;
	font-size: 22px;

	text-align: left;

	color: $white;
	     border-top-left-radius: 5px;
	     border-top-right-radius: 5px;
	background: #6390dc;
	background-image: linear-gradient(top, $skyblue, $cobalt);

	-moz-border-top-left-radius: 5px;
	-moz-border-top-right-radius: 5px;
}

#popup.alert p {
	margin: 20px;

	font-size: 12px;

	text-align: left;
}

#popup.alert button {
	margin: 1em auto 2em;

	font-size: 16px;
}

#loading {
	display: inline-block;

	margin: -100px 20px 0 0;
	padding: 10px 0 0 0;
}

.template {
	display: none !important;
}

.container.general {
	position: relative;

	width: 970px;
	margin: 0 auto;
}

.container.general .page {
	z-index: 100;
	top: 0;
	right: 0;

	width: 660px;
	min-height: 400px;
	margin: 0 auto;
	padding: 40px 60px 30px 60px;

	text-align: left;

	background-color: $white;
	box-shadow: 1px 3px 10px $medium-gray;
}


.container.general h1 {
	margin: 0 0 20px 0;
	padding: 0 0 5px 0;

	font-family: "Lato", arial, serif;
	font-size: 38px;
	font-weight: 700;
}


.container.general h2 {
	margin-top: 30px;

	font-family: "Lato", arial, serif;
	font-size: 26px;
}

.get-flash {
	margin-top: 25px;
}

.get-flash span {
	display: block;

	font-size: 11px;
}

.container.general .permission-error {
	padding-bottom: 55px;

	background: url("../img/kogneato_looking.png") 35px bottom no-repeat,
	url("../img/student-landing-page.png") center bottom no-repeat;
	background-color: $white;
}

.container.general .permission-error h1 {
	padding: 0 0 10px 0;

	font-family: "Lato", arial, serif;
	font-size: 34px;
	font-weight: 900;
	line-height: 37px;
}

.error-nowidget {
	display: block;

	width: 400px;
	height: 200px;
	margin: 180px auto;

	text-align: center;

	color: #616161;
	border: 1px solid #dadada;
	border-radius: 3px;
	background: #ededed;
}

.error-nowidget p.error-window-text {
	width: 80%;
	margin: 75px auto !important;
	padding: 0;
}

.error-support {
	margin-top: 58px;
}

.error-support dt {
	display: list-item;
	float: left;

	margin-right: 10px;
	margin-left: 40px;

	list-style: disc;
}

.error-support dt:after {
	content: ":";
}

.error-support h3 {
	margin-bottom: 1px;
}

.error-support span.subtitle {
	margin-top: 0;

	font-size: 0.9em;

	color: #666;
}

.form-content ul li {
	text-align: left;
}

.get-started {
	@include respond-to(phone, tablet-portrait) {
		margin-top: 0;
		padding: 30px 0;
	}

	margin-top: 50px;
	padding: 45px 0;

	font-family: "Lato", arial, serif;
	font-size: 24px;
	font-weight: 900;

	text-align: center;
	vertical-align: middle;

	background-color: #3690e6;
	h1 {
		@include respond-to(phone, tablet-portrait, tablet-landscape) {
			float: none;

			font-size: 36px;

			text-align: center;
		}

		float: left;

		max-width: 720px;
		margin: 0;

		font-family: "Lato", arial, serif;
		font-size: 44px;
		font-weight: 500;

		text-align: left;

		color: $white;
	}
	p {
		@include respond-to(phone, tablet-portrait, tablet-landscape) {
			float: none;

			margin-bottom: 0;
		}

		float: right;
	}
}

.front-bottom {
	background: $white url("../img/repeat_border_diag_bottom.png") 0 100% repeat-x;
	.info {
		@include respond-to(phone, tablet-portrait) {
			text-align: center;
		}

		display: inline-block;

		margin: 30px 0;

		font-family: "Lucida Grande", arial, serif;
		font-size: 14px;
		font-weight: 300;

		text-align: left;

		color: #4c4c4c;
		&:nth-of-type(2) {
			@include respond-to(phone, tablet-portrait) {
				text-align: center;
			}

			text-align: right;
		}
		h2 {
			font-family: "Lato", arial, serif;
			font-size: 30px;
			font-weight: 700;

			color: #3690e6;
		}
	}
	img {
		display: inline-block;

		margin: 20px auto 0;

		border: solid 2px $white;
		box-shadow: 1px 2px 4px rgba($black, 0.3);
		&.left {
			margin-right: 30px;
		}
		&.right {
			margin-left: 30px;
		}
	}
}

hr {
	margin: 15px 0;

	opacity: 0.25;
}

.p-s {
	margin: 30px 0;

	text-align: center;
	h2 {
		font-family: "Lato", arial, serif;
		font-size: 30px;
		font-weight: 700;

		color: #3690e6;
	}
	p {
		font-family: "Lucida Grande", arial, serif;
		font-size: 14px;
		font-weight: 300;

		color: #4c4c4c;
		.copyright {
			margin: 150px auto 0;
			padding-bottom: 30px;

			text-align: center;
		}
	}
}

.qtip-wrapper {
	border-radius: 5px;
	box-shadow: 0 3px 3px rgba(0,0,0,0.3);
}
.qtip-content {
	font-family: "Lato", Arial, sans;
	font-weight: 900;
}

#no-permission h1 {
	margin: 0 0 30px 0;
	padding: 0 0 5px 0;
	padding-bottom: 20px;

	font-family: "Lato", arial, serif;
	font-size: 33px;
	font-weight: 700;

	border-bottom: dotted black 1px;
}
#no-permission .error-support .contact dt {
	width: 65px;
}
#no-permission .error-support .online-support dt {
	width: 170px;
}
#swfplaceholder {
	position: absolute;

	background: #ccc;
}
#swfplaceholder p {
	position: absolute;

	margin: 0;
	padding: 0;

	font-family: "Lato";
	font-size: 3em;
	font-weight: bold;

	color: #aaa;
}


/*********
Fancybox Overrides
*********/
#fancybox-left-ico, #fancybox-right-ico {
	position: absolute;
	z-index: 1102;
	top: 50%;
	left: 0 !important;

	display: block !important;

	width: 100px;
	height: 100px;
	margin: -50px 0 0 -120px;

	cursor: pointer;
	transition: 200ms all;

	border-radius: 100%;
	background-color: rgba(0,0,0,0.5);
	background-image: none;
}

#fancybox-close {
	position: absolute;
	top: 20px;
	right: 20px;

	width: 40px;
	height: 40px;

	text-align: center;
	vertical-align: middle;

	color: rgba(255,255,255,0.7);
	border-radius: 100%;
	background: none;
	background-color: rgba(0,0,0,0.5);
}
#fancybox-close:after {
	content: "\00D7";

	margin: 0;

	font-size: 40px;
	line-height: 34.5px;
}
#fancybox-close:hover {
	text-decoration: none;
}
#fancybox-left-ico {
	background-position: 51px -30px;
}
#fancybox-right-ico {
	right: -120px  !important;
	left: auto !important;

	background-position: 51px -60px;
}
#fancybox-left:hover, #fancybox-right:hover {
	visibility: visible; /* IE6 */
}
#fancybox-left-ico:before {
	content: "";

	position: absolute;
	top: 20px;
	left: 28px;

	width: 0;
	height: 0;

	border-top: 30px solid transparent;
	border-right: 30px solid rgba(255,255,255,0.7);
	border-bottom: 30px solid transparent;
}
#fancybox-right-ico:before {
	content: "";

	position: absolute;
	top: 20px;
	right: 28px;

	width: 0;
	height: 0;

	border-top: 30px solid transparent;
	border-bottom: 30px solid transparent;
	border-left: 30px solid rgba(255,255,255,0.7);
}

@media only screen and (min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 2) {
	h1.logo a {
		background: url(../img/retina/materia_tmp_logo@2x.png) 0 0 no-repeat;
		background-size: 160px 68px;
	}

	header {
		background: $white url(../img/header_border.png) 0 100% repeat-x;
		background-size: 12px 6px;
	}
}

.qtip {
	position: absolute;
	z-index: 101;

	width: 230px;
	padding: 10px;

	font-weight: bold;

	color: $white;
	border: 4px solid $purple;
	border-radius: 5px;
	background: $purple;
}
.qtip.top:after, .qtip.top:before {
	content: " ";

	position: absolute;
	bottom: 100%;
	left: 50%;

	width: 0;
	height: 0;

	pointer-events: none;

	border: solid transparent;
	border-color: rgba(185, 68, 204, 0);
	border-bottom-color: $purple;
}

.qtip.top:after {
	margin-left: -20px;

	border-width: 20px;
}
.qtip.top:before {
	margin-left: -26px;

	border-width: 26px;
}

.qtip.right:after {
	content: " ";

	position: absolute;
	top: 50%;
	left: 100%;

	width: 0;
	height: 0;
	margin-top: -28px;

	pointer-events: none;

	border: solid transparent;
	border-width: 28px;
	border-color: rgba(185, 68, 204, 0);
	border-left-color: $purple;
}

span.subtitle {
	font-family: "Lato", arial, serif;
	font-size: 1.1em;
	font-weight: 700;
}

footer[role=contentinfo] {
	margin: 150px auto 0;
	padding: 15px 0;

	font-size: 12px;

	text-align: center;
}


// Utility classes
.text-center {
	text-align: center !important;
}

.base-margin {
	margin: 15px;
}

.base-margin-top {
	margin-top: 15px;
}

.base-margin-right {
	margin-right: 15px;
}

.base-margin-bottom {
	margin-bottom: 15px;
}

.base-margin-left {
	margin-left: 15px;
}

.no-margin {
	margin: 0;
}

.hidden {
	display: none !important;
}

// Responsive classes for phone
.hidden-xs {
	@include respond-to(phone) {
		display: none !important;
	}
}

.visible-xs-block {
	@include respond-to(phone) {
		display: block !important;
	}
}

.visible-xs-inline {
	@include respond-to(phone) {
		display: inline !important;
	}
}

// Responsive classes for tablet-portait
.hidden-sm {
	@include respond-to(tablet-portrait) {
		display: none !important;
	}
}

.visible-sm-block {
	@include respond-to(tablet-portrait) {
		display: block !important;
	}
}

.visible-sm-inline {
	@include respond-to(tablet-portrait) {
		display: inline !important;
	}
}

// Responsive classes for tablet-landscape
.hidden-md {
	@include respond-to(tablet-landscape) {
		display: none !important;
	}
}

.visible-md-block {
	@include respond-to(tablet-landscape) {
		display: block !important;
	}

	display: none !important;
}

.visible-md-inline {
	@include respond-to(tablet-landscape) {
		display: inline !important;
	}

	display: none !important;
}

// Responsive classes for desktop
.hidden-lg {
	@include respond-to(desktop) {
		display: none !important;
	}
}

.visible-lg-block {
	@include respond-to(desktop) {
		display: block !important;
	}

	display: none !important;
}

.visible-lg-inline {
	@include respond-to(desktop) {
		display: inline !important;
	}

	display: none !important;
}

// Responsive classes for large-desktop
.hidden-xl {
	@include respond-to(large-desktop) {
		display: none !important;
	}
}

.visible-xl-block {
	@include respond-to(large-desktop) {
		display: block !important;
	}

	display: none !important;
}

.visible-xl-inline {
	@include respond-to(large-desktop) {
		display: inline !important;
	}

	display: none !important;
}
