body,
html {
	font-family: 'Lato', arial, serif;
}

.dataTables_wrapper {
	position: relative;

	clear: both;
	margin: 0 auto;

	background: #fff;
	border: rgba(0, 0, 0, .11) 1px solid;
	box-shadow: 1px 3px 10px #888;
}

#import-form {
	padding: 10px 5px;
	min-width: 665px;
}

#question-table_filter {
	float: none;
	padding: 6px 10px;

	background: #efefef;
	label {
		/*display:none;*/
	}
	input[type='text'] {
		padding-right: 10px;
		padding-left: 23px;
		width: 124px;
		height: 19px;

		background: #fff url('../img/magnifyingglass.png') 5px 50% no-repeat;
		border: solid 1px #b0b0b0;
		border-radius: 12px;
		outline: none;
	}
}

h1 {
	position: absolute;
	top: 17px;
	left: 20px;
	z-index: 1;

	margin: 0;

	color: #a6a6a6;
	font-size: 18px;
	font-weight: 550;

	text-shadow: 0 1px #fbfbfb;
}

.dataTables_scroll {
	margin: 0 5px;
}

.gray {
	color: #545454;

	background: #aeaeae;
	background-image: linear-gradient(top, #e4e4e4, #b8b8b8);
	border-color: #747474;
	&:hover {
		background-image: linear-gradient(top, #b8b8b8, #e4e4e4);

		text-decoration: none;
	}
}

#upload-cancel-button {
	position: absolute;
	z-index: 3;

	margin-top: 15px;
	margin-left: 15px;
	padding: 10px 15px;

	font-size: 14px;
}

#import-form {
	.actions {
		margin: 0 auto;

		text-align: center;
	}
	input.action_button {
		margin-top: 16px;
	}
}

.dataTables_info {
	position: absolute;
	top: 13px;
	right: 175px;

	clear: none;

	color: #888;
	font-size: 12px;

	text-align: right;
}

table.dataTable thead th {
	padding: 10px 18px;

	color: #666;

	border-bottom: 1px solid #ddd;
}

#uploader-form {
	position: absolute;
	right: 10px;
	bottom: 75px;
	left: 10px;
	z-index: 4;

	display: block;
}

#modal-cover {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2;

	display: none;

	background: rgba(0, 0, 0, .7);
}

#cancel-button {
	margin-right: 15px;

	color: #555;

	text-decoration: underline;
}
