/* *************************************************************** */
/*        Catalog                                                  */
/* *************************************************************** */
@import 'mixins';
@import 'colors';

.my-widgets {
	.content {
		float: left;
		width: 75%;
		min-height: 800px;
	}
	.aside-content {
		width: 25%;
		padding-bottom: 0;

		.top {
			color: $white;

			border-bottom-color: #0276b9;

			@include vertical-gradient-top-bottom(#83caf3);
			h1 {
				text-shadow: 0 1px 0 rgba($black, .3);
			}
		}
		.courses {
			margin: 0 -15px;
			max-height: 700px;
		}
	}
}

.hide {
	display: none;
}

.highlighted {
	background-color: #ffd800;
}

.my-widgets {
	.directions {
		text-align: center;
		&.unchosen {
			min-height: 500px;

			background: $white url('../img/kogneato_mywidgets.png') 50% 100% no-repeat;
		}
		h1 {
			margin: 20px 0 5px 0;
			padding: 0;

			font-size: 3em;
			font-weight: bold;
			font-family: 'Lato';
		}
		p {
			margin: 0;
			padding: 0;

			font-size: 1em;
			font-weight: 500;
		}
	}
}

.ie9 .aside-content .top {
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxNiUiIHN0b3AtY29sb3I9IiM4M2NhZjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI4OSUiIHN0b3AtY29sb3I9IiMzN2E5ZTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
}

.aside-content {
	.search {
		position: relative;

		margin-bottom: 10px;
		.search-close {
			position: absolute;
			top: 3px;
			right: 12px;

			color: rgb(221, 221, 221);
			font-size: 14px;

			cursor: pointer;
		}
		.textbox {
			padding: 5px 10px;
			width: 100%;
			box-sizing: border-box;

			border: 1px solid rgba($black, .3);
			border-radius: 20px;
			outline: none;
		}
	}
	.courses {
		max-height: 700px;
		overflow: auto;
		.widget-list {
			overflow: auto;
			overflow-x: hidden;
			.icon {
				display: inline-block;
				margin: 0;
				margin-right: 5px;
				padding: 0;
				width: 60px;
				height: 60px;

				background-repeat: no-repeat;
				background-size: 60px;
			}
		}
	}
	.widget-list h2 {
		margin: 0 0 0 1px;
		padding: 3px 7px;

		color: #2a2a2a;
		font-size: .7em;

		background-color: #d3d3d3;
		border-top: 1px #ccc solid;
		border-bottom: 1px #aaa solid;
	}
	.courses {
		border-top: 1px solid rgba(100, 100, 100, .2);
	}
	.widget-list {
		div {
			padding: 10px;
			> ul {
				display: inline-block;
				width: 130px;

				vertical-align: top;
			}
		}
		ul {
			margin: 0;
			padding: 0;
			li {
				margin: 0;
				padding: 0;
				overflow: hidden;

				list-style: none;
				&.title {
					font-size: .9em;
					font-weight: bold;
					font-family: 'Lato';
					width: 100px;
					overflow: visible;
				}
				&.type,
				&.score {
					color: #444;
				}
				&.type {
					font-size: .7em;
					font-size: 11px;
				}
				&.score {
					margin-top: 10px;

					font-size: 12px;
				}
			}
		}
		.odd {
			background: $white;
		}
		.widget {
			cursor: pointer;
			user-select: none;

			&:hover {
				background-color: #ffe0a5;
			}
		}
		div.gameSelected {
			background: #ffcb68;
		}
	}
}

.content {
	.widget-name {
		font-size: .8em;
	}
	.overview {
		background: #ededed;
		border: solid 1px #dadada;
		border-width: 1px;
		border-radius: 4px;
		.icon-controls-container {
			padding: 15px;

			@include clearfix;
			.icon-container {
				float: left;
				padding-right: 7.5px;
				width: 35%;
				height: auto;
				box-sizing: border-box;

				text-align: center;

				img {
					max-width: 100%;
					height: auto;
				}
			}
			.controls {
				float: left;
				padding-left: 7.5px;
				width: 65%;
				box-sizing: border-box;
			}
		}
	}
	.scores {
		position: relative;
		h2 {
			margin-bottom: 0;
			padding-top: 2px;
			padding-bottom: 14px;
			padding-bottom: 13px;

			border-bottom: #999 dotted 1px;

			font-family: 'Lato';
		}
		#export_scores_button {
			position: absolute;
			top: 13px;
			right: 2px;
		}
	}
	.noScores {
		display: none;

		font-family: 'Lato', sans-serif;
	}
}

/* Controls Section */

.controls ul {
	padding: 0;

	text-align: center;
	li {
		display: inline-block;
		margin: 0 8px 8px;

		list-style: none;

		&.control-buttons {
			margin: 0 15px 15px;
		}
	}
	&.options {
		margin-top: -10px;
		padding: 0;
		padding-bottom: 5px;

		font-family: 'Lato', sans-serif;
		font-size: 15px;

		text-align: center;
		li {
			@include respond-to(phone) {
				display: block;
			}
		}
		li a {
			color: #1778af;
			font-weight: bold;

			border-bottom: 1px #1778af solid;
		}
	}
}
.scores .scoreWrapper .storage {
	margin: 0 10px;
	padding: 0 0 2px 0;

	color: #1778af;
	font-weight: bold;

	border-bottom: 1px #1778af solid;
}
.controls ul.options li a:hover {
	color: $blue;

	border-bottom: 1px $blue solid;

	cursor: pointer;
	text-decoration: none;
}
.scores .scoreWrapper .storage {
	float: right;
	margin: 0;
	&:hover {
		color: $blue;

		border-bottom: 1px $blue solid;

		cursor: pointer;
		text-decoration: none;
	}
}
.controls {
	ul.options li .disabled {
		color: #c5c5c5;

		background: none;
		border: none;

		opacity: .5;
		cursor: default;
		text-decoration: none;
		&:hover {
			color: #c5c5c5;

			background: none;
			border: none;

			opacity: .5;
			cursor: default;
			text-decoration: none;
		}
	}
	div.delete_dialogue {
		margin-bottom: 5px;
		padding: 20px 0;

		position: relative;
		background: $white;
		border: solid 1px #dbdbdb;

		&:after, &:before {
			bottom: 100%;
			left: 50%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
		}

		&:after {
			border-color: rgba(255, 255, 255, 0);
			border-bottom-color: $white;
			border-width: 20px;
			margin-left: 101px;
		}
		&:before {
			border-color: rgba(219, 219, 219, 0);
			border-bottom-color: #dbdbdb;
			border-width: 21px;
			margin-left: 101px;
		}

		text-align: center;
		.action-button {
			margin-top: 5px;
		}
		.red {
			color: $white;

			background: #ca0000;
			background-image: linear-gradient(top, #e10000, #ca0000);
			border-color: #747474;
			&:hover {
				background: #ca0000;
				background-image: linear-gradient(top, #ca0000, #e10000);

				text-decoration: none;
			}
		}
	}
	a.disabled {
		color: #545454;

		background: #aeaeae;
		background-image: linear-gradient(top, #e4e4e4, #b8b8b8);
		border-color: #747474;

		opacity: .5;
		cursor: default;
		&:hover {
			color: #545454;

			background: #aeaeae;
			background-image: linear-gradient(top, #e4e4e4, #b8b8b8);
			border-color: #747474;

			opacity: .5;
			cursor: default;
		}
	}
}
.scores .disabled {
	color: #545454;

	background: #aeaeae;
	background-image: linear-gradient(top, #e4e4e4, #b8b8b8);
	border-color: #747474;

	opacity: .5;
	cursor: default;
	&:hover {
		color: #545454;

		background: #aeaeae;
		background-image: linear-gradient(top, #e4e4e4, #b8b8b8);
		border-color: #747474;

		opacity: .5;
		cursor: default;
	}
}
.controls {
	div {
		&.delete_dialogue .gray:hover {
			background: #a2c129;
			background-image: linear-gradient(top, #b8b8b8, #e4e4e4);

			text-decoration: none;
		}
		&.additional_options {
			margin-top: 20px;

			border-top: #8e8e8e dotted 1px;
		}
	}
	span.pencil {
		display: inline-block;
		margin: 0;
		margin-top: -5px;
		margin-right: 5px;
		width: 21px;
		height: 21px;

		background: url(../img/pencil.png) no-repeat center bottom;

		vertical-align: middle;
	}
}

.aux_button {
	padding: 7px 12px 8px 12px;
}

.my-widgets .content {
	.controls {
		h3 {
			display: inline-block;
			margin: 10px 0 0 10px;

			color: #b7b7b7;
			font-size: .9em;

			text-transform: uppercase;
		}
		dl {
			margin: 10px 0 0 10px;

			font-size: .8em;
		}
	}
	.share-widget-container {
		position: relative;

		margin: 0;
		padding: 22px  20px 4px 20px;

		font-size: 10pt;

		background: rgba(0, 0, 0, .05) url(../img/widget_link_icon.png) no-repeat 20px 20px;
		border-top: 1px solid rgba(0, 0, 0, .3);

		.content-push { padding-left: 80px; }

		h3 {
			margin: 0;
			margin-bottom: 8px;

			font-size: 1.4em;
		}
		span {
			color: #1778af;

			cursor: pointer;
			text-decoration: underline;
			&:hover {
				color: $blue;
			}
		}
		textarea {
			margin: 0;
			margin-bottom: 6px;
			width: 631px;
			height: 60px;

			font-family: monospace;
			font-size: .9em;
		}
		input {
			margin: 4px 0 0;
			padding: 3px;
			width: 100%;
			max-width: 577px;
			height: 1.5em;
			box-sizing: border-box;

			font-size: 1.3em;

			cursor: text;
			&::-ms-clear {
				display: none;
			}
			&:disabled {
				cursor: default;
				user-select: none;

				-khtml-user-select: none;
				     -o-user-select: none;
			}
		}
		&.draft {
			padding-bottom: 46px;

			opacity: .5;
			cursor: default;
			user-select: none;

			p {
				display: none;
			}
		}
	}
	.scores {
		padding-bottom: 1em;
		overflow-x: hidden;
		overflow-y: auto;
		.scoreWrapper {
			position: relative;

			display: inline-block;
			margin-top: 1em;
		}
		h3 {
			color: $black;
			&.view {
				display: inline-block;
				margin: 15px .5em 0 0;
				padding: 0;
			}
		}
		ul.choices {
			display: inline-block;
			margin: 15px 0 0 0;
			padding: 0;
			height: 23px;
			li {
				display: inline-block;

				list-style: none;
				a {
					padding: 6px 10px 4px 10px;
					padding-bottom: 5px;

					color: $black;

					border-top: solid #dbdbdb 1px;
					border-right: solid #dbdbdb 1px;
					border-left: solid #dbdbdb 1px;

					cursor: pointer;
					&:hover {
						text-decoration: none;
					}
				}
				&.scoreTypeSelected a {
					background: #f3f3f3;
				}
			}
		}
		.refresh-button {
			position: absolute;
			top: 108px;
			right: 120px;

			display: inline-block;
			width: 27px;
			height: 27px;

			background: url(../img/refresh_button.png);

			text-indent: -9999px;
			&:hover {
				opacity: .8;
			}
		}
		.show-older-scores-button {
			display: inline-block;
			margin-top: 1em;
			padding: 4px 10px 4px 10px;
			width: 654px;

			font-size: 10pt;
			font-weight: bold;

			background: #f3f3f3;
			border: 1px solid #dbdbdb;
			border-radius: 2px;

			text-align: center;
			text-decoration: underline;
			&:hover {
				opacity: .8;
			}
		}
		.display {
			&.graph {
				float: left;
				margin: 0;
				padding: 20px 0 0 20px;
				width: 550px;

				background: #f3f3f3;
				border: solid #dbdbdb 1px;
				.type {
					float: left;
					margin: 35px 0 0 0;
					padding: 0;
					li {
						margin: 0 0 10px 0;

						list-style: none;
						a {
							&#barGraph {
								display: inline-block;
								width: 52px;
								height: 52px;

								background: url(../img/bar_icon.png);

								text-indent: -99999px;
								&.graphSelected {
									background: url(../img/bar_icon_selected.png);
								}
							}
							&#pieChart {
								display: inline-block;
								width: 52px;
								height: 52px;

								background: url(../img/pie_chart.png);

								text-indent: -99999px;
								&.graphSelected {
									background: url(../img/pie_chart_selected.png);
								}
							}
						}
					}
				}
				.chart {
					float: left;
					margin: 0 10px 15px 10px;
					width: 475px;
					height: 300px;
				}
			}
			&.table,
			&.data {
				float: left;
				margin: 0;
				padding: 20px;

				background: #f3f3f3;
				border: solid #dbdbdb 1px;
			}
			&.table {
				padding: 0 0 25px 0;
				width: 570px;
				min-height: 300px;
			}
			&.data {
				width: 638px;

				font-family: 'Lato', sans-serif;
			}
		}
	}
}

/*#my-widgets .content .share-widget-container.closed textarea {
			display: none;
		}*/

/*#my-widgets .content .share-widget-container.draft h3 {
			color: #C5C5C5;
		}*/

/*#my-widgets .content .scores ul.choices li:nth-child(3) a {
					display: none;
				}*/

.table_wrapper {
	width: 638px;
	overflow-x: scroll;
}

.my-widgets .content {
	.scores {
		.display.data table {
			margin-top: 20px;
		}
		.data {
			min-height: 393px;
		}
		.display.data {
			.null {
				color: #bbb;
			}
			.truncated-table {
				margin-top: 20px;
				padding: 10px;

				font-size: 9pt;

				background: #fff389;
				border: 1px solid rgba(0, 0, 0, .2);
				border-radius: 4px;

				text-align: center;
			}
			.table-label {
				margin-top: 0;
				margin-bottom: 1em;
				padding-bottom: 1em;

				border-bottom: 1px solid #bbb;
				h4 {
					display: inline;
					margin-right: .5em;
				}
				select {
					font-size: 14pt;
				}
			}
		}
		.table {
			h3 {
				margin-top: 10px;
				margin-left: 20px;

				color: #666;
				font-family: 'Lucida Grande', sans-serif;
				font-size: 1.0em;
				font-weight: normal;
			}
			.score-search {
				padding: 6px 10px 10px 10px;
				width: 100%;

				background: rgba(0, 0, 0, .05);
				input[type='text'] {
					margin: 7px 10px 0 10px;
					padding-right: 10px;
					padding-left: 23px;
					width: 190px;
					height: 19px;

					background: $white url('../img/magnifyingglass.png') 5px 50% no-repeat;
					border: solid 1px $light-gray;
					border-radius: 12px;
					outline: none;
				}
			}
			.scoreListContainer {
				position: relative;
				z-index: 3;

				float: left;
				margin-left: 20px;
				width: 40%;

				background: $white;
				border-radius: 3px;
				box-shadow: 0 3px 3px rgba(0, 0, 0, .3);
			}
			.scoreListScrollContainer {
				width: 100%;
				max-height: 550px;
				overflow: auto;
			}
			.scoreListContainer .scoreListTable {
				width: 100%;
			}
			.scoreTableContainer {
				position: relative;
				right: 12px;
				z-index: 1;

				float: left;
				margin-top: 15px;
				padding: 10px 0 10px 0;
				width: 55%;

				background: $white;
				border-radius: 3px;
				box-shadow: 0 3px 3px rgba(0, 0, 0, .3);
				.scoreTable {
					margin-left: 10px;
					width: 95%;

					border-collapse: collapse;
					td {
						border: none;
						border-bottom: solid #dbdbdb 1px;
					}
					tr {
						cursor: pointer;
						&:hover {
							background: #ffe0a5;
						}
						&:last-child td {
							border-bottom: none;
						}
					}
					.elapsed {
						text-align: right;
					}
				}
			}
			thead tr {
				background: #cdcdcd;
			}
			td {
				padding: 6px 3px;
				height: 1.5em;
			}
			.scoreListContainer tbody tr:hover {
				background: #ffe0a5;

				cursor: pointer;
			}
			tbody tr.rowSelected {
				background: #ffcb68;
			}
			.scoreListTitle {
				width: 100%;
				/* height:1.5em; */
				p {
					margin: 0 0 2px 0;
					height: 1.5em;
				}
			}
			.scoreListContainer .scoreListHead {
				display: block;
				padding: 3px 0 0 5px;
				height: 1.5em;

				color: $black;

				background-color: #cdcdcd;

				text-decoration: none;
			}
			.scoreTableTitle {
				height: 1.5em;
			}
		}
		.numeric {
			float: left;
			margin: 0;
			padding: 0;
			width: 90px;
			li {
				margin: 0 0 10px 0;
				padding: 5px;

				list-style: none;

				background: #e9edef;

				text-align: center;
				p {
					margin: 0;
					padding: 0;

					color: $blue;
					font-family: 'Kameron', Georgia, 'Times New Roman', Times, serif;
					font-size: 2em;
					font-weight: 900;

					text-align: center;
				}
				h4 {
					margin: 0;
					padding: 0;
				}
			}
		}
	}
	.controls dl.attempts_parent {
		padding-top: 5px;
		width: 90%;

		font-family: 'Lucida Grande', sans-serif;
		&.disabled {
			padding-top: 5px;
			width: 90%;

			font-family: 'Lucida Grande', sans-serif;

			background: none;

			cursor: default;
		}
	}
}

.attempts_parent {
	&.disabled {
		dt {
			float: left;
			margin: 0 10px 0 0;
			width: 33px;

			color: #c5c5c5;
			font-weight: bold;
		}
		dd {
			margin: 0 0 10px 0;
			padding-left: 88px;

			color: #c5c5c5;
		}
	}
	dt {
		float: left;
		margin: 0 10px 0 0;
		width: 33px;

		font-weight: bold;
	}
	dd {
		margin: 0 0 10px 0;
		padding-left: 88px;

		cursor: pointer;
		&:hover {
			color: $blue;

			text-decoration: underline;
		}
		&.disabled {
			color: #c5c5c5;

			cursor: default;
			&:hover {
				color: #c5c5c5;

				text-decoration: none;
			}
		}
	}
}

.available_date,
.available_time {
	font-weight: bold;
}

.clickToEdit {
	margin: 0;
	padding: 0;

	color: #1399e7;

	cursor: pointer;
	text-align: left;
}

#edit-availability-button {
	margin-left: 98px;

	color: #1778af;
	font-family: 'Lucida Grande', sans-serif;
	font-size: 10pt;
	font-weight: bold;

	text-decoration: underline;
	&:hover {
		color: $blue;
	}
	&.disabled {
		color: #c5c5c5;

		background: none;

		text-decoration: none;
		&:hover {
			color: #c5c5c5;
		}
	}
}

/* *************************************************************** */
/*        Avalability Popup                                        */
/* *************************************************************** */

.ng-modal.availability {
	.ng-modal-dialog {
		padding: 20px 20px 5px 20px;
		min-width: 500px;
	}
	.ng-modal-title {
		position: relative;

		margin: 0;
		margin-bottom: 20px;
		padding: 0;
		padding-bottom: 20px;

		color: #555;
		font-size: 1.3em;

		border-bottom: #999 dotted 1px;

		text-align: left;
	}
	ul {
		&.inline {
			margin: 50px auto 20px auto;
			padding: 0;
			width: 255px;
			li {
				display: inline-block;
				margin: 0;
				padding: 0;

				list-style: none;
			}
		}
		&.attemptsPopup {
			margin: 4px 0 10px 0;
			padding: 0 0 0 10px;
			li {
				list-style: none;
			}
		}
		&.toFrom {
			margin: 0;
			padding: 0;
		}
	}
	.availabilityError {
		position: absolute;
		top: 8px;
		right: 40px;

		color: #f00;
		font-weight: bold;
	}
	ul {
		&.toFrom {
			> li {
				margin: 20px 0 0 0;
				padding: 0;

				list-style: none;
			}
			li span.text-right {
				display: inline-block;
				margin-right: 10px;
				width: 50px;

				font-weight: bold;

				text-align: right;
			}
		}
		li.save a {
			display: inline-block;
			margin: 0 10px;
			padding: 5px;

			color: $white;

			background: $blue;
			border-radius: 5px;

			text-decoration: none;
		}
	}
	h3 {
		display: inline-block;
		margin: 0;
		margin-right: 30px;
		width: 100px;

		text-align: right;
		vertical-align: top;
	}
	.datePicker {
		display: inline-block;
		margin-left: -12px;
		padding: 0;
		input {
			&[type=text] {
				padding: 7px;

				font-size: .8em;

				border: 1px solid rgba(0, 0, 0, .2);
				border-radius: 7px;
				&:focus {
					outline: none;
					box-shadow: 0 0 1px 1px #0094e2;
				}
			}
			&[type=radio] {
				height: 15px;
			}
		}
	}
	.attemptHolder li.selected {
		color: $black !important;
	}
	.selector {
		display: inline-block;
		margin: 20px 0 0 0;
		width: 400px;
	}
	.attemptHolder {
		margin: 0 0 0 129px;
		padding: 0;

		cursor: default;
		user-select: none;

		-khtml-user-select: none;
		     -o-user-select: none;
		li {
			display: inline-block;
		}
	}
	.data_explination {
		margin-left: 125px;
		width: 450px;

		font-size: 14px;
	}
	.ui-slider-handle.ui-state-default.ui-corner-all {
		margin-top: -3px;

		background: #519bd1;
		border: #4380ad 1px solid;
		outline: none;
	}
	.date.error,
	.time.error {
		background: rgba(255, 0, 0, .2);
		border: 2px solid rgba(255, 0, 0, .2);

		font-color: $black;
	}
	.am,
	.pm {
		margin: 0;
		padding: 5px;

		color: rgba(0, 0, 0, .2);
		font-size: .8em;
		font-weight: bold;

		border: 1px solid rgba(0, 0, 0, .2);

		cursor: pointer;
		user-select: none;
		text-transform: uppercase;
	}
	.ui-slider-handle {
		width: 16px;
		height: 16px;

		border-radius: 100%;
	}
	.ui-slider {
		margin-top: -6px;
		padding-top: 1px;
		height: 1px;

		vertical-align: middle;
	}
	.am.selected,
	.pm.selected {
		color: $white;

		background: #0094e2;
	}
	.am {
		border-right: none;
		border-radius: 4px 0 0 4px;
	}
	.pm {
		border-radius: 0 4px 4px 0;
	}
	.attemptHolder li {
		margin-right: .23em;

		color: rgba(0, 0, 0, .3);
		&:hover {
			color: black;
		}
		&.step {
			margin-right: 3.85em;
		}
	}
	.step {
		&.first {
			margin-left: 3.8em;
		}
		&.last {
			margin-left: -23px;
		}
	}
}

​ .ng-modal.availability ul li ul.hide {
	display: none;
}

/* date picker overrides */

.hasDatePicker {
	z-index: 1500 !important;

	margin-top: 3px;

	font-size: 75% !important;
}

/* *************************************************************** */
/*        Sharing Popup                                            */
/* *************************************************************** */
.ng-modal {
	&.share {
		.cancel_button {
			position: absolute;
			bottom: 35px;
			left: 200px;

			margin: 10px 15px;

			color: #555;

			cursor: pointer;
			text-decoration: underline;
			&.close_only {
				left: 250px;
			}
		}
		.action-button.save_button {
			position: absolute;
			bottom: 35px;
			left: 285px;
		}
		.toggle_transfer {
			position: absolute;
			bottom: 20px;
			left: 20px;

			padding: 5px 10px;

			font-size: 12px;
		}
		.cancel_button .share_button {
			margin-top: 10px;
		}
	}
	.green {
		color: $green;

		background: #b2cd43;
		background-image: linear-gradient(top, #d1e776, #a6c430);
		border-color: #95a74e;
		&:hover {
			background: #a2c129;
			background-image: linear-gradient(top, #a6c430, #d1e776);

			text-decoration: none;
		}
	}
	.gray {
		color: #545454;

		background: #aeaeae;
		background-image: linear-gradient(top, #e4e4e4, #b8b8b8);
		border-color: #747474;
		&:hover {
			background: #a2c129;
			background-image: linear-gradient(top, #b8b8b8, #e4e4e4);

			text-decoration: none;
		}
	}
	&.share {
		text-align: center;
		#adding {
			position: absolute;
			top: 0;

			background: transparent;
			background-color: #f0f0f0;
			border: none;
		}
		.container {
			top: 50px;
			left: 0;

			padding-top: 15px;
			width: 580px;
			height: 390px;
		}
		.ng-modal-title {
			top: 15px;
			left: 27px;
		}
		a {
			&.close {
				position: absolute;
				top: 4px;
				right: 5px;

				display: block;
				margin: 4px;
				width: 19px;
				height: 19px;

				background: url('../img/close.png') no-repeat;

				text-indent: -10000px;
			}
			&.remove {
				position: absolute;
				top: 30px;
				left: 5px;

				display: inline-block;

				color: #bfbfbf;
				font-size: 15px;

				text-decoration: none;
			}
		}
		.name {
			float: left;
			margin-top: 8px;
			width: 160px;

			font-size: 15px;
			font-weight: bold;

			text-align: left;
			span {
				display: block;

				font-weight: normal;

				text-align: left;
			}
		}
		.input_label {
			position: absolute;
			top: 80px;
			left: 30px;

			margin: 0 25px 0 0;

			font-size: 16px;
		}
		#adding .input_label {
			top: 20px;
			left: 20px;
		}
		#access {
			input.user_add,
			.placeholder {
				position: absolute;
				top: 70px;
				right: 30px;
				z-index: 2;

				padding-left: 10px;
				width: 445px;
				height: 30px;

				font-size: 16px;

				border: solid 1px #c9c9c9;
			}
		}
		#adding {
			#input_holder {
				position: absolute;
				top: 20px;
				right: 0;
				right: 20px;
				z-index: 2;

				padding-left: 10px;
				width: 445px;
				height: 30px;

				font-size: 16px;

				background: $white;
				border: solid 1px #c9c9c9;

				text-align: left;
			}
			#input_area {
				display: inline-block;
				padding-top: 5px;
				min-width: 15px;
				min-height: 30px;

				font-family: 'Lucida Grande', sans-serif;
				font-size: 16px;

				outline: none;
				input.user_add {
					display: inline-block;
					margin: 0;
					padding: 0;
					width: 460px;
					height: 30px;

					border: none;
					&::-webkit-input-placeholder,
					&:-moz-placeholder,
					&:-ms-input-placeholder {
						color: #343434;
					}
				}
			}
			#expArea {
				display: block;
				#expSet {
					display: none;
					margin: 0;
					padding: 0;
				}
			}
		}
		.expElement {
			margin: 0 5px;
			padding: 0;
		}
		.changeRoleExpiration {
			display: none;
		}
		#adding #expArea {
			.exp_disclaimer {
				margin: 10px 0;
				padding: 0;
			}
			#roleExpiration {
				width: 100px;
			}
		}
		.share_user_to_add {
			display: inline-block;
			margin: 3px;
			padding: 3px;
			height: 30px;

			font-size: 14px;

			background-color: #fbfbfb;
			border: 1px solid #aeaeae;
			border-radius: 3px;
		}
	}
}

.share_user_to_add_name {
	margin: 0;
	padding: 0;

	vertical-align: middle;
}

.ng-modal.share {
	.search-list {
		position: absolute;
		top: 103px;
		left: 152px;
		z-index: 3;

		padding-bottom: 5px;
		width: 456px;
		height: 340px;
		min-height: 130px;
		overflow: auto;

		background-color: $white;
		border: #bfbfbf 1px solid;

		text-align: left;
	}
	.no_match_message {
		margin: 10px auto;
		width: 60%;

		text-align: center;
	}
	.no_match_reason {
		margin: 10px auto;
		width: 60%;

		color: #a0a0a0;
		font-size: 14px;

		text-align: center;
	}
	.search_match {
		display: inline-block;
		margin: 5px 5px 0 5px;
		padding: 0 5px 5px 0;
		width: 200px;
		height: 56px;

		background-color: $white;
		border-radius: 3px;
		&:hover {
			background-color: #c5e7fa;

			cursor: pointer;
		}
		&.focused {
			background-color: #7fc9f3;
		}
	}
	.access_list {
		position: absolute;
		top: 130px;
		left: 30px;
		padding: 0 30px;
		width: 520px;
		height: 250px;
		overflow: auto;

		background-color: #f2f2f2;
		-moz-border-radius: 5px;
		     border-radius: 5px;

		text-align: right;
		&.no-add-access {
			margin-top: 0;
			height: 320px;

			background-color: #f2f2f2;
		}
	}
	.access_heading {
		margin: 5px 125px 0 0;
		padding: 0;
	}
	.user_match_avatar {
		float: left;
		margin: 5px;
	}
	.user_match_name {
		width: 140px;
		height: 40px;

		font-family: 'Lucida Grande', sans-serif;
		font-size: 14px;

		text-align: left;
	}
	.disclaimer {
		position: absolute;
		bottom: 60px;
		padding: 20px;

		color: #575757;
		font-size: 14px;
	}
	.user_perm {
		position: relative;

		display: block;
		margin: 5px 0;
		margin: 0;
		margin-right: auto;
		margin-left: auto;
		padding: 15px 0 0 0;
		width: 420px;
		min-height: 64px;

		border-bottom: #e1e1e1 1px solid;

		vertical-align: middle;
		&:last-child {
			border: none;
		}
		.options {
			position: absolute;
			right: 0;

			float: left;
			margin-top: 6px;
			width: 145px;

			text-align: left;
			select {
				display: block;
			}
		}
	}
	.avatar {
		display: inline-block;

		vertical-align: middle;
	}
}

.user_perm_name,
.user-perm .options,
.user_perm_select,
.user_match_avatar,
.user_match_name {
	display: inline-block;

	vertical-align: middle;
}

.ng-modal.share .avatar {
	display: inline-block;
	float: left;
	margin-right: 10px;
	margin-left: 40px;
	width: 50px;
	height: 50px;

	-moz-border-radius: 3px;
	     border-radius: 3px;
}

.user_match_avatar {
	display: inline-block;
	float: left;
	margin-right: 10px;
	width: 50px;
	height: 50px;

	-moz-border-radius: 3px;
	     border-radius: 3px;
}

.ng-modal.share {
	.user_perm_name {
		margin: 0;
		padding: 0 0 0 18px;
		width: 187px;

		font-size: 15px;
		font-weight: bold;

		text-align: left;
		span {
			display: block;

			font-weight: normal;
		}
	}
	.user_perm_select {
		margin-right: 33px;
		width: 150px;
		height: 20px;

		text-align: left;
	}
	#adding {
		.options {
			float: right;
			margin: 10px 25px 0 0;
			width: 450px;
		}
		.user_perm_select {
			margin-left: 8px;
		}
	}
	hr {
		margin: 10px 0;
		width: 100%;

		border: 1px dotted;
	}
	.user_perm_check {
		float: left;
		margin-bottom: 10px;
	}
	.user_perm_message {
		display: block;
		width: 426px;

		text-align: left;
	}
	#adding textarea {
		resize: none;
	}
	.options {
		text-align: right;
	}
	.owner {
		display: none;
		width: 145px;

		text-align: left;
		a {
			display: block;

			font-size: 13px;
		}
	}
	.transfer {
		display: none;
	}
	a.cancel-transfer {
		display: inline !important;
	}
	.transfer {
		.do-transfer {
			display: none;
		}
		span {
			display: none;

			font-size: 14px;
		}
	}
	.owner .transfer-owner {
		display: none;
	}
	.undo {
		display: none;
		width: 145px;

		text-align: left;
	}
	.deleted {
		.avatar {
			opacity: .5;
		}
		.name {
			color: #5f5f5f;
		}
	}
	.user_perm {
		.exp_change_view {
			position: absolute;
			top: 0;
			top: -15px;
			right: 0;

			display: none;
			padding-left: 16px;
			width: 225px;
			height: 64px;

			font-size: 12px;

			background: #f2f2f2;
			background: white;
			border-radius: 1px;
			box-shadow: 0 1px 2px rgba(0, 0, 0, .25);

			text-align: right;
			.access_expires {
				padding-top: 6px;

				font-family: 'Lato';
				font-size: 13px;
				line-height: 0;

				text-align: left;
			}
		}
		label {
			margin-right: 10px;
		}
	}
	.exp_change_view {
		.exp_button {
			position: absolute;
			top: 10px;
			right: 10px;

			font-family: Lato, arial, serif;
		}
		.gray_min {
			color: #545454;

			background: #aeaeae;
			&:hover {
				background: #919191;
			}
		}
		.green_min {
			color: $green;

			background: #b2cd43;
			&:hover {
				background: #a2c129;
			}
		}
		input[type='text'] {
			position: absolute;
			left: 145px;

			display: none;
			width: 75px;
		}
	}
	.demote_dialogue {
		position: absolute;
		z-index: 10000;

		margin-left: 90px;
		padding: 1em;
		width: 310px;
		height: 40px;

		color: black;
		font-family: 'Lucida Grande', sans-serif;
		font-size: 9pt;

		background: #fcdbdb;
		border-radius: 4px;
		box-shadow: 0 2px 2px rgba(0, 0, 0, .3);

		text-align: center;
		.arrow {
			position: absolute;
			top: 0;
			left: -13px;

			display: inline-block;
			width: 13px;
			height: 23px;
			height: 100%;

			background: url('../img/pink-arrow-left.png') no-repeat 0 center;
		}
		.warning {
			display: block;
			margin: -4px 0 6px 0;

			text-align: center;
		}
		.button {
			margin: 0 10px 0 10px;

			text-align: center;
		}
		.red {
			padding: 5px 12px;

			color: white;
			font-size: 11pt;
		}
		.no_button {
			color: #555;
			font-family: Lato, arial, serif;
			font-size: 12pt;

			text-decoration: underline;
		}
		.delete-warning {
			width: 100px;
			display: block;
		}
	}
}

.toggle_transfer {
	color: #969696;

	cursor: pointer;
	text-decoration: underline;
}

.transfer_button {
	display: inline-block;
	margin-right: 20px;
	padding: 5px 10px;

	color: $brown;
	font-family: Lato, arial, serif;
	font-size: 12px;
	font-weight: 700;

	background: #ffba5d;
	background-image: linear-gradient(top, #ffce8c, #ffa42a);
	border: #fdb34f 1px solid;
	border-radius: 6px;
	box-shadow: 1px 2px 4px $medium-gray;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, .5);

	cursor: pointer;
	vertical-align: middle;
}

.is_draft ul li.score {
	width: 45px;
	height: 15px;

	color: $white !important;
	font-family: Lato, arial, serif;
	font-size: 12px;
	font-weight: 900;

	background: $purple;
	border-radius: 3px;

	text-align: center;
}

.qtip-wrapper {
	border-radius: 5px;
	box-shadow: 0 3px 3px rgba(0, 0, 0, .3);
}

.qtip-content {
	font-weight: 900;
}

.qtip.nowidgets {
	top: 110px;
	left: 74px;
}

/* *************************************************************** */
/*        Copying Popup                                            */
/* *************************************************************** */

.ng-modal.copy {
	text-align: center;
	.adding_shadow {
		position: absolute;
		top: -65px;
		left: -20px;
		z-index: 1;

		width: 640px;
		height: 480px;

		background-color: $black;
		border-radius: 3px;

		opacity: 0;

		filter: alpha(opacity = 0);
	}
	.container {
		position: absolute;
		top: 40px;
		left: 20px;

		padding-top: 15px;
		width: 600px;
	}
	.ng-modal-title {
		top: 3px;
		left: 12px;
	}
	a.close {
		position: absolute;
		top: 4px;
		right: 5px;

		display: block;
		margin: 4px;
		width: 19px;
		height: 19px;

		background: url('../img/close.png') no-repeat;

		text-indent: -10000px;
	}
	.input_label {
		margin: 0 25px 0 0;

		font-size: 16px;
	}
	input.newtitle {
		position: relative;
		z-index: 2;

		padding-left: 10px;
		width: 450px;
		height: 30px;
	}
	.copy_button {
		margin-top: 20px;
	}
	.copy_error {
		display: none;
		margin-top: 5px;

		color: #e00;
	}
}

.share {
	.perm-text {
		display: inline-block;
		width: 100%;
	}
	.exp-date {
		padding: 0;
		width: 85px;

		color: #545454;
		font-size: 8pt;

		background: transparent;
		border: none;

		cursor: pointer;
		text-decoration: underline;
		&:hover {
			color: #969696;
		}
		&:disabled {
			color: #c5c5c5;

			cursor: default;
			text-decoration: none;
		}
		&:focus {
			background: $white;
			border: solid 1px #f7b64a;
			outline: none;
		}
	}
	.expires {
		font-size: 8pt;
	}
	.remove-expiration {
		font-size: 8pt;

		cursor: pointer;
	}
}

/* *************************************************************** */
/*        Edit Published Widget Popup                               */
/* *************************************************************** */

.edit-published-widget {
	width: 530px;
	height: 320px;

	border: #f0f0f0 3px solid;
	border-radius: 3px;
	.container {
		padding-top: 30px;
		width: 450px;
		height: 300px;
	}
	h2 {
		position: absolute;
		top: 3px;
		left: 12px;

		margin: 4px;

		font-family: Lato, arial, serif;
		font-size: 24px;
		font-weight: bold;

		text-align: center;
	}
	a.close {
		position: absolute;
		top: 4px;
		right: 5px;

		display: block;
		margin: 4px;
		width: 19px;
		height: 19px;

		background: url('../img/close.png') no-repeat;

		text-indent: -10000px;
	}
	span.center {
		display: block;

		text-align: center;
	}
	.action-button {
		margin-top: 20px;
	}
}

/* *************************************************************** */
/*        Deletion Popup                                           */
/* *************************************************************** */
/*
		.popup.copy .close_button
		{
			position: absolute;
			bottom: 20px;
			left: 250px;
		}
		*/

.popup.delete {
	width: 620px;
	height: 220px;

	border: #f0f0f0 3px solid;
	border-radius: 3px;

	text-align: center;
	.adding_shadow {
		position: absolute;
		top: -65px;
		left: -20px;
		z-index: 1;

		width: 640px;
		height: 480px;

		background-color: $black;
		-moz-border-radius: 3px;
		     border-radius: 3px;

		opacity: 0;

		filter: alpha(opacity = 0);
	}
	.container {
		position: absolute;
		top: 40px;
		left: 20px;

		padding-top: 15px;
		width: 600px;
		height: 390px;
	}
	h2 {
		position: absolute;
		top: 3px;
		left: 12px;

		margin: 4px;

		font-family: Lato, arial, serif;
		font-size: 24px;
		font-weight: bold;

		text-align: center;
	}
	a.close {
		position: absolute;
		top: 4px;
		right: 5px;

		display: block;
		margin: 4px;
		width: 19px;
		height: 19px;

		background: url('../img/close.png') no-repeat;

		text-indent: -10000px;
	}
	.delete-warning {
		display: block;
		margin: 5px 0 5px 0;

		font-weight: bold;
	}
}

.ng-modal .red {
	color: #545454;

	background: #ca0000;
	background-image: linear-gradient(top, #e10000, #ca0000);
	border-color: #747474;
	&:hover {
		background: #ca0000;
		background-image: linear-gradient(top, #ca0000, #e10000);

		text-decoration: none;
	}
}

/* * * * * * * * * * * * * * * * * *
 * CSV POPUP PAGE
 * * * * * * * * * * * * * * * * * */

.ng-modal.csv_popup .ng-modal-dialog {
	border: none;
	border-radius: 0!important;
}

.ng-modal.csv_popup table {
	position: relative;
	z-index: 0;

	width: 450px;

	border-collapse: collapse;
}
.ng-modal.csv_popup div.score_table {
	position: relative;

	display: inline-block;
	margin: 0 60px;

	background: #fffdf9;
	box-shadow: -1px 3px 6px #ddd;
}
.ng-modal.csv_popup #sample-notification {
	position: absolute;
	top: 104px;
	left: 0;
	z-index: 2;

	width: 100%;

	color: #999;
	font-family: Lato;
	font-size: 50pt;
	font-weight: 900;

	transform: rotate(-15deg);
	text-align: center;
	text-transform: uppercase;
}
.ng-modal.csv_popup div.download_wrapper {
	display: inline-block;
}
.ng-modal.csv_popup div.download_options {
	position: absolute;
	top: 0;

	display: inline-block;
	margin-left: 20px;
	padding-right: 20px;
	padding-left: 20px;
	width: 300px;
	height: 100%;

	background: #eee;

	vertical-align: top;
}
.ng-modal.csv_popup div.download_options h4 {
	margin: 0;
	padding: 22px 0 0 0;

	color: #555;
	font-size: 20px;

	text-align: left;
}
.ng-modal.csv_popup div.download_options ul,
.ng-modal.csv_popup div.download_options ul li {
	margin: 0;
	padding: 0;

	list-style: none;
}
.ng-modal.csv_popup div.download_options ul li span.grey {
	color: #898989;
}
.ng-modal.csv_popup div.download_options ul li {
	padding-bottom: 10px;
}
.ng-modal.csv_popup div.download_options ul li.checkallLi {
	margin-bottom: 10px;
	padding-bottom: 5px;

	color: #898989;
	font-size: 12px;

	border-bottom: 1px #d6d6d6 solid;

	vertical-align: top;
}
.ng-modal.csv_popup div.download_options p.export_which {
	margin-top: 22px;

	font-size: 16px;
	font-weight: bold;
}
.ng-modal.csv_popup div.download_options ul li input {
	display: inline-block;
	margin-right: 15px;
}

.ng-modal.csv_popup table tr td,
.ng-modal.csv_popup table tr th {
	padding: 5px;

	font-family: 'Courier New', monospace;
	font-size: 15px;

	border: #e5e4e2 solid 1px;
	border-bottom: none;

	text-align: left;
}
.ng-modal.csv_popup ul.options {
	position: absolute;
	top: 15px;
	right: 0;
}
.ng-modal.csv_popup ul.options li {
	list-style: none;
}
.ng-modal.csv_popup div.score_table img {
	position: absolute;
	top: -1px;
	right: -2px;
	z-index: 100;
}
.ng-modal.csv_popup div.score_table div.download-controls {
	position: relative;
	z-index: 1;

	margin: 0;
	margin-top: -20px;
	padding: 10px;

	background-image: linear-gradient(bottom, rgb(255,251,242) 90%, rgba(255,251,242,.5) 100%);

	text-align: center;
}
.ng-modal.csv_popup div.score_table p.download a {
	margin-top: 8px;
	margin-bottom: 0;
}
.ng-modal.csv_popup h4 {
	text-align: center;
}
.ng-modal.csv_popup h3 {
	margin: 0;
	margin-bottom: 20px;
	padding: 23px 0 20px 0;

	color: #555;
	font-size: 1.3em;

	border-bottom: #999 dotted 1px;
}
.ng-modal.csv_popup div.score_table p.download a.disabled,
.my-widgets .content .scores #export_scores_button.disabled {
	color: #545454;

	background: #aeaeae;
	background-image: linear-gradient(top, #e4e4e4, #b8b8b8);
	border-color: #747474;

	opacity: .5;
}
.ng-modal.csv_popup ul.options li a {
	display: inline-block;
	padding: 4px;
	width: 75px;

	font-size: .9em;

	background: #eee;

	text-align: center;
	text-decoration: underline;
}
.ng-modal.csv_popup p.download a.disabled:hover {
	background: #ffba5d;
	background-image: linear-gradient(top, #ffce8c, #ffa42a);

	cursor: default;
	text-decoration: none;
}
.ng-modal.csv_popup div.score_table p.download a span.arrow_down,
.my-widgets .content .scores a span.arrow_down {
	display: inline-block;
	margin: 0;
	margin-top: -5px;
	margin-right: 5px;
	width: 21px;
	height: 21px;

	background: url(../img/arrow_down.png) no-repeat center bottom;

	vertical-align: middle;
}
.arrow_down_button {
	padding: 7px 12px 8px 12px;
}
.ng-modal.csv_popup p.cancel {
	text-align: center;
}
.ng-modal.csv_popup p.cancel a {
	color: #bbb;
	font-size: .9em;

	text-decoration: underline;
}
.ng-modal.csv_popup select {
	margin-top: 10px;
	margin-bottom: -10px;
}
.ng-modal.csv_popup table tr td {
	width: 30%;
}

.ng-modal .ng-modal-overlay {
	opacity: .5;
}

.ng-modal .ng-modal-dialog {
	border: #f0f0f0 3px solid;
	border-radius: 3px;
	box-shadow: none!important;
}

.ng-modal .ng-modal-title {
	position: absolute;

	margin: 4px;

	font-family: Lato, arial, serif;
	font-size: 24px;
	font-weight: bold;

	border-bottom: none;

	text-align: center;
}

#twitchStop,
#wobbleStop {
	position: absolute;
	top: 5px;
	left: 300px;

	font-size: 1.5em;
	font-weight: bold;
}

.ui-datepicker {
	font-size: 12px !important;
}
.dataTable {
	display: block;
	width: 100%;
	overflow: auto;
}

.dataTables_wrapper {
	top: 15px;
}

.paginate_button {
	margin-right: 5px;

	cursor: pointer;
}

div.link {
	display: inline-block;
	margin: 0 10px;
	padding: 0 0 2px 0;

	color: #1778af;
	font-weight: bold;

	border-bottom: 1px #1778af solid;

	cursor: pointer;
}

.storage_table {
	margin-top: 5px;
}

.dataTables_length {
	margin-bottom: 5px;
}

.dataTables_filter label input {
	margin-left: 5px;
}

.storage_table td,
.storage_table th {
	padding: 6px;
}

.storage_table tr {
	text-align: left;
}

aside .widget {
	position: relative;
}

.content-container.fixed-width {
	width: 1000px;
}
