/* *************************************************************** */
/*        Catalog                                                  */
/* *************************************************************** */
@import "mixins";
@import "colors";

.my-widgets {
	.content {
		float: left;

		width: 75%;
		min-height: 800px;
	}
	.aside-content {
		width: 25%;
		padding-bottom: 0;

		.top {
			@include vertical-gradient-top-bottom(#83caf3);

			color: $white;
			border-bottom-color: #0276b9;
			h1 {
				text-shadow: 0 1px 0 rgba($black, 0.3);
			}
		}
		.courses {
			max-height: 700px;
			margin: 0 -15px;
		}
	}
}

.hide {
	display: none;
}

.highlighted {
	background-color: #ffd800;
}

.my-widgets {
	.directions {
		text-align: center;
		&.unchosen {
			min-height: 800px;

			background: $white url("../img/kogneato_mywidgets.png") 50% 50% no-repeat;
		}
		h1 {
			margin: 20px 0 5px 0;
			padding: 0;

			font-family: "Lato";
			font-size: 3em;
			font-weight: bold;
		}
		p {
			margin: 0;
			padding: 0;

			font-size: 1em;
			font-weight: 500;
		}
	}
}

.ie9 .aside-content .top {
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxNiUiIHN0b3AtY29sb3I9IiM4M2NhZjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI4OSUiIHN0b3AtY29sb3I9IiMzN2E5ZTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
}

.aside-content {
	.search {
		position: relative;

		margin-bottom: 10px;
		.search-close {
			position: absolute;
			top: 3px;
			right: 12px;

			font-size: 14px;

			cursor: pointer;

			color: rgb(221, 221, 221);
		}
		.textbox {
			box-sizing: border-box;
			width: 100%;
			padding: 5px 10px;

			border: 1px solid rgba($black, 0.3);
			border-radius: 20px;
			outline: none;
		}
	}
	.courses {
		overflow: auto;

		max-height: 700px;
		.widget-list {
			overflow: auto;
			overflow-x: hidden;
			.icon {
				display: inline-block;

				width: 60px;
				height: 60px;
				margin: 0;
				margin-right: 5px;
				padding: 0;

				background-repeat: no-repeat;
				background-size: 60px;
			}
		}
	}
	.widget-list h2 {
		margin: 0 0 0 1px;
		padding: 3px 7px;

		font-size: 0.7em;

		color: #2a2a2a;
		border-top: 1px #ccc solid;
		border-bottom: 1px #aaa solid;
		background-color: #d3d3d3;
	}
	.courses {
		border-top: 1px solid rgba(100, 100, 100, 0.2);
	}
	.widget-list {
		div {
			padding: 10px;
			> ul {
				display: inline-block;

				width: 130px;

				vertical-align: top;
			}
		}
		ul {
			margin: 0;
			padding: 0;
			li {
				overflow: hidden;

				margin: 0;
				padding: 0;

				list-style: none;
				&.title {
					overflow: visible;

					width: 100px;

					font-family: "Lato";
					font-size: 0.9em;
					font-weight: bold;
				}
				&.type, &.score {
					color: #444;
				}
				&.type {
					font-size: 0.7em;
					font-size: 11px;
				}
				&.score {
					margin-top: 10px;

					font-size: 12px;
				}
			}
		}
		.odd {
			background: $white;
		}
		.widget {
			cursor: pointer;
			user-select: none;

			&:hover {
				background-color: #ffe0a5;
			}
		}
		div.gameSelected {
			background: #ffcb68;
		}
	}
}

.content {
	.widget-name {
		font-size: 0.8em;
	}
	.overview {
		border: solid 1px #dadada;
		border-width: 1px;
		border-radius: 4px;
		background: #ededed;
		.icon-controls-container {
			@include clearfix;

			padding: 15px;
			.icon-container {
				float: left;

				box-sizing: border-box;
				width: 35%;
				height: auto;
				padding-right: 7.5px;

				text-align: center;

				img {
					max-width: 100%;
					height: auto;
				}
			}
			.controls {
				float: left;

				box-sizing: border-box;
				width: 65%;
				padding-left: 7.5px;
			}
		}
	}
	.scores {
		position: relative;
		h2 {
			margin-bottom: 0;
			padding-top: 2px;
			padding-bottom: 14px;
			padding-bottom: 13px;

			font-family: "Lato";

			border-bottom: #999 dotted 1px;
		}
		#export_scores_button {
			position: absolute;
			top: 13px;
			right: 2px;
		}
	}
	.noScores {
		display: none;

		font-family: "Lato", sans-serif;
	}
}

/* Controls Section */

.controls ul {
	padding: 0;

	text-align: center;
	li {
		display: inline-block;

		margin: 0 8px 8px;

		list-style: none;

		&.control-buttons {
			margin: 0 15px 15px;
		}
	}
	&.options {
		margin-top: -10px;
		padding: 0;
		padding-bottom: 5px;

		font-family: "Lato", sans-serif;
		font-size: 15px;

		text-align: center;
		li {
			@include respond-to(phone) {
				display: block;
			}
		}
		li a {
			font-weight: bold;

			color: #1778af;
			border-bottom: 1px #1778af solid;
		}
	}
}
.scores .scoreWrapper .storage {
	margin: 0 10px;
	padding: 0 0 2px 0;

	font-weight: bold;

	color: #1778af;
	border-bottom: 1px #1778af solid;
}
.controls ul.options li a:hover {
	cursor: pointer;
	text-decoration: none;

	color: $blue;
	border-bottom: 1px $blue solid;
}
.scores .scoreWrapper .storage {
	float: right;

	margin: 0;
	&:hover {
		cursor: pointer;
		text-decoration: none;

		color: $blue;
		border-bottom: 1px $blue solid;
	}
}
.controls {
	ul.options li .disabled {
		cursor: default;
		text-decoration: none;

		opacity: 0.5;
		color: #c5c5c5;
		border: none;
		background: none;
		&:hover {
			cursor: default;
			text-decoration: none;

			opacity: 0.5;
			color: #c5c5c5;
			border: none;
			background: none;
		}
	}
	div.delete_dialogue {
		position: relative;

		margin-bottom: 5px;
		padding: 20px 0;

		text-align: center;

		border: solid 1px #dbdbdb;
		background: $white;

		&:after, &:before {
			content: " ";

			position: absolute;
			bottom: 100%;
			left: 50%;

			width: 0;
			height: 0;

			pointer-events: none;

			border: solid transparent;
		}

		&:after {
			margin-left: 101px;

			border-width: 20px;
			border-color: rgba(255, 255, 255, 0);
			border-bottom-color: $white;
		}
		&:before {
			margin-left: 101px;

			border-width: 21px;
			border-color: rgba(219, 219, 219, 0);
			border-bottom-color: #dbdbdb;
		}
		.action-button {
			margin-top: 5px;
		}
		.red {
			color: $white;
			border-color: #747474;
			background: #ca0000;
			background-image: linear-gradient(top, #e10000, #ca0000);
			&:hover {
				text-decoration: none;

				background: #ca0000;
				background-image: linear-gradient(top, #ca0000, #e10000);
			}
		}
	}
	a.disabled {
		cursor: default;

		opacity: 0.5;
		color: #545454;
		border-color: #747474;
		background: #aeaeae;
		background-image: linear-gradient(top, #e4e4e4, #b8b8b8);
		&:hover {
			cursor: default;

			opacity: 0.5;
			color: #545454;
			border-color: #747474;
			background: #aeaeae;
			background-image: linear-gradient(top, #e4e4e4, #b8b8b8);
		}
	}
}
.scores .disabled {
	cursor: default;

	opacity: 0.5;
	color: #545454;
	border-color: #747474;
	background: #aeaeae;
	background-image: linear-gradient(top, #e4e4e4, #b8b8b8);
	&:hover {
		cursor: default;

		opacity: 0.5;
		color: #545454;
		border-color: #747474;
		background: #aeaeae;
		background-image: linear-gradient(top, #e4e4e4, #b8b8b8);
	}
}
.controls {
	div {
		&.delete_dialogue .gray:hover {
			text-decoration: none;

			background: #a2c129;
			background-image: linear-gradient(top, #b8b8b8, #e4e4e4);
		}
		&.additional_options {
			margin-top: 20px;

			border-top: #8e8e8e dotted 1px;
		}
	}
	span.pencil {
		display: inline-block;

		width: 21px;
		height: 21px;
		margin: 0;
		margin-top: -5px;
		margin-right: 5px;

		vertical-align: middle;

		background: url(../img/pencil.png) no-repeat center bottom;
	}
}

.aux_button {
	padding: 7px 12px 8px 12px;
}

.my-widgets .content {
	.controls {
		h3 {
			display: inline-block;

			margin: 10px 0 0 10px;

			font-size: 0.9em;

			text-transform: uppercase;

			color: #b7b7b7;
		}
		dl {
			margin: 10px 0 0 10px;

			font-size: 0.8em;
		}
	}
	.share-widget-container {
		position: relative;

		margin: 0;
		padding: 22px  20px 4px 20px;

		font-size: 10pt;

		border-top: 1px solid rgba(0, 0, 0, 0.3);
		background: rgba(0, 0, 0, 0.05) url(../img/widget_link_icon.png) no-repeat 20px 20px;

		.content-push {
			padding-left: 80px;
		}

		h3 {
			margin: 0;
			margin-bottom: 8px;

			font-size: 1.4em;
		}
		span {
			cursor: pointer;
			text-decoration: underline;

			color: #1778af;
			&:hover {
				color: $blue;
			}
		}
		textarea {
			width: calc(100% - 5px);
			height: 60px;
			margin: 0;
			margin-bottom: 6px;

			font-family: monospace;
			font-size: 0.9em;
		}
		input {
			box-sizing: border-box;
			width: 100%;
			max-width: 577px;
			height: 1.5em;
			margin: 4px 0 0;
			padding: 3px;

			font-size: 1.3em;

			cursor: text;
			&::-ms-clear {
				display: none;
			}
			&:disabled {
				cursor: default;
				       user-select: none;

				-khtml-user-select: none;
				    -o-user-select: none;
			}
		}
		&.draft {
			padding-bottom: 46px;

			cursor: default;
			user-select: none;

			opacity: 0.5;

			p {
				display: none;
			}
		}
	}
	.scores {
		overflow-x: hidden;
		overflow-y: auto;

		padding-bottom: 1em;
		.scoreWrapper {
			position: relative;

			display: inline-block;

			margin-top: 1em;
		}
		h3 {
			color: $black;
			&.view {
				display: inline-block;

				margin: 15px 0.5em 0 0;
				padding: 0;
			}
		}
		ul.choices {
			display: inline-block;

			height: 23px;
			margin: 15px 0 0 0;
			padding: 0;
			li {
				display: inline-block;

				list-style: none;
				a {
					padding: 6px 10px 4px 10px;
					padding-bottom: 6px;

					cursor: pointer;

					color: $black;
					border-top: solid #dbdbdb 1px;
					border-right: solid #dbdbdb 1px;
					border-left: solid #dbdbdb 1px;
					&:hover {
						text-decoration: none;
					}
				}
				&.scoreTypeSelected a {
					background: #f3f3f3;
				}
			}
		}
		.refresh-button {
			position: absolute;
			top: 108px;
			right: 120px;

			display: inline-block;

			width: 27px;
			height: 27px;

			text-indent: -9999px;

			background: url(../img/refresh_button.png);
			&:hover {
				opacity: 0.8;
			}
		}
		.show-older-scores-button {
			display: inline-block;

			width: 654px;
			margin-top: 1em;
			padding: 4px 10px 4px 10px;

			font-size: 10pt;
			font-weight: bold;

			text-align: center;
			text-decoration: underline;

			border: 1px solid #dbdbdb;
			border-radius: 2px;
			background: #f3f3f3;
			&:hover {
				opacity: 0.8;
			}
		}
		.display {
			&.graph {
				float: left;

				width: 550px;
				margin: 0;
				padding: 20px 0 0 20px;

				border: solid #dbdbdb 1px;
				background: #f3f3f3;
				.type {
					float: left;

					margin: 35px 0 0 0;
					padding: 0;
					li {
						margin: 0 0 10px 0;

						list-style: none;
						a {
							&#barGraph {
								display: inline-block;

								width: 52px;
								height: 52px;

								text-indent: -99999px;

								background: url(../img/bar_icon.png);
								&.graphSelected {
									background: url(../img/bar_icon_selected.png);
								}
							}
							&#pieChart {
								display: inline-block;

								width: 52px;
								height: 52px;

								text-indent: -99999px;

								background: url(../img/pie_chart.png);
								&.graphSelected {
									background: url(../img/pie_chart_selected.png);
								}
							}
						}
					}
				}
				.chart {
					float: left;

					width: 475px;
					height: 300px;
					margin: 0 10px 15px 10px;
				}
			}
			&.table, &.data {
				float: left;

				margin: 0;
				padding: 20px;

				border: solid #dbdbdb 1px;
				background: #f3f3f3;
			}
			&.table {
				width: 570px;
				min-height: 300px;
				padding: 0 0 25px 0;
			}
			&.data {
				width: 638px;

				font-family: "Lato", sans-serif;
			}
		}
	}
}

/*#my-widgets .content .share-widget-container.closed textarea {
			display: none;
		}*/

/*#my-widgets .content .share-widget-container.draft h3 {
			color: #C5C5C5;
		}*/

/*#my-widgets .content .scores ul.choices li:nth-child(3) a {
					display: none;
				}*/

.table_wrapper {
	overflow-x: scroll;

	width: 638px;
}

.my-widgets .content {
	.scores {
		.display.data table {
			margin-top: 20px;
		}
		.data {
			min-height: 393px;
		}
		.display.data {
			.null {
				color: #bbb;
			}
			.truncated-table {
				margin-top: 20px;
				padding: 10px;

				font-size: 9pt;

				text-align: center;

				border: 1px solid rgba(0, 0, 0, 0.2);
				border-radius: 4px;
				background: #fff389;
			}
			.table-label {
				margin-top: 0;
				margin-bottom: 1em;
				padding-bottom: 1em;

				border-bottom: 1px solid #bbb;
				h4 {
					display: inline;

					margin-right: 0.5em;
				}
				select {
					font-size: 14pt;
				}
			}
		}
		.table {
			h3 {
				margin-top: 10px;
				margin-left: 20px;

				font-family: "Lucida Grande", sans-serif;
				font-size: 1.0em;
				font-weight: normal;

				color: #666;
			}
			.score-search {
				width: 100%;
				padding: 6px 10px 10px 10px;

				background: rgba(0, 0, 0, 0.05);
				input[type="text"] {
					width: 190px;
					height: 19px;
					margin: 7px 10px 0 10px;
					padding-right: 10px;
					padding-left: 23px;

					border: solid 1px $light-gray;
					border-radius: 12px;
					outline: none;
					background: $white url("../img/magnifyingglass.png") 5px 50% no-repeat;
				}
			}
			.scoreListContainer {
				position: relative;
				z-index: 3;

				float: left;

				width: 40%;
				margin-left: 20px;

				border-radius: 3px;
				background: $white;
				box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
			}
			.scoreListScrollContainer {
				overflow: auto;

				width: 100%;
				max-height: 550px;
			}
			.scoreListContainer .scoreListTable {
				width: 100%;
			}
			.scoreTableContainer {
				position: relative;
				z-index: 1;
				right: 12px;

				float: left;

				width: 55%;
				margin-top: 15px;
				padding: 10px 0 10px 0;

				border-radius: 3px;
				background: $white;
				box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
				.scoreTable {
					width: 95%;
					margin-left: 10px;

					border-collapse: collapse;
					td {
						border: none;
						border-bottom: solid #dbdbdb 1px;
					}
					tr {
						cursor: pointer;
						&:hover {
							background: #ffe0a5;
						}
						&:last-child td {
							border-bottom: none;
						}
					}
					.elapsed {
						text-align: right;
					}
				}
			}
			thead tr {
				background: #cdcdcd;
			}
			td {
				height: 1.5em;
				padding: 6px 3px;
			}
			.scoreListContainer tbody tr:hover {
				cursor: pointer;

				background: #ffe0a5;
			}
			tbody tr.rowSelected {
				background: #ffcb68;
			}
			.scoreListTitle {
				width: 100%;
				/* height:1.5em; */
				p {
					height: 1.5em;
					margin: 0 0 2px 0;
				}
			}
			.scoreListContainer .scoreListHead {
				display: block;

				height: 1.5em;
				padding: 3px 0 0 5px;

				text-decoration: none;

				color: $black;
				background-color: #cdcdcd;
			}
			.scoreTableTitle {
				height: 1.5em;
			}
		}
		.numeric {
			float: left;

			width: 90px;
			margin: 0;
			padding: 0;
			li {
				margin: 0 0 10px 0;
				padding: 5px;

				list-style: none;

				text-align: center;

				background: #e9edef;
				p {
					margin: 0;
					padding: 0;

					font-family: "Kameron", Georgia, "Times New Roman", Times, serif;
					font-size: 2em;
					font-weight: 900;

					text-align: center;

					color: $blue;
				}
				h4 {
					margin: 0;
					padding: 0;
				}
			}
		}
	}
	.controls dl.attempts_parent {
		width: 90%;
		padding-top: 5px;

		font-family: "Lucida Grande", sans-serif;
		&.disabled {
			width: 90%;
			padding-top: 5px;

			font-family: "Lucida Grande", sans-serif;

			cursor: default;

			background: none;
		}
	}
}

.attempts_parent {
	&.disabled {
		dt {
			float: left;

			width: 33px;
			margin: 0 10px 0 0;

			font-weight: bold;

			color: #c5c5c5;
		}
		dd {
			margin: 0 0 10px 0;
			padding-left: 88px;

			color: #c5c5c5;
		}
	}
	dt {
		float: left;

		width: 33px;
		margin: 0 10px 0 0;

		font-weight: bold;
	}
	dd {
		margin: 0 0 10px 0;
		padding-left: 88px;

		cursor: pointer;
		&:hover {
			text-decoration: underline;

			color: $blue;
		}
		&.disabled {
			cursor: default;

			color: #c5c5c5;
			&:hover {
				text-decoration: none;

				color: #c5c5c5;
			}
		}
	}
}

.available_date, .available_time {
	font-weight: bold;
}

.clickToEdit {
	margin: 0;
	padding: 0;

	cursor: pointer;
	text-align: left;

	color: #1399e7;
}

#edit-availability-button {
	margin-left: 98px;

	font-family: "Lucida Grande", sans-serif;
	font-size: 10pt;
	font-weight: bold;

	text-decoration: underline;

	color: #1778af;
	&:hover {
		color: $blue;
	}
	&.disabled {
		text-decoration: none;

		color: #c5c5c5;
		background: none;
		&:hover {
			color: #c5c5c5;
		}
	}
}

/* *************************************************************** */
/*        Avalability Popup                                        */
/* *************************************************************** */

.ng-modal.availability {
	.ng-modal-dialog {
		min-width: 500px;
		padding: 20px 20px 5px 20px;
	}
	.ng-modal-title {
		position: relative;

		margin: 0;
		margin-bottom: 20px;
		padding: 0;
		padding-bottom: 20px;

		font-size: 1.3em;

		text-align: left;

		color: #555;
		border-bottom: #999 dotted 1px;
	}
	ul {
		&.inline {
			width: 255px;
			margin: 50px auto 20px auto;
			padding: 0;
			li {
				display: inline-block;

				margin: 0;
				padding: 0;

				list-style: none;
			}
		}
		&.attemptsPopup {
			margin: 4px 0 10px 0;
			padding: 0 0 0 10px;
			li {
				list-style: none;
			}
		}
		&.toFrom {
			margin: 0;
			padding: 0;
		}
	}
	.availabilityError {
		position: absolute;
		top: 8px;
		right: 40px;

		font-weight: bold;

		color: #f00;
	}
	ul {
		&.toFrom {
			> li {
				margin: 20px 0 0 0;
				padding: 0;

				list-style: none;
			}
			li span.text-right {
				display: inline-block;

				width: 50px;
				margin-right: 10px;

				font-weight: bold;

				text-align: right;
			}
		}
		li.save a {
			display: inline-block;

			margin: 0 10px;
			padding: 5px;

			text-decoration: none;

			color: $white;
			border-radius: 5px;
			background: $blue;
		}
	}
	h3 {
		display: inline-block;

		width: 100px;
		margin: 0;
		margin-right: 30px;

		text-align: right;
		vertical-align: top;
	}
	.datePicker {
		display: inline-block;

		margin-left: -12px;
		padding: 0;
		input {
			&[type=text] {
				padding: 7px;

				font-size: 0.8em;

				border: 1px solid rgba(0, 0, 0, 0.2);
				border-radius: 7px;
				&:focus {
					outline: none;
					box-shadow: 0 0 1px 1px #0094e2;
				}
			}
			&[type=radio] {
				height: 15px;
			}
		}
	}
	.attemptHolder li.selected {
		color: $black !important;
	}
	.selector {
		display: inline-block;

		width: 400px;
		margin: 20px 0 0 0;
	}
	.attemptHolder {
		margin: 0 0 0 129px;
		padding: 0;

		cursor: default;
		       user-select: none;

		-khtml-user-select: none;
		    -o-user-select: none;
		li {
			display: inline-block;
		}
	}
	.data_explination {
		width: 450px;
		margin-left: 125px;

		font-size: 14px;
	}
	.ui-slider-handle.ui-state-default.ui-corner-all {
		margin-top: -3px;

		border: #4380ad 1px solid;
		outline: none;
		background: #519bd1;
	}
	.date.error, .time.error {
		border: 2px solid rgba(255, 0, 0, 0.2);
		background: rgba(255, 0, 0, 0.2);

		font-color: $black;
	}
	.am, .pm {
		margin: 0;
		padding: 5px;

		font-size: 0.8em;
		font-weight: bold;

		cursor: pointer;
		user-select: none;
		text-transform: uppercase;

		color: rgba(0, 0, 0, 0.2);
		border: 1px solid rgba(0, 0, 0, 0.2);
	}
	.ui-slider-handle {
		width: 16px;
		height: 16px;

		border-radius: 100%;
	}
	.ui-slider {
		height: 1px;
		margin-top: -6px;
		padding-top: 1px;

		vertical-align: middle;
	}
	.am.selected, .pm.selected {
		color: $white;
		background: #0094e2;
	}
	.am {
		border-right: none;
		border-radius: 4px 0 0 4px;
	}
	.pm {
		border-radius: 0 4px 4px 0;
	}
	.attemptHolder li {
		margin-right: 0.23em;

		font-family: "Lato";
		font-size: 15px;

		color: rgba(0, 0, 0, 0.3);
		&:hover {
			color: black;
		}
		&.step {
			margin-right: 62px;
		}
	}
	.step {
		&.first {
			margin-left: 4em;
		}
		&.last {
			margin-left: -23px;
		}
	}
}

​ .ng-modal.availability ul li ul.hide {
	display: none;
}

/* date picker overrides */

.hasDatePicker {
	z-index: 1500 !important;

	margin-top: 3px;

	font-size: 75% !important;
}

/* *************************************************************** */
/*        Sharing Popup                                            */
/* *************************************************************** */
.ng-modal {
	&.share {
		.cancel_button {
			position: absolute;
			bottom: 35px;
			left: 200px;

			margin: 10px 15px;

			cursor: pointer;
			text-decoration: underline;

			color: #555;
			&.close_only {
				left: 250px;
			}
		}
		.action-button.save_button {
			position: absolute;
			bottom: 35px;
			left: 285px;
		}
		.toggle_transfer {
			position: absolute;
			bottom: 20px;
			left: 20px;

			padding: 5px 10px;

			font-size: 12px;
		}
		.cancel_button .share_button {
			margin-top: 10px;
		}
	}
	.green {
		color: $green;
		border-color: #95a74e;
		background: #b2cd43;
		background-image: linear-gradient(top, #d1e776, #a6c430);
		&:hover {
			text-decoration: none;

			background: #a2c129;
			background-image: linear-gradient(top, #a6c430, #d1e776);
		}
	}
	.gray {
		color: #545454;
		border-color: #747474;
		background: #aeaeae;
		background-image: linear-gradient(top, #e4e4e4, #b8b8b8);
		&:hover {
			text-decoration: none;

			background: #a2c129;
			background-image: linear-gradient(top, #b8b8b8, #e4e4e4);
		}
	}
	&.share {
		text-align: center;
		#adding {
			position: absolute;
			top: 0;

			border: none;
			background: transparent;
			background-color: #f0f0f0;
		}
		.container {
			top: 50px;
			left: 0;

			width: 580px;
			height: 390px;
			padding-top: 15px;
		}
		.ng-modal-title {
			top: 15px;
			left: 27px;
		}
		a {
			&.close {
				position: absolute;
				top: 4px;
				right: 5px;

				display: block;

				width: 19px;
				height: 19px;
				margin: 4px;

				text-indent: -10000px;

				background: url("../img/close.png") no-repeat;
			}
			&.remove {
				position: absolute;
				top: 30px;
				left: 5px;

				display: inline-block;

				font-size: 15px;

				text-decoration: none;

				color: #bfbfbf;
			}
		}
		.name {
			float: left;

			width: 160px;
			margin-top: 8px;

			font-size: 15px;
			font-weight: bold;

			text-align: left;
			span {
				display: block;

				font-weight: normal;

				text-align: left;
			}
		}
		.input_label {
			position: absolute;
			top: 80px;
			left: 30px;

			margin: 0 25px 0 0;

			font-size: 16px;
		}
		#adding .input_label {
			top: 20px;
			left: 20px;
		}
		#access {
			input.user_add, .placeholder {
				position: absolute;
				z-index: 2;
				top: 70px;
				right: 30px;

				width: 445px;
				height: 30px;
				padding-left: 10px;

				font-size: 16px;

				border: solid 1px #c9c9c9;
			}
		}
		#adding {
			#input_holder {
				position: absolute;
				z-index: 2;
				top: 20px;
				right: 0;
				right: 20px;

				width: 445px;
				height: 30px;
				padding-left: 10px;

				font-size: 16px;

				text-align: left;

				border: solid 1px #c9c9c9;
				background: $white;
			}
			#input_area {
				display: inline-block;

				min-width: 15px;
				min-height: 30px;
				padding-top: 5px;

				font-family: "Lucida Grande", sans-serif;
				font-size: 16px;

				outline: none;
				input.user_add {
					display: inline-block;

					width: 460px;
					height: 30px;
					margin: 0;
					padding: 0;

					border: none;
					&::-webkit-input-placeholder, &:-moz-placeholder, &:-ms-input-placeholder {
						color: #343434;
					}
				}
			}
			#expArea {
				display: block;
				#expSet {
					display: none;

					margin: 0;
					padding: 0;
				}
			}
		}
		.expElement {
			margin: 0 5px;
			padding: 0;
		}
		.changeRoleExpiration {
			display: none;
		}
		#adding #expArea {
			.exp_disclaimer {
				margin: 10px 0;
				padding: 0;
			}
			#roleExpiration {
				width: 100px;
			}
		}
		.share_user_to_add {
			display: inline-block;

			height: 30px;
			margin: 3px;
			padding: 3px;

			font-size: 14px;

			border: 1px solid #aeaeae;
			border-radius: 3px;
			background-color: #fbfbfb;
		}
	}
}

.share_user_to_add_name {
	margin: 0;
	padding: 0;

	vertical-align: middle;
}

.ng-modal.share {
	.search-list {
		position: absolute;
		z-index: 3;
		top: 103px;
		left: 152px;

		overflow: auto;

		width: 456px;
		height: 340px;
		min-height: 130px;
		padding-bottom: 5px;

		text-align: left;

		border: #bfbfbf 1px solid;
		background-color: $white;
	}
	.no_match_message {
		width: 60%;
		margin: 10px auto;

		text-align: center;
	}
	.no_match_reason {
		width: 60%;
		margin: 10px auto;

		font-size: 14px;

		text-align: center;

		color: #a0a0a0;
	}
	.search_match {
		display: inline-block;

		width: 200px;
		height: 56px;
		margin: 5px 5px 0 5px;
		padding: 0 5px 5px 0;

		border-radius: 3px;
		background-color: $white;
		&:hover {
			cursor: pointer;

			background-color: #c5e7fa;
		}
		&.focused {
			background-color: #7fc9f3;
		}
	}
	.access_list {
		position: absolute;
		top: 130px;
		left: 30px;

		overflow: auto;

		width: 520px;
		height: 250px;
		padding: 0 30px;

		text-align: right;

		-moz-border-radius: 5px;
		     border-radius: 5px;
		background-color: #f2f2f2;
		&.no-add-access {
			height: 320px;
			margin-top: 0;

			background-color: #f2f2f2;
		}
	}
	.access_heading {
		margin: 5px 125px 0 0;
		padding: 0;
	}
	.user_match_avatar {
		float: left;

		margin: 5px;
	}
	.user_match_name {
		width: 140px;
		height: 40px;

		font-family: "Lucida Grande", sans-serif;
		font-size: 14px;

		text-align: left;
	}
	.disclaimer {
		position: absolute;
		bottom: 60px;

		padding: 20px;

		font-size: 14px;

		color: #575757;
	}
	.user_perm {
		position: relative;

		display: block;

		width: 420px;
		min-height: 64px;
		margin: 5px 0;
		margin: 0;
		margin-right: auto;
		margin-left: auto;
		padding: 15px 0 0 0;

		vertical-align: middle;

		border-bottom: #e1e1e1 1px solid;
		&:last-child {
			border: none;
		}
		.options {
			position: absolute;
			right: 5px;

			float: left;

			width: 145px;
			margin-top: 6px;

			text-align: left;
			select {
				display: block;
			}
		}
	}
	.avatar {
		display: inline-block;

		vertical-align: middle;
	}
}

.user_perm_name, .user-perm .options, .user_perm_select, .user_match_avatar, .user_match_name {
	display: inline-block;

	vertical-align: middle;
}

.ng-modal.share .avatar {
	display: inline-block;
	float: left;

	width: 50px;
	height: 50px;
	margin-right: 10px;
	margin-left: 40px;

	-moz-border-radius: 3px;
	     border-radius: 3px;
}

.user_match_avatar {
	display: inline-block;
	float: left;

	width: 50px;
	height: 50px;
	margin-right: 10px;

	-moz-border-radius: 3px;
	     border-radius: 3px;
}

.ng-modal.share {
	.user_perm_name {
		width: 187px;
		margin: 0;
		padding: 0 0 0 18px;

		font-size: 15px;
		font-weight: bold;

		text-align: left;
		span {
			display: block;

			font-weight: normal;
		}
	}
	.user_perm_select {
		width: 150px;
		height: 20px;
		margin-right: 33px;

		text-align: left;
	}
	#adding {
		.options {
			float: right;

			width: 450px;
			margin: 10px 25px 0 0;
		}
		.user_perm_select {
			margin-left: 8px;
		}
	}
	hr {
		width: 100%;
		margin: 10px 0;

		border: 1px dotted;
	}
	.user_perm_check {
		float: left;

		margin-bottom: 10px;
	}
	.user_perm_message {
		display: block;

		width: 426px;

		text-align: left;
	}
	#adding textarea {
		resize: none;
	}
	.options {
		text-align: right;
	}
	.owner {
		display: none;

		width: 145px;

		text-align: left;
		a {
			display: block;

			font-size: 13px;
		}
	}
	.transfer {
		display: none;
	}
	a.cancel-transfer {
		display: inline !important;
	}
	.transfer {
		.do-transfer {
			display: none;
		}
		span {
			display: none;

			font-size: 14px;
		}
	}
	.owner .transfer-owner {
		display: none;
	}
	.undo {
		display: none;

		width: 145px;

		text-align: left;
	}
	.deleted {
		.avatar {
			opacity: 0.5;
		}
		.name {
			color: #5f5f5f;
		}
	}
	.user_perm {
		.exp_change_view {
			position: absolute;
			top: 0;
			top: -15px;
			right: 0;

			display: none;

			width: 225px;
			height: 64px;
			padding-left: 16px;

			font-size: 12px;

			text-align: right;

			border-radius: 1px;
			background: #f2f2f2;
			background: white;
			box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
			.access_expires {
				padding-top: 6px;

				font-family: "Lato";
				font-size: 13px;
				line-height: 0;

				text-align: left;
			}
		}
		label {
			margin-right: 10px;
		}
	}
	.exp_change_view {
		.exp_button {
			position: absolute;
			top: 10px;
			right: 10px;

			font-family: Lato, arial, serif;
		}
		.gray_min {
			color: #545454;
			background: #aeaeae;
			&:hover {
				background: #919191;
			}
		}
		.green_min {
			color: $green;
			background: #b2cd43;
			&:hover {
				background: #a2c129;
			}
		}
		input[type="text"] {
			position: absolute;
			left: 145px;

			display: none;

			width: 75px;
		}
	}
	.demote_dialogue {
		position: absolute;
		z-index: 10000;

		width: 310px;
		height: 40px;
		margin-left: 90px;
		padding: 1em;

		font-family: "Lucida Grande", sans-serif;
		font-size: 9pt;

		text-align: center;

		color: black;
		border-radius: 4px;
		background: #fcdbdb;
		box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
		.arrow {
			position: absolute;
			top: 0;
			left: -13px;

			display: inline-block;

			width: 13px;
			height: 23px;
			height: 100%;

			background: url("../img/pink-arrow-left.png") no-repeat 0 center;
		}
		.warning {
			display: block;

			margin: -4px 0 6px 0;

			text-align: center;
		}
		.button {
			margin: 0 10px 0 10px;

			text-align: center;
		}
		.red {
			padding: 5px 12px;

			font-size: 11pt;

			color: white;
		}
		.no_button {
			font-family: Lato, arial, serif;
			font-size: 12pt;

			text-decoration: underline;

			color: #555;
		}
		.delete-warning {
			display: block;

			width: 100px;
		}
	}
}

.toggle_transfer {
	cursor: pointer;
	text-decoration: underline;

	color: #969696;
}

.transfer_button {
	display: inline-block;

	margin-right: 20px;
	padding: 5px 10px;

	font-family: Lato, arial, serif;
	font-size: 12px;
	font-weight: 700;

	cursor: pointer;
	vertical-align: middle;

	color: $brown;
	border: #fdb34f 1px solid;
	border-radius: 6px;
	background: #ffba5d;
	background-image: linear-gradient(top, #ffce8c, #ffa42a);
	box-shadow: 1px 2px 4px $medium-gray;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
}

.is_draft ul li.score {
	width: 45px;
	height: 15px;

	font-family: Lato, arial, serif;
	font-size: 12px;
	font-weight: 900;

	text-align: center;

	color: $white !important;
	border-radius: 3px;
	background: $purple;
}

.qtip-wrapper {
	border-radius: 5px;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}

.qtip-content {
	font-weight: 900;
}

.qtip.nowidgets {
	top: 110px;
	left: 74px;
}

/* *************************************************************** */
/*        Copying Popup                                            */
/* *************************************************************** */

.ng-modal.copy {
	text-align: center;
	.adding_shadow {
		position: absolute;
		z-index: 1;
		top: -65px;
		left: -20px;

		width: 640px;
		height: 480px;

		opacity: 0;
		border-radius: 3px;
		background-color: $black;

		filter: alpha(opacity = 0);
	}
	.container {
		position: absolute;
		top: 60px;
		left: 20px;

		width: 600px;
		padding-top: 15px;
	}
	.ng-modal-title {
		top: 3px;
		left: 12px;
	}
	a.close {
		position: absolute;
		top: 4px;
		right: 5px;

		display: block;

		width: 19px;
		height: 19px;
		margin: 4px;

		text-indent: -10000px;

		background: url("../img/close.png") no-repeat;
	}
	.input_label {
		margin: 0 25px 0 0;

		font-size: 16px;
	}
	input.newtitle {
		position: relative;
		z-index: 2;

		width: 450px;
		height: 30px;
		padding-left: 10px;

		border: solid 1px $light-gray;
	}
	.copy_button {
		margin-top: 20px;
	}
	.copy_error {
		display: none;

		margin-top: 5px;

		color: #e00;
	}
}

.share {
	.perm-text {
		display: inline-block;

		width: 100%;
	}
	.exp-date {
		width: 85px;
		padding: 0;

		font-size: 8pt;

		cursor: pointer;
		text-decoration: underline;

		color: #545454;
		border: none;
		background: transparent;
		&:hover {
			color: #969696;
		}
		&:disabled {
			cursor: default;
			text-decoration: none;

			color: #c5c5c5;
		}
		&:focus {
			border: solid 1px #f7b64a;
			outline: none;
			background: $white;
		}
	}
	.expires {
		font-size: 8pt;
	}
	.remove-expiration {
		font-size: 8pt;

		cursor: pointer;
	}
}

/* *************************************************************** */
/*        Edit Published Widget Popup                               */
/* *************************************************************** */

.edit-published-widget {
	width: 530px;
	height: 320px;

	border: #f0f0f0 3px solid;
	border-radius: 3px;
	.container {
		width: 450px;
		height: 300px;
		padding-top: 40px;
		padding-left: 70px;

		font-family: "Lato";
	}
	h2 {
		position: absolute;
		top: 3px;
		left: 12px;

		margin: 4px;

		font-family: Lato, arial, serif;
		font-size: 24px;
		font-weight: bold;

		text-align: center;
	}
	a.close {
		position: absolute;
		top: 4px;
		right: 5px;

		display: block;

		width: 19px;
		height: 19px;
		margin: 4px;

		text-indent: -10000px;

		background: url("../img/close.png") no-repeat;
	}
	span.center {
		display: block;

		text-align: center;
	}
	.action-button {
		margin-top: 20px;
	}
}

/* *************************************************************** */
/*        Deletion Popup                                           */
/* *************************************************************** */
/*
		.popup.copy .close_button
		{
			position: absolute;
			bottom: 20px;
			left: 250px;
		}
		*/

.popup.delete {
	width: 620px;
	height: 220px;

	text-align: center;

	border: #f0f0f0 3px solid;
	border-radius: 3px;
	.adding_shadow {
		position: absolute;
		z-index: 1;
		top: -65px;
		left: -20px;

		width: 640px;
		height: 480px;

		opacity: 0;
		-moz-border-radius: 3px;
		     border-radius: 3px;
		background-color: $black;

		filter: alpha(opacity = 0);
	}
	.container {
		position: absolute;
		top: 40px;
		left: 20px;

		width: 600px;
		height: 390px;
		padding-top: 15px;
	}
	h2 {
		position: absolute;
		top: 3px;
		left: 12px;

		margin: 4px;

		font-family: Lato, arial, serif;
		font-size: 24px;
		font-weight: bold;

		text-align: center;
	}
	a.close {
		position: absolute;
		top: 4px;
		right: 5px;

		display: block;

		width: 19px;
		height: 19px;
		margin: 4px;

		text-indent: -10000px;

		background: url("../img/close.png") no-repeat;
	}
	.delete-warning {
		display: block;

		margin: 5px 0 5px 0;

		font-weight: bold;
	}
}

.ng-modal .red {
	color: #545454;
	border-color: #747474;
	background: #ca0000;
	background-image: linear-gradient(top, #e10000, #ca0000);
	&:hover {
		text-decoration: none;

		background: #ca0000;
		background-image: linear-gradient(top, #ca0000, #e10000);
	}
}

/* * * * * * * * * * * * * * * * * *
 * CSV POPUP PAGE
 * * * * * * * * * * * * * * * * * */

.ng-modal.csv_popup .ng-modal-dialog {
	border: none;
	border-radius: 0!important;
}

.ng-modal.csv_popup table {
	position: relative;
	z-index: 0;

	width: 450px;

	border-collapse: collapse;
}
.ng-modal.csv_popup div.score_table {
	position: relative;

	display: inline-block;

	margin: 0 60px;

	background: #fffdf9;
	box-shadow: -1px 3px 6px #ddd;
}
.ng-modal.csv_popup #sample-notification {
	position: absolute;
	z-index: 2;
	top: 104px;
	left: 0;

	width: 100%;

	font-family: Lato;
	font-size: 50pt;
	font-weight: 900;

	transform: rotate(-15deg);
	text-align: center;
	text-transform: uppercase;

	color: #999;
}
.ng-modal.csv_popup div.download_wrapper {
	display: inline-block;
}
.ng-modal.csv_popup div.download_options {
	position: absolute;
	top: 0;

	display: inline-block;

	width: 300px;
	height: 100%;
	margin-left: 20px;
	padding-right: 20px;
	padding-left: 20px;

	vertical-align: top;

	background: #eee;
}
.ng-modal.csv_popup div.download_options h4 {
	margin: 0;
	padding: 22px 0 0 0;

	font-size: 20px;

	text-align: left;

	color: #555;
}
.ng-modal.csv_popup div.download_options ul, .ng-modal.csv_popup div.download_options ul li {
	margin: 0;
	padding: 0;

	list-style: none;
}
.ng-modal.csv_popup div.download_options ul li span.grey {
	color: #898989;
}
.ng-modal.csv_popup div.download_options ul li {
	padding-bottom: 10px;
}
.ng-modal.csv_popup div.download_options ul li.checkallLi {
	margin-bottom: 10px;
	padding-bottom: 5px;

	font-size: 12px;

	vertical-align: top;

	color: #898989;
	border-bottom: 1px #d6d6d6 solid;
}
.ng-modal.csv_popup div.download_options p.export_which {
	margin-top: 22px;

	font-family: "Lato";
	font-size: 16px;
	font-weight: bold;
}
.ng-modal.csv_popup div.download_options ul li input {
	display: inline-block;

	margin-right: 15px;
}

.ng-modal.csv_popup table tr td, .ng-modal.csv_popup table tr th {
	padding: 5px;

	font-family: "Courier New", monospace;
	font-size: 15px;

	text-align: left;

	border: #e5e4e2 solid 1px;
	border-bottom: none;
}
.ng-modal.csv_popup ul.options {
	position: absolute;
	top: 15px;
	right: 0;
}
.ng-modal.csv_popup ul.options li {
	list-style: none;
}
.ng-modal.csv_popup div.score_table img {
	position: absolute;
	z-index: 100;
	top: -1px;
	right: -2px;
}
.ng-modal.csv_popup div.score_table div.download-controls {
	position: relative;
	z-index: 1;

	margin: 0;
	margin-top: -20px;
	padding: 10px;

	text-align: center;

	background-image: linear-gradient(bottom, rgb(255,251,242) 90%, rgba(255,251,242,0.5) 100%);
}
.ng-modal.csv_popup div.score_table p.download a {
	margin-top: 8px;
	margin-bottom: 0;
}
.ng-modal.csv_popup h4 {
	font-family: "Lato";

	text-align: center;
}
.ng-modal.csv_popup h3 {
	margin: 0;
	margin-bottom: 20px;
	padding: 23px 0 20px 0;

	font-size: 1.3em;

	color: #555;
	border-bottom: #999 dotted 1px;
}
.ng-modal.csv_popup div.score_table p.download a.disabled, .my-widgets .content .scores #export_scores_button.disabled {
	opacity: 0.5;
	color: #545454;
	border-color: #747474;
	background: #aeaeae;
	background-image: linear-gradient(top, #e4e4e4, #b8b8b8);
}
.ng-modal.csv_popup ul.options li a {
	display: inline-block;

	width: 85px;
	padding: 4px;

	font-family: "Lato";
	font-size: 0.9em;

	text-align: center;
	text-decoration: underline;

	background: #eee;
}
.ng-modal.csv_popup p.download a.disabled:hover {
	cursor: default;
	text-decoration: none;

	background: #ffba5d;
	background-image: linear-gradient(top, #ffce8c, #ffa42a);
}
.ng-modal.csv_popup div.score_table p.download a span.arrow_down, .my-widgets .content .scores a span.arrow_down {
	display: inline-block;

	width: 21px;
	height: 21px;
	margin: 0;
	margin-top: -5px;
	margin-right: 5px;

	vertical-align: middle;

	background: url(../img/arrow_down.png) no-repeat center bottom;
}
.arrow_down_button {
	padding: 7px 12px 8px 12px;
}
.ng-modal.csv_popup p.cancel {
	text-align: center;
}
.ng-modal.csv_popup p.cancel a {
	font-size: 0.9em;

	text-decoration: underline;

	color: #bbb;
}
.ng-modal.csv_popup select {
	margin-top: 10px;
	margin-bottom: -10px;
}
.ng-modal.csv_popup table tr td {
	width: 30%;
}

.ng-modal .ng-modal-overlay {
	opacity: 0.5;
}

.ng-modal .ng-modal-dialog {
	border: #f0f0f0 3px solid;
	border-radius: 3px;
	box-shadow: none!important;
}

.ng-modal .ng-modal-title {
	position: absolute;

	margin: 4px;

	font-family: Lato, arial, serif;
	font-size: 24px;
	font-weight: bold;

	text-align: center;

	border-bottom: none;
}

#twitchStop, #wobbleStop {
	position: absolute;
	top: 5px;
	left: 300px;

	font-size: 1.5em;
	font-weight: bold;
}

.ui-datepicker {
	font-size: 12px !important;
}
.dataTable {
	display: block;
	overflow: auto;

	width: 100%;
}

.dataTables_wrapper {
	top: 15px;
}

.paginate_button {
	margin-right: 5px;

	cursor: pointer;
}

div.link {
	display: inline-block;

	margin: 0 10px;
	padding: 0 0 2px 0;

	font-weight: bold;

	cursor: pointer;

	color: #1778af;
	border-bottom: 1px #1778af solid;
}

.storage_table {
	margin-top: 5px;
}

.dataTables_length {
	margin-bottom: 5px;
}

.dataTables_filter label input {
	margin-left: 5px;
}

.storage_table td, .storage_table th {
	padding: 6px;
}

.storage_table tr {
	text-align: left;
}

aside .widget {
	position: relative;
}

.content-container.fixed-width {
	width: 1000px;
	max-width: 1000px;
}

.ng-modal {
	width: 100vw !important;
	height: 100vh !important;
}
