body.scores {
	.container {
		margin: 0 auto;
		margin-top: 55px;
		width: 800px;

		background-color: #929aa4;
		background-image:     -ms-linear-gradient(top, #929aa4 0%, #72808f 20%);
		/* IE10 */
		background-image:    -moz-linear-gradient(top, #929aa4 0%, #72808f 20%);
		/* Mozilla Firefox */
		background-image:      -o-linear-gradient(top, #929aa4 0%, #72808f 20%);
		/* Opera */
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #929aa4), color-stop(.2, #72808f));
		/* Webkit (Safari/Chrome 10) */
		background-image: -webkit-linear-gradient(top, #929aa4 0%, #72808f 20%);
		/* Webkit (Chrome 11+) */
		background-image:         linear-gradient(top, #929aa4 0%, #72808f 20%);
		/* Proposed W3C Markup */
		box-shadow: 0 0 34px 1px #999;

		opacity: 0;
		transition: all .5s ease;
		text-align: center;
	}
	.overview {
		margin: 0 auto;
		width: 550px;
		overflow: auto;

		background-color: #bcc6cc;
		border-radius: 0 0 6px 6px;
		box-shadow: 0 3px 5px 0 #333;
		#overview-score {
			display: inline-block;
			float: left;
			padding: 0;
			padding-top: 5px;
			width: 200px;

			text-align: center;
			h1 {
				margin: 0;
				margin-bottom: 10px;

				color: #252525;
				font-size: 14px;

				text-transform: uppercase;
				span.attempt-num {
					font-size: 23px;
				}
			}
			.overall_score {
				display: inline-block;
				margin: 0;
				padding: 10px;

				color: #3b5572;
				font-size: 64px;

				background: #d1d8dc;
				border-radius: 6px;
			}
			span.percent {
				position: relative;
				bottom: 12px;

				display: inline-block;

				font-size: 30px;
			}
		}
		#overview-table {
			float: right;
			margin-right: 5px;
			margin-bottom: 5px;
			padding-top: 5px;
			width: 330px;
			min-height: 180px;

			background: #cdd7df;
			border-bottom-right-radius: 5px;

			-khtml-border-right-radius: 5px;
			-webkit-border-right-radius: 5px;
			   -moz-border-right-radius: 5px;
			table {
				margin: 0 auto;
				width: 80%;
				height: 100%;

				color: #555;
				font-size: 14px;
				tr {
					td {
						padding: 5px;
					}
					&:last-child td {
						color: black;
						color: #222;

						border-top: 1px solid #aaa;
					}
				}
				td:last-child {
					font-weight: bold;
				}
				.negative {
					color: #b24a2d;
				}
				.positive {
					color: green;
				}
				.number {
					text-align: right;
				}
			}
		}
	}
	article {
		header {
			position: relative;
			z-index: 8;

			margin: 0;
			padding: 0;
			height: 50px;

			background: #454545;
			border-bottom: 4px #ccc solid;
			box-shadow: 0 1px 3px 0 #777;
		}
		&.container header > h1 {
			font-size: 24px;
		}
		header {
			&.preview {
				border-top: 4px #b944cc solid;
				&:before {
					content: 'Previewing';

					position: absolute;
					top: -40px;
					left: 0;

					padding: 8px 0 12px 0;
					width: 160px;
					height: 20px;

					color: #fff;
					font-family: 'Lato', 'Arial', sans-serif;
					font-size: 20px;
					font-weight: 900;

					background: #b944cc;
					-webkit-border-radius: 5px 5px 0 0;
					   -moz-border-radius: 5px 5px 0 0;
					        border-radius: 5px 5px 0 0;

					text-align: center;
					vertical-align: middle;

					-khtml-border-radius: 5px 5px 0 0;
				}
				&:after {
					content: 'Scores and interactions will not be recorded while previewing.';

					position: absolute;
					top: -30px;
					right: 0;

					font-family: 'Lato', 'Arial', sans-serif;
					font-size: 14px;
					font-weight: 300;
				}
			}
			nav.previous-attempts {
				position: absolute;
				top: 0;
				left: 0;

				margin: 0;

				cursor: default;
				-webkit-user-select: none;
				   -moz-user-select: none;
				    -ms-user-select: none;
				        user-select: none;
				text-align: left;

				-khtml-user-select: none;
				     -o-user-select: none;
				h1 {
					display: inline-block;
					margin: 10px 0 0 10px;
					padding: 7px;

					color: #fff;
					font-size: 12px;

					background: #222;
					-webkit-border-radius: 15px;
					   -moz-border-radius: 15px;
					        border-radius: 15px;

					-khtml-border-radius: 15px;
				}
				&.open {
					h1 {
						/*body.scores .previous-attempts h1 {*/
						color: #222;

						background: #fff;
					}
					ul {
						/*body.scores .previous-attempts ul {*/
						display: block !important;
						margin-top: 10px;
					}
				}
				ul {
					position: relative;
					z-index: 10;

					display: none;
					margin: 0;
					margin-left: 6px;

					background: #fff;
					-webkit-border-radius: 15px;
					   -moz-border-radius: 15px;
					        border-radius: 15px;
					box-shadow: 5px 5px 15px 1px #666;

					-khtml-border-radius: 15px;
					.date {
						display: block;

						color: #005391;
						font-size: 13px;
						font-weight: normal;
					}
					.score {
						padding-left: 10px;

						color: #333;
						font-size: 20px;
						font-weight: bold;
					}
					li {
						display: block;
						padding: 5px 15px;

						list-style: none;
						&:hover {
							background-color: #ddd;
							-webkit-border-radius: 15px;
							   -moz-border-radius: 15px;
							        border-radius: 15px;

							-khtml-border-radius: 15px;
						}
						a:hover {
							text-decoration: none;
						}
					}
				}
			}
			> h1 {
				margin: 0;
				padding-top: 8px;

				color: #fff;
			}
		}
	}
	.details {
		position: relative;

		padding-bottom: 2em;
	}
	.special_details {
		position: relative;

		padding-bottom: 40px;
	}
	article header nav.play-again {
		position: absolute;
		top: 0;
		right: 0;

		margin: 0;
		padding: 0;
		h1 {
			margin: 0;
			padding: 0;
			#play-again {
				margin: 5px 10px;
			}
		}
	}
	.details {
		h1 {
			margin: 23px 0;

			color: #fff;
			font-size: 17px;
			font-weight: bold;

			text-transform: uppercase;
		}
		ul {
			display: table;
			margin: 0 auto;
			/*padding:1px;*/
			padding: 0;
			width: 90%;

			border-collapse: collapse;
			list-style-type: none;
			/*background:#c3c5c8;*/
			li {
				display: table-row;

				background: #e3e5e8;
				div,
				h3 {
					display: table-cell;
					padding: 18px 15px;

					background: #e3e5e8;
					border-right: solid 1px #c3c5c8;
					border-bottom: 10px solid #72808f;
				}
				&:last-child div {
					border-bottom: 0;
				}
				div {
					padding: 18px 24px;

					vertical-align: middle;
				}
				h3 {
					color: #44607e;
					font-size: 14px;
					font-weight: bold;

					border-bottom: solid 2px #c3c5c8 !important;

					text-align: center;
					white-space: nowrap;
					text-transform: uppercase;
					&:first-child {
						font-size: 0;
					}
				}
				.question-number {
					width: 50px;
					height: 50px;
				}
				div.index span {
					display: block;
					margin: 0 auto;

					font-size: 12px;

					text-align: center;
				}
				&.no-value div.response,
				&.partial-value div.response {
					font-weight: bold;

					background-color: #e2dee1;
				}
				&.full-value div.response {
					font-weight: bold;

					background-color: #d7e3d6;
				}
				&.ignored-value div {
					background-color: #d3d5d8;
				}
				div.question {
					text-align: left;
				}
				&.single_column {
					position: relative;

					height: 80px;

					background: rgb(255, 255, 255) transparent;
					background: rgba(255, 255, 255, 0);
					p {
						position: absolute;
						right: 5%;
						left: 5%;
						z-index: 5;

						margin: 0;
						padding: 18px 60px;

						line-height: 1.25em;

						background-color: #e3e5e8;
						-webkit-border-bottom-right-radius: 3px;
						        border-bottom-right-radius: 3px;
						-webkit-border-bottom-left-radius: 3px;
						        border-bottom-left-radius: 3px;

						text-align: center;
						vertical-align: middle;

						   -moz-border-bottom-left-radius: 3px;
						   -moz-border-bottom-right-radius: 3px;
					}
					.index {
						position: absolute;
						z-index: 10;
					}
				}
			}
			.feedback p {
				margin-top: -9px !important;

				background-color: #f8f0be !important;
			}
		}
	}
	.graph {
		margin: 15px auto 0 auto;
		padding: 20px 16px 0 16px;
		width: 746px;
		height: 320px;

		background: #f3f3f3;
		box-shadow: inset 0 1px 6px #333;
		.jqplot-yaxis-label {
			padding-left: 5px;
		}
	}
	section.score-graph {
		display: none;
	}
	#class-rank-button {
		margin: 10px 0 10px;

		font-size: 12px;
	}
}

.green {
	color: #4d5822;

	background: #b2cd43;
	background-image: -webkit-linear-gradient(top, #d1e776, #a6c430);
	background-image:    -moz-linear-gradient(top, #d1e776, #a6c430);
	background-image:      -o-linear-gradient(top, #d1e776, #a6c430);
	background-image:     -ms-linear-gradient(top, #d1e776, #a6c430);
	border-color: #95a74e;
}

.gray {
	color: #545454;

	background: #aeaeae;
	background-image: -webkit-linear-gradient(top, #e4e4e4, #b8b8b8);
	background-image:    -moz-linear-gradient(top, #e4e4e4, #b8b8b8);
	background-image:      -o-linear-gradient(top, #e4e4e4, #b8b8b8);
	background-image:     -ms-linear-gradient(top, #e4e4e4, #b8b8b8);
	border-color: #747474;
}

#popup.score_restrict {
	width: 300px;
	height: 100px;

	border: #f0f0f0 3px solid;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;

	text-align: center;
	h2,
	p {
		font-family: Lato, arial, serif;
		font-weight: bold;

		text-align: center;
	}
	h2 {
		margin: 4px;

		font-size: 24px;
	}
	p {
		font-weight: 500;
	}
}

.expired.container .page {
	text-align: center !important;
}

.preview h1 {
	margin-top: 10px;
}

body.scores {
	.expired.container,
	.score_restrict.container {
		background: #fff;
		border: none;
		outline: none;
		box-shadow: none;

		opacity: 1;
	}
	.expired.container section,
	.score_restrict.container section {
		border: none;
		outline: none;
		box-shadow: none;
	}
	.container.show {
		opacity: 1;
	}
}
