@import "colors";

body.scores {
	.container {
		width: 96%;
		margin: 2% auto;

		transition: all 0.5s ease;
		text-align: center;

		opacity: 0;
		background: #72808f;
		background-image: linear-gradient(top, #929aa4 0%, #72808f 100%);
		box-shadow: 0 0 34px 1px #999;
	}
	.overview {
		overflow: auto;

		width: 550px;
		margin: 0 auto;

		border-radius: 0 0 6px 6px;
		background-color: #bcc6cc;
		box-shadow: 0 3px 5px 0 #333;
		#overview-score {
			display: inline-block;
			float: left;

			width: 200px;
			padding: 0;
			padding-top: 5px;

			text-align: center;
			h1 {
				margin: 0;
				margin-bottom: 10px;

				font-size: 14px;

				text-transform: uppercase;

				color: #252525;
				span.attempt-num {
					font-size: 23px;
				}
			}
			.overall_score {
				display: inline-block;

				margin: 0;
				padding: 10px;

				font-size: 64px;

				color: #3b5572;
				border-radius: 6px;
				background: #d1d8dc;
			}
			span.percent {
				position: relative;
				bottom: 12px;

				display: inline-block;

				font-size: 30px;
			}
		}
		#overview-table {
			float: right;

			width: 330px;
			min-height: 180px;
			margin-right: 5px;
			margin-bottom: 5px;
			padding-top: 5px;

			border-bottom-right-radius: 5px;
			background: #cdd7df;

			border-right-radius: 5px;

			table {
				width: 80%;
				height: 100%;
				margin: 0 auto;

				font-size: 14px;

				color: #555;
				tr {
					td {
						padding: 5px;
					}
					&:last-child td {
						color: black;
						color: #222;
						border-top: 1px solid #aaa;
					}
				}
				td:last-child {
					font-weight: bold;
				}
				.negative {
					color: #b24a2d;
				}
				.positive {
					color: green;
				}
				.number {
					text-align: right;
				}
			}
		}
	}
	article header {
		position: relative;
		z-index: 8;

		height: 50px;
		margin: 0;
		padding: 0;

		border-bottom: 4px #ccc solid;
		background: #454545;
		box-shadow: 0 1px 3px 0 #777;
		&.preview {
			margin-top: 55px;

			border-top: 4px $purple solid;
			&:before {
				content: "Previewing";

				position: absolute;
				top: -40px;
				left: 0;

				width: 160px;
				height: 20px;
				padding: 8px 0 12px 0;

				font-family: "Lato", "Arial", sans-serif;
				font-size: 20px;
				font-weight: 900;

				text-align: center;
				vertical-align: middle;

				color: $white;
				       border-radius: 5px 5px 0 0;
				background: $purple;

				-khtml-border-radius: 5px 5px 0 0;
			}
			&:after {
				content: "Scores and interactions will not be recorded while previewing.";

				position: absolute;
				top: -30px;
				right: 0;

				font-family: "Lato", "Arial", sans-serif;
				font-size: 14px;
				font-weight: 300;
			}
		}
		nav.previous-attempts {
			position: absolute;
			top: 0;
			left: 0;

			margin: 0;

			text-align: left;
			h1 {
				display: inline-block;

				margin: 10px 0 0 10px;
				padding: 7px;

				font-size: 12px;

				color: $white;
				border-radius: 15px;
				background: #222;
			}
			&:hover {
				h1 {
					/*body.scores .previous-attempts h1 {*/
					color: #222;
					background: $white;
				}
				ul {
					/*body.scores .previous-attempts ul {*/
					display: block !important;

					margin-top: 10px;
				}
			}
			ul {
				position: relative;
				z-index: 10;

				display: none;

				margin: 0;
				margin-left: 6px;

				       border-radius: 15px;
				background: $white;
				box-shadow: 5px 5px 15px 1px #666;

				-khtml-border-radius: 15px;
				.date {
					display: block;

					font-size: 13px;
					font-weight: normal;

					color: #005391;
				}
				.score {
					padding-left: 10px;

					font-size: 20px;
					font-weight: bold;

					color: #333;
				}
				li {
					display: block;

					padding: 5px 15px;

					list-style: none;
					&:hover {
						border-radius: 15px;
						background-color: #ddd;
					}
					a:hover {
						text-decoration: none;
					}
				}
			}
		}
		> h1 {
			margin: 0;
			padding-top: 8px;

			color: $white;
		}
	}
	.details {
		position: relative;

		display: none;

		padding-bottom: 40px;
	}
	article header nav.play-again {
		position: absolute;
		top: 0;
		right: 0;

		margin: 0;
		padding: 0;
		h1 {
			margin: 0;
			padding: 0;
			#play-again {
				margin: 5px 10px;
			}
		}
	}
	.details {
		h1 {
			margin: 23px 0;
			padding-left: 44px;

			font-size: 17px;
			font-weight: bold;

			text-transform: uppercase;

			color: $white;
		}
		table {
			width: 90%;
			margin: 0 auto;

			border-spacing: 1px;

			background-color: #c3c5c8;
			td {
				background: #e3e5e8;
			}
			thead {
				tr:first-child td:first-child {
					font-size: 0;
				}
				td {
					padding: 10px 10px;

					font-size: 14px;
					font-weight: bold;

					text-align: center;
					white-space: nowrap;
					text-transform: uppercase;

					color: #44607e;
				}
			}
			tbody {
				.question-number {
					display: none;

					width: 50px;
					height: 50px;
				}
				td {
					padding: 12px;

					font-size: 14px;

					text-align: center;
				}
			}
			td.index {
				font-weight: bold;

				color: #333;
			}
			tr {
				&.no-value td.response, &.partial-value td.response {
					font-weight: bold;

					background-color: #e2dee1;
				}
				&.full-value td.response {
					font-weight: bold;

					background-color: #d7e3d6;
				}
			}
			tbody td:first-child div:last-child {
				display: block;

				margin: 0 auto;

				font-size: 12px;

				text-align: center;
			}
		}
	}
	.graph {
		width: 746px;
		height: 320px;
		margin: 15px auto 0 auto;
		padding: 20px 30px 0 20px;

		background: #f3f3f3;
		box-shadow: inset 0 1px 6px #333;
	}
	section.score-graph {
		display: none;
	}
	#class-rank-button {
		display: none;

		margin: 10px 0 10px;

		font-size: 12px;
	}
	.materia-sendoff {
		position: relative;

		display: block;

		margin: 0 auto;
		padding-bottom: 100px;
		div {
			width: 80%;
			margin: 25px auto 0 auto;
			padding: 10px 0;

			border-radius: 8px;
			background: $black;
			box-shadow: 0 3px 5px 0 #333;
		}
		h1 {
			margin: 0 auto;

			font-size: 15px;
			font-weight: bold;

			color: $white;
		}
	}
}

.green {
	color: $green;
	border-color: #95a74e;
	background: #b2cd43;
	background-image: linear-gradient(top, #d1e776, #a6c430);
}

.gray {
	color: #545454;
	border-color: #747474;
	background: #aeaeae;
	background-image: linear-gradient(top, #e4e4e4, #b8b8b8);
}

body.scores {
	.expired.container, .score_restrict.container, .container.show {
		opacity: 1;
	}
}
