@import "colors";
@import "mixins";

.content.spotlight {
	padding: 0 0 15px;
}

.store {
	.page {
		margin-top: 30px;
	}
}

.main section, .store-main section {
	padding: 20px;
}

.cycler {
	position: relative;
	z-index: 10;

	width: 60px;
	margin: -22px auto 0;
	padding: 0 3px;

	border-radius: 4px;
	input {
		display: inline-block;

		text-indent: -999999px;
	}
	.span-next {
		display: inline-block;

		width: 5px;
		height: 5px;
		margin: 0 3px 1px 3px;

		cursor: pointer;
		vertical-align: middle;

		border-radius: 3px;
		background: #d7d7d7;
	}
	span.spotlight-selected {
		width: 8px;
		height: 8px;

		-moz-border-radius: 6px;
		     border-radius: 6px;
		background: $blue;
	}
}
