@import 'mixins.scss';

.content.spotlight { padding: 0 0 15px; }

.store {
	.page {
		margin-top: 30px;
	}
	section.store_bottom {
		section {
			&:first-child {
				float: left;
			}
			&:nth-child(2) {
				margin: 0 60px;
			}
			padding: 7px 0 20px 33px;
			width: 250px;
			section {
				padding: 15px;
				width: 218px;
				height: 270px;
				font-family: Lato;
				background: #fff url(../img/bar-top.png) top repeat-x;
				border: #d6d6d6 1px solid;
				border-top: none;
				box-shadow: 1px 5px 10px #888;
				h3 {
					padding-bottom: 20px;
					color: #6b6b6b;
					font-family: Lato;
					font-size: 17px;
				}
				div {
					margin-left: 100px;
				}
				h4, p {
					margin: 0;
					padding: 0;
					color: #6b6b6b;
				}
				h4 {
					color: #000;
				}
				p {
					&:last-child {
						margin-top: 10px;
					}
					a {
						color: #0093e7;
						font-size: .8em;
						font-weight: bold;
						text-decoration: underline;
					}
				}
			}
		}
	}
}

.program_main {
	background: #fff url(../img/pop_back.png) center bottom no-repeat;
}

.main section, .store_main section {
	padding: 20px;
}

.cycler {
	position: relative;
	z-index: 10;
	margin: -22px auto 0;
	padding: 0 3px;
	width: 60px;
	border-radius: 4px;
	input {
		display: inline-block;
		text-indent: -999999px;
	}
	.span_next {
		display: inline-block;
		margin: 0 3px 1px 3px;
		width: 5px;
		height: 5px;
		background: #d7d7d7;
		border-radius: 3px;
		cursor: pointer;
		vertical-align: middle;
	}
	span.spotlight_selected {
		width: 8px;
		height: 8px;
		background: #0093e7;
		-moz-border-radius: 6px;
		border-radius: 6px;
	}
}
