@import 'store.scss';
@import 'catalog.scss';

body {
	margin: 0;
	padding: 0;
	width: 100%;
	overflow: auto;

	font-family: Lucida Grande;
}

section,
header,
nav,
article,
aside,
footer {
	display: block;
}

header {
	position: relative;
	z-index: 100;

	padding: 20px 0 10px 0;

	-webkit-box-shadow: -5px 3px 5px #888;
	   -moz-box-shadow: -5px 3px 5px #888;
	        box-shadow: -5px 3px 5px #888;
}

h1 {
	display: table-cell;
	margin: 0;
	padding: 0;

	font-family: 'Lato', arial, serif;
}

nav ul li {
	display: inline;
}

#top {
	display: table-cell;
	ul,
	p {
		margin: 0;
		padding: 0;
	}
}

#page {
	position: relative;
	z-index: 1;

	padding-top: 40px;

	background-image: -webkit-linear-gradient(left, #f5f5f5 9px, white 1px);
	background-image: -moz-repeating-linear-gradient(left 0deg, #f5f5f5, #f5f5f5 9px, white 5px, white 10px);
	background-image:   -o-repeating-linear-gradient(left 0deg, #f5f5f5, #f5f5f5 9px, white 5px, white 10px);
	background-image:      repeating-linear-gradient(left 0deg, #f5f5f5, #f5f5f5 9px, white 5px, white 10px);
	-webkit-background-size: 10px 100%;
}

#main {
	h2,
	h3 {
		display: inline;
		margin: 0;
		padding: 0;

		font-family: Lato-black;
		font-weight: 700;
	}
}

#store_main {
	h2,
	h3 {
		display: inline;
		margin: 0;
		padding: 0;

		font-family: Lato-black;
		font-weight: 700;
	}
}

#popup {
	padding-bottom: 10px;
}

#main h2:after {
	content: ': ';
}

nav ul li a {
	padding: 10px;

	color: #0093e7;
	font-family: Lato-black;
	font-weight: bold;

	text-decoration: none;
}

h3 {
	padding: 10px;

	color: #0093e7;
	font-weight: bold;

	text-decoration: none;
}

#main {
	a {
		padding: 10px;
		padding: 0;

		color: #0093e7;
		font-weight: bold;

		text-decoration: none;
		text-decoration: underline !important;
	}
	h2 {
		color: #000;
		font-size: 20pt;
		font-weight: 900;

		text-transform: uppercase;

		-webkit-mask-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0)));
	}
}

#store_main h2 {
	color: #000;
	font-size: 20pt;
	font-weight: 900;

	text-transform: uppercase;

	-webkit-mask-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0)));
}

h3 {
	font-size: 1em;
}

#main {
	background: #fff url(../img/pop_back.png) center bottom no-repeat;
}

#store_main {
	height: 477px;

	background: #fff;
}

#main,
#store_main {
	margin: 0 auto;
	width: 962px;
	overflow: auto;

	border: rgba(0, 0, 0, .11) 1px solid;
	-webkit-box-shadow: 1px 3px 10px #888;
	   -moz-box-shadow: 1px 3px 10px #888;
	        box-shadow: 1px 3px 10px #888;
}

#main section,
#store_main section {
	padding: 20px;
}

.left {
	float: left;
}

.right {
	float: right;
}

.text {
	float: left;
	margin: 0 0 0 10px;
	width: 500px;
}

#layered_windows {
	float: left;
	margin-top: 50px;
	width: 370px;
}

#logout {
	position: absolute;
	top: 65%;
	right: 0;
}

#cat_list {
	margin: 0 auto;
	padding: 20px;
	width: 962px;

	font-family: 'Lato', arial, serif;
	h2 {
		display: inline-block;
		&:after {
			content: ':';
		}
	}
}

#widget_catalog_button {
	float: right;
	margin-top: 15px;
	padding: 10px;

	color: rgba(48, 48, 48, .7);
	font-family: 'Lato', arial, serif;
	font-weight: bold;

	background: #ffa62d;
	background-image: -webkit-linear-gradient(top, #ffce8c, #ffa42a);
	border: #fdb34f 1px solid;
	-webkit-border-radius: 8px;
	   -moz-border-radius: 8px;
	        border-radius: 8px;
	-webkit-box-shadow: 1px 2px 5px #888;
	   -moz-box-shadow: 1px 2px 5px #888;
	        box-shadow: 1px 2px 5px #888;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, .5);
}

#cat_list_ul {
	margin: 0 auto;
	padding: 0;
	li {
		display: inline-block;
		margin-right: 47px;

		list-style: none;

		text-align: center;
		&:first-child {
			margin-left: 4px;
		}
		&:last-child {
			margin-right: 0 !important;
		}
		a {
			color: #000;
			font-family: 'Lato', arial, serif;
			font-weight: bold;

			text-decoration: none;
		}
	}
}

#popup_h2 {
	font-family: Lato-black;
}

#spotlight {
	margin: 0 auto 10px auto;
	padding: 0 0 10px 0;
	width: 962px;
	p {
		display: inline;
		margin: 0;
		padding: 10px;

		font-family: 'Lato', arial, serif;
		font-weight: bold;

		background: #fff389;
	}
}

form {
	margin: 20px auto;
	width: 60px;

	background: rgba(0, 0, 0, .5);
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
	input {
		display: inline;
	}
}

.span_next {
	display: inline-block;
	margin: 0 0 1px 5px;
	width: 10px;
	height: 10px;

	background: #fff;
	border-radius: 8px;
}

input[checked=checked] + span {
	background: #0093e7;
}
