@import "store.scss";
@import "catalog.scss";
@import "colors";

body {
	overflow: auto;

	width: 100%;
	margin: 0;
	padding: 0;

	font-family: Lucida Grande;
}

section, header, nav, article, aside, footer {
	display: block;
}

header {
	position: relative;
	z-index: 100;

	padding: 20px 0 10px 0;

	box-shadow: -5px 3px 5px $medium-gray;
}

h1 {
	display: table-cell;

	margin: 0;
	padding: 0;

	font-family: "Lato", arial, serif;
}

nav ul li {
	display: inline;
}

#top {
	display: table-cell;
	ul, p {
		margin: 0;
		padding: 0;
	}
}

#page {
	position: relative;
	z-index: 1;

	padding-top: 40px;

	background-image: repeating-linear-gradient(left 0deg, #f5f5f5, #f5f5f5 9px, white 5px, white 10px);
	background-size: 10px 100%;
}

#main {
	h2, h3 {
		display: inline;

		margin: 0;
		padding: 0;

		font-family: Lato-black;
		font-weight: 700;
	}
}

#store_main {
	h2, h3 {
		display: inline;

		margin: 0;
		padding: 0;

		font-family: Lato-black;
		font-weight: 700;
	}
}

#popup {
	padding-bottom: 10px;
}

#main h2:after {
	content: ": ";
}

nav ul li a {
	padding: 10px;

	font-family: Lato-black;
	font-weight: bold;

	text-decoration: none;

	color: $blue;
}

h3 {
	padding: 10px;

	font-weight: bold;

	text-decoration: none;

	color: $blue;
}

#main {
	a {
		padding: 10px;
		padding: 0;

		font-weight: bold;

		text-decoration: none;
		text-decoration: underline !important;

		color: $blue;
	}
	h2 {
		font-size: 20pt;
		font-weight: 900;

		text-transform: uppercase;

		color: $black;

		-webkit-mask-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0)));
	}
}

#store_main h2 {
	font-size: 20pt;
	font-weight: 900;

	text-transform: uppercase;

	color: $black;

	-webkit-mask-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0)));
}

h3 {
	font-size: 1em;
}

#main {
	background: $white url(../img/pop_back.png) center bottom no-repeat;
}

#store_main {
	height: 477px;

	background: $white;
}

#main, #store_main {
	overflow: auto;

	width: 962px;
	margin: 0 auto;

	border: rgba(0, 0, 0, 0.11) 1px solid;
	box-shadow: 1px 3px 10px $medium-gray;
}

#main section, #store_main section {
	padding: 20px;
}

.left {
	float: left;
}

.right {
	float: right;
}

.text {
	float: left;

	width: 500px;
	margin: 0 0 0 10px;
}

#layered_windows {
	float: left;

	width: 370px;
	margin-top: 50px;
}

#logout {
	position: absolute;
	top: 65%;
	right: 0;
}

#cat_list {
	width: 962px;
	margin: 0 auto;
	padding: 20px;

	font-family: "Lato", arial, serif;
	h2 {
		display: inline-block;
		&:after {
			content: ":";
		}
	}
}

#widget_catalog_button {
	float: right;

	margin-top: 15px;
	padding: 10px;

	font-family: "Lato", arial, serif;
	font-weight: bold;

	color: rgba(48, 48, 48, 0.7);
	border: #fdb34f 1px solid;
	border-radius: 8px;
	background: #ffa62d;
	background-image: linear-gradient(top, #ffce8c, #ffa42a);
	box-shadow: 1px 2px 5px $medium-gray;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
}

#cat_list_ul {
	margin: 0 auto;
	padding: 0;
	li {
		display: inline-block;

		margin-right: 47px;

		list-style: none;

		text-align: center;
		&:first-child {
			margin-left: 4px;
		}
		&:last-child {
			margin-right: 0 !important;
		}
		a {
			font-family: "Lato", arial, serif;
			font-weight: bold;

			text-decoration: none;

			color: $black;
		}
	}
}

#popup_h2 {
	font-family: Lato-black;
}

#spotlight {
	width: 962px;
	margin: 0 auto 10px auto;
	padding: 0 0 10px 0;
	p {
		display: inline;

		margin: 0;
		padding: 10px;

		font-family: "Lato", arial, serif;
		font-weight: bold;

		background: #fff389;
	}
}

form {
	width: 60px;
	margin: 20px auto;

	border-radius: 4px;
	background: rgba(0, 0, 0, 0.5);
	input {
		display: inline;
	}
}

.span_next {
	display: inline-block;

	width: 10px;
	height: 10px;
	margin: 0 0 1px 5px;

	border-radius: 8px;
	background: $white;
}

input[checked=checked] + span {
	background: $blue;
}
