@import "colors";

.container {
	position: relative;

	display: block;

	width: 500px;
	height: 200px;
	margin: auto;
	padding: 10px 20px;

	border: solid 1px #ccc;
	background: $white;
	box-shadow: 0 0 10px #aaa;
}
