@import 'mixins.scss';

.content {
	padding: 15px 20px 25px;

	background: #eee;

	@include respond-to(phone) {
		padding: 0;
	}
}

.profile-content {
	margin: -15px -20px -25px 170px;
	padding: 15px 20px 15px;
	min-height: 282px;
	box-sizing: border-box;

	background-color: #fff;
	border-left: 1px solid rgba(#000, .15);

	@include respond-to(phone) {
		margin: 0;

		border-left: 0;
	}
	@include respond-to(tablet-portrait) {
		margin-left: 110px;
	}
}

.profile-nav {
	float: left;
	margin-top: 0;
	width: 100%;
	max-width: 150px;

	text-align: right;

	@include respond-to(phone) {
		float: none;
		max-width: initial;

		text-align: center;
	}
	@include respond-to(tablet-portrait) {
		max-width: 90px;
	}
	.avatar {
		display: block;
		margin-bottom: 15px;
		padding: 9px;
		width: 100%;
		height: auto;
		box-sizing: border-box;

		background: #0093e7;
		box-shadow: 0 1px 2px rgba(#000, .4);

		@include respond-to(phone) {
			float: left;
			padding: 3px;
			max-width: 83px;

			box-shadow: none;
		}
	}
	ul {
		margin: 0 -21px 0 -20px;
		padding: 0;

		@include respond-to(phone) {
			margin: 0 0 0 83px;
		}
		li {
			display: block;
			padding: 0;
			&:last-of-type a {
				border-bottom: 0;
			}
		}
		li.selected a {
			color: #222;

			background-color: #fff;
			border-top: 1px solid rgba(#000, .15);
			border-bottom: 1px solid rgba(#000, .15);
		}
		li a {
			display: block;
			padding: 10px 20px;
		}
	}
}

.user {
	section.page,
	aside {
		background: #fff;
	}
	.container {
		position: relative;

		margin: 0 auto;
		width: 970px;
	}
	section.page,
	aside {
		border: rgba(0, 0, 0, .22) 1px solid;
		-webkit-box-shadow: 1px 3px 10px #888;
		   -moz-box-shadow: 1px 3px 10px #888;
		        box-shadow: 1px 3px 10px #888;
	}
	section.page {
		top: 0;
		right: 0;
		z-index: 100;

		margin: 0 auto;
		padding: 30px 60px 30px 145px;
		width: 575px;
		/*625px*/
		min-height: 400px;

		background: url('../img/user_page_background.gif') 0 0 repeat-y;
		background-color: #fff;
	}
	&.search section.page {
		top: 0;
		right: 0;
		z-index: 100;

		margin: 0 auto;
		padding: 30px 60px 30px 145px;
		width: 575px;
		/*625px*/
		min-height: 400px;

		background: url('../img/repeat_border_diag_bottom.png') 0 100% repeat-x;
		background-color: #fff;
	}
	h2 {
		margin: 0;
		padding: 0 0 5px 0;

		font-family: 'Lato', arial, serif;
		font-size: 38px;
		font-weight: 700;

		border-bottom: dotted #000 1px;
		span {
			display: block;

			color: #b2b2b2;
			font-size: 12px;

			text-transform: uppercase;
		}
	}
	.avatar-big {
		padding: 15px;
		width: 115px;
		height: inherit;

		color: #fff;
		font-size: 10px;
		line-height: 13px;

		background: #0093e7;
		-webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, .4);
		   -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, .4);
		        box-shadow: 0 2px 2px rgba(0, 0, 0, .4);

		text-align: right;
		img {
			padding-bottom: 5px;
			padding-left: 10px;
			width: 100px;
			height: 100px;
		}
		a {
			&:link,
			&:visited,
			&:active {
				color: #fff;

				text-decoration: underline;
			}
			&:hover {
				color: #fff;
				color: #fff;

				text-decoration: underline;
				text-decoration: none;
			}
			&.external {
				padding-right: 18px;

				background: url('../img/external_link_arrow.png') right center no-repeat;
				/* unhide this to hide avatar link */
				/* display:none; */
			}
		}
	}
	.rank {
		position: absolute;
		top: 25px;
		right: 25px;

		margin: 0;
		margin-top: 5px;
		padding: 0;

		color: #0093e7;
		font-family: 'Lato', arial, serif;
		font-size: 55px;
		font-weight: 600;
		line-height: 35px;

		text-align: right;
		a {
			display: block;

			color: #969696;
			font-size: 13px;

			text-decoration: underline;
			&:hover {
				color: #969696;

				text-decoration: none;
			}
		}
	}
	ul.user-information {
		padding: 0;

		font-family: 'Lato', arial, serif;
		font-size: 13px;
		font-weight: bold;
		li {
			display: inline-block;
			margin-right: 10px;

			list-style-type: none;
		}
	}
	.user-type {
		padding: 2px 6px;

		color: #48483e;
		font-size: 12px;

		background: #f2f0d0;
		-webkit-border-radius: 3px;
		   -moz-border-radius: 3px;
		        border-radius: 3px;

		text-transform: uppercase;
		&.staff {
			color: #ffc4cc;

			background: #ef0223;
		}
	}
	h3 {
		height: 25px;

		color: #000;
		font-family: 'Lato', arial, serif;
		font-weight: 700;
		&.loading {
			background: transparent url('../img/loading_icon_black_on_white.gif') no-repeat bottom center;
		}
	}
	.no-logs {
		padding: 15px 20px;

		color: #4a4a4a;
		font-size: 15px;

		background: #f7f7f7;
		-webkit-border-radius: 5px;
		   -moz-border-radius: 5px;
		        border-radius: 5px;

		text-align: center;
	}
}

.activity-logs-template {
	display: none;
}

.user {
	.message-loading {
		display: inline-block;
		margin: 0 5px 0 0;
		width: 16px;
		height: 16px;
		overflow: hidden;

		background: url('../img/profile_load_more_activity.gif');

		text-indent: -99999px;
	}
	.show-more-activity {
		margin-top: 15px;
	}
	.activity {
		padding: 0;
		ul {
			margin-bottom: 0;
			padding: 0;
		}
		li {
			list-style-type: none;
		}
	}
	.activity-log {
		margin: 0;
		padding: 0;
		&:last-child a {
			border: 0;
		}
		.score-link {
			position: relative;

			display: block;
			padding: 5px;
			min-height: 50px;

			border-bottom: #d8d8d8 1px solid;
		}
	}
}

.activity-log.complete .score-link:hover {
	background: #eee;
}

.user .activity-log .score {
	position: absolute;
	top: 10px;
	left: 5px;

	display: block;
	padding-top: 2px;
	padding-bottom: 4px;
	width: 52px;
	height: inherit;
	min-height: 28px;
	overflow: hidden;

	color: #fff;
	font-family: 'Lato', arial, serif;
	font-size: 28px;
	font-weight: 700;

	background: #0093e7;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;

	text-align: center;
}

.activity-log.incomplete .score {
	background: #ccc;
}

.user {
	.activity-log {
		&.perfect-score .score {
			padding-top: 6px;
			padding-bottom: 6px;

			font-size: 21px;
		}
		.date {
			position: absolute;
			top: 5px;
			right: 5px;

			display: block;

			color: #a4a4a4;
			font-family: 'Lato', arial, serif;
			font-size: 11px;
			font-weight: 700;

			text-align: right;
		}
		.widget {
			position: absolute;
			top: 10px;
			left: 65px;

			display: block;

			color: #7b7b7b;
			font-family: 'LatoBlack', arial, serif;
			font-family: 'Lato', arial, serif;
			font-size: 11px;
			font-weight: 700;

			text-align: left;
			text-transform: uppercase;
		}
		.title {
			position: absolute;
			top: 22px;
			left: 65px;

			font-family: 'Lato', arial, serif;
			font-size: 17px;
		}
		.status {
			position: absolute;
			top: 12px;
			right: 1px;

			color: #eee;
			font-size: 30px;
		}
	}
	.main-navigation {
		display: block;
		float: left;
		margin: -10px 0 0 -15px;
		padding: 0;
		width: 83px;

		list-style-type: none;
		li {
			a {
				display: block;
				padding-top: 10px;
				padding-right: 30px;
				padding-bottom: 10px;
				width: 83px;

				color: #0093e7;
				font-family: 'Lato', arial, serif;
				font-size: 12px;
				font-weight: 700;

				border: transparent 1px #fff;

				text-align: right;
				text-decoration: underline;
				text-transform: uppercase;
			}
			&.selected a {
				color: #333;

				background: #fff;
				border: solid 1px #e6e6e6;
				border-right: 0;
				border-left: 0;

				text-decoration: none;
			}
			a:hover {
				text-decoration: none;
			}
			&.selected {
				a:hover {
					text-decoration: underline;
				}
				&.settings a {
					background-image: url('../img/user_page_icons_sprite.png');
					background-repeat: no-repeat;
					background-position: 89px -18px;
				}
				&.profile a {
					background-image: url('../img/user_page_icons_sprite.png');
					background-repeat: no-repeat;
					background-position: 89px 10px;
				}
			}
			&.settings a {
				background-image: url('../img/user_page_icons_sprite.png');
				background-repeat: no-repeat;
				background-position: 89px -75px;
			}
			&.profile a {
				background-image: url('../img/user_page_icons_sprite.png');
				background-repeat: no-repeat;
				background-position: 89px -46px;
			}
		}
	}
	&.settings {
		h3 {
			margin-bottom: .5em;
		}
		form {
			label,
			input {
				cursor: pointer;
			}
			label {
				font-size: 14px;
			}
			ul {
				margin: 0;
				padding: 0;

				font-size: 14px;

				list-style-type: none;
				li {
					display: block;
					margin-bottom: .5em;
				}
				a {
					margin-left: 5px;

					font-size: 8pt;
				}
			}
		}
		.email-exp {
			margin: 0;
			padding: 0 0 0 20px;

			color: #7f7f7f;
			font-family: 'Lato', arial, serif;
			font-size: 12px;
			.email-exp-addr {
				color: #3f3f3f;
			}
		}
	}
}

.settingSaveAlert {
	display: inline-block;
	margin: 0;
	padding: 0 0 0 20px;

	font-family: 'Lucida Grande', sans;
}
