@import 'mixins';
@import 'colors';

.content {
	background: $off-white;
	padding: 15px 20px 25px;

	@include respond-to(phone) {
		padding: 0;
	}
}

.profile-content {
	background-color: $white;
	border-left: 1px solid rgba($black, .15);
	box-sizing: border-box;
	margin: -15px -20px -25px 170px;
	min-height: 282px;
	padding: 15px 20px;

	@include respond-to(phone) {
		border-left: 0;
		margin: 0;
	}

	@include respond-to(tablet-portrait) {
		margin-left: 110px;
	}

	@include respond-to(phone, tablet-portrait) {
		border-top: solid 1px $light-gray;
		border-bottom: solid 1px $light-gray;
	}
}

.profile-nav {
	float: left;
	margin-top: 0;
	max-width: 150px;
	text-align: right;
	width: 100%;

	@include respond-to(phone) {
		float: none;
		max-width: initial;
		text-align: center;
	}

	@include respond-to(tablet-portrait) {
		max-width: 90px;
	}

	.avatar {
		background: $blue;
		box-shadow: 0 1px 2px rgba($black, .4);
		box-sizing: border-box;
		display: block;
		height: auto;
		margin-bottom: 15px;
		padding: 9px;
		width: 100%;

		@include respond-to(phone) {
			box-shadow: none;
			float: left;
			max-width: 83px;
			padding: 3px;
		}
	}

	ul {
		margin: 0 -21px 0 -20px;
		padding: 0;

		@include respond-to(phone) {
			margin: 0 0 0 83px;
		}

		li {
			display: block;
			padding: 0;

			&:last-of-type a {
				border-bottom: 0;
			}
		}

		li.selected a {
			background-color: $white;
			border-bottom: 1px solid rgba($black, .15);
			border-top: 1px solid rgba($black, .15);
			color: $dark-gray;
		}

		li a {
			display: block;
			padding: 10px 20px;
		}
	}
}

.user {
	section.page,
	aside {
		background: $white;
		border: rgba(0, 0, 0, .22) 1px solid;
		box-shadow: 1px 3px 10px $medium-gray;
	}

	.container {
		position: relative;

		margin: 0 auto;
		width: 970px;
	}

	section.page {
		background: url('../img/user_page_background.gif') 0 0 repeat-y;
		background-color: $white;
		margin: 0 auto;
		min-height: 400px;
		padding: 30px 60px 30px 145px;
		right: 0;
		top: 0;
		width: 575px;
		z-index: 100;
	}

	&.search section.page {
		background: url('../img/repeat_border_diag_bottom.png') 0 100% repeat-x;
		background-color: $white;
		margin: 0 auto;
		min-height: 400px;
		padding: 30px 60px 30px 145px;
		right: 0;
		top: 0;
		width: 575px;
		z-index: 100;
	}

	h2 {
		border-bottom: dotted $black 1px;
		font-family: 'Lato', arial, serif;
		font-size: 38px;
		font-weight: 700;
		margin: 0;
		padding: 0 0 5px;

		span {
			color: $light-gray;
			display: block;
			font-size: 12px;
			text-transform: uppercase;
			margin-top: 5px;
		}
	}

	.avatar-big {
		padding: 15px;
		width: 115px;
		height: inherit;

		color: $white;
		font-size: 10px;
		line-height: 13px;

		background: $blue;
		box-shadow: 0 2px 2px rgba(0, 0, 0, .4);

		text-align: right;

		img {
			padding-bottom: 5px;
			padding-left: 10px;
			width: 100px;
			height: 100px;
		}

		a {
			&:link,
			&:visited,
			&:active {
				color: $white;
				text-decoration: underline;
			}

			&:hover {
				color: $white;
				text-decoration: none;
			}

			&.external {
				background: url('../img/external_link_arrow.png') right center no-repeat;
				padding-right: 18px;
			}
		}
	}

	.rank {
		position: absolute;
		top: 25px;
		right: 25px;

		margin: 0;
		margin-top: 5px;
		padding: 0;

		color: $blue;
		font-family: 'Lato', arial, serif;
		font-size: 55px;
		font-weight: 600;
		line-height: 35px;

		text-align: right;
		a {
			display: block;

			color: $medium-gray;
			font-size: 13px;

			text-decoration: underline;
			&:hover {
				color: $medium-gray;
				text-decoration: none;
			}
		}
	}

	ul.user-information {
		font-family: 'Lato', arial, serif;
		font-size: 13px;
		font-weight: bold;
		padding: 0;

		li {
			display: inline-block;
			list-style-type: none;
			margin-right: 10px;
		}
	}

	.user-type {
		background: #f2f0d0;
		border-radius: 3px;
		color: #48483e;
		font-size: 12px;
		padding: 2px 6px;
		text-transform: uppercase;

		&.staff {
			background: #ef0223;
			color: #ffc4cc;
		}
	}

	h3 {
		color: $black;
		font-family: 'Lato', arial, serif;
		font-weight: 700;
		height: 25px;

		&.loading {
			background: transparent url('../img/loading_icon_black_on_white.gif') no-repeat bottom center;
		}
	}

	.no-logs {
		padding: 15px 20px;

		color: #4a4a4a;
		font-size: 15px;

		background: #f7f7f7;
		border-radius: 5px;

		text-align: center;
	}
}

.activity-logs-template {
	display: none;
}

.user {
	.message-loading {
		display: inline-block;
		margin: 0 5px 0 0;
		width: 16px;
		height: 16px;
		overflow: hidden;

		background: url('../img/profile_load_more_activity.gif');

		text-indent: -99999px;
	}

	.show-more-activity {
		margin-top: 15px;
	}

	.activity {
		padding: 0;
		ul {
			margin-bottom: 0;
			padding: 0;
		}
		li {
			list-style-type: none;
		}
	}

	.activity-log {
		margin: 0;
		padding: 0;

		&:last-child a {
			border: 0;
		}

		&.complete {
			.score-link:hover {
				background: $off-white;
			}
		}

		&.incomplete {
			.score {
				background: #ccc;
			}
		}

		&.perfect-score .score {
			font-size: 21px;
			padding-bottom: 6px;
			padding-top: 6px;
		}

		.score {
			background: $blue;
			border-radius: 3px;
			color: $white;
			display: block;
			font-family: 'Lato', arial, serif;
			font-size: 28px;
			font-weight: 700;
			height: inherit;
			left: 5px;
			min-height: 28px;
			overflow: hidden;
			padding-bottom: 4px;
			padding-top: 2px;
			position: absolute;
			text-align: center;
			top: 10px;
			width: 52px;
		}

		.score-link {
			border-bottom: $off-white 1px solid;
			display: block;
			min-height: 50px;
			padding: 5px;
			position: relative;
		}

		.date {
			color: $gray;
			display: block;
			font-family: 'Lato', arial, serif;
			font-size: 11px;
			font-weight: 700;
			position: absolute;
			right: 5px;
			text-align: right;
			top: 5px;
		}

		.widget {
			color: $medium-gray;
			display: block;
			font-family: 'LatoBlack', arial, serif;
			font-size: 11px;
			font-weight: 700;
			left: 65px;
			position: absolute;
			text-align: left;
			text-transform: uppercase;
			top: 10px;
		}

		.title {
			font-family: 'Lato', arial, serif;
			font-size: 17px;
			left: 65px;
			position: relative;
			top: 22px;
			width: calc(100% - 50px);
			padding-bottom: 25px;
		}

		.status {
			color: $off-white;
			font-size: 30px;
			position: absolute;
			right: 1px;
			top: 17px;
		}
	}

	.main-navigation {
		display: block;
		float: left;
		margin: -10px 0 0 -15px;
		padding: 0;
		width: 83px;

		list-style-type: none;
		li {
			a {
				display: block;
				padding-top: 10px;
				padding-right: 30px;
				padding-bottom: 10px;
				width: 83px;

				color: $blue;
				font-family: 'Lato', arial, serif;
				font-size: 12px;
				font-weight: 700;

				border: transparent 1px $white;

				text-align: right;
				text-decoration: underline;
				text-transform: uppercase;
			}
			&.selected a {
				color: #333;

				background: $white;
				border: solid 1px #e6e6e6;
				border-right: 0;
				border-left: 0;

				text-decoration: none;
			}

			a:hover {
				text-decoration: none;
			}

			&.selected {
				a:hover {
					text-decoration: underline;
				}

				&.settings a {
					background-image: url('../img/user_page_icons_sprite.png');
					background-position: 89px -18px;
					background-repeat: no-repeat;
				}

				&.profile a {
					background-image: url('../img/user_page_icons_sprite.png');
					background-position: 89px 10px;
					background-repeat: no-repeat;
				}
			}

			&.settings a {
				background-image: url('../img/user_page_icons_sprite.png');
				background-position: 89px -75px;
				background-repeat: no-repeat;
			}

			&.profile a {
				background-image: url('../img/user_page_icons_sprite.png');
				background-position: 89px -46px;
				background-repeat: no-repeat;
			}
		}
	}

	&.settings {
		h3 {
			margin-bottom: .5em;
		}

		form {
			label,
			input {
				cursor: pointer;
			}

			label {
				font-size: 14px;
			}

			ul {
				font-size: 14px;
				list-style-type: none;
				margin: 0;
				padding: 0;

				li {
					display: block;
					margin-bottom: .5em;
				}

				a {
					font-size: 8pt;
					margin-left: 5px;
				}
			}
		}

		.email-exp {
			color: $medium-gray;
			font-family: 'Lato', arial, serif;
			font-size: 12px;
			margin: 0;
			padding: 0 0 0 20px;

			.email-exp-addr {
				color: $dark-gray;
			}
		}
	}
}

