@import 'mixins.scss';

#widget-details {
	.content {
		@include respond-to(desktop, large-desktop) {
			width: 66%;
		}
	}
	.aside-content {
		@include respond-to(desktop, large-desktop) {
			width: 34%;
		}
	}
}

.aside-content .icon {
	display: block;
	margin-top: 15px;
	max-width: 100%;
	height: auto;
}

.content {
	.tooltip {
		position: absolute;
		z-index: 99;

		display: none;
		padding: 15px;
		width: 250px;

		font-size: 12px;

		background: #fff;
		border-radius: 15px;
		-webkit-box-shadow: 1px 2px 5px #888;
		   -moz-box-shadow: 1px 2px 5px #888;
		        box-shadow: 1px 2px 5px #888;
	}
	hr {
		margin: 20px 0;
	}
	dl {
		line-height: 24px;
		dt {
			float: left;
			clear: left;
			width: 126px;
			overflow: hidden;

			text-align: right;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
		dd {
			margin-left: 142px;
			span {
				@include respond-to(phone) {
					display: block;
				}
			}
		}
	}
}

.pics {
	margin: 1em 0 0 0;
	padding: 0;
	li {
		display: inline-block;
		padding: 0 10px;
		width: 33.33%;
		box-sizing: border-box;

		line-height: 1;

		text-align: center;

		@include respond-to(phone) {
			display: block;
			margin-bottom: 12px;
			padding: 0;
			width: 100%;
			&:last-of-type {
				margin-bottom: 0;
			}
		}
		&:first-of-type {
			padding-left: 0;
		}
		&:last-of-type {
			padding-right: 0;
		}
		.img-bg {
			display: block;
			padding: 6px;

			background: #fff;
			border: #c3c3c3;
			box-shadow: 1px 2px 5px #888;
			img {
				max-width: 100%;
				height: auto;

				cursor: pointer;
			}
		}
	}
}

.detail h3 {
	margin-bottom: -11px;
}
.thumbnail_explination {
	margin-top: 5px;
	padding: 0 0 0 13px;

	color: #b5b5b5;
	font-size: .7em;

	background: url(../img/mag_glass.png) left bottom no-repeat;
}

.widget .widget_detail a.feature {
	padding: 2px 6px;

	font-size: 11px;

	cursor: default;
}

.widget .widget_detail a.supported_data {
	padding: 2px 6px;

	font-size: 11px;

	cursor: default;
}

.widget .widget_detail .tooltip {
	line-height: 15px;
}

.widget .green {
	color: #4d5822;

	background: #b2cd43;
	background-image: -webkit-linear-gradient(top, #d1e776, #a6c430);
	background-image:      -o-linear-gradient(top, #d1e776, #a6c430);
	background-image:    -moz-linear-gradient(top, #d1e776, #a6c430);
	background-image:     -ms-linear-gradient(top, #d1e776, #a6c430);
	border-color: #95a74e;
}

.widget .green:hover {
	background: #a2c129;
	background-image: -webkit-linear-gradient(top, #a6c430, #d1e776);
	background-image:      -o-linear-gradient(top, #a6c430, #d1e776);
	background-image:    -moz-linear-gradient(top, #a6c430, #d1e776);
	background-image:     -ms-linear-gradient(top, #a6c430, #d1e776);

	text-decoration: none;
}

.widget .widget_right_selection {
	width: 230px;
}

.action {
	h4 {
		margin: 0;
		padding: 0;

		color: #b5b5b5;
		font-family: Lato;
		font-size: .9em;
	}
	p {
		margin: 10px 0 0;
	}
}

/* Spotlight */

.spotlight {
	.main_container {
		height: 350px;
		@include respond-to(phone, tablet-portrait) {
			height: 420px;
		}
	}
	h1 {
		margin: 0;
		padding: 0 0 10px 0;

		font-family: 'Lato', arial, serif;
		font-size: 36px;
		font-weight: 900;

		border-bottom: dotted black 1px;
		@include respond-to(phone, tablet-portrait) {
			font-size: 24px;
		}
	}
	aside {
		padding: 0 15px;
		width: 1005px;
		p {
			display: inline;
			margin: 0;
			padding: 5px 10px;

			font-family: 'Lato', arial, serif;
			font-size: 18px;
			font-weight: bold;

			background: #fff389;
		}
	}
	.store_main p {
		color: #4a4a4a;
		font-size: 17px;
		@include respond-to(phone, tablet-portrait, tablet-landscape) {
			font-size: 14px;
		}
		line-height: 24px;
	}
	a.more {
		position: absolute;
		top: 270px;

		font-size: 17px;
		font-weight: 700;

		text-decoration: underline;
	}
	.store_main {
		position: absolute;
		section {
			padding: 20px 20px 10px;
			width: calc(100% - 30px);

			background: transparent;

			img {
				float: left;
				@include respond-to(phone, tablet-portrait) {
					float: none;
					max-width: 100%;
					max-height: 200px;
				}
			}

			a.more {
				@include respond-to(phone, tablet-portrait) {
					float: none;
					position: relative;
					top: -10px;
					right: 0 !important;
				}
			}

			@include respond-to(phone, tablet-portrait) {
				padding: 5px;
				text-align: center;
			}
		}
		section.crossword h1,
		section.crossword p {
			text-align: right;
			@include respond-to(phone, tablet-portrait) {
				text-align: center;
			}
		}
		section.crossword a.more,
		section.materia_new a.more {
			right: 40px;
		}
	}
}
