@import 'mixins';
@import 'colors';

.widget-details {
	.content {
		@include respond-to(desktop, large-desktop) {
			width: 66%;
		}
	}
	.aside-content {
		@include respond-to(desktop, large-desktop) {
			width: 34%;
		}
	}
}

.aside-content .icon {
	display: block;
	height: auto;
	margin-top: 15px;
	max-width: 100%;
}

.content {
	.tooltip {
		background: $white;
		border-radius: 15px;
		box-shadow: 1px 2px 5px $medium-gray;
		display: none;
		font-size: 12px;
		padding: 15px;
		position: absolute;
		width: 250px;
		z-index: 99;
	}

	hr {
		margin: 20px 0;
	}

	dl {
		line-height: 24px;

		dt {
			clear: left;
			float: left;
			overflow: hidden;
			text-align: right;
			text-overflow: ellipsis;
			white-space: nowrap;
			width: 126px;
		}

		dd {
			margin-left: 142px;

			span {
				@include respond-to(phone) {
					display: block;
				}
			}
		}
	}
}

.pics {
	margin: 1em 0 0;
	padding: 0;

	li {
		box-sizing: border-box;
		display: inline-block;
		line-height: 1;
		padding: 0 10px;
		text-align: center;
		vertical-align: top;
		width: 33.33%;

		@include respond-to(phone) {
			display: block;
			margin-bottom: 12px;
			padding: 0;
			width: 100%;

			&:last-of-type {
				margin-bottom: 0;
			}
		}

		&:first-of-type {
			padding-left: 0;
		}

		&:last-of-type {
			padding-right: 0;
		}

		.img-bg {
			background: $white;
			border: solid 1px $light-gray;
			display: block;
			height: 135px;
			padding: 6px;

			img {
				cursor: pointer;
				height: auto;
				max-width: 100%;
			}
		}
	}
}

.detail h3 {
	margin-bottom: -11px;
}

.thumbnail-explanation {
	background: url('../img/mag_glass.png') left bottom no-repeat;
	color: $light-gray;
	font-size: .7em;
	margin-top: 5px;
	padding: 0 0 0 13px;
}

.action {
	h4 {
		color: #b5b5b5;
		font-family: Lato;
		font-size: .9em;
		margin: 0;
		padding: 0;
	}

	p {
		margin: 10px 0 0;
	}
}

/* Spotlight */

.spotlight {
	.main_container {
		height: 370px;

		@include respond-to(tablet-portrait) {
			height: 440px;
		}

		@include respond-to(phone, tablet-portrait) {
			height: 540px;
		}
	}

	h1 {
		border-bottom: dotted $black 1px;
		font-family: 'Lato', arial, serif;
		font-size: 36px;
		font-weight: 900;
		margin: 0;
		padding: 0 0 10px;

		@include respond-to(phone, tablet-portrait) {
			font-size: 24px;
		}
	}

	aside {
		padding: 0 15px;
		width: 1005px;

		p {
			display: inline;
			margin: 0;
			padding: 5px 10px;

			font-family: 'Lato', arial, serif;
			font-size: 18px;
			font-weight: bold;

			background: $white;
		}
	}

	.store_main p {
		color: #4a4a4a;
		font-size: 17px;
		line-height: 24px;

		@include respond-to(phone, tablet-portrait, tablet-landscape) {
			font-size: 14px;
		}
	}

	a.more {
		font-size: 17px;
		font-weight: 700;
		position: absolute;
		text-decoration: underline;
		top: 270px;
	}

	.store_main {
		position: absolute;

		section {
			background: transparent;
			padding: 20px 20px 10px;
			padding-left: 350px;
			width: calc(100% - 360px);

			img {
				left: 10px;
				position: absolute;
				top: 20px;

				@include respond-to(phone, tablet-portrait) {
					float: none;
					margin-top: 10px;
					max-height: 200px;
					max-width: 100%;
					position: static;
				}
			}

			a.more {
				@include respond-to(phone, tablet-portrait) {
					float: none;
					position: relative;
					right: 0 !important;
					top: -10px;
				}
			}

			@include respond-to(phone, tablet-portrait) {
				padding: 5px;
				text-align: center;
				width: calc(100% - 30px);
			}
		}

		section.left {
			padding-left: 10px;
			text-align: left;

			@include respond-to(phone, tablet-portrait) {
				text-align: center;
			}

			img {
				left: inherit;
				right: 10px;
			}
		}

		section.crossword h1,
		section.crossword p {
			text-align: right;

			@include respond-to(phone, tablet-portrait) {
				text-align: center;
			}
		}

		section.crossword a.more,
		section.materia_new a.more {
			right: 40px;
		}
	}
}
