@import "mixins";
@import "colors";

.widget-details {
	.content {
		@include respond-to(desktop, large-desktop) {
			width: 66%;
		}
	}
	.aside-content {
		@include respond-to(desktop, large-desktop) {
			width: 34%;
		}
	}
}

.aside-content .icon {
	display: block;

	max-width: 100%;
	height: auto;
	margin-top: 15px;
}

.content {
	.tooltip {
		position: absolute;
		z-index: 99;

		display: none;

		width: 250px;
		padding: 15px;

		font-size: 12px;

		border-radius: 15px;
		background: $white;
		box-shadow: 1px 2px 5px $medium-gray;
	}

	hr {
		margin: 20px 0;
	}

	dl {
		line-height: 24px;

		dt {
			float: left;
			clear: left;
			overflow: hidden;

			width: 126px;

			text-align: right;
			white-space: nowrap;
			text-overflow: ellipsis;
		}

		dd {
			margin-left: 142px;

			cursor: default;

			span {
				@include respond-to(phone) {
					display: block;
				}
			}
		}
	}
}

.pics {
	margin: 1em 0 0;
	padding: 0;

	li {
		@include respond-to(phone) {
			display: block;

			width: 100%;
			margin-bottom: 12px;
			padding: 0;

			&:last-of-type {
				margin-bottom: 0;
			}
		}

		display: inline-block;

		box-sizing: border-box;
		width: 33.33%;
		padding: 0 10px;

		line-height: 1;

		text-align: center;
		vertical-align: top;

		&:first-of-type {
			padding-left: 0;
		}

		&:last-of-type {
			padding-right: 0;
		}

		.img-bg {
			display: block;

			height: 135px;
			padding: 6px;

			border: solid 1px $light-gray;
			background: $white;

			.helper {
				display: inline-block;

				height: 100%;

				vertical-align: middle;
			}

			img {
				position: relative;

				max-width: 100%;

				cursor: pointer;
				vertical-align: middle;
			}
		}
	}
}

.detail h3 {
	margin-bottom: -11px;
}

.thumbnail-explanation {
	margin-top: 5px;
	padding: 0 0 0 13px;

	font-size: 0.7em;

	color: $light-gray;
	background: url("../img/mag_glass.png") left bottom no-repeat;
}

.action {
	h4 {
		margin: 0;
		padding: 0;

		font-family: Lato;
		font-size: 0.9em;

		color: #b5b5b5;
	}

	p {
		margin: 10px 0 0;
	}
}

/* Spotlight */

.spotlight {
	.main-container {
		@include respond-to(tablet-portrait) {
			height: 440px;

			border-top: solid 1px $light-gray;
		}
		@include respond-to(phone) {
			height: 540px;
			padding: 0;

			border-top: solid 1px $light-gray;
		}

		height: 370px;
		padding: 20px;
	}

	h1 {
		@include respond-to(phone, tablet-portrait) {
			font-size: 24px;
		}

		margin: 0;
		padding: 0 0 10px;

		font-family: "Lato", arial, serif;
		font-size: 36px;
		font-weight: 900;

		border-bottom: dotted $black 1px;
	}

	aside {
		width: 1005px;
		padding: 0 15px;

		p {
			display: inline;

			margin: 0;
			padding: 5px 10px;

			font-family: "Lato", arial, serif;
			font-size: 18px;
			font-weight: bold;

			background: $white;
		}
	}

	.store-main p {
		@include respond-to(phone, tablet-portrait, tablet-landscape) {
			font-size: 14px;
		}

		font-size: 17px;
		line-height: 24px;

		color: #4a4a4a;
	}

	a.more {
		position: absolute;
		top: 270px;

		font-size: 17px;
		font-weight: 700;

		text-decoration: underline;
	}

	.store-main {
		position: absolute;

		section {
			@include respond-to(phone, tablet-portrait) {
				width: calc(100% - 30px);
				padding: 5px;

				text-align: center;
			}

			width: calc(100% - 390px);
			padding: 20px 20px 10px;
			padding-left: 350px;

			background: transparent;

			img {
				@include respond-to(phone, tablet-portrait) {
					position: static;

					float: none;

					max-width: 100%;
					max-height: 200px;
					margin-top: 10px;
				}

				position: absolute;
				top: 20px;
				left: 10px;
			}

			a.more {
				@include respond-to(phone, tablet-portrait) {
					position: relative;
					top: -10px;
					right: 0 !important;

					float: none;
				}
			}
		}

		section.left {
			@include respond-to(phone, tablet-portrait) {
				text-align: center;
			}

			padding-left: 10px;

			text-align: left;

			img {
				right: 10px;
				left: inherit;
			}
		}

		section.crossword h1, section.crossword p {
			@include respond-to(phone, tablet-portrait) {
				text-align: center;
			}

			text-align: right;
		}

		section.crossword a.more {
			right: 40px;
		}
	}
}
