{
    "_readme": [
        "This file locks the dependencies of your project to a known state",
        "Read more about it at https://getcomposer.org/doc/01-basic-usage.md#composer-lock-the-lock-file",
        "This file is @generated automatically"
    ],
    "hash": "6c720b23f81e7c3db500552d881f2019",
    "content-hash": "72d4af744e9a45401e44bbff799dadb8",
    "packages": [
        {
            "name": "composer/installers",
            "version": "v1.1.0",
            "source": {
                "type": "git",
                "url": "https://github.com/composer/installers.git",
                "reference": "a3595c5272a6f247228abb20076ed27321e4aae9"
            },
            "dist": {
                "type": "zip",
                "url": "https://api.github.com/repos/composer/installers/zipball/a3595c5272a6f247228abb20076ed27321e4aae9",
                "reference": "a3595c5272a6f247228abb20076ed27321e4aae9",
                "shasum": ""
            },
            "require": {
                "composer-plugin-api": "^1.0"
            },
            "replace": {
                "roundcube/plugin-installer": "*",
                "shama/baton": "*"
            },
            "require-dev": {
                "composer/composer": "1.0.*@dev",
                "phpunit/phpunit": "4.1.*"
            },
            "type": "composer-plugin",
            "extra": {
                "class": "Composer\\Installers\\Plugin",
                "branch-alias": {
                    "dev-master": "1.0-dev"
                }
            },
            "autoload": {
                "psr-4": {
                    "Composer\\Installers\\": "src/Composer/Installers"
                }
            },
            "notification-url": "https://packagist.org/downloads/",
            "license": [
                "MIT"
            ],
            "authors": [
                {
                    "name": "Kyle Robinson Young",
                    "email": "kyle@dontkry.com",
                    "homepage": "https://github.com/shama"
                }
            ],
            "description": "A multi-framework Composer library installer",
            "homepage": "https://composer.github.io/installers/",
            "keywords": [
                "Craft",
                "Dolibarr",
                "Hurad",
                "ImageCMS",
                "MODX Evo",
                "Mautic",
                "OXID",
                "RadPHP",
                "SMF",
                "Thelia",
                "WolfCMS",
                "agl",
                "aimeos",
                "annotatecms",
                "bitrix",
                "cakephp",
                "chef",
                "codeigniter",
                "concrete5",
                "croogo",
                "dokuwiki",
                "drupal",
                "elgg",
                "expressionengine",
                "fuelphp",
                "grav",
                "installer",
                "joomla",
                "kohana",
                "laravel",
                "lithium",
                "magento",
                "mako",
                "mediawiki",
                "modulework",
                "moodle",
                "phpbb",
                "piwik",
                "ppi",
                "puppet",
                "roundcube",
                "shopware",
                "silverstripe",
                "symfony",
                "typo3",
                "wordpress",
                "zend",
                "zikula"
            ],
            "time": "2016-07-05 06:18:20"
        },
        {
            "name": "fuel/auth",
            "version": "1.8.0",
            "source": {
                "type": "git",
                "url": "https://github.com/fuel/auth.git",
                "reference": "a645dbe2f80b6b4cecb069b57ea70150b6e53929"
            },
            "dist": {
                "type": "zip",
                "url": "https://api.github.com/repos/fuel/auth/zipball/a645dbe2f80b6b4cecb069b57ea70150b6e53929",
                "reference": "a645dbe2f80b6b4cecb069b57ea70150b6e53929",
                "shasum": ""
            },
            "require": {
                "composer/installers": "~1.0"
            },
            "type": "fuel-package",
            "notification-url": "https://packagist.org/downloads/",
            "license": [
                "MIT"
            ],
            "authors": [
                {
                    "name": "FuelPHP Development Team",
                    "email": "team@fuelphp.com"
                }
            ],
            "description": "FuelPHP 1.x Auth Package",
            "homepage": "https://github.com/fuel/auth",
            "time": "2016-01-23 12:30:25"
        },
        {
            "name": "fuel/core",
            "version": "1.8.0.3",
            "source": {
                "type": "git",
                "url": "https://github.com/fuel/core.git",
                "reference": "c8e190b22cb9fc1a9acfdde4ed7487e04051bbe7"
            },
            "dist": {
                "type": "zip",
                "url": "https://api.github.com/repos/fuel/core/zipball/c8e190b22cb9fc1a9acfdde4ed7487e04051bbe7",
                "reference": "c8e190b22cb9fc1a9acfdde4ed7487e04051bbe7",
                "shasum": ""
            },
            "require": {
                "composer/installers": "~1.0"
            },
            "type": "fuel-package",
            "notification-url": "https://packagist.org/downloads/",
            "license": [
                "MIT"
            ],
            "authors": [
                {
                    "name": "FuelPHP Development Team",
                    "email": "team@fuelphp.com"
                }
            ],
            "description": "FuelPHP 1.x Core",
            "homepage": "https://github.com/fuel/core",
            "time": "2016-07-21 08:45:05"
        },
        {
            "name": "fuel/email",
            "version": "1.8.0",
            "source": {
                "type": "git",
                "url": "https://github.com/fuel/email.git",
                "reference": "79133b3951068bbcff9a9c7b77f9f27a777ebdbd"
            },
            "dist": {
                "type": "zip",
                "url": "https://api.github.com/repos/fuel/email/zipball/79133b3951068bbcff9a9c7b77f9f27a777ebdbd",
                "reference": "79133b3951068bbcff9a9c7b77f9f27a777ebdbd",
                "shasum": ""
            },
            "require": {
                "composer/installers": "~1.0"
            },
            "type": "fuel-package",
            "notification-url": "https://packagist.org/downloads/",
            "license": [
                "MIT"
            ],
            "authors": [
                {
                    "name": "FuelPHP Development Team",
                    "email": "team@fuelphp.com"
                }
            ],
            "description": "FuelPHP 1.x Email Package",
            "homepage": "https://github.com/fuel/email",
            "time": "2016-01-23 12:31:34"
        },
        {
            "name": "fuel/oil",
            "version": "1.8.0",
            "source": {
                "type": "git",
                "url": "https://github.com/fuel/oil.git",
                "reference": "b29b80f29f090b9ad12b931da6e979587de6ced1"
            },
            "dist": {
                "type": "zip",
                "url": "https://api.github.com/repos/fuel/oil/zipball/b29b80f29f090b9ad12b931da6e979587de6ced1",
                "reference": "b29b80f29f090b9ad12b931da6e979587de6ced1",
                "shasum": ""
            },
            "require": {
                "composer/installers": "~1.0"
            },
            "type": "fuel-package",
            "notification-url": "https://packagist.org/downloads/",
            "license": [
                "MIT"
            ],
            "authors": [
                {
                    "name": "FuelPHP Development Team",
                    "email": "team@fuelphp.com"
                }
            ],
            "description": "FuelPHP 1.x Oil Package",
            "homepage": "https://github.com/fuel/oil",
            "time": "2016-01-23 12:32:54"
        },
        {
            "name": "fuel/orm",
            "version": "1.8.0.1",
            "source": {
                "type": "git",
                "url": "https://github.com/fuel/orm.git",
                "reference": "69cd98cfed4d8e34b176d87b73a35b98703235be"
            },
            "dist": {
                "type": "zip",
                "url": "https://api.github.com/repos/fuel/orm/zipball/69cd98cfed4d8e34b176d87b73a35b98703235be",
                "reference": "69cd98cfed4d8e34b176d87b73a35b98703235be",
                "shasum": ""
            },
            "require": {
                "composer/installers": "~1.0"
            },
            "type": "fuel-package",
            "notification-url": "https://packagist.org/downloads/",
            "license": [
                "MIT"
            ],
            "authors": [
                {
                    "name": "FuelPHP Development Team",
                    "email": "team@fuelphp.com"
                }
            ],
            "description": "FuelPHP 1.x ORM Package",
            "homepage": "https://github.com/fuel/orm",
            "time": "2016-05-22 14:52:35"
        },
        {
            "name": "fuel/parser",
            "version": "1.8.0",
            "source": {
                "type": "git",
                "url": "https://github.com/fuel/parser.git",
                "reference": "bec50ec304e696d72dba7f13494828532c6e18df"
            },
            "dist": {
                "type": "zip",
                "url": "https://api.github.com/repos/fuel/parser/zipball/bec50ec304e696d72dba7f13494828532c6e18df",
                "reference": "bec50ec304e696d72dba7f13494828532c6e18df",
                "shasum": ""
            },
            "require": {
                "composer/installers": "~1.0"
            },
            "type": "fuel-package",
            "notification-url": "https://packagist.org/downloads/",
            "license": [
                "MIT"
            ],
            "authors": [
                {
                    "name": "FuelPHP Development Team",
                    "email": "team@fuelphp.com"
                }
            ],
            "description": "FuelPHP 1.x Parser Package",
            "homepage": "https://github.com/fuel/parser",
            "time": "2016-03-12 12:08:41"
        },
        {
            "name": "fuelphp/upload",
            "version": "2.0.1",
            "source": {
                "type": "git",
                "url": "https://github.com/fuelphp/upload.git",
                "reference": "6310108de98ffdbf1083612db5b15411fc140c90"
            },
            "dist": {
                "type": "zip",
                "url": "https://api.github.com/repos/fuelphp/upload/zipball/6310108de98ffdbf1083612db5b15411fc140c90",
                "reference": "6310108de98ffdbf1083612db5b15411fc140c90",
                "shasum": ""
            },
            "require": {
                "php": ">=5.3"
            },
            "require-dev": {
                "mockery/mockery": "0.7.*"
            },
            "type": "library",
            "autoload": {
                "psr-0": {
                    "Fuel\\Upload": "src/"
                }
            },
            "notification-url": "https://packagist.org/downloads/",
            "license": [
                "MIT"
            ],
            "authors": [
                {
                    "name": "FuelPHP Development Team",
                    "email": "team@fuelphp.com"
                }
            ],
            "description": "Uploaded file processing.",
            "homepage": "https://github.com/fuelphp/upload",
            "keywords": [
                "file uploads",
                "upload"
            ],
            "time": "2013-10-11 21:42:58"
        },
        {
            "name": "iturgeon/qasset",
            "version": "dev-master",
            "source": {
                "type": "git",
                "url": "https://github.com/iturgeon/qAsset.git",
                "reference": "a3e36e7e7e9921bbc68ab763c2a99cc861b6fa52"
            },
            "require": {
                "php": ">=5.3.0"
            },
            "type": "library",
            "autoload": {
                "psr-0": {
                    "": "src/"
                }
            },
            "license": [
                "MIT"
            ],
            "authors": [
                {
                    "name": "Ian Turgeon",
                    "email": "iturgeon@gmail.com",
                    "homepage": "http://ianturgeon.com"
                }
            ],
            "description": "FuelPHP CSS and Javascript asset management",
            "homepage": "https://github.com/iturgeon/qAsset",
            "keywords": [
                "Javascript",
                "assets",
                "casset",
                "css",
                "fuelphp",
                "js",
                "qasset"
            ],
            "time": "2016-06-03 16:29:57"
        },
        {
            "name": "materia/ucfauth",
            "version": "0.1.4",
            "source": {
                "type": "git",
                "url": "https://github.com/ucfcdl/Materia-UCFAuth.git",
                "reference": "master"
            },
            "type": "fuel-package"
        },
        {
            "name": "michelf/php-markdown",
            "version": "1.4.0",
            "source": {
                "type": "git",
                "url": "https://github.com/michelf/php-markdown.git",
                "reference": "96d8150406f67e683ef4acc09fef91785fef1266"
            },
            "dist": {
                "type": "zip",
                "url": "https://api.github.com/repos/michelf/php-markdown/zipball/96d8150406f67e683ef4acc09fef91785fef1266",
                "reference": "96d8150406f67e683ef4acc09fef91785fef1266",
                "shasum": ""
            },
            "require": {
                "php": ">=5.3.0"
            },
            "type": "library",
            "extra": {
                "branch-alias": {
                    "dev-lib": "1.4.x-dev"
                }
            },
            "autoload": {
                "psr-0": {
                    "Michelf": ""
                }
            },
            "notification-url": "https://packagist.org/downloads/",
            "license": [
                "BSD-3-Clause"
            ],
            "authors": [
                {
                    "name": "Michel Fortin",
                    "email": "michel.fortin@michelf.ca",
                    "homepage": "http://michelf.ca/",
                    "role": "Developer"
                },
                {
                    "name": "John Gruber",
                    "homepage": "http://daringfireball.net/"
                }
            ],
            "description": "PHP Markdown",
            "homepage": "http://michelf.ca/projects/php-markdown/",
            "keywords": [
                "markdown"
            ],
            "time": "2013-11-29 17:09:24"
        },
        {
            "name": "monolog/monolog",
            "version": "1.5.0",
            "source": {
                "type": "git",
                "url": "https://github.com/Seldaek/monolog.git",
                "reference": "583618d5cd2115a52101694aca87afb182b3e567"
            },
            "dist": {
                "type": "zip",
                "url": "https://api.github.com/repos/Seldaek/monolog/zipball/583618d5cd2115a52101694aca87afb182b3e567",
                "reference": "583618d5cd2115a52101694aca87afb182b3e567",
                "shasum": ""
            },
            "require": {
                "php": ">=5.3.0",
                "psr/log": "~1.0"
            },
            "require-dev": {
                "doctrine/couchdb": "dev-master",
                "mlehner/gelf-php": "1.0.*",
                "raven/raven": "0.3.*"
            },
            "suggest": {
                "doctrine/couchdb": "Allow sending log messages to a CouchDB server",
                "ext-amqp": "Allow sending log messages to an AMQP server (1.0+ required)",
                "ext-mongo": "Allow sending log messages to a MongoDB server",
                "mlehner/gelf-php": "Allow sending log messages to a GrayLog2 server",
                "raven/raven": "Allow sending log messages to a Sentry server"
            },
            "type": "library",
            "extra": {
                "branch-alias": {
                    "dev-master": "1.4.x-dev"
                }
            },
            "autoload": {
                "psr-0": {
                    "Monolog": "src/"
                }
            },
            "notification-url": "https://packagist.org/downloads/",
            "license": [
                "MIT"
            ],
            "authors": [
                {
                    "name": "Jordi Boggiano",
                    "email": "j.boggiano@seld.be",
                    "homepage": "http://seld.be",
                    "role": "Developer"
                }
            ],
            "description": "Sends your logs to files, sockets, inboxes, databases and various web services",
            "homepage": "http://github.com/Seldaek/monolog",
            "keywords": [
                "log",
                "logging",
                "psr-3"
            ],
            "time": "2013-04-23 10:09:48"
        },
        {
            "name": "phpseclib/phpseclib",
            "version": "2.0.0",
            "source": {
                "type": "git",
                "url": "https://github.com/phpseclib/phpseclib.git",
                "reference": "a74aa9efbe61430fcb60157c8e025a48ec8ff604"
            },
            "dist": {
                "type": "zip",
                "url": "https://api.github.com/repos/phpseclib/phpseclib/zipball/a74aa9efbe61430fcb60157c8e025a48ec8ff604",
                "reference": "a74aa9efbe61430fcb60157c8e025a48ec8ff604",
                "shasum": ""
            },
            "require": {
                "php": ">=5.3.3"
            },
            "require-dev": {
                "phing/phing": "~2.7",
                "phpunit/phpunit": "~4.0",
                "sami/sami": "~2.0",
                "squizlabs/php_codesniffer": "~2.0"
            },
            "suggest": {
                "ext-gmp": "Install the GMP (GNU Multiple Precision) extension in order to speed up arbitrary precision integer arithmetic operations.",
                "ext-libsodium": "SSH2/SFTP can make use of some algorithms provided by the libsodium-php extension.",
                "ext-mcrypt": "Install the Mcrypt extension in order to speed up a few other cryptographic operations.",
                "ext-openssl": "Install the OpenSSL extension in order to speed up a wide variety of cryptographic operations.",
                "pear-pear/PHP_Compat": "Install PHP_Compat to get phpseclib working on PHP < 5.0.0."
            },
            "type": "library",
            "autoload": {
                "psr-4": {
                    "phpseclib\\": "phpseclib/"
                }
            },
            "notification-url": "https://packagist.org/downloads/",
            "include-path": [
                "phpseclib/"
            ],
            "license": [
                "MIT"
            ],
            "authors": [
                {
                    "name": "Jim Wigginton",
                    "email": "terrafrost@php.net",
                    "role": "Lead Developer"
                },
                {
                    "name": "Patrick Monnerat",
                    "email": "pm@datasphere.ch",
                    "role": "Developer"
                },
                {
                    "name": "Andreas Fischer",
                    "email": "bantu@phpbb.com",
                    "role": "Developer"
                },
                {
                    "name": "Hans-Jürgen Petrich",
                    "email": "petrich@tronic-media.com",
                    "role": "Developer"
                }
            ],
            "description": "PHP Secure Communications Library - Pure-PHP implementations of RSA, AES, SSH2, SFTP, X.509 etc.",
            "homepage": "http://phpseclib.sourceforge.net",
            "keywords": [
                "BigInteger",
                "aes",
                "asn.1",
                "asn1",
                "blowfish",
                "crypto",
                "cryptography",
                "encryption",
                "rsa",
                "security",
                "sftp",
                "signature",
                "signing",
                "ssh",
                "twofish",
                "x.509",
                "x509"
            ],
            "time": "2015-08-04 04:48:03"
        },
        {
            "name": "psr/log",
            "version": "dev-master",
            "source": {
                "type": "git",
                "url": "https://github.com/php-fig/log.git",
                "reference": "d8e60a5619fff77f9669da8997697443ef1a1d7e"
            },
            "dist": {
                "type": "zip",
                "url": "https://api.github.com/repos/php-fig/log/zipball/d8e60a5619fff77f9669da8997697443ef1a1d7e",
                "reference": "d8e60a5619fff77f9669da8997697443ef1a1d7e",
                "shasum": ""
            },
            "require": {
                "php": ">=5.3.0"
            },
            "type": "library",
            "extra": {
                "branch-alias": {
                    "dev-master": "1.0.x-dev"
                }
            },
            "autoload": {
                "psr-4": {
                    "Psr\\Log\\": "Psr/Log/"
                }
            },
            "notification-url": "https://packagist.org/downloads/",
            "license": [
                "MIT"
            ],
            "authors": [
                {
                    "name": "PHP-FIG",
                    "homepage": "http://www.php-fig.org/"
                }
            ],
            "description": "Common interface for logging libraries",
            "homepage": "https://github.com/php-fig/log",
            "keywords": [
                "log",
                "psr",
                "psr-3"
            ],
            "time": "2016-01-06 21:40:42"
        },
        {
            "name": "ucfcdl/php-saml",
            "version": "dev-master",
            "source": {
                "type": "git",
                "url": "https://github.com/ucfcdl/php-saml.git",
                "reference": "3ea2095e1c9526adb80ee0da7f09a0648a6836d5"
            },
            "require": {
                "php": ">=5.3.2"
            },
            "require-dev": {
                "pdepend/pdepend": "1.1.0",
                "phploc/phploc": "*",
                "satooshi/php-coveralls": "dev-master",
                "sebastian/phpcpd": "*",
                "squizlabs/php_codesniffer": "*"
            },
            "suggest": {
                "ext-gettext": "Install gettext and php5-gettext libs to handle translations",
                "ext-mcrypt": "Install mcrypt and php5-mcrypt libs in order to support encryption",
                "lib-openssl": "Install openssl lib in order to handle with x509 certs (require to support sign and encryption)"
            },
            "type": "library",
            "autoload": {
                "classmap": [
                    "extlib/xmlseclibs",
                    "lib/Saml",
                    "lib/Saml2"
                ]
            },
            "license": [
                "MIT"
            ],
            "description": "OneLogin PHP SAML Toolkit",
            "homepage": "https://onelogin.zendesk.com/hc/en-us/sections/200245634-SAML-Toolkits",
            "keywords": [
                "onelogin",
                "saml",
                "saml2"
            ],
            "support": {
                "email": "sixto.garcia@onelogin.com",
                "issues": "https://github.com/onelogin/php-saml/issues",
                "source": "https://github.com/onelogin/php-saml/"
            },
            "time": "2015-10-02 19:20:12"
        }
    ],
    "packages-dev": [
        {
            "name": "fuel/docs",
            "version": "1.8.0",
            "source": {
                "type": "git",
                "url": "https://github.com/fuel/docs.git",
                "reference": "e03906d02cbd09bddb653e28f92f92056e673a32"
            },
            "dist": {
                "type": "zip",
                "url": "https://api.github.com/repos/fuel/docs/zipball/e03906d02cbd09bddb653e28f92f92056e673a32",
                "reference": "e03906d02cbd09bddb653e28f92f92056e673a32",
                "shasum": ""
            },
            "require": {
                "composer/installers": "~1.0"
            },
            "type": "fuel-package",
            "notification-url": "https://packagist.org/downloads/",
            "license": [
                "MIT"
            ],
            "authors": [
                {
                    "name": "FuelPHP Development Team",
                    "email": "team@fuelphp.com"
                }
            ],
            "description": "FuelPHP 1.x Documenataion",
            "homepage": "https://github.com/fuel/docs",
            "time": "2016-04-10 12:59:50"
        },
        {
            "name": "phpunit/php-code-coverage",
            "version": "2.2.x-dev",
            "source": {
                "type": "git",
                "url": "https://github.com/sebastianbergmann/php-code-coverage.git",
                "reference": "eabf68b476ac7d0f73793aada060f1c1a9bf8979"
            },
            "dist": {
                "type": "zip",
                "url": "https://api.github.com/repos/sebastianbergmann/php-code-coverage/zipball/eabf68b476ac7d0f73793aada060f1c1a9bf8979",
                "reference": "eabf68b476ac7d0f73793aada060f1c1a9bf8979",
                "shasum": ""
            },
            "require": {
                "php": ">=5.3.3",
                "phpunit/php-file-iterator": "~1.3",
                "phpunit/php-text-template": "~1.2",
                "phpunit/php-token-stream": "~1.3",
                "sebastian/environment": "^1.3.2",
                "sebastian/version": "~1.0"
            },
            "require-dev": {
                "ext-xdebug": ">=2.1.4",
                "phpunit/phpunit": "~4"
            },
            "suggest": {
                "ext-dom": "*",
                "ext-xdebug": ">=2.2.1",
                "ext-xmlwriter": "*"
            },
            "type": "library",
            "extra": {
                "branch-alias": {
                    "dev-master": "2.2.x-dev"
                }
            },
            "autoload": {
                "classmap": [
                    "src/"
                ]
            },
            "notification-url": "https://packagist.org/downloads/",
            "license": [
                "BSD-3-Clause"
            ],
            "authors": [
                {
                    "name": "Sebastian Bergmann",
                    "email": "sb@sebastian-bergmann.de",
                    "role": "lead"
                }
            ],
            "description": "Library that provides collection, processing, and rendering functionality for PHP code coverage information.",
            "homepage": "https://github.com/sebastianbergmann/php-code-coverage",
            "keywords": [
                "coverage",
                "testing",
                "xunit"
            ],
            "time": "2015-10-06 15:47:00"
        },
        {
            "name": "phpunit/php-file-iterator",
            "version": "1.3.4",
            "source": {
                "type": "git",
                "url": "https://github.com/sebastianbergmann/php-file-iterator.git",
                "reference": "acd690379117b042d1c8af1fafd61bde001bf6bb"
            },
            "dist": {
                "type": "zip",
                "url": "https://api.github.com/repos/sebastianbergmann/php-file-iterator/zipball/acd690379117b042d1c8af1fafd61bde001bf6bb",
                "reference": "acd690379117b042d1c8af1fafd61bde001bf6bb",
                "shasum": ""
            },
            "require": {
                "php": ">=5.3.3"
            },
            "type": "library",
            "autoload": {
                "classmap": [
                    "File/"
                ]
            },
            "notification-url": "https://packagist.org/downloads/",
            "include-path": [
                ""
            ],
            "license": [
                "BSD-3-Clause"
            ],
            "authors": [
                {
                    "name": "Sebastian Bergmann",
                    "email": "sb@sebastian-bergmann.de",
                    "role": "lead"
                }
            ],
            "description": "FilterIterator implementation that filters files based on a list of suffixes.",
            "homepage": "https://github.com/sebastianbergmann/php-file-iterator/",
            "keywords": [
                "filesystem",
                "iterator"
            ],
            "time": "2013-10-10 15:34:57"
        },
        {
            "name": "phpunit/php-text-template",
            "version": "1.2.1",
            "source": {
                "type": "git",
                "url": "https://github.com/sebastianbergmann/php-text-template.git",
                "reference": "31f8b717e51d9a2afca6c9f046f5d69fc27c8686"
            },
            "dist": {
                "type": "zip",
                "url": "https://api.github.com/repos/sebastianbergmann/php-text-template/zipball/31f8b717e51d9a2afca6c9f046f5d69fc27c8686",
                "reference": "31f8b717e51d9a2afca6c9f046f5d69fc27c8686",
                "shasum": ""
            },
            "require": {
                "php": ">=5.3.3"
            },
            "type": "library",
            "autoload": {
                "classmap": [
                    "src/"
                ]
            },
            "notification-url": "https://packagist.org/downloads/",
            "license": [
                "BSD-3-Clause"
            ],
            "authors": [
                {
                    "name": "Sebastian Bergmann",
                    "email": "sebastian@phpunit.de",
                    "role": "lead"
                }
            ],
            "description": "Simple template engine.",
            "homepage": "https://github.com/sebastianbergmann/php-text-template/",
            "keywords": [
                "template"
            ],
            "time": "2015-06-21 13:50:34"
        },
        {
            "name": "phpunit/php-timer",
            "version": "1.0.8",
            "source": {
                "type": "git",
                "url": "https://github.com/sebastianbergmann/php-timer.git",
                "reference": "38e9124049cf1a164f1e4537caf19c99bf1eb260"
            },
            "dist": {
                "type": "zip",
                "url": "https://api.github.com/repos/sebastianbergmann/php-timer/zipball/38e9124049cf1a164f1e4537caf19c99bf1eb260",
                "reference": "38e9124049cf1a164f1e4537caf19c99bf1eb260",
                "shasum": ""
            },
            "require": {
                "php": ">=5.3.3"
            },
            "require-dev": {
                "phpunit/phpunit": "~4|~5"
            },
            "type": "library",
            "autoload": {
                "classmap": [
                    "src/"
                ]
            },
            "notification-url": "https://packagist.org/downloads/",
            "license": [
                "BSD-3-Clause"
            ],
            "authors": [
                {
                    "name": "Sebastian Bergmann",
                    "email": "sb@sebastian-bergmann.de",
                    "role": "lead"
                }
            ],
            "description": "Utility class for timing",
            "homepage": "https://github.com/sebastianbergmann/php-timer/",
            "keywords": [
                "timer"
            ],
            "time": "2016-05-12 18:03:57"
        },
        {
            "name": "phpunit/php-token-stream",
            "version": "dev-master",
            "source": {
                "type": "git",
                "url": "https://github.com/sebastianbergmann/php-token-stream.git",
                "reference": "cab6c6fefee93d7b7c3a01292a0fe0884ea66644"
            },
            "dist": {
                "type": "zip",
                "url": "https://api.github.com/repos/sebastianbergmann/php-token-stream/zipball/cab6c6fefee93d7b7c3a01292a0fe0884ea66644",
                "reference": "cab6c6fefee93d7b7c3a01292a0fe0884ea66644",
                "shasum": ""
            },
            "require": {
                "ext-tokenizer": "*",
                "php": ">=5.3.3"
            },
            "require-dev": {
                "phpunit/phpunit": "~4.2"
            },
            "type": "library",
            "extra": {
                "branch-alias": {
                    "dev-master": "1.4-dev"
                }
            },
            "autoload": {
                "classmap": [
                    "src/"
                ]
            },
            "notification-url": "https://packagist.org/downloads/",
            "license": [
                "BSD-3-Clause"
            ],
            "authors": [
                {
                    "name": "Sebastian Bergmann",
                    "email": "sebastian@phpunit.de"
                }
            ],
            "description": "Wrapper around PHP's tokenizer extension.",
            "homepage": "https://github.com/sebastianbergmann/php-token-stream/",
            "keywords": [
                "tokenizer"
            ],
            "time": "2015-09-23 14:46:55"
        },
        {
            "name": "phpunit/phpunit",
            "version": "4.1.x-dev",
            "source": {
                "type": "git",
                "url": "https://github.com/sebastianbergmann/phpunit.git",
                "reference": "43914fa040d3bc85d316fac6ae15409c68bfa105"
            },
            "dist": {
                "type": "zip",
                "url": "https://api.github.com/repos/sebastianbergmann/phpunit/zipball/43914fa040d3bc85d316fac6ae15409c68bfa105",
                "reference": "43914fa040d3bc85d316fac6ae15409c68bfa105",
                "shasum": ""
            },
            "require": {
                "ext-dom": "*",
                "ext-json": "*",
                "ext-pcre": "*",
                "ext-reflection": "*",
                "ext-spl": "*",
                "php": ">=5.3.3",
                "phpunit/php-code-coverage": "~2.0",
                "phpunit/php-file-iterator": "~1.3.1",
                "phpunit/php-text-template": "~1.2",
                "phpunit/php-timer": "~1.0.2",
                "phpunit/phpunit-mock-objects": "2.1.5",
                "sebastian/comparator": "~1.0",
                "sebastian/diff": "~1.1",
                "sebastian/environment": "~1.0",
                "sebastian/exporter": "~1.0",
                "sebastian/version": "~1.0",
                "symfony/yaml": "~2.0"
            },
            "suggest": {
                "phpunit/php-invoker": "~1.1"
            },
            "bin": [
                "phpunit"
            ],
            "type": "library",
            "extra": {
                "branch-alias": {
                    "dev-master": "4.1.x-dev"
                }
            },
            "autoload": {
                "classmap": [
                    "src/"
                ]
            },
            "notification-url": "https://packagist.org/downloads/",
            "include-path": [
                "",
                "../../symfony/yaml/"
            ],
            "license": [
                "BSD-3-Clause"
            ],
            "authors": [
                {
                    "name": "Sebastian Bergmann",
                    "email": "sebastian@phpunit.de",
                    "role": "lead"
                }
            ],
            "description": "The PHP Unit Testing framework.",
            "homepage": "http://www.phpunit.de/",
            "keywords": [
                "phpunit",
                "testing",
                "xunit"
            ],
            "time": "2015-02-09 06:33:19"
        },
        {
            "name": "phpunit/phpunit-mock-objects",
            "version": "2.1.5",
            "source": {
                "type": "git",
                "url": "https://github.com/sebastianbergmann/phpunit-mock-objects.git",
                "reference": "7878b9c41edb3afab92b85edf5f0981014a2713a"
            },
            "dist": {
                "type": "zip",
                "url": "https://api.github.com/repos/sebastianbergmann/phpunit-mock-objects/zipball/7878b9c41edb3afab92b85edf5f0981014a2713a",
                "reference": "7878b9c41edb3afab92b85edf5f0981014a2713a",
                "shasum": ""
            },
            "require": {
                "php": ">=5.3.3",
                "phpunit/php-text-template": "~1.2"
            },
            "require-dev": {
                "phpunit/phpunit": "~4.1"
            },
            "suggest": {
                "ext-soap": "*"
            },
            "type": "library",
            "extra": {
                "branch-alias": {
                    "dev-master": "2.1.x-dev"
                }
            },
            "autoload": {
                "classmap": [
                    "src/"
                ]
            },
            "notification-url": "https://packagist.org/downloads/",
            "include-path": [
                ""
            ],
            "license": [
                "BSD-3-Clause"
            ],
            "authors": [
                {
                    "name": "Sebastian Bergmann",
                    "email": "sb@sebastian-bergmann.de",
                    "role": "lead"
                }
            ],
            "description": "Mock Object library for PHPUnit",
            "homepage": "https://github.com/sebastianbergmann/phpunit-mock-objects/",
            "keywords": [
                "mock",
                "xunit"
            ],
            "time": "2014-06-12 07:22:15"
        },
        {
            "name": "sebastian/comparator",
            "version": "dev-master",
            "source": {
                "type": "git",
                "url": "https://github.com/sebastianbergmann/comparator.git",
                "reference": "937efb279bd37a375bcadf584dec0726f84dbf22"
            },
            "dist": {
                "type": "zip",
                "url": "https://api.github.com/repos/sebastianbergmann/comparator/zipball/937efb279bd37a375bcadf584dec0726f84dbf22",
                "reference": "937efb279bd37a375bcadf584dec0726f84dbf22",
                "shasum": ""
            },
            "require": {
                "php": ">=5.3.3",
                "sebastian/diff": "~1.2",
                "sebastian/exporter": "~1.2"
            },
            "require-dev": {
                "phpunit/phpunit": "~4.4"
            },
            "type": "library",
            "extra": {
                "branch-alias": {
                    "dev-master": "1.2.x-dev"
                }
            },
            "autoload": {
                "classmap": [
                    "src/"
                ]
            },
            "notification-url": "https://packagist.org/downloads/",
            "license": [
                "BSD-3-Clause"
            ],
            "authors": [
                {
                    "name": "Jeff Welch",
                    "email": "whatthejeff@gmail.com"
                },
                {
                    "name": "Volker Dusch",
                    "email": "github@wallbash.com"
                },
                {
                    "name": "Bernhard Schussek",
                    "email": "bschussek@2bepublished.at"
                },
                {
                    "name": "Sebastian Bergmann",
                    "email": "sebastian@phpunit.de"
                }
            ],
            "description": "Provides the functionality to compare PHP values for equality",
            "homepage": "http://www.github.com/sebastianbergmann/comparator",
            "keywords": [
                "comparator",
                "compare",
                "equality"
            ],
            "time": "2015-07-26 15:48:44"
        },
        {
            "name": "sebastian/diff",
            "version": "dev-master",
            "source": {
                "type": "git",
                "url": "https://github.com/sebastianbergmann/diff.git",
                "reference": "13edfd8706462032c2f52b4b862974dd46b71c9e"
            },
            "dist": {
                "type": "zip",
                "url": "https://api.github.com/repos/sebastianbergmann/diff/zipball/13edfd8706462032c2f52b4b862974dd46b71c9e",
                "reference": "13edfd8706462032c2f52b4b862974dd46b71c9e",
                "shasum": ""
            },
            "require": {
                "php": ">=5.3.3"
            },
            "require-dev": {
                "phpunit/phpunit": "~4.8"
            },
            "type": "library",
            "extra": {
                "branch-alias": {
                    "dev-master": "1.4-dev"
                }
            },
            "autoload": {
                "classmap": [
                    "src/"
                ]
            },
            "notification-url": "https://packagist.org/downloads/",
            "license": [
                "BSD-3-Clause"
            ],
            "authors": [
                {
                    "name": "Kore Nordmann",
                    "email": "mail@kore-nordmann.de"
                },
                {
                    "name": "Sebastian Bergmann",
                    "email": "sebastian@phpunit.de"
                }
            ],
            "description": "Diff implementation",
            "homepage": "https://github.com/sebastianbergmann/diff",
            "keywords": [
                "diff"
            ],
            "time": "2015-12-08 07:14:41"
        },
        {
            "name": "sebastian/environment",
            "version": "1.3.x-dev",
            "source": {
                "type": "git",
                "url": "https://github.com/sebastianbergmann/environment.git",
                "reference": "be2c607e43ce4c89ecd60e75c6a85c126e754aea"
            },
            "dist": {
                "type": "zip",
                "url": "https://api.github.com/repos/sebastianbergmann/environment/zipball/be2c607e43ce4c89ecd60e75c6a85c126e754aea",
                "reference": "be2c607e43ce4c89ecd60e75c6a85c126e754aea",
                "shasum": ""
            },
            "require": {
                "php": "^5.3.3 || ^7.0"
            },
            "require-dev": {
                "phpunit/phpunit": "^4.8 || ^5.0"
            },
            "type": "library",
            "extra": {
                "branch-alias": {
                    "dev-master": "1.3.x-dev"
                }
            },
            "autoload": {
                "classmap": [
                    "src/"
                ]
            },
            "notification-url": "https://packagist.org/downloads/",
            "license": [
                "BSD-3-Clause"
            ],
            "authors": [
                {
                    "name": "Sebastian Bergmann",
                    "email": "sebastian@phpunit.de"
                }
            ],
            "description": "Provides functionality to handle HHVM/PHP environments",
            "homepage": "http://www.github.com/sebastianbergmann/environment",
            "keywords": [
                "Xdebug",
                "environment",
                "hhvm"
            ],
            "time": "2016-08-18 05:49:44"
        },
        {
            "name": "sebastian/exporter",
            "version": "dev-master",
            "source": {
                "type": "git",
                "url": "https://github.com/sebastianbergmann/exporter.git",
                "reference": "42c4c2eec485ee3e159ec9884f95b431287edde4"
            },
            "dist": {
                "type": "zip",
                "url": "https://api.github.com/repos/sebastianbergmann/exporter/zipball/42c4c2eec485ee3e159ec9884f95b431287edde4",
                "reference": "42c4c2eec485ee3e159ec9884f95b431287edde4",
                "shasum": ""
            },
            "require": {
                "php": ">=5.3.3",
                "sebastian/recursion-context": "~1.0"
            },
            "require-dev": {
                "ext-mbstring": "*",
                "phpunit/phpunit": "~4.4"
            },
            "type": "library",
            "extra": {
                "branch-alias": {
                    "dev-master": "1.3.x-dev"
                }
            },
            "autoload": {
                "classmap": [
                    "src/"
                ]
            },
            "notification-url": "https://packagist.org/downloads/",
            "license": [
                "BSD-3-Clause"
            ],
            "authors": [
                {
                    "name": "Jeff Welch",
                    "email": "whatthejeff@gmail.com"
                },
                {
                    "name": "Volker Dusch",
                    "email": "github@wallbash.com"
                },
                {
                    "name": "Bernhard Schussek",
                    "email": "bschussek@2bepublished.at"
                },
                {
                    "name": "Sebastian Bergmann",
                    "email": "sebastian@phpunit.de"
                },
                {
                    "name": "Adam Harvey",
                    "email": "aharvey@php.net"
                }
            ],
            "description": "Provides the functionality to export PHP variables for visualization",
            "homepage": "http://www.github.com/sebastianbergmann/exporter",
            "keywords": [
                "export",
                "exporter"
            ],
            "time": "2016-06-17 09:04:28"
        },
        {
            "name": "sebastian/recursion-context",
            "version": "dev-master",
            "source": {
                "type": "git",
                "url": "https://github.com/sebastianbergmann/recursion-context.git",
                "reference": "7ff5b1b3dcc55b8ab8ae61ef99d4730940856ee7"
            },
            "dist": {
                "type": "zip",
                "url": "https://api.github.com/repos/sebastianbergmann/recursion-context/zipball/7ff5b1b3dcc55b8ab8ae61ef99d4730940856ee7",
                "reference": "7ff5b1b3dcc55b8ab8ae61ef99d4730940856ee7",
                "shasum": ""
            },
            "require": {
                "php": ">=5.3.3"
            },
            "require-dev": {
                "phpunit/phpunit": "~4.4"
            },
            "type": "library",
            "extra": {
                "branch-alias": {
                    "dev-master": "1.0.x-dev"
                }
            },
            "autoload": {
                "classmap": [
                    "src/"
                ]
            },
            "notification-url": "https://packagist.org/downloads/",
            "license": [
                "BSD-3-Clause"
            ],
            "authors": [
                {
                    "name": "Jeff Welch",
                    "email": "whatthejeff@gmail.com"
                },
                {
                    "name": "Sebastian Bergmann",
                    "email": "sebastian@phpunit.de"
                },
                {
                    "name": "Adam Harvey",
                    "email": "aharvey@php.net"
                }
            ],
            "description": "Provides functionality to recursively process PHP variables",
            "homepage": "http://www.github.com/sebastianbergmann/recursion-context",
            "time": "2016-01-28 05:39:29"
        },
        {
            "name": "sebastian/version",
            "version": "1.0.6",
            "source": {
                "type": "git",
                "url": "https://github.com/sebastianbergmann/version.git",
                "reference": "58b3a85e7999757d6ad81c787a1fbf5ff6c628c6"
            },
            "dist": {
                "type": "zip",
                "url": "https://api.github.com/repos/sebastianbergmann/version/zipball/58b3a85e7999757d6ad81c787a1fbf5ff6c628c6",
                "reference": "58b3a85e7999757d6ad81c787a1fbf5ff6c628c6",
                "shasum": ""
            },
            "type": "library",
            "autoload": {
                "classmap": [
                    "src/"
                ]
            },
            "notification-url": "https://packagist.org/downloads/",
            "license": [
                "BSD-3-Clause"
            ],
            "authors": [
                {
                    "name": "Sebastian Bergmann",
                    "email": "sebastian@phpunit.de",
                    "role": "lead"
                }
            ],
            "description": "Library that helps with managing the version number of Git-hosted PHP projects",
            "homepage": "https://github.com/sebastianbergmann/version",
            "time": "2015-06-21 13:59:46"
        },
        {
            "name": "symfony/yaml",
            "version": "2.8.x-dev",
            "source": {
                "type": "git",
                "url": "https://github.com/symfony/yaml.git",
                "reference": "0ceab136f43ed9d3e97b3eea32a7855dc50c121d"
            },
            "dist": {
                "type": "zip",
                "url": "https://api.github.com/repos/symfony/yaml/zipball/0ceab136f43ed9d3e97b3eea32a7855dc50c121d",
                "reference": "0ceab136f43ed9d3e97b3eea32a7855dc50c121d",
                "shasum": ""
            },
            "require": {
                "php": ">=5.3.9"
            },
            "type": "library",
            "extra": {
                "branch-alias": {
                    "dev-master": "2.8-dev"
                }
            },
            "autoload": {
                "psr-4": {
                    "Symfony\\Component\\Yaml\\": ""
                },
                "exclude-from-classmap": [
                    "/Tests/"
                ]
            },
            "notification-url": "https://packagist.org/downloads/",
            "license": [
                "MIT"
            ],
            "authors": [
                {
                    "name": "Fabien Potencier",
                    "email": "fabien@symfony.com"
                },
                {
                    "name": "Symfony Community",
                    "homepage": "https://symfony.com/contributors"
                }
            ],
            "description": "Symfony Yaml Component",
            "homepage": "https://symfony.com",
            "time": "2016-07-17 09:06:15"
        }
    ],
    "aliases": [],
    "minimum-stability": "dev",
    "stability-flags": {
        "iturgeon/qasset": 20,
        "ucfcdl/php-saml": 20
    },
    "prefer-stable": false,
    "prefer-lowest": false,
    "platform": {
        "php": ">=5.3.3"
    },
    "platform-dev": []
}
