{
    "name": "ucfcdl/materia",
    "type": "project",
    "description" : "Materia is UCF's educational game and app network",
    "keywords": ["materia", "ucf", "cdl", "games", "edutainment", "widgets", "education", "university of central florida", "application", "website", "development", "framework", "PHP", "PHP7"],
    "repositories": [
        {
            "type": "package",
            "package": {
                "name": "materia/ucfauth",
                "type": "fuel-package",
                "version": "0.1.4",
                "source": {
                    "url": "https://github.com/ucfcdl/Materia-UCFAuth.git",
                    "type": "git",
                    "reference": "master"
                }
            }
        },
        {
            "url":"https://github.com/iturgeon/qAsset.git",
            "type":"git"
        },
        {
            "type": "git",
            "url": "https://github.com/ucfcdl/php-saml.git"
        }
    ],
    "require": {
        "php": ">=5.6.0",
        "composer/installers": "~1.0",
        "fuel/core": "1.8.*",
        "fuel/auth": "1.8.*",
        "fuel/email": "1.8.*",
        "fuel/oil": "1.8.*",
        "fuel/orm": "1.8.*",
        "fuel/parser": "1.8.*",
        "iturgeon/qasset": "dev-master",
        "fuelphp/upload": "2.0.6",
        "monolog/monolog": "1.18.*",
        "phpseclib/phpseclib": "2.0.0",
        "ucfcdl/php-saml": "master-dev",
        "materia/ucfauth": "0.1.4",
        "eher/oauth": "1.0.7"
    },
    "require-dev": {
        "phpunit/phpunit": "4.1.*"
    },
    "suggest": {
        "fuel/docs": "FuelPHP documentation",
        "michelf/php-markdown": "FuelPHP Parser Markdown",
        "dwoo/dwoo" : "Allow Dwoo templating with the Parser package",
        "mustache/mustache": "Allow Mustache templating with the Parser package",
        "smarty/smarty": "Allow Smarty templating with the Parser package",
        "twig/twig": "Allow Twig templating with the Parser package",
        "pyrocms/lex": "Allow Lex templating with the Parser package",
        "mthaml/mthaml": "Allow Haml templating with Twig supports with the Parser package"
    },
    "config": {
        "vendor-dir": "fuel/vendor",
        "optimize-autoloader": true
    },
    "extra": {
        "installer-paths": {
            "fuel/{$name}": ["fuel/core"],
            "{$name}": ["fuel/docs"]
        }
    },
    "minimum-stability": "dev"
}
