html {
	background: white;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Lucida Grande', sans-serif;
	min-width: 600px;
}

header {
	padding: 0;
	margin: 0 0 2em 0;
	height: auto;
	z-index: 0;
	visibility: hidden;
}

.preview header {
	visibility: visible;
}
.preview header h1 {
	background: #68d053;
}

.preview .container {
	background: #ebebeb;
	width: 500px;
	height: 300px;
	margin: 0 auto;
	text-align: center;
	margin-top: 5em;
	padding: 2em;
	box-sizing: border-box;
}

.preview .container p {
	margin-bottom: 2em;
}

.help-container {
	margin: 0 auto;
	width: 500px;
}

.lti-error header,
.selectWidget header,
.widgetSelected header,
.progress header {
	visibility: visible;
}

.widgetSelected header h1 {
	background: #68d053;
}

a {
	color: #0093e7;
}

header > h1 {
	margin: 0;
	background: #3690e6;
	font-family: 'Lato', 'Arial', sans-serif;
	color: white;
	padding: 20px 20px 20px 162px;
	font-size: 18pt;
}

.button {
	text-decoration: none;
	display: inline-block;
	font-family: 'Lato', arial, serif;
	padding: 7px 23px 8px 23px;
	background: #ffba5d;
	background-image: linear-gradient(#ffce8c, #ffa42a);
	border-radius: 6px;
	border: #fdb34f 1px solid;
	font-weight: 700;
	color: #694d28;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
	box-shadow: 1px 2px 4px #888;
	font-size: 18px;
	cursor: pointer;
	position: relative;
}
.button:hover {
	text-decoration: none;
	background-image: linear-gradient(#ffa42a, #ffce8c);
}

.highlighted {
	background-color: #ffd800;
}

#logo {
	width: 113px;
	height: 82px;
	border: 1px solid gray;
	border-top: none;
	position: absolute;
	top: 0;
	left: 30px;
	background: white url(../../../img/materia_tmp_logo.png) 0% 0% no-repeat;
}

#select-widget {
	margin-top: 50px;
}

#error-container {
	padding: 0px 30px;
}

#search {
	margin-left: 30px;
	margin-right: 10px;
	width: 190px;
	border: solid 1px #b0b0b0;
	border-radius: 12px;
	height: 19px;
	background: #fff url('../../../img/magnifyingglass.png') 5px 50% no-repeat;
	padding-left: 23px;
	padding-right: 10px;
	outline: none;
}

#refresh {
	margin-left: 0;
	font-size: 10pt;
	position: absolute;
	right: 30px;
	top: 125px;
}

#list-container {
	position: absolute;
	left: 30px;
	right: 30px;
	top: 160px;
	bottom: 70px;
	overflow: scroll;
	overflow-x: auto;
	overflow-y: scroll;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	min-width: 540px;
}

#no-widgets-container {
	position: absolute;
	left: 0;
	right: 0;
	top: 40px;
	text-align: center;
}

#no-widgets {
	display: inline-block;
	padding: 1em;
	background: #fff389;
	width: 280px;
}

#create-widget-button {
	display: block;
	margin-top: 1em;
}

#list-container ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#list-container li {
	border-top: 1px solid #cccccc;
	position: relative;
	padding: 0 20px 0 20px;
	height: 86px;
	/*margin: 10px 0 10px 0;*/
}
#list-container li:hover {
	background-color: #ffe0a5;
}
#list-container li.selected,
#list-container li.selected:hover {
	/*background-color: #ffcb68;*/
}

#list-container li h2 {
	font-size: 14pt;
	margin-left: 80px;
	margin-bottom: 0;
	margin-top: 11px;
	font-family: 'Lato', Arial, sans-serif;
}

#list-container li.draft h2 {
	color: gray;
}

#list-container li h3 {
	font-size: 10pt;
	margin-left: 80px;
	margin-top: 0;
	font-weight: normal;
	color: #555555;
}

#list-container li.draft h3 {
	color: gray;
	margin-bottom: 5px;
}

#list-container li .preview {
	display: none;
	position: absolute;
}
#list-container li:hover .preview,
#list-container li.selected .preview {
	display: block;
	right: 20px;
	bottom: 10px;
}

#list-container li .searchable {
	word-break: break-all;
}

#list-container li .embed-button {
	display: none;
	position: absolute;
	right: 20px;
	top: 10px;
}
#list-container li:hover .embed-button,
#list-container li.selected .embed-button {
	display: inline-block;

	div {
		display: inline-block;
		width: 12px;
		height: 12px;
		background: url(../../../img/external_link_arrow_brown.png) 0% 0% no-repeat;
	}
}

#select-widget .widget-icon {
	top: 13px;
	left: 10px;
	width: 60px;
	height: 60px;
	position: absolute;
}

#list-container li.draft .widget-icon {
	opacity: 0.5;
}

#list-container .guest .widget-info {
	opacity: 0.5;
}

#list-container li h3.guest-notice {
	color: black;
	font-weight: bold;
	font-size: 10pt;
}

.draft-label {
	border-radius: 2px;
	background: gray;
	background: rgba(0, 0, 0, 0.6);
	color: white;
	font-family: 'Lato', Arial, sans-serif;
	padding: 1px 8px 1px 8px;
	font-size: 9pt;
	font-weight: 900;
	position: absolute;
	top: 34px;
	left: 18px;
}

#goto-new-widgets {
	position: absolute;
	bottom: 0;
	left: 0;
	margin-left: 30px;
	height: 35px;
	padding-top: 35px;
	line-height: 0;
}

.cancel-button {
	position: absolute;
	bottom: 15px;
	right: 30px;
	display: none;
}

#success-message {
	background: #fff389;
	padding: 2px;
	margin-bottom: 2em;
	text-align: center;
}

#success-message ul {
	list-style-type: none;
	font-size: 10pt;
	padding: 0;
}

.arrow_right {
	background: url(../../../img/button_arrow_circle_green.png) no-repeat bottom;
	position: absolute;
	top: -7px;
	left: -36px;
	width: 48px;
	height: 56px;
	display: inline-block;
	z-index: 600;
}
.preview-button:hover .arrow_right {
	background: url(../../../img/button_arrow_circle_green_hover.png) no-repeat bottom;
}

#progress .widget-info {
	margin: 3em auto 0 auto;
	width: 580px;
	height: 60px;
}

#progress .widget-info h1 {
	font-weight: bold;
	font-size: 24pt;
	text-align: center;
	margin-top: 0;
	font-family: 'Lato', 'Arial', sans;
	display: inline-block;
	width: 465px;
	float: right;
	text-align: left;
}

#progress .widget-info img {
	float: left;
}

#progress .progress-container {
	width: 580px;
	margin: 5em auto 0 auto;
	padding: 4em 1em 5em 1em;
	box-sizing: border-box;
	border: 1px solid #c5c5c5;
	background: #f7f7f7;
}

#progress .progress-container > span {
	text-align: center;
	display: block;
	margin-bottom: 1em;
	font-size: 14pt;
	line-height: 0;
}
#progress .progress-container.success > span {
	font-weight: bold;
	color: #37c89c;
}

/* jQuery UI: */
.progressbar {
	background: #b2aeb7;
	height: 20px;
	border-radius: 11px;
	width: 470px;
	margin: 0 auto;

	.fill {
		background: #1da4cd;
		height: 100%;
		width: 0;
		border-radius: 11px;
		transition: width 0.2s ease, background 0.2s ease;
	}
}

.progress-container.success .ui-progressbar-value {
	background: #37c89c;
}

.qtip.lti {
	right: 155px;
	top: 111px;
	font-size: 13px;
	width: 195px;
}
