<header class="container">
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a class="brand" href="{{BASE_PATH}}/"><img src="{{BASE_PATH}}/assets/img/materia-logo-small.png" alt="Materia" title="Materia"></a>
				<div class="nav-collapse collapse">
					<ul class="nav">
						<li class="dropdown" id="student-menu">
							<a href="#fat-menu" class="dropdown-toggle" data-toggle="dropdown">
								Player Guide<b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								<li><a href="{{BASE_PATH}}/play/getting-started.html">Getting Started</a></li>
								<li class="divider"></li>
								<li><a href="{{BASE_PATH}}/play/finding-assignments.html">Finding Assignments</a></li>
								<li><a href="{{BASE_PATH}}/play/viewing-scores.html">Viewing Scores</a></li>
								<li><a href="{{BASE_PATH}}/play/profile-settings.html">Profile Settings</a></li>
								<li class="divider"></li>
								<li><a href="{{BASE_PATH}}/play/widget-adventure.html">Adventure</a></li>
								<li><a href="{{BASE_PATH}}/play/widget-crossword.html">Crossword</a></li>
								<li><a href="{{BASE_PATH}}/play/widget-enigma.html">Enigma</a></li>
								<li><a href="{{BASE_PATH}}/play/widget-flash-cards.html">Flash Cards</a></li>
								<li><a href="{{BASE_PATH}}/play/widget-hangman.html">Hangman</a></li>
								<li><a href="{{BASE_PATH}}/play/widget-labeling.html">Labeling</a></li>
								<li><a href="{{BASE_PATH}}/play/widget-last-chance-cadet.html">Last Chance Cadet</a></li>
								<li><a href="{{BASE_PATH}}/play/widget-matching.html">Matching</a></li>
								<li><a href="{{BASE_PATH}}/play/widget-sequencer.html">Sequencer</a></li>
								<li><a href="{{BASE_PATH}}/play/widget-timeline.html">Timeline</a></li>
								<li><a href="{{BASE_PATH}}/play/widget-word-search.html">Word Search</a></li>
							</ul>
						</li>
						<li class="dropdown" id="instructors-menu">
							<a href="#fat-menu" class="dropdown-toggle" data-toggle="dropdown">
								Author Guide<b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								<li><a href="{{BASE_PATH}}/create/getting-started.html">Getting Started</a></li>
								<li class="divider"></li>
								<li><a href="{{BASE_PATH}}/create/assigning-widgets.html">Assigning Widgets</a></li>
								<li><a href="{{BASE_PATH}}/create/collaborating.html">Collaborating with Others</a></li>
								<li><a href="{{BASE_PATH}}/create/scores-and-data.html">Scores and Data</a></li>
								<li><a href="{{BASE_PATH}}/create/embedding-in-canvas.html">Embedding in Canvas</a></li>
								<li class="divider"></li>
								<li><a href="{{BASE_PATH}}/create/widget-adventure.html">Adventure</a></li>
								<li><a href="{{BASE_PATH}}/create/widget-crossword.html">Crossword</a></li>
								<li><a href="{{BASE_PATH}}/create/widget-enigma.html">Enigma</a></li>
								<li><a href="{{BASE_PATH}}/create/widget-flash-cards.html">Flash Cards</a></li>
								<li><a href="{{BASE_PATH}}/create/widget-hangman.html">Hangman</a></li>
								<li><a href="{{BASE_PATH}}/create/widget-labeling.html">Labeling</a></li>
								<li><a href="{{BASE_PATH}}/create/widget-last-chance-cadet.html">Last Chance Cadet</a></li>
								<li><a href="{{BASE_PATH}}/create/widget-matching.html">Matching</a></li>
								<li><a href="{{BASE_PATH}}/create/widget-sequencer.html">Sequencer</a></li>
								<li><a href="{{BASE_PATH}}/create/widget-timeline.html">Timeline</a></li>
								<li><a href="{{BASE_PATH}}/create/widget-word-search.html">Word Search</a></li>
							</ul>
						</li>
						<li class="dropdown" id="admin-menu">
							<a href="#fat-menu" class="dropdown-toggle" data-toggle="dropdown">
								Administrators	<b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								<li><a href="{{BASE_PATH}}/admin/server-requirements.html">Server Requirements</a></li>
								<li><a href="{{BASE_PATH}}/admin/deploying-materia.html">Deploying Materia</a></li>
								<li><a href="{{BASE_PATH}}/admin/canvas-lti-setup.html">Canvas LTI Setup</a></li>
								<li><a href="{{BASE_PATH}}/admin/installing-widgets.html">Installing Widgets</a></li>
								<li class="divider"></li>
								<li><a href="{{BASE_PATH}}/admin/reading-the-logs.html">Reading The Logs</a></li>
								<li><a href="{{BASE_PATH}}/admin/administrative-commands.html">Administrative Commands</a></li>
							</ul>
						</li>
						<li class="dropdown" id="developers-menu">
							<a href="#fat-menu" class="dropdown-toggle" data-toggle="dropdown">
								Developers	<b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								<li><a href="{{BASE_PATH}}/develop/widget-developer-guide.html">Widget Developer Guide</a></li>
								<li><a href="{{BASE_PATH}}/develop/widget-community.html">Widget Dev Community</a></li>
								<li class="divider"></li>
								<li><a href="{{BASE_PATH}}/develop/platform-developer-guide.html">Platform Developer Guide</a></li>
								<li><a href="{{BASE_PATH}}/develop/platform-community.html">Platform Dev Community</a></li>
								<li><a href="{{BASE_PATH}}/develop/lti-integrations.html">LTI Integration Info</a></li>
								<li><a href="{{BASE_PATH}}/develop/lti-client-extensions.html">Embedded Client Integration</a></li>
								<li><a href="{{BASE_PATH}}/develop/understanding-media-uploads.html">Understanding Media Uploads</a></li>
								<li class="divider"></li>
								<li><a href="{{BASE_PATH}}/develop/contributing-code.html">Contributing Code</a></li>
								<li><a href="{{BASE_PATH}}/develop/style-guide.html">Code Style Guide</a></li>
								<li><a href="{{BASE_PATH}}/develop/question-structures.html">Question Data Structures</a></li>
							</ul>
						</li>
					</ul>
				</div><!--/.nav-collapse -->
			</div>
		</div>
	</div>
</header>
