# URLs
BASE_URL = ""
MEDIA_URL = ""
MEDIA_UPLOAD_URL = ""
WIDGET_URL = ""
STATIC_CROSSDOMAIN = ""

# Optional - Session storage/cache driver, defaults to "db"
SESSION_DRIVER = <"redis" or "file" or "db">

# If using redis to cache sessions, provide a URL
REDIS_URL=redis://redis:6379/0

# LTI configuration
# These values are used to populate the dynamically generated /lticonfig
CANVAS_DOMAIN=""
TOOL_URL=""

# Where do we grab the institutional user ID from the LTI payload?
# If claim is an empty string, the identifier will be referenced at the top level
LTI_PAYLOAD_USER_CLAIM="https://purl.imsglobal.org/spec/lti/claim/lis"
LTI_PAYLOAD_USER_IDENTIFIER="person_sourcedid"

# AGS Scores Service potentially requires a different identifier than USER_IDENTIFIER for requests
# If set, these will be used in the specific context of AGS requests that require a userId
LTI_PAYLOAD_AGS_USER_CLAIM='https://purl.imsglobal.org/spec/lti/claim/custom'
LTI_PAYLOAD_AGS_USER_IDENTIFIER='user_canvas_id'

# Generative AI
GENERATION_ENABLED=<true or false>
GENERATION_ALLOW_IMAGES=<true or false>
GENERATION_API_PROVIDER=<azure_openai or openai>
GENERATION_API_KEY=
GENERATION_API_ENDPOINT=
GENERATION_API_VERSION=
GENERATION_API_MODEL=
GENERATION_LOG_STATS=<true or false>

# Asset Storage Driver
ASSET_STORAGE_DRIVER=<"file" or "s3" or "db">

# Where AWS credentials will be sourced - 'env' for .env file, 'imds' for config on host
ASSET_STORAGE_S3_CREDENTIAL_PROVIDER=<"env" or "imds">

ASSET_STORAGE_S3_REGION="us-east-1"
ASSET_STORAGE_S3_BUCKET=""

# Base S3 URL for viewing objects in-browser
ASSET_STORAGE_S3_BASEURL=""

# If using 'env' as credential provider, specify access key/secret here
AWS_ACCESS_KEY_ID=""
ASSET_STORAGE_S3_SECRET=""

# Optional?
AWS_SESSION_TOKEN=""

# Set to false if using real S3 for local development
DEV_ONLY_USE_FAKES3=<true or false>
# URL of Fake S3 API endpoint when using Fake S3 for local development
ASSET_STORAGE_S3_ENDPOINT=""
# Optional - directory on disk to store original and resized assets
ASSET_STORAGE_S3_BASEPATH=""

# Email settings
SEND_EMAILS=<true or false>
SYSTEM_EMAIL=<email address>
EMAIL_BACKEND=""
# ^ To use an SMTP backend, use "django.core.mail.backends.smtp.EmailBackend" and fill in the SMTP env vars below.
#   To use a Sendgrid backend, use "sendgrid_backend.SendgridBackend" and fill in your Sendgrid API key in the env var below.
#   To use another backend, or for more info, see https://docs.djangoproject.com/en/5.2/topics/email/#topic-email-backends

# SMTP Backend Settings
EMAIL_HOST="localhost"
EMAIL_PORT=25
EMAIL_HOST_USER=""
EMAIL_HOST_PASSWORD=""
EMAIL_TIMEOUT=0

# Sendgrid Backend Settings
SENDGRID_API_KEY=<api key>
