.container {
     position: relative;
     margin: auto;
     display: block;
     width: 500px;
     background: #fff;
     padding: 10px 20px;
     height: 200px;
     border: solid 1px #ccc;
     box-shadow: 0 0 10px #aaa;
}

