html, body {
	background: #eeeeee url('../img/climpek-clear.png');
	font-family: 'Lato', helvetica, arial,serif;
	color: #5a5a5a;
	font-size: 11pt;
	height: 100%;
	line-height: 1.5em;
}
h1, h2, h3, h4
{
	color: #333333;
}
h1
{
	font-size: 50px;
	line-height: 45px;
	letter-spacing: -1px;
	font-weight: 200;
	margin: 30px 0 30px 0;
}

h2
{
	margin: 20px 0 20px 0;
}

h3
{
	font-size: 20px;
}

h3, h4, h5, h6
{
	color: #5e5e5e;
}

img + h2,
ol + h2 {
	margin-top: 0;
}

table
{
	font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Verdana", sans;
	color: black;
}

table th
{
	text-align: left;
}

table td,
table th
{
	padding: 3px 8px 3px 8px;
	border: 1px solid #cfcfcf;
}

code
{
	border: none;
	background: none;
	font-size: 10pt;
	color: #941794;
	padding: 0;
}

p
{
	font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Verdana", sans;
	color: black;
}

sup {
	font-size:.15em;
	vertical-align: top;
	top:0em;
}

aside {
	font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Verdana", sans;
	font-size: 11pt;
	color: black;
	display: block;
	background: #FCF6D4;
	padding: 1em;
	border-radius: 8px;
	margin: 1em 0 1em 0;
}

li {
	line-height: inherit;
}

aside h1 {
	line-height: 1em;
	font-size: 14pt;
	font-weight: bold;
	margin: 0 0 5px 0;
	padding: 0;
}

.graphical-heading {
	padding: 120px 0 0 0;
	margin-bottom: 10px;
	position: relative;

	-webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
	-moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
	box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);

	background: #017496;
	background-image: linear-gradient(top, #017496, #00bde9);
	background-image: -webkit-linear-gradient(top, #017496, #00bde9);
	background-image: -o-linear-gradient(top, #017496, #00bde9);
	background-image: -moz-linear-gradient(top, #017496, #00bde9);
	background-image: -ms-linear-gradient(top, #017496, #00bde9);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00bde9', endColorstr='#3690e6' );
}

.students .graphical-heading
{
	background: #017496;
	background-image: linear-gradient(top, #017496, #00bde9);
	background-image: -webkit-linear-gradient(top, #017496, #00bde9);
	background-image: -o-linear-gradient(top, #017496, #00bde9);
	background-image: -moz-linear-gradient(top, #017496, #00bde9);
	background-image: -ms-linear-gradient(top, #017496, #00bde9);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#017496', endColorstr='#00bde9' );
}

.navbar,
.students .navbar
{
	border-bottom: 4px solid #00bde9;
}

.developers .graphical-heading
{
	background: #793786;
	background-image: linear-gradient(top, #793786, #a346b9);
	background-image: -webkit-linear-gradient(top, #793786, #a346b9);
	background-image: -o-linear-gradient(top, #793786, #a346b9);
	background-image: -moz-linear-gradient(top, #793786, #a346b9);
	background-image: -ms-linear-gradient(top, #793786, #a346b9);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#793786', endColorstr='#a346b9' );
}

.developers .navbar
{
	border-bottom: 4px solid #a346b9;
}

.admin .graphical-heading
{
	background: #f2824c;
	background-image: linear-gradient(top, #f2824c, #ff5B23);
	background-image: -webkit-linear-gradient(top, #f2824c, #ff5B23);
	background-image: -o-linear-gradient(top, #f2824c, #ff5B23);
	background-image: -moz-linear-gradient(top, #f2824c, #ff5B23);
	background-image: -ms-linear-gradient(top, #f2824c, #ff5B23);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2824c', endColorstr='#ff5B23' );
}

.admin .navbar
{
	border-bottom: 4px solid #ff5B23;
}

.instructors .graphical-heading
{
	background: #0d853f;
	background-image: linear-gradient(top, #0d853f, #13c356);
	background-image: -webkit-linear-gradient(top, #0d853f, #13c356);
	background-image: -o-linear-gradient(top, #0d853f, #13c356);
	background-image: -moz-linear-gradient(top, #0d853f, #13c356);
	background-image: -ms-linear-gradient(top, #0d853f, #13c356);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d853f', endColorstr='#13c356' );
}

.instructors .navbar
{
	border-bottom: 4px solid #13c356;
}

.graphical-heading h1 {
	color: white;
	font-weight: 900;
	font-size: 42pt;
	text-shadow: 0 1px 0 rgba(0,0,0,.4);
	margin: 10px 0 0 0;
}

.graphical-heading h2 {
	color: white;
	font-weight: 400;
	font-size: 11pt;
	line-height: 28px;
	text-shadow: none;
	margin: 0 0 20px 0;
	padding-left: 3px;
}

.graphical-heading::after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: url(../img/stacked_circles.png) repeat center center;
	opacity: .08;
}

header .navbar .nav {
	font-size: 18px;
	margin-top:5px;
}

.page-wrapper {
	min-height: 100%;
	margin: 0 auto -120px;
}

.page-content {
	margin-bottom: 40px;
}

.page-content img
{
	border: 6px solid white;
	box-shadow: 0 2px 2px rgba(0, 0, 0, .4);
}
.page-content .noborder
{
	border: none;
	box-shadow: none;
}

.page-content figure
{
	margin: 30px 0 20px 0;
	font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Verdana", sans;
	font-size: 10pt;
	display: block; /*inline-block;*/
}

.page-content figure figcaption
{
	margin-top: .5em;
}

.figure  {

}

.page-content ul,
.page-content li
{
	color: black;
	font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Verdana", sans;
	margin-left: 2em;
}

.page-content a
{
	color: #f65118;
	text-decoration: underline;
	font-weight: normal;
}
.page-content figure a
{
	color: white;
}

.page-content a:hover
{
	color: #ff7444;
}

.page-content a i {
	color: #f65118;
}

.page-content nav.pages {
	margin: 30px 0 0 0;
	border-top: 1px solid #CECECE;
	padding: 20px 0 0 0;

/*	border-radius: 7px;*/
	/*background: rgba(0, 0, 0, 0.05);*/
	/*border: solid 2px #dbdbdb;*/
/*	padding: 10px 15px;

	border: 1px solid #ddd;
	-webkit-border-radius: 4px;
	 -moz-border-radius: 4px;
	      border-radius: 4px;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
	 -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
	      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
	-webkit-transition: all 0.2s ease-in-out;
	 -moz-transition: all 0.2s ease-in-out;
	   -o-transition: all 0.2s ease-in-out;
	      transition: all 0.2s ease-in-out;
*/
}

.page-content nav.pages a {
	color: #0093e7;
	margin-right: 6px;
}

.page-content nav.pages a:hover {
	color: #0086d2;
}

.page-content nav.pages p {
	color: #5A5A5A;
}

.page-content nav.pages .right {
	float: right;
}

.page-content nav.pages .right a {
	margin-left: 6px;
	margin-right: 0;
}

.page-content nav.pages ul {
	margin-left: 0;
}

.page-content nav.pages ul li {
	list-style-type: none;
	margin-left: 0;
}

.page-content .guide img.screenshot {
	border: none;
	box-shadow: none;
	max-width: 9000px;
}

.page-content .guide img {
	margin-bottom: 10px;
}

.guide.crossword .screenshot {
	margin-left: -17px;
}

.guide.enigma .screenshot.first {
	margin-left: -17px;
}

.guide.timeline .screenshot.first {
	margin-left: -18px;
}

.guide.timeline .screenshot.first {
	margin-left: -12px;
}

.guide.timeline .screenshot.second {
	margin-left: -8px;
}

.guide ol.screenshot_labels {
	margin-top: 0;
	/*margin-bottom: 25px;*/
	margin-bottom: 20px;
	margin-left: 55px;
}

.guide ol.screenshot_labels li {
	font-size: 13pt;
	margin-left: 0;
	line-height: 18pt;
	color: #5E5E5E;
}

.guide ol.screenshot_labels li p {
	font-size: 10.5pt;
	margin: 0;
}

.guide ol.screenshot_labels li ol li {
	list-style-type: lower-latin;
	font-size: 10.5pt;
	margin: 0;
}

pre
{
	background: none;
	border: none;
	padding: 0;
	margin: 0;
}

pre code
{
	background: #343434;
	border-radius: 6px;
	display: block;
	padding: 1em;
	margin: 2em 0 2em 0;
	font-size: 10pt;
	tab-size: 4;
}

code .tab
{
	border: 1px solid #505050;
	height: 0;
	display: inline-block;
	width: 2em;
	line-height: 0;
	vertical-align: middle;
}

code .space
{
	color: #505050;
}

/* fix for font-awesome background images showing up with the text */
.[class^="icon-"], [class*=" icon-"] {
  background-image:none;
}

footer, .push {
	height: 120px;
}

footer
{
	background: #5e5e5e;
	height: 120px;
	color: white;
}

footer .legal
{
	margin-top: 20px;
}

footer .trademark
{
	font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Verdana", sans;
	color: #838383;
	font-size: 8pt;
	display: block;
	margin-bottom: 20px;
	margin-top: -16px;
}

/**Custom menu hover colors**/
#student-menu li > a:hover
{
	background: #017496;
	background-image: linear-gradient(top, #00bde9, #017496);
	background-image: -webkit-linear-gradient(top, #00bde9, #017496);
	background-image: -o-linear-gradient(top, #00bde9, #017496);
	background-image: -moz-linear-gradient(top, #00bde9, #017496);
	background-image: -ms-linear-gradient(top, #00bde9, #017496);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00bde9', endColorstr='#017496' );
}

#instructors-menu li > a:hover
{
	background: #0d853f;
	background-image: linear-gradient(top, #13c356, #0d853f);
	background-image: -webkit-linear-gradient(top, #13c356, #0d853f);
	background-image: -o-linear-gradient(top, #13c356, #0d853f);
	background-image: -moz-linear-gradient(top, #13c356, #0d853f);
	background-image: -ms-linear-gradient(top, #13c356, #0d853f);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#13c356', endColorstr='#0d853f' );
}

#developers-menu li > a:hover
{
	background: #793786;
	background-image: linear-gradient(top, #a346b9, #793786);
	background-image: -webkit-linear-gradient(top, #a346b9, #793786);
	background-image: -o-linear-gradient(top, #a346b9, #793786);
	background-image: -moz-linear-gradient(top, #a346b9, #793786);
	background-image: -ms-linear-gradient(top, #a346b9, #793786);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a346b9', endColorstr='#793786' );
}

#admin-menu li > a:hover
{
	background: #f2824c;
	background-image: linear-gradient(top, #f2824c, #ff5B23);
	background-image: -webkit-linear-gradient(top, #f2824c, #ff5B23);
	background-image: -o-linear-gradient(top, #f2824c, #ff5B23);
	background-image: -moz-linear-gradient(top, #f2824c, #ff5B23);
	background-image: -ms-linear-gradient(top, #f2824c, #ff5B23);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2824c', endColorstr='#ff5B23' );
}

/* smaller headings */
h1 {
	font-size: 40px;
	line-height: 45px;
	letter-spacing: -1px;
	font-weight: 200;
	margin: 30px 0 20px 0;
}
h2 {
	font-size: 23px;
	margin: 20px 0 10px 0;
}

/* Large */
@media (min-width: 980px) {
	.container,
	.navbar-static-top .container,
	.navbar-fixed-top .container,
	.navbar-fixed-bottom .container {
		width: 900px;
	}
	.span12 {
		width: 900px;
	}
	.span11 {
		width: 900px;
	}
}

/* Tablet */
@media (min-width: 768px) and (max-width: 979px) {
	
}

/* Phone */
@media (max-width: 767px) {
	.graphical-heading {
		margin: -20px -20px 0 -20px;
		padding: 30px 20px 0 20px;
	}

	footer {
		margin: -20px -20px 0 -20px;
	}

	footer .trademark {
		margin-bottom: 0;
	}

	footer > .container {
		padding-left: 20px;
		padding-right: 20px;
	}
}