.edit-published-widget
{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: #f0f0f0 3px solid;
	width: 530px;
	height: 320px;
}

.edit-published-widget .container
{
	width: 450px;
	height: 300px;
	padding-top: 30px;
}

.edit-published-widget h2
{
	font-family: Lato, arial, serif;
	font-weight: bold;
	font-size: 24px;
	text-align: center;
	position: absolute;
	top: 3px;
	left: 12px;
	margin: 4px;
}

.edit-published-widget a.close
{
	display:block;
	position: absolute;
	right: 5px;
	top: 4px;
	margin: 4px;
	background: url('../img/close.png') no-repeat;
	text-indent: -10000px;
	width: 19px;
	height: 19px;
}

.edit-published-widget span.center
{
	text-align: center;
	display:block;
}

.edit-published-widget .action_button
{
	margin-top:20px;
}
