.ng-modal.validation-error
{
	.ng-modal-dialog
	{
		padding: 20px;
		width: 520px;
	}

	.ng-modal-title
	{
		font-size:1.1em;
	}

	.ng-modal-close-x
	{
		display: none;
	}

	.ng-modal-overlay
	{
		pointer-events: none;
	}

}