{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		{% csrf_token %}
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0" />
		{{ partials.meta|default:'' }}
		<title>{{ title|default:'' }} | Materia</title>
		<link rel="icon" href="/static/favicon-32.png" sizes="32x32" />
		<link rel="icon" href="/static/favicon-128.png" sizes="128x128" />
		<link rel="icon" href="/static/favicon-180.png" sizes="180x180" />
		<link rel="icon" href="/static/favicon-192.png" sizes="192x192" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		{{ css_render|safe }} {{ partials.google_analytics|default:''|safe }}

		{% if fonts %}
			{% for font in fonts %}
				<link rel="stylesheet" href="{{ font }}" />
			{% endfor %}
		{% endif %}

		{% if css_resources %}
			{% for css in css_resources %}
				<link rel="stylesheet" type="text/css" href="{% static css %}">
			{% endfor %}
		{% endif %}
		<link rel="stylesheet" type="text/css" href="{% static 'dist/css/commons.css' %}" />

	</head>
	<body class="{{ page_type|default:'' }} {% if darkMode %}darkMode{% endif %}">

		<div id="app"></div>
		<div id="modal"></div>
		{% if js_resources %}
			{% for js in js_resources %}
				<script type="text/javascript" src="{% static js %}"></script>
			{% endfor %}
		{% endif %}
		<script type="text/javascript" src="{% static 'dist/js/commons.js' %}"></script>
		{% if js_global_variables %}
			<script>
				{% for key, value in js_global_variables.items %}
					var {{key}} = '{{value}}';
				{% endfor %}
			</script>
		{% endif %}
		<!-- { render_bundle bundle_name } { render_bundle 'commons' } -->
	</body>
</html>
