$default-font-size: 0.7rem;

.CheckboxButton {
	padding: 1.5px;
	cursor: pointer;
	background-color: lightgray;
	color: black;
	text-align: center;
	border-radius: 4px;
	// min-width: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	outline: none;


	label {
	  font-size: $default-font-size;
	  cursor: pointer;
	  font-weight: normal;
	}

	input {
	  clip: rect(0 0 0 0);
	  clip-path: inset(50%);
	  height: 1px;
	  overflow: hidden;
	  position: absolute;
	  white-space: nowrap;
	  width: 1px;
	}

	&.on {
	  background-color: #d9a0ff;
	  color: black;
	}

	&.off {
	  background-color: #5e5c5c;
	  color: white;
	}

	&.focused {
	  outline: 3px solid #3b82f6;
	  // outline-offset: 2px;
	}
}
