.modal .extraAttemptsModal {
	.title {
		margin: 0;
		padding: 0;
		font-size: 1.3em;
		color: #555;
		border-bottom: #999 dotted 1px;
		padding-bottom: 20px;
		margin-bottom: 20px;
		position: relative;
		text-align: left;
		display: block;
		font-family: Lato, arial, serif;
		font-weight: bold;
	}

	.attempts-input {
		width: 445px;
		height: 30px;
		z-index: 2;
		border: solid 1px #c9c9c9;
		font-size: 16px;
	}

	.attempts_search_list {
		width: 447px;
		position: absolute;
		background-color: #ffffff;
		border: #bfbfbf 1px solid;
		padding-bottom: 5px;
		overflow: auto;
		z-index: 3;
		text-align: left;
		left: 114px;
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;

		.attempts_search_match {
			width: 200px;
			height: 56px;
			margin: 5px 5px 0 5px;
			padding: 0 5px 5px 0;
			border-radius: 3px;
			display: inline-block;
			background-color: #ffffff;

			.attempts_match_avatar {
				width: 50px;
				height: 50px;
				-moz-border-radius: 3px;
				border-radius: 3px;
				display: inline-block;
				float: left;
				margin-right: 10px;
				margin: 5px;
			}

			.attempts_match_name {
				font-size: 14px;
				text-align: left;
				height: 40px;
				font-family: 'Lucida Grande', sans-serif;
				overflow: auto;
			}
		}

		.attempts_match_student {
			position: relative;
		}
		.attempts_match_student:after {
			content: 'Student';
			position: absolute;
			bottom: 5px;
			left: 0;
			font-size: 10px;
		}

		.attempts_search_match:hover {
			background-color: #c5e7fa;
			cursor: pointer;
		}
	}

	.attempts_list_container {
		margin: 15px 0px;
		background-color: #f2f2f2;
		height: 250px;
		border-radius: 5px;
		// padding: 0 30px;
		// text-align: right;
		// overflow: auto;
		position: relative;

		.headers {
			background: #555555;
			height: 30px;
			color: white;
			display: flex;
			justify-content: space-around;
			align-items: center;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;

			.user-header {
				width: 250px;
				text-align: center;
			}
		}

		.attempts_list {
			overflow: scroll;
			height: 220px;

			.extra_attempt {
				display: flex;
				align-items: center;
				position: relative;
				margin: 10px 10px;
	
				.remove {
					display: block;
					color: #bfbfbf;
					text-decoration: none;
					font-size: 15px;
					text-align: center;
					padding: .5em;
					margin: .5em;
					user-select: none;
					border: none;
					background: transparent;
	
					&:hover{
						color: black;
						background: white;
						border-radius: 5px;
						cursor: pointer;
					}
				}
	
				.user {
					width: 250px;
					
					.avatar {
						vertical-align: middle;
						display: inline-block;
						height: 40px;
						width: 40px;
						margin-right: 10px;
					}
	
					.user_name {
						font-size: 14px;
						text-align: left;
						position: relative;
					}
				}
	
				.context {
					input {
						width: 40%;
						text-align: center;
						display: block;
						margin: 0 auto;
					}
				}
	
				.num_attempts {
					input {
						width: 20%;
						text-align: center;
						display: block;
						margin: 0 auto;
					}
					
				}
			}
		}
	}

	.cancel_button:hover {
		cursor: pointer;
	}
}