header {
	position: relative;
	z-index: 1000;

	padding: 35px 0 0 136px;
	margin: 0 0 25px 0;
	display: block;

	background: #fff url(//localhost/img/header_border.png) 0% 100% repeat-x;
	height: 49px;

	&.logged_in {
		background: #fff url(//localhost/img/header_border_alt.png) 0% 100% repeat-x;
	}

	ul,
	p {
		margin: 0;
		padding: 0;
	}

	h1.logo {
		position: absolute;
		left: 0;
		top: 0;
		margin: 0;
		overflow: hidden;

		a {
			display: block;
			width: 100px;
			height: 0;
			padding: 60px 0 0 10px;
			margin: 10px 0 0 10px;
			background: url(//localhost/img/materia_tmp_logo.png) 0% 0% no-repeat;
		}
	}

	.avatar {
		font-family: 'Lucida Grande', arial, serif;
		right: 20px;
		line-height: 0;

		img {
			width: 35px;
			height: 35px;
			border-radius: 2px;
		}

		span {
			position: absolute;
			right: 32px;
		}
	}
	.user {
		color: #979696;
		font-size: 12px;
		position: absolute;
		top: 36px;
	}
	.user.avatar {
		top: 24px;

		a {
			font-size: 17px;
			font-weight: bold;
			font-family: 'Lato', arial, serif;
			position: absolute;
			top: 36px;
			right: 5px;
			width: 500px;
			text-align: right;

			span {
				text-align: right;
				position: absolute;
				top: -28px;
				right: 42px;
				width: 500px;
				font-size: 14px;
			}
			span:hover {
				text-decoration: underline;
			}

			img {
				position: absolute;
				top: -35px;
				right: 2px;
			}
		}
		.logout a {
			font-size: 14px;
			top: 26px;
			right: 18px;
			font-weight: 400;
			cursor: pointer;
		}
	}

	nav {
		display: block;
		margin-top: 16px;

		ul {
			li {
				display: inline;
				padding: 0 10px 0 0;

				.logout a {
					display: none;
					position: absolute;
					right: 20px;
					bottom: 13px;
					font-size: 14px;
				}

				a {
					font-family: 'Lato', arial, serif;
					font-size: 17px;
					font-weight: bold;
					margin: 0;
					padding: 0;
				}
			}
		}
	}

	a {
		color: #0093e7;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}

		img {
			border: none;
		}
	}

	#mobile-menu-toggle {
		display: none;
	}

	.elevated {
		color: #ffa52b;
	}

	.nav_expandable {
		color: #0093e7;
		font-family: 'Lato', arial, serif;
		font-size: 17px;
		font-weight: bold;
		height: 27px;
		position: relative;
		margin-left: 20px;

		ul {
			display: none;
			background-color: #ffffff;
			padding: 0;
			position: absolute;
			bottom: -150%;
			left: -10px;
			border-left: 1px solid #d3d3d3;
			border-right: 1px solid #d3d3d3;
			border-bottom: 1px solid #d3d3d3;
		}

		&:hover > span {
			display: inline-block;
			height: 27px;
		}

		&:hover > ul {
			display: flex;

			li {
				padding: 0 10px 5px;
				height: auto;
			}
		}
	}
}

// mobile header
@media (max-width: 720px) {
	header {
		min-height: 49px;
		height: auto;
		overflow: hidden;
		padding: 0;
		margin-bottom: 8px;

		h1.logo {
			display: inline-block;
			position: static;
		}

		// mobile hamburger menu
		#mobile-menu-toggle {
			display: block;
			position: absolute;
			right: 15px;
			top: 25px;
			height: 35px;
			width: 37px;
			border: 1px solid #888;
			padding: 2px 5px;
			border-radius: 3px;
			text-align: left;
			background: none;
			box-shadow: none;

			&.expanded {
				~ nav {
					visibility: visible;
					max-height: 175px;
					margin-bottom: 25px;
					opacity: 1;
				}

				div {
					transform: rotate(50deg) translate(6px, -8px);
					width: 18px;
					&:before {
						opacity: 0;
						width: 0;
						transform: rotate(-50deg) translate(-6px, 8px);
					}
					&:after {
						transform: rotate(-100deg) translate(0, -7px);
						width: 18px;
					}
				}
			}

			div {
				transition: all 300ms ease;
				height: 2px;
				width: 25px;
				background: #333;
				position: relative;

				&:before,
				&:after {
					transition: all 300ms ease;
					content: ' ';
					height: 2px;
					width: 25px;
					background: #333;
					position: absolute;
				}

				&:before {
					top: -8px;
				}

				&:after {
					top: 8px;
				}
			}
		}

		.user.avatar {
			right: 54px;
			max-width: calc(100% - 185px);

			span {
				display: none;
			}

			a {
				top: 18px;

				img {
					float: none;
					margin: right;
					height: 35px;
					width: 35px;
					border-radius: 3px;
					top: -17px;
				}
			}
		}

		nav {
			visibility: hidden;
			opacity: 0;
			max-height: 0;
			padding: 0 20px;
			text-align: right;
			transition: all ease 500ms;

			ul {
				li {
					display: block;
					padding: 5px;

					&.nav_expandable {
						&:hover ul li {
							display: inline-block;
							padding: 0 10px 5px;
							height: auto;
						}

						ul {
							top: 0;
							bottom: 0;
							right: 75px;
							left: auto;
							border-bottom: none;
							border-left: none;
							padding: 5px;
						}
					}

					.logout a {
						display: inline;
						font-size: 17px;
						position: static;
					}

					a {
						font-family: 'Lato', arial, serif;
						font-size: 17px;
						font-weight: bold;
						margin: 0;
						padding: 0;
					}
				}
			}
		}
	}
}
