@import './include.scss';

.docs {
	.container {
		display: flex;
		justify-content: center;
		position: relative;

		font-family: 'Lato', arial, serif;

		.page {
			z-index: 100;
			max-width: 800px;
			min-height: 400px;
			margin: 15px 60px 60px 60px;
			padding: 40px;
			overflow: auto;

			border-radius: 4px;
			border: #e4e4e4 1px solid;
			
			box-shadow: 1px 3px 10px #dcdcdc;
			background-color: #fff;
			
			text-align: left;
			font-size: 14px;

			.content {
				display: flex;
				align-items: stretch;

				nav {
					flex-basis:30%;
					min-width: 150px;
					min-height: 100%;
					margin-right: 20px;

					border-right: solid 0.5px #dcdcdc;

					ul {
						margin: 0;
						padding: 0;

						li {
							display: block;
							padding: 0.5em 0 0.3em 0;
							margin-bottom: 0.5em;

							border-bottom: solid 0.5px #dcdcdc;

							a {
								color: #0093e7;
								text-decoration: none;
							}
						}
					}
				}

				main {
					flex-grow: 1;
					display: flex;
					flex-direction: row;
					align-items: flex-start;
					flex-wrap: wrap;

					section {
						margin-bottom: 0px;
						padding-bottom: 15px;

						&.full-width {
							flex-basis: 100%;
							flex-grow: 2;
						}

						&.half-width {
							flex-basis: 45%;
							flex-grow: 1;
							margin-right: 2.5%;
						}
					}
				}
			}
		}

		h1 {
			margin: 0 0 30px 0;
			padding: 0 0 20px 0;

			border-bottom: solid #dcdcdc .5px;

			font-weight: 700;
			font-size: 38px;
		}

		h2 {
			margin: 20px 0 0 0;

			font-weight: 400;
			font-size: 20px;
		}

		h3 {
			margin: 30px 0 0 0;

			font-size: 16px;
		}

		h3 + p {
			margin-top: 0.5em;
		}

		a {
			text-decoration: underline;
		}

		span.bold {
			font-weight: bold;
		}

		span.italic {
			font-style: italic;
		}

		dl {
			dt {
				font-weight: bold;
				font-size: 14px;
			}

			dd {
				margin: 0.5em 0 0 0;
				padding-bottom: 10px;
			}
		}
	}
}

@media (max-width: 850px) {

	.docs {
		.container {
			.page {
				padding: 40px 20px 20px 20px;
				margin: 15px 30px;
			}
		}
	}
}

@media (max-width: 720px) {
	.docs {
		.container {
			.page {
				.content {
					flex-direction: column;

					nav {
						flex-basis: 100%;
						min-width: 100%;

						border-right: none;

						ul {
							max-width: 90%;

							li {
								padding-left: 5%;
							}
						}
					}

					main {
						flex-basis: 100%;
					}
				}
			}
		}
	}
}
