@import 'include.scss';

.spotlight {

	.main_container {
		position: relative;
		width: 100vw;
		height: 600px;
		margin: 0 auto;
		overflow: visible;

		background: #fff;
 		text-align: left;
	
		.store_main {
			padding: 0px;
			overflow: visible;
			position: absolute;
			left: 0;
			display: block;
			transition: all 0.3s linear;

			p {
				margin-left: 50%;
				color: #000;
				font-size: calc(16px + (24 - 16) * ((100vw - 300px) / (1600 - 300)));
				line-height: 160%;
			}

			section {
				left: calc(50% - 50vw);
				width: 100vw;
				height: fit-content;
			
				padding: 30px 0px 100px;
				overflow: hidden;
			
				background: linear-gradient(to right, rgba(255,255,255, 0), rgba(255, 255, 255,1) 55%), url(/img/banner_final.png) no-repeat;	
				background-size: contain;
			
				text-align: right;

				.store_content {
					margin-right: 40px;
					height: 400px;

					h1 span.engage {
						color: #0093e7;
					}

					.mobile_spotlight_banner {
						visibility: hidden;
					}
				}
			}
		}
	}

	h1 {
		font-family: 'Lato', arial, serif;
		font-weight: 500;
		font-size: calc(35px + (40 - 35) * ((100vw - 300px) / (1600 - 300)));
		margin: 0;
		padding: 0 0 10px 0;
	}

	a.more {
		position: absolute;
		top: 270px;
		text-decoration: underline;
		font-size: 19px;
		font-weight: 700;
	}

	@media (max-width: 800px) {
		.main_container {
			height: 600px;

			.store_main {
				section {
					background: none;
					text-align: center;
					overflow: hidden;
					padding: 30px 0px 300px;
	
					.store_content {
						margin: 0 40px;

						.mobile_spotlight_banner {
							visibility: visible;
							width: calc(70% - 40px);
						}
					}
				}

				p {
					margin-left: 0px;
				}
			}
		}
	}
}
