$very-light-gray: #ececec;
$light-gray: #dadada;
$gray: #9a9a9a;


body,
html {
	margin: 0;
	padding: 0;
	font-size: 16px;
}

body {
	font-family: 'Lucida Grande', arial, serif;
	overflow: auto;
	min-width: fit-content;
}

.action_button {
	font-family: 'Lato', arial, serif;
	padding: 7px 23px 8px 23px;
	background-color: #ffd439;
	transition: all 0.4s ease-in-out;
	font-weight: 700;
	color: #333;
	font-size: 18px;
	position: relative;
	cursor: pointer;
	display: inline-block;
	user-select: none;

	border: none;
	border-radius: 4px;

	.ng-modal & {
		margin: 5px auto;
	}

	&.green {
		background: #c4dd61;
		color: #525252;

		&:hover {
			background: #d5ea7f;
		}
	}

	&:hover {
		background-color: #ffc904;
		color: #000;
		box-shadow: 0px 1px 3px #979696;
		text-decoration: none;
	}

	.little-button-text {
		font-size: 18px;
		display: block;
	}
}

a {
	color: #0093e7;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}

	img {
		border: none;
	}
}

header {
	position: relative;
	z-index: 1000;

	padding: 35px 0 0 136px;
	margin: 0 0 25px 0;
	display: block;

	height: 49px;

	&.logged_in {
		background: #fff url(/img/header_border_alt.png) 0% 100% repeat-x;
	}

	ul,
	p {
		margin: 0;
		padding: 0;
	}

	h1.logo {
		position: absolute;
		left: 0;
		top: 0;
		margin: 0;
		overflow: hidden;

		a {
			display: block;
			width: 100px;
			height: 0;
			padding: 60px 0 0 10px;
			margin: 10px 0 0 10px;
			background: url(/img/retina/materia_tmp_logo@2x.png) 0% 0% no-repeat;
			background-size: 160px 68px;
		}
	}

	.user.avatar {

		position: absolute;
		top: 35px;

		font-family: 'Lucida Grande', arial, serif;
		
		line-height: 0;

		img {
			width: 35px;
			height: 35px;
			border-radius: 2px;
		}

		span.logout {
			position: absolute;
			right: 32px;
		}

		a {
			position: absolute;
			top: 36px;
			right: 5px;
			width: 500px;

			font-size: 17px;
			font-weight: 300;
			font-family: 'Lato', arial, serif;
			
			text-align: right;
			color: #4c4c4c;

			span {
				text-align: right;
				position: absolute;
				top: -28px;
				right: 42px;
				width: 500px;
				font-size: 14px;
			}
			span:hover {
				text-decoration: underline;
			}

			img {
				position: absolute;
				top: -35px;
				right: 2px;
			}
		}
		.logout a {
			font-size: 14px;
			top: 26px;
			right: 18px;
			font-weight: 400;
			cursor: pointer;
		}
	}

	&.logged-in {
		.user.avatar {
			right: 20px;
		}
	}

	&.logged-out {
		.user.avatar {
			right: 35px;
		}
	}

	nav {
		display: block;
		margin-top: 16px;

		ul {
			li {
				display: inline;
				padding: 0 10px 0 0;

				.logout a {
					display: none;
					position: absolute;
					right: 20px;
					bottom: 13px;
					font-size: 14px;
				}

				a {
					font-family: 'Lato', arial, serif;
					font-size: 14px;
					font-weight: 300;
					margin: 0;
					padding: 0;
				}
			}
		}
	}

	a {
		color: #0093e7;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}

		img {
			border: none;
		}
	}

	#mobile-menu-toggle {
		display: none;
	}

	.elevated {
		color: #ffa52b;
	}

	.nav_expandable {
		color: #0093e7;
		font-family: 'Lato', arial, serif;
		font-size: 17px;
		font-weight: bold;
		height: 27px;
		position: relative;
		margin-left: 20px;

		ul {
			display: none;
			background-color: #ffffff;
			padding: 0;
			position: absolute;
			bottom: -150%;
			left: -10px;
			border-left: 1px solid #d3d3d3;
			border-right: 1px solid #d3d3d3;
			border-bottom: 1px solid #d3d3d3;
		}

		&:hover > span {
			display: inline-block;
			height: 27px;

			&.admin {
				padding-right: 165px;
			}

			&.support {
				padding-right: 75px;
			}
		}

		&:hover > ul {
			display: flex;

			li {
				padding: 0 10px 5px;
				height: auto;
			}
		}
	}
}

// mobile header
@media (max-width: 720px) {
	header {
		min-height: 49px;
		height: auto;
		overflow: hidden;
		padding: 0;
		margin-bottom: 8px;

		h1.logo {
			display: inline-block;
			position: static;
		}

		// mobile hamburger menu
		#mobile-menu-toggle {
			display: block;
			position: absolute;
			right: 15px;
			top: 25px;
			height: 35px;
			width: 37px;
			border: none;
			padding: 2px 5px;
			border-radius: 3px;
			text-align: left;
			background: none;
			box-shadow: none;

			&.expanded {
				~ nav {
					visibility: visible;
					max-height: 175px;
					margin-bottom: 25px;
					opacity: 1;
				}

				div {
					transform: rotate(50deg) translate(6px, -8px);
					width: 18px;
					&:before {
						opacity: 0;
						width: 0;
						transform: rotate(-50deg) translate(-6px, 8px);
					}
					&:after {
						transform: rotate(-100deg) translate(0, -7px);
						width: 18px;
					}
				}
			}

			div {
				transition: all 300ms ease;
				height: 2px;
				width: 25px;
				background: #333;
				position: relative;

				&:before,
				&:after {
					transition: all 300ms ease;
					content: ' ';
					height: 2px;
					width: 25px;
					background: #333;
					position: absolute;
				}

				&:before {
					top: -8px;
				}

				&:after {
					top: 8px;
				}
			}
		}

		.user.avatar {
			right: 54px;
			max-width: calc(100% - 185px);

			span {
				display: none;
			}

			a {
				top: 18px;

				img {
					float: none;
					margin: right;
					height: 35px;
					width: 35px;
					border-radius: 3px;
					top: -17px;
				}
			}
		}

		nav {
			visibility: hidden;
			opacity: 0;
			max-height: 0;
			padding: 0 20px;
			text-align: right;
			transition: all ease 500ms;

			ul {
				li {
					display: block;
					padding: 5px;

					&.nav_expandable {
						&:hover ul li {
							display: inline-block;
							padding: 0 10px 5px;
							height: auto;
						}

						&:hover > span {
							&.admin {
								padding-right: 0;
							}

							&.support {
								padding-right: 0;
							}
						}

						ul {
							top: 0;
							bottom: 0;
							right: 75px;
							left: auto;
							border-bottom: none;
							border-left: none;
							padding: 5px;
						}
					}

					.logout a {
						display: inline;
						font-size: 17px;
						position: static;
					}

					a {
						font-family: 'Lato', arial, serif;
						font-size: 14px;
						font-weight: 300;
						margin: 0;
						padding: 0;
					}
				}
			}
		}
	}
}

nav {
	display: block;

	ul {
		li {
			display: inline;
			padding: 0 20px 0 0;

			.logout a {
				display: none;
				position: absolute;
				right: 20px;
				bottom: 13px;
				font-size: 14px;
			}

			a {
				font-family: 'Lato', arial, serif;
				font-size: 14px;
				font-weight: 100;
				margin: 0;
				padding: 0;
				color: #4c4c4c;
				transition: all 0.2s linear;
			}

			a:hover {
				border: none;
				border-bottom: 2px solid #0093E7;
				padding: 5px 0;
				color: #000;
				text-decoration: none;
			}
		}
	}
}

h1.logo {
	position: absolute;
	left: 0;
	top: 0;
	margin: 0;
	overflow: hidden;

	a {
		display: block;
		width: 100px;
		height: 0;
		padding: 60px 0 0 10px;
		margin: 10px 0 0 10px;
		background: url(/img/materia_tmp_logo.png) 0% 0% no-repeat;
	}
}

@media only screen and (min-device-pixel-ratio: 2),
	only screen and (-webkit-min-device-pixel-ratio: 2) {
	h1.logo a {
		background: url(/img/retina/materia_tmp_logo@2x.png) 0% 0% no-repeat;
		background-size: 160px 68px;
	}

	header {
		background: #fff;
		background-size: 12px 6px;
	}
}

.action_button {
	font-family: 'Lato', arial, serif;
	padding: 7px 23px 8px 23px;
	background-color: #ffd439;
	transition: all 0.4s ease-in-out;

	font-weight: 700;
	color: #333;
	font-size: 18px;
	position: relative;
	cursor: pointer;
	display: inline-block;
	user-select: none;

	border-radius: 4px;
	border: none;

	.ng-modal & {
		margin: 5px auto;
	}

	&.green {
		background: #c4dd61;
		color: #525252;

		&:hover {
			background: #d5ea7f;
		}
	}
}

.page {
	position: relative;
	z-index: 1;
}

section,
header,
nav,
article,
aside,
footer {
	display: block;
}

.cancel_button {
	color: #555;
	text-decoration: underline;
	margin: 10px 15px;
}

.popup h2,
.detail h2 {
	color: #0a0a0a;
	font-weight: 900;
	font-size: 20pt;
	font-family: 'Lato', arial, serif;
	margin: 10px auto;
	padding: 0;
	// text-shadow: 0px 1px 0px #ccc;
}

.error-support span.subtitle {
	font-size: 0.9em;
	margin-top: 0px;
	color: #666;
}

.form-content ul li {
	text-align: left;
}

.qtip {
	position: absolute;
	background: #b944cc;
	border: 4px solid #b944cc;
	z-index: 101;
	color: #fff;
	padding: 10px;
	border-radius: 5px;
	width: 230px;
	font-weight: bold;

	&.top:after,
	&.top:before {
		bottom: 100%;
		left: 50%;
		border: solid transparent;
		content: ' ';
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}

	&.top:after {
		border-color: rgba(185, 68, 204, 0);
		border-bottom-color: #b944cc;
		border-width: 20px;
		margin-left: -20px;
	}
	&.top:before {
		border-color: rgba(185, 68, 204, 0);
		border-bottom-color: #b944cc;
		border-width: 26px;
		margin-left: -26px;
	}

	&.right:after {
		left: 100%;
		top: 50%;
		border: solid transparent;
		content: ' ';
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: rgba(185, 68, 204, 0);
		border-left-color: #b944cc;
		border-width: 28px;
		margin-top: -28px;
	}
}