.icon-holder {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;

	.loading-icon {
		svg {
			max-height: 300px;
			width: auto;
			//-webkit-animation: spin 2s linear infinite;
			//-moz-animation: spin 2s linear infinite;
			animation: spin 1s ease-in-out infinite;

			&.sm {
				max-height: 20px;
			}
			&.med {
				max-height: 60px;
			}
			&.lrg {
				max-height: 80px;
			}

			@keyframes spin {
				from {
					transform: rotate(0deg);
				}
				to {
					transform: rotate(360deg);
				}
			}
		}
	}
}
