.modal {
	/* This way it could be display flex or grid or whatever also. */
	display: flex;

	max-width: 100%;
	max-height: 100%;
	min-width: 500px;
	min-height: 300px;

	position: fixed;

	z-index: 1001;

	left: 50%;
	top: 50%;

	/* Use this for centering if unknown width/height */
	transform: translate(-50%, -50%);

	/* If known, negative margins are probably better (less chance of blurry text). */
	/* margin: -200px 0 0 -200px; */

	background: white;
	border-radius: 3px;
	border: #f0f0f0 3px solid;
	box-shadow: none !important;
	font-family: Lato, arial, serif;

	&.small {
		z-index: 1003;
		width: 540px;
		height: 170px;
	}
}
.closed {
	display: none;
}

.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;

	&.alert {
		z-index: 1002;
	}

	background: rgba(0, 0, 0, 0.5);
}
.modal-guts {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	padding: 10px 10px 10px 10px;
	box-sizing: border-box;
}

.modal .close-button {
	position: absolute;
	font-weight: bold;
	font-family: Arial, sans-serif;
	cursor: pointer;
	font-size: 120%;

	/* don't need to go crazy with z-index here, just sits over .modal-guts */
	z-index: 1;

	top: 10px;

	/* needs to look OK with or without scrollbar */
	right: 20px;

	border: 0;
	color: black;
}

.open-button {
	border: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: lightgreen;
	color: white;
	padding: 10px 20px;
	border-radius: 10px;
	font-size: 21px;
}

.alert-title {
	border-bottom: solid 1px #bebebe;
	text-align: left;
	position: static;
	display: block;
	font-weight: bold;
	font-size: 24px;
	margin: 9px 4px 4px 4px;
	padding-bottom: 7px;
}

.alert-description {
	display: block;
	font-size: 16px;
	padding-top: 4px;
}

.alert-btn {
	position: relative;
	display: block;
	align-items: flex-start;
	text-align: center;
	cursor: pointer;
	background-color: rgb(255, 186, 93);
	color: rgb(105, 77, 40);
	border: 1px solid rgb(82, 82, 82);
	border-radius: 4px;
	font-size: 18px;
	font-weight: 700;
	margin: 5px auto;
	padding-bottom: 8px;
	padding-left: 23px;
	padding-right: 23px;
	padding-top: 7px;
	box-shadow: rgb(136, 136, 136) 1px 2px 4px 0px;
	text-shadow: rgba(255, 255, 255, 0.5) 1px 1px 1px;
}
