@import 'include.scss';

// Collaborate dialog
.modal .collaborate-modal {
	width: 100%;
	box-sizing: border-box;

	font-family: 'Lato', arial, serif;
	font-weight: 400;

	.title {
		width: 100%;
		left: -10px;
		margin: 0;
		padding: 0 10px;
		font-size: 1.3em;
		color: $extremely-dark-gray;
		border-bottom: $light-gray solid 1px;
		padding-bottom: 20px;
		margin-bottom: 20px;
		position: relative;
		text-align: left;
		display: block;

		font-weight: bold;
	}

	.search-container {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		width: 100%;
		margin-bottom: 20px;
		text-align: left;

		.collab-input-label {
			font-size: 1em;
			font-weight: 400;
			margin-right: auto;
		}

		.collab-input-disclaimer {
			flex-basis: 100%;
			margin: 0.5em 0.5em 0.5em 0;
			font-size: 0.7em;
			text-align: right;
		}
	}

	.user-add {
		z-index: 2;
		flex-grow: 2;
		height: 30px;
		margin-left: 1em;
		padding: 0.25em 0.5em;
		border: solid 1px #c9c9c9;
		border-radius: 0.3em;
		font-size: 0.9em;
	}

	.shareNotAllowed {
		display: none;

		&.show {
			display: block;
			height: 25px;
		}

		p {
			padding-top: 5px;
			text-align: center;
			margin: 0px;
			font-size: 0.8em;
			color: red;
		}
	}

	.collab-search-list {
		z-index: 3;
		position: absolute;
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;

		top: 34px;
		right: 0px;
		width: 449px;
		max-height: 300px;
		padding-bottom: 5px;
		overflow: auto;

		background-color: #ffffff;
		border: #bfbfbf 1px solid;

		text-align: left;

		.collab-search-match {
			display: flex;
			flex-basis: 45%;
			align-items: flex-start;
			margin: 5px 5px 0 5px;
			padding: 0 5px 5px 0;
			border-radius: 3px;
			background-color: #ffffff;

			.collab-match-avatar {
				width: 50px;
				height: 50px;
				-moz-border-radius: 3px;
				border-radius: 3px;
				display: inline-block;
				margin-right: 10px;
				margin: 5px;
			}

			.collab-match-name {
				margin: 5px 0 0 5px;
				font-size: 14px;
				text-align: left;

				font-family: 'Lucida Grande', sans-serif;
			}
		}

		.collab-match-student {
			position: relative;
		}
		.collab-match-student:after {
			content: 'Student';
			position: absolute;
			bottom: -15px;
			left: 0;
			font-size: 10px;
		}

		.collab-search-match:hover {
			background-color: #c5e7fa;
			cursor: pointer;
		}
	}

	.collab-container {
		margin: 0 20px;

		.access-list {
			min-height: 250px;
			max-height: 420px;
			padding: 1em 0 1em 0;
			margin-top: 0px;

			overflow: auto;

			background-color: #f2f2f2;
			border-radius: 5px;

			&.no-content {
				display: flex;
				align-items: center;
				justify-content: center;
			}

			span.not-shared {
				display: block;
				margin-top: 2em;
				text-align: center;

				font-size: 0.9em;
				font-weight: 700;
				color: $moderate-gray;
			}

			.deleted {
				display: none;
			}
		}

		.btn-box {
			align-items: flex-end;
			justify-content: center;
			display: flex;
			margin-top: 35px;

			a {
				cursor: pointer;
			}
		}
	}

	.disclaimer {
		text-align: center;
		color: #575757;
		font-size: 14px;
		margin-top: 10px;

		span {
			display: block;
			margin-top: 0.5em;
		}
	}

	.warning {
		font-weight: 400;
	}

	.access-list {

		header.access-list-header {
			width: auto;
			height: auto;
			min-height: 0;
			margin: 0 0 1em 0;
			padding: 0 1rem;
			font-weight: 700;
			font-size: 0.7em;
			color: $moderate-gray;
			text-transform: uppercase;
			background: none;
		}

		.user-perm {
			display: flex;
			align-items: center;
			position: relative;
			margin: 1.5em 1em 1em 1em;

			&.current-user {
				padding: 0 1.25em 1em 0;
				margin-bottom: 1.5em 1em 0 1em;
				border-bottom: solid 1px $light-gray;
			}

			&.provisional {
				flex-wrap: wrap;

				div.provisional-access-container {
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					align-items: center;
					flex-grow: 4;
					margin-top: 1em;
					padding: 0.5em;

					font-size: 0.8em;
					background: #fff;
					color: $color-dark-orange;
					border: solid 1px $color-yellow-bg;
					border-radius: 0.5em;

					span {
						display: block;
						max-width: 60%;
						margin-left: 0.5em;
					}

					button.action_button {
						width: fit-content;
						height: fit-content;
						margin: 0.5em;
						font-size: 1em;
					}
				}
			}

			&:last-child::after {
				display: none;
			}

			.demote-dialog {
				position: absolute;
				z-index: 10000;
				margin-left: 25%;

				border-radius: 4px;
				box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
				padding: 1em;
				font-family: 'Lucida Grande', sans-serif;
				font-size: 0.75em;
				color: black;
				text-align: center;
				background: #fcdbdb;

				.arrow {
					background: url(/static/img/pink-arrow-left.png) no-repeat 0 center;
					width: 13px;
					display: inline-block;
					top: 0;
					left: -13px;
					position: absolute;
					height: 100%;
				}

				.warning {
					display: block;
					margin: -4px 0 6px 0;
					text-align: center;
				}

				.button {
					text-align: center;
					margin: 0 10px 0 10px;
				}

				.no-button {
					color: #555;
					text-decoration: underline;
					font-size: 1.1em;
					cursor: pointer;
				}

				.yes-button {
					background: #e10000;
					border-color: #747474;
					color: #ffffff;
					padding: 0.5em 1.5em;
					font-size: 1.1em;
				}

				.yes-button:hover {
					background: #ca0000;
					text-decoration: none;
				}
			}

			.remove {
				width: 1.25em;
				height: 1.25em;
				align-self: flex-start;
				margin-left: 0.25em;
				padding: 0;
				color: $moderate-gray;
				text-decoration: none;
				font-size: 1.25em;
				user-select: none;
				border: none;
				background: transparent;

				&:hover:enabled {
					color: black;
					background: white;
					border-radius: 5px;
					cursor: pointer;
				}

				&:disabled {
					color: transparent;
				}
			}

			.about {
				display: flex;
				flex-direction: row;
				align-items: center;

				.avatar {
					vertical-align: middle;
					display: inline-block;
					height: 50px;
					width: 50px;
					margin-right: 10px;
					border-radius: 5px;
				}
				.name {
					display: inline-block;
					font-weight: bold;
					font-size: 15px;
					text-align: left;
					position: relative;

					&.user-match-student:after {
						content: 'Student';
						display: block;
						font-size: 11px;
						color: gray;
					}

					&.user-match-owner:after {
						content: 'Owner';
						display: block;
						font-size: 11px;
						color: gray;
					}
				}
			}

			.options {
				margin-left: auto;
				margin-right: 0;
				text-align: left;

				select {
					display: inline-block;
					padding: 0.5em 1em;
					margin-bottom: 5px;
					cursor: pointer;

					border: solid 1px $gray;
					border-radius: 0.5em;

					background: #fff;

					&:disabled {
						cursor: auto;
					}
				}

				.expires {
					display: block;
					font-size: 8pt;
					position: relative;
					.remove {
						display: inline;
						font-size: 8pt;
					}
					.expire-open-button {
						text-transform: capitalize;
						display: inline-block;
						// border-bottom: 1px #1778af solid;
						border: none;
						background: transparent;
						color: #1778af;
						padding: 0 0 1px 0;
						font-weight: bold;
						font-size: 8pt;
						text-decoration: underline;
						cursor: pointer;

						&:hover {
							border-bottom: 1px #1778af solid;
							color: #135c85;
							padding: 0 0 1px 0;
						}
					}
					.expire-open-button-disabled {
						text-transform: capitalize;
						display: inline-block;
						border: none;
						background: transparent;
						padding: 0 0 1px 0;
						font-size: 8pt;
						color: #6d6d6d;
						font-weight: bold;
						cursor: auto;
					}
					.expire-date-container {
						position: absolute;
						display: block;
						right: 0;
						bottom: -10px;
						background: white;
						padding: 6px;
						border-radius: 5px;
						min-height: 25px;
						min-width: 150px;

						.remove {
							color: #7b7b7b;
							margin-right: 10px;
							&:hover {
								color: black;
							}
						}

						input {
							height: 100%;
							width: 100%;
							box-sizing: border-box;
							display: block;
						}

						.date-finish {
							cursor: pointer;
							padding: 4px;
							display: inline-block;
							background: #1778af;
							border-radius: 2px;
							color: white;
							font-weight: bold;
							margin-top: 5px;

							&:hover {
								background: #43a2d7;
							}
						}
					}
				}
			}

			.options-for-self {
				display: flex;
				gap: 1em;
				align-items: center;
				justify-content: flex-end;
				margin-left: auto;
				margin-right: 0;

				.self-status {
					color: $gray;
					font-size: 0.8em;
					font-weight: 400;
				}

				.leave {
					background: #fff;
					color: $color-red;
					border: solid 1px $color-light-red;
					font-size: 0.9em;
					padding: 0.5em 0.8em;
					cursor: pointer;

					&:disabled {
						color: $gray;
						background: $very-light-gray;
						border-color: $gray;
						cursor: auto;
					}

					&:hover &:not(:disabled) {
						background: $color-light-red;
						color: #fff;
					}
				}
			}
		}
	}
}

.darkMode .modal .collaborate-modal {
	.title {
		color: #fff;
		border-bottom: #4c4e58 dotted 1px;
	}

	.user-add {
		border: solid 1px $color-input-box-border-dark;
		background-color: $color-input-box-bg-dark;
		color: #fff;
	}

	.shareNotAllowed {
		p {
			color: red;
		}
	}

	.collab-search-list {
		background-color: #21232a;
		border: #181920 1px solid;

		.collab-search-match {
			background-color: #21232a;
		}

		.collab-search-match:hover {
			background-color: #1b304b;
		}
	}

	.collab-container {

		.access-list {
			background-color: #1d1f25;
		}
	}

	.disclaimer {
		color: #d8d8d8;
	}

	.access-list {

		header.access-list-header {
			color: $light-gray;
		}

		.user-perm {
			&::after {
				border-bottom: 1px solid #181920;
			}

			.self-status {
				color: $light-gray;
			}

			button.leave {
				color: #fff;
				background-color: $color-red;
			}

			.demote-dialog {
				box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
				color: black;
				background: #fcdbdb;

				.arrow {
					background: url(/img/pink-arrow-left.png) no-repeat 0 center;
				}

				.no-button {
					color: #555;
				}

				.yes-button {
					background: #e10000;
					border-color: #747474;
					color: #ffffff;
				}

				.yes-button:hover {
					background: #ca0000;
				}
			}

			.remove {
				color: #bfbfbf;

				&:hover:enabled {
					color: white;
					background: #21232a;
				}
			}

			.about {
				.name {
					&.user-match-student:after {
						color: #d8d8d8;
					}

					&.user-match-owner:after {
						color: #d8d8d8;
					}
				}
			}

			.options {

				select {
					background-color: $color-input-box-bg-dark;
					color: #fff;
					border-color: $color-input-box-border-dark;
				}

				.expires {
					.expire-open-button {
						color: #61a4e2;

						&:hover {
							/* border-bottom: 1px #1778af solid; */
							color: #94c8fa;
						}
					}
					.expire-open-button-disabled {
						color: #d8d8d8;
					}
					.expire-date-container {
						background: #21232a;

						.remove {
							color: #d8d8d8;
							&:hover {
								color: #fff;
							}
						}

						.date-finish {
							background: #295b99;
							color: white;

							&:hover {
								background: #366cad;
							}
						}
					}
				}
			}
		}
	}
}

.react-datepicker__tab-loop .react-datepicker-popper {
	z-index: 9000;
}
