// Collaborate dialog
.modal .collaborate-modal{
	.title {
		margin: 0;
		padding: 0;
		font-size: 1.3em;
		color: #555;
		border-bottom: #999 dotted 1px;
		padding-bottom: 20px;
		margin-bottom: 20px;
		position: relative;
		text-align: left;
		display: block;
		font-family: Lato, arial, serif;
		font-weight: bold;
	}

	.user_add{
		width: 445px;
		height: 30px;
		z-index: 2;
		border: solid 1px #c9c9c9;
		font-size: 16px;
	}

	.shareNotAllowed {
		height: 25px;

		p {
			padding-top: 5px;
			text-align: center;
			margin: 0px;
			font-size: 0.8em;
			color: red;
		}
	}

	.collab_search_list {
		width: 447px;
		position: absolute;
		background-color: #ffffff;
		border: #bfbfbf 1px solid;
		padding-bottom: 5px;
		overflow: auto;
		z-index: 3;
		text-align: left;
		left: 114px;
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;

		.collab_search_match {
			width: 200px;
			height: 56px;
			margin: 5px 5px 0 5px;
			padding: 0 5px 5px 0;
			border-radius: 3px;
			display: inline-block;
			background-color: #ffffff;

			.collab_match_avatar {
				width: 50px;
				height: 50px;
				-moz-border-radius: 3px;
				border-radius: 3px;
				display: inline-block;
				float: left;
				margin-right: 10px;
				margin: 5px;
			}

			.collab_match_name {
				font-size: 14px;
				text-align: left;
				height: 40px;
				font-family: 'Lucida Grande', sans-serif;
				overflow: auto;
			}
		}

		.collab_match_student {
			position: relative;
		}
		.collab_match_student:after {
			content: 'Student';
			position: absolute;
			bottom: 5px;
			left: 0;
			font-size: 10px;
		}

		.collab_search_match:hover {
			background-color: #c5e7fa;
			cursor: pointer;
		}
	}

	

	.access_list{
		margin-top: 0px;
		background-color: #f2f2f2;
		height: 250px;
		border-radius: 5px;
		padding: 0 30px;
		text-align: right;
		overflow: auto;
	}

	.disclaimer {
		color: #575757;
		font-size: 14px;
		margin-top: 10px;
	}

	.access_list{

		.deleted {
			display: none !important;
		}
		

		.user_perm {
			display: flex;
			align-items: center;
			position: relative;
			margin: 25px 10px;

			&::after{
				content: ' ';
				width: 70%;
				margin-left: 15%; // (100% - 70%) / 2
				display: block;
				border-bottom: 1px solid #d2d2d2;
				position: absolute;
				bottom: -11px;
			}

			&:last-child::after{
				display:none
			}

			.demote-dialog {
				border-radius: 4px;
				box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
				padding: 1em;
				width: 310px;
				font-family: 'Lucida Grande', sans-serif;
				font-size: 9pt;
				color: black;
				text-align: center;
				background: #fcdbdb;
				height: 40px;
				z-index: 10000;
				position: absolute;
				margin-left: 90px;

				.warning {
					display: block;
					margin: -4px 0 6px 0;
					text-align: center;
				}

				.button {
					text-align: center;
					margin: 0 10px 0 10px;
				}

				.no-button {
					font-family: Lato, arial, serif;
					color: #555;
					text-decoration: underline;
					font-size: 12pt;
					cursor: pointer;
				}

				.yes-button {
					background: #ca0000;
					background-image: linear-gradient(#e10000, #ca0000);
					border-color: #747474;
					color: #ffffff;	
					padding: 3px 15px;
				}
				
				.yes-button:hover {
					background: #ca0000;
					background-image: linear-gradient(#ca0000, #e10000);
					text-decoration: none;
				}

			}

			.remove{
				display: block;
				color: #bfbfbf;
				text-decoration: none;
				font-size: 15px;
				text-align: center;
				padding: .5em;
				margin: .5em;
				user-select: none;
				border: none;
				background: transparent;

				&:hover:enabled{
					color: black;
					background: white;
					border-radius: 5px;
					cursor: pointer;
				}

				&:disabled {
					color: transparent;
				}
			}

			.about{
				.avatar{
					vertical-align: middle;
					display: inline-block;
					height: 40px;
					width: 40px;
					margin-right: 10px;
				}
				.name{
					font-weight: bold;
					font-size: 15px;
					text-align: left;
					position: relative;

					&.user_match_student:after {
						content: 'Student';
						position: absolute;
						top: -12px;
						left: 0;
						font-size: 11px;
						color: gray;
					}
				}
			}

			.options{
				flex: 1;
				text-align: right;

				select{
					display: inline-block;
					margin-bottom:5px;
				}

				.expires{
					display: block;
					font-size: 8pt;
					position: relative;
					.remove{
						display: inline;
						font-size: 8pt
					}
					.expire-label{

					}
					.expire-open-button{
						display: inline-block;
						// border-bottom: 1px #1778af solid;
						border: none;
						background: transparent;
						color: #1778af;
						padding: 0 0 1px 0;
						font-weight: bold;
						cursor: pointer;

						&:hover{
							border-bottom: 1px #1778af solid;
							color: #135c85;
							padding: 0 0 1px 0;
						}

					}
					.expire-open-button-disabled {
						display: inline-block;
						border: none;
						background: transparent;
						padding: 0 0 1px 0;
						font-weight: bold;
					}
					.expire-date-container{
						position: absolute;
						display: block;
						right: 0;
						bottom: 0;
						background: white;
						padding: 6px;
						border-radius: 5px;
						min-height: 25px;
						min-width: 150px;

						.remove{
							color: #7b7b7b;
							margin-right: 10px;
							&:hover{
								color: black;
							}
						}

						input{
							height: 100%;
							width: 100%;
							box-sizing: border-box;
							display: block;
						}

						.date-finish{
							cursor: pointer;
							padding: 4px;
							display: inline-block;
							background: #1778af;
							border-radius: 2px;
							color: white;
							font-weight: bold;
							margin-top: 5px;

							&:hover{
								background: #43a2d7;
							}
						}
					}
				}

			}
		}
	}
}
.demote_dialogue {
	border-radius: 4px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
	padding: 1em;
	width: 310px;
	font-family: 'Lucida Grande', sans-serif;
	font-size: 9pt;
	color: black;
	text-align: center;
	background: #fcdbdb;
	height: 40px;
	z-index: 10000;
	position: absolute;
	margin-left: 90px;
}
