@import './include.scss';

.export-modal {
	.top-bar {
		display: flex;
		flex-direction: column;
		margin-bottom: 20px;
		margin-top: 35px;

		.content {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			padding-bottom: 20px;

			.title {
				font-size: 1.5em;
				color: #484848;
				font-weight: bold;
				margin-left: 15px;
			}

			.semester-btn {
				color: white;
				font-size: 0.9em;
				min-width: 75px;
				text-align: center;
				background-color: #f1824c;
				padding: 10px;
				margin-left: auto;
				cursor: pointer;

				&:hover {
					text-decoration: underline;
				}
			}
		}

		.underline {
			margin: 0 10px;
			border-bottom: #999 dotted 2px;
			//width: 100%;
		}
	}

	.semester-content {
		display: flex;
		flex-direction: column;
		padding: 0 10px;

		h3 {
			margin: 0 0 15px 0;
			color: #0b97e8;
			font-size: 1.2em;
			text-align: center;
		}

		.score-table {
			background: #f5f5f5;
			width: 570px;
			margin: 0 5px;
			border: 1px solid #c1c1c1;
			border-radius: 3px;
			overflow-y: auto;

			#export-scores-description {
				text-align: left;
				padding: 0px 15px 0px 15px;
				line-height: 1.5em;
				margin-top: 20px;

				.highlight {
					color: #0b97e8;
				}
			}

			.download-controls {
				position: relative;
				z-index: 1;
				margin: 15px 0px 10px 0px;
				padding: 0px 10px;
				text-align: center;

				select {
					cursor: pointer;
				}

				.see-how {
					padding: 0px 5px;
					text-align: left;
				}

				.download {
					margin: 20px 0;

					a {
						padding: 7px 12px 8px;
						background-image: none;
					}

					.arrow-down {
						margin: 0;
						width: 21px;
						height: 21px;
						display: inline-block;
						vertical-align: middle;
						margin-top: -5px;
						margin-right: 10px;
					}
				}
			}
		}

		.cancel {
			font-size: 16px;
			font-family: 'Lato', arial, sans-serif;
			text-align: center;

			a {
				background: none;
				border: none;
				cursor: pointer;
			}
		}
	}
}
.download-options {
	display: none;
	background: #f1824c;
	color: white;
	vertical-align: top;
	height: 100%;
	margin-left: 40px;
	position: absolute;
	top: 0;
	right: -340px;
	width: 300px;
	padding-left: 20px;
	padding-right: 20px;

	ul {
		list-style: none;
		padding: 0;
	}

	h4 {
		font-size: 1.3rem;
		margin: 1.375em 0 0 0;
	}

	li {
		margin-bottom: 10px;

		&:first-of-type {
			border-bottom: 1px #d6d6d6 solid;
			padding-bottom: 5px;
			display: none;

			&.active {
				display: list-item;
			}
		}

		input {
			margin-right: 15px;
			cursor: pointer;
		}

		label {
			cursor: pointer;
		}
	}

	p {
		font-weight: bold;
	}

	.export-none {
		display: none;

		&.active {
			display: inline;
		}
	}

	&.active {
		display: inline-block;
	}
}
