p#no-content-icon {
	color: #757575;
	width: fit-content;
	margin: auto;
	font-size: 1.5em;
}

div#no-score-content, div#not-scorable {
	display: flex;
	flex-direction: column;
	width: 40%;
	height: 225px;
	padding-top: 25px;
	padding-left: 40%;
	margin: 25px auto 0 auto;

	&#no-score-content {
		background: #fff url('/img/kogneato_no_scores.svg') 10% 30%/250px auto no-repeat;
	}

	&#not-scorable {
		background: #fff url('/img/kogneato_with_a_broom.svg') 20% 20%/auto 240px no-repeat;
	}

	p {
		color: #2e2e2e;
		font-size: 14px;
		margin: 5px 0;

		&:first-child {
			font-weight: bold;
		}
	}
}

.darkMode div#no-score-content, .darkMode div#not-scorable {
	&#no-score-content {
		background: #21232a url('/img/kogneato_no_scores_dark.svg') 10% 30%/250px auto no-repeat;
	}

	&#not-scorable {
		background: #21232a url('/img/kogneato_with_a_broom_dark.svg') 20% 20%/auto 240px no-repeat;
	}

	p {
		color: #fff;
	}
}

@media (min-width: 780px) and (max-width: 1000px){
	div#no-score-content
	{
		width: 100%;
		justify-content: flex-end;
		padding-top: 20%;
		padding-left: 20%;

		&#no-score-content {
		background: #fff url('/img/kogneato_no_scores.svg') 35% 38%/215px auto no-repeat;
	}
	}
}
@media (min-width: 580px) and (max-width: 780px){
	div#no-score-content
	{
		width: 100%;
		justify-content: flex-end;
		padding-top: 20%;
		padding-left: 30%;

		&#no-score-content {
		background: #fff url('/img/kogneato_no_scores.svg') 40% 30%/215px auto no-repeat;
	}
	}
}
@media (min-width: 380px)and (max-width: 580px){
	div#no-score-content
	{

		justify-content: flex-end;
		padding: 20px;

		&#no-score-content {
		background: #fff url('/img/kogneato_no_scores.svg') 50% 10%/215px auto no-repeat;
	}
	}
}
@media (min-width: 180px) and (max-width: 380px){
	div#no-score-content
	{
		width: 40%;
		justify-content: flex-end;
		padding-top: 15%;
		padding-left: 0%;
		position: relative;
		right: 30%;

		&#no-score-content {
		background: #fff url('/img/kogneato_no_scores.svg') 80% 30%/215px auto no-repeat;
	}
	}
}
