p#no-content-icon {
	color: #757575;
	width: fit-content;
	margin: auto;
	font-size: 1.5em;
}

div#no-score-content, div#not-scorable {
	display: flex;
	flex-direction: column;
	width: 40%;
	height: 225px;
	padding-top: 25px;
	padding-left: 40%;
	margin: 25px auto 0 auto;

	&#no-score-content {
		background: #fff url('/img/kogneato_no_scores.svg') 10% 30%/250px auto no-repeat;
	}

	&#not-scorable {
		background: #fff url('/img/kogneato_with_a_broom.svg') 20% 20%/auto 240px no-repeat;
	}

	p {
		color: #2e2e2e;
		font-size: 14px;
		margin: 5px 0;

		&:first-child {
			font-weight: bold;
		}
	}
}

.darkMode div#no-score-content, .darkMode div#not-scorable {
	&#no-score-content {
		background: #21232a url('/img/kogneato_no_scores_dark.svg') 10% 30%/250px auto no-repeat;
	}

	&#not-scorable {
		background: #21232a url('/img/kogneato_with_a_broom_dark.svg') 20% 20%/auto 240px no-repeat;
	}

	p {
		color: #fff;
	}
}

@media (max-width: 950px) {
	div#no-score-content, div #not-scorable {
		height: auto;
		width: auto;
		margin: 0 auto;
		padding: 250px 0 0 0;
	}
}