/* pre-embed view */

html,
body {
	height: 100%;
	min-height: 100%;
	font-family: 'Lato', arial, sans-serif;
}

.container {
	width: 600px;

	margin: 15px auto 0 auto;

	&.preview {
		section.page {
			border-top: 4px #b944cc solid;
			margin-top: 55px;

			&:before {
				position: absolute;
				left: 0;
				top: -40px;
				width: 160px;
				height: 20px;
				padding: 8px 0 12px 0;

				border-radius: 5px 5px 0 0;

				content: 'Previewing';
				background: #b944cc;

				font-size: 20px;
				font-weight: 900;
				color: #ffffff;
				text-align: center;
				vertical-align: middle;
			}
		}

	}

	section.page {
		min-height: 350px;
		margin: 0;
		padding: 15px 10px 30px 10px;
		text-align: center;

		background: #fff;

		border-radius: 4px;
		border: #e4e4e4 1px solid;
		box-shadow: 1px 3px 10px #dcdcdc;

		&.is-draft {

			p {
				width: 80%;
				margin: 10px auto;
				text-align: left;
			}

			ul {
				width: 80%;
				margin: 10px auto;

				li {
					text-align: left;
					line-height: 1.5em;
				}
			}
		}

		div.detail {
			text-align: center;
			clear: both;

			&.pre-embed {
				padding: 2em 0;

				background: #f3f3f3;
				border-radius: 4px;

				.action_button {
					margin: 24px;
				}
			}

			h2 {
				font-size: 18pt;
			}

			h3 {
				margin-top: 3px;
			}

			.action_button {
				margin-top: 24px;
				width: 240px;
			}

			.unavailable-text {
				margin-top: 40px;
				margin-bottom: 5px;
			}

			.unavailable-subtext {
				margin-bottom: 40px;
				font-size: 0.8em;
				font-size: 600;
			}
		}

		.widget_info {
			position: relative;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			gap: 1em;
			min-height: 122px;
			width: calc(100% + 20px);

			top: -15px;
			left: -10px;

			border-top-left-radius: 4px;
			border-top-right-radius: 4px;
			
			background: #0093e7;
			color: #fff;
			
			li {
				display: block;
				margin-right: 10px;
				list-style-type: none;

				&.widget_availability {
					display: inline-block;
					width: 335px;
					padding: 0 0 15px 0;

					font-size: 13px;

					.available_date, .available_time {
						font-weight: 100;
					}
				}
			}

			.widget_icon {
				padding-left: 15px;

				img {
					width: 92px;
					height: 92px;
				}
			}


		}

		ul.widget_about {
			margin: 0;
			padding: 0;
			list-style-type: none;

			li.widget_name {
				position: relative;
				display: flex;
				align-items: center;
				// position: relative;
				// top: 15px;
				min-height: 100px;
				padding: 11px 0;
				padding: 0 0 5px 0;
				font-weight: 700;
				font-size: 38px;

				line-height: 37px;
				text-align: left;
			}
		}

		.widget-embed-footer {
			position: absolute;
			bottom: 5px;

			display: flex;
			justify-content: space-between;
			align-items: center;

			width: calc(100% - 20px);

			font-size: 0.7em;
			font-weight: 400;

			color: #5e5e5e;

			a {
				&.materia-logo {
	
					img {
						width: auto;
						height: 15px;
						margin-top: 1px;
					}
				}
			}
		}

		div#form {

			ul {
				position: relative;
				width: 500px;
				margin: 30px auto 0 auto;
				padding: 0;

				&.help_links {
					width: 100%;
					padding: 0;

					font-size: 14px;
					text-align: center;

					li {
						display: inline;

						&:after {
							content: '|';
						}

						&:last-child:after {
							content: '';
						}

						a {
							margin: 0 5px;
						}
					}
				}

				li {
					position: relative;
					display: block;
					height: 46px;
					width: 350px;
					margin: 13px auto 0 auto;

					list-style-type: none;

					label, input[type='text'], input[type='password'] {
						position: absolute;
						display: block;
						z-index: 500;
						top: 0;
						left: 0;
						width: 326px; // or 300?
						height: 40px;
						padding-left: 12px;
						padding-right: 12px;


						font-size: 14px;
						font-weight: 200;

						border: solid 1.5px #abadb3;
						background: #fff;
					}

					label {
						z-index: 1000;
						height: 27px;
						margin-top: 13px;
						margin-left: 14px;
					}

					&.submit_button {
						text-align: center;
					}
				}
			}

		}

		.error {
			margin: -5px 0 -10px 0;

			p {
				width: 340px;
				padding: 6px 10px;
				margin: 25px auto 0;
				background: #ffcfcf;

				color: red;
				font-weight: 600;
				font-size: 17px;
				text-align: center;

			}
		}

		.additional_info {
			padding: 0 20px 20px 20px;
		}
	}
}

.darkMode .container {
	&.preview {
		section.page {
			border-top: 4px #b944cc solid;

			&:before {
				background: #b944cc;
				color: #ffffff;
			}
		}
	}

	section.page {
		background: #21232a;
		border: #181920 1px solid;
		box-shadow: 1px 3px 10px #08090c;

		.widget_info {
			.widget_icon {
				background: #0093e7;
				color: #fff;
				box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
			}
		}

		div#form {
			ul {
				li {
					label, input[type='text'], input[type='password'] {
						border: solid 1.5px #181920;
						background: #1d1f25;
						color: #fff;
					}
				}
			}
		}

		.error {
			p {
				background: #700404;
				color: #dd9696;
			}
		}
	}
}

@media (max-width: 720px) {
	.container {
		margin: 10% auto 0 auto;
		align-items: center;

		section.page {
			border: 0;
			box-shadow: none;
		}
	}
}

// @media (max-width: 720px) {

// 	.container {
// 		margin: 10% auto 0px auto !important;
// 		align-items: center;
// 	}
// }


/* login styles */

// @media (max-width: 720px) {
// 	.widget .container {
// 		margin: 10% auto 0px auto !important;
// 		align-items: center;
// 	}

// 	.widget section.page,
// 	.widget aside {
// 		border: none !important;
// 		box-shadow: none !important;
// 	}

// 	.widget .form-content ul {
// 		width: 0px !important;
// 		margin: 0 !important;
// 	}

// 	.widget ul.help_links {
// 		width: 100% !important;
// 	}

// 	.widget .form-content ul li input[type='text'],
// 	.widget .form-content ul li input[type='password'] {
// 		width: 300px !important;
// 	}

// 	.widget .error p {
// 		width: 307px !important;
// 	}

// }