@import 'include.scss';


	@media (max-width: 800px) {
		.container {
			display: flex;
			justify-content: center;
		}

		body {
			min-width: inherit !important;
		}
	}

.user, .settings {

	@media (max-width: 800px) {
		section.page {
			margin: 15px 10px 0px 10px !important;
			width: auto !important;
		}
	}

	section.page, aside {
		/* The background for the sidebar (containing the profile and settings navigation) is styled in the section below using a repeating image */
		background: #fff;
		border-radius: 4px;
		border: #e4e4e4 1px solid;
		box-shadow: 1px 3px 10px #dcdcdc;
	}

	section.page {
		margin: 15px auto 0px auto;
		top: 0;
		right: 0;
		z-index: 100;
		width: 575px; /*625px*/
		padding: 10px 60px 30px 145px;
		background: url('/img/user_page_background.gif') 0 0 repeat-y;
		background-color: #fff;
		min-height: 400px;

		font-weight: 400;

		.loading-icon-holder {
			position: absolute;
			width: 300px;
			height: 300px;

			left: calc(50% - 150px);
			top: calc(50% - 150px);
		}

		h2 {
			font-weight: 700;
			font-size: 38px;
			border-bottom: solid #dcdcdc .5px;
			margin: 0;
			padding: 0 0 5px 0;
		}

		span {
			font-weight: 700;
			padding: 0 0 5px 0;
			font-size: 12px;
			text-transform: uppercase;
			color: #b2b2b2;
			display: block;
			margin: 1em 0 0.5em 0;
		}

		ul {
			font-weight: 400;
			font-size: 16px;
			list-style-type: none;
			padding-left: 0px;

			&.email_exp_addr {
				font-weight: 300;
			}
		}

		h3 {
			color: #000;
			font-weight: 700;
			height: 25px;
		}

		.profile_status {
			display: flex;
			align-items: baseline;
			justify-content: space-between;
		}

		.avatar_big {
			position: absolute;
			top: 25px;
			left: 12px;
			text-align: right;
			color: #fff;
			font-size: 10px;
			line-height: 13px;


			img {
				width: 90px;
				height: 90px;
				border-radius: 10px;
			}

			a:link,
			a:visited,
			a:active {
				color: #fff;
			}

			a:hover {
				color: #fff;
				text-decoration: none;
			}

			a.external {
				margin-left: 0.5em;
			}
		}

		// TODO remove?
		.rank {
			position: absolute;
			top: 25px;
			right: 25px;

			font-size: 55px;
			padding: 0;
			margin: 0;
			font-weight: 600;
			color: #0093e7;
			line-height: 35px;
			text-align: right;
			margin-top: 5px;

			a {
				display: block;
				font-size: 13px;
				color: #969696;
				text-decoration: underline;

				&:hover {
					color: #969696;
					text-decoration: none;
				}
			}
		}

		ul.user_information {
			padding: 0;
			font-size: 13px;
			font-weight: bold;

			li {
				list-style-type: none;
				display: inline-block;
				margin-right: 10px;
			}
		}

		.user_type {
			background: #f2f0d0;
			color: #48483e;
			border-radius: 3px;
			text-transform: uppercase;
			padding: 2px 6px;
			font-size: 12px;

			&.staff {
				background: #ef0223;
				color: #ffc4cc;
			}

			&.support {
				background: #0093e7;
				color:#f3f3f3;
			}
		}

		.activity_subheader {
			margin-top: 20px;
		}

		.activity {
			width: 575px;
			padding: 0;

			.loading-icon-holder {
				display: none;

				&.loading {
					z-index: 100;
					display: block;
					width: 150px;
					height: 150px;
					left: calc(50% - 75px);
					top: calc(50% - 75px);
					background: rgba(255,255,255,0.75);
					border-radius: 25px;
				}
			}

			ul {
				padding: 0;

				&.loading {
					display: none;
				}

				li {
					list-style-type: none;
				}
			}
		}

		.activity_log {
			margin: 0;
			padding: 0;

			&:last-child a {
				border: 0;
			}

			.score-link {
				display: block;
				min-height: 50px;
				padding: 5px;
				border-bottom: #d8d8d8 1px solid;
				position: relative;
			}

			&.complete {
				.score-link:hover {
					background: #eee;
				}
			}

			&.incomplete {
				.score {
					background: #ccc;
				}
				a.score-link {
					cursor: auto;
				}
			}

			&.perfect_score .score {
				font-size: 21px;
				padding-top: 6px;
				padding-bottom: 6px;
			}

			.score {
				display: block;
				position: absolute;
				left: 5px;
				top: 10px;
				width: 40px;

				background: #0093e7;
				color: #fff;
				border-radius: 3px;
				font-size: 28px;
				min-height: 28px;
				font-weight: 700;
				text-align: center;
				overflow: hidden;

				padding-top: 2px;
				padding-bottom: 4px;
				height: inherit;
			}

			.date {
				display: block;
				position: absolute;
				right: 5px;
				top: 5px;
				text-align: right;

				color: #a4a4a4;

				font-size: 11px;
				font-weight: 700;
			}

			.widget {
				display: block;
				text-align: left;
				font-family: 'LatoBlack', arial, serif;
				color: #7b7b7b;
				font-size: 11px;
				font-weight: 700;
				text-transform: uppercase;
				position: absolute;
				left: 55px;
				top: 10px;
			}

			.title {
				font-size: 17px;
				position: absolute;
				left: 55px;
				top: 22px;
			}

			.status {
				position: absolute;
				top: 12px;
				right: 1px;
				color: rgba(200,200,200,0.5);
				font-size: 30px;
			}
		}

		.no_logs {
			background: #f7f7f7;
			border-radius: 5px;
			padding: 15px 20px;
			text-align: center;
			font-size: 15px;
			color: #4a4a4a;
		}

		// TODO delete?
		.activity_logs_template {
			display: none;
		}

		.show_more_activity {
			display: block;
			width: 80%;
			margin: 10px auto;
			padding: 10px 0;

			span {
				margin: 0;
				padding: 0;
				color: $extremely-dark-gray;
				text-align: center;
			}
		}

		.main_navigation {
			display: block;
			position: absolute;
			left: 0;
			top: 175px;
			width: 83px;
			margin: 0;
			padding: 0;
			list-style-type: none;

			li {
				a {
					display: block;
					width: 83px;
					text-align: left;
					padding-left: 20px;
					font-size: 12px;
					font-weight: 700;
					padding-top: 10px;
					padding-bottom: 10px;
					padding-right: 30px;
					color: #333;

					&:hover {
						text-decoration: none;
					}
				}

				&.selected {
					a {
						margin-left: 0px;
						background: #fff;
						border-right: 0;
						border-left: 0;
						color: #333;
						text-decoration: none;

						&:hover {
							text-decoration: none;
						}
					}
				}
			}
		}

		&.settings {
			h3 {
				margin-bottom: 0.5em;
			}

			label, input {
				cursor: pointer;
			}

			label {
				font-size: 14px;
			}

			.custom-checkbox, .custom-radio {
				margin: 0 0.5em 0 0;
				padding: 0;
			}

			label {
				user-select: none;
			}

			a.external {
				margin-left: 0.5em;
			}

			ul {
				font-size: 14px;
				list-style-type: none;
				padding: 0;
				margin: 0;
				margin-bottom: 3em;

				li {
					display: block;
					margin-bottom: 0.5em;
				}

			}

			.action_button {
				margin-top: 3em;

				&.no_top_margin {
					margin-top: 0;
				}

				&.disabled {
					background: #aeaeae;
					background-image: linear-gradient(#e4e4e4, #b8b8b8);
					border-color: #747474;
					color: #545454;
					cursor: default;
					opacity: 0.5;
				}
			}

			.exp {
				color: #7f7f7f;
				font-size: 12px;
				margin: 10px 0 0 0;

				.email_exp_addr {
					display: inline-block;
					color: #3f3f3f;
					text-transform: none;
				}
			}
		} // end settings

	} // end section.page

	.settingSaveAlert {
		display: inline-block;
		font-family: 'Lucida Grande', sans-serif;
		margin: 0;
		padding: 0 0 0 20px;
	}
}

.darkMode .user, .darkMode .settings {
	section.page, aside {
		background: #21232a;
		border: #181920 1px solid;
		box-shadow: 1px 3px 10px #08090c;
	}

	section.page {
		background: #21232a url('/img/user_page_background_dark.gif') 0 0 repeat-y;

		h2 {
			border-bottom: solid #dcdcdc .5px;
		}

		span {
			color: #b2b2b2;
		}

		h3 {
			color: #000;
		}

		.avatar_big {
			color: #fff;

			a:link,
			a:visited,
			a:active {
				color: #fff;
			}

			a:hover {
				color: #fff;
			}
		}

		// TODO remove?
		.rank {
			color: #61a4e2;

			a {
				color: #d8d8d8;

				&:hover {
					color: #d8d8d8;
				}
			}
		}

		.user_type {
			background: #21232a;
			color: #fff;

			&.staff {
				background: #ef0223;
				color: #ffc4cc;
			}

			&.support {
				background: #0093e7;
				color:#f3f3f3;
			}
		}

		.activity {
			.loading-icon-holder {
				&.loading {
					background: #21232a;
					color: #fff;
				}
			}
		}

		.activity_log {
			.score-link {
				border-bottom: #d8d8d8 1px solid;
			}

			&.complete {
				.score-link:hover {
					background: #1b304b;
				}
			}

			&.incomplete .score {
				background: #4c4e58;
			}

			.score {
				background: #295b99;
				color: #fff;
			}

			.date {
				color: #d8d8d8;
			}

			.widget {
				color: #d8d8d8;
			}

			.status {
				color: rgba(75,75,75,0.5);
			}
		}

		.no_logs {
			background: #4c4e58;
			color: #fff;
		}

		.show_more_activity {
			span {
				color: $extremely-dark-gray;
			}
		}

		.main_navigation {
			li {
				a {
					color: #fff;
				}

				&.selected {
					a {
						background: #21232a;
						color: #fff;
					}
				}
			}
		}

		&.settings {
			.action_button {
				&.disabled {
					background: #aeaeae;
					background-image: linear-gradient(#e4e4e4, #b8b8b8);
					border-color: #747474;
					color: #545454;
				}
			}

			.exp {
				color: #c9c9c9;

				.email_exp_addr {
					color: #f5f5f5;
					font-weight: 700;
				}
			}
		} // end settings
	} // end section.page
}