@import './include.scss';

.generate {
	border-radius: 5px;
	margin: 10px;

	h1 {
		background: #3690E6;
		padding: 10px;
		margin: 0px;
		font-size: 1em;
		font-weight: bold;
		color: #ffffff;
	}

	.loading {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100vh;
		background-color: rgba(0, 0, 0, 0.5);

		backdrop-filter: blur(10px);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 10;

		p {
			margin-bottom: 150px;
			font-size: 1.1em;
			color: white;
		}
	}

	#generate_form {
		margin: 1.5em;
		display: flex;
		flex-direction: column;
		gap: 0.75em;

		label {
			font-weight: 400;
		}

		.description {
			display: block;
			padding: 1em;
			background: $very-light-gray;

			font-size: 0.75em;
			font-weight: 400;

			border-radius: 10px;
		}

		#topic-field {
			display: flex;
			flex-direction: column;
			gap: 0.5em;

			#topic {
				padding: 0.5em;
			}
		}

		#num-questions-field {
			display: flex;
			flex-direction: row;
			justify-content: space-between;

			input {
				max-width: 100px;
			}
		}

		#build-off-existing-field {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;

			#build-off-existing {
				margin-bottom: 0.5em;
				margin-right: 0.5em;
			}

			.description {
				flex-basis: 100%;
			}
		}
	}
	.actions {
		position: fixed;
		width: 80px;
		left: 50%;
		bottom: 0px;
		margin-left: -40px;
		padding-bottom: 14px;
		z-index: 10;

		text-align: center;
		font-size: 1.1em;

		a {
			color: #000000;
		}
	}

	.error {
		color: $color-red;
		font-size: 0.8em;
		font-weight: 400;
	}

	.invalid {
		border: 2px solid red;
		border-radius: 3px;
	}

	.warning {
		color: #d87a00;
		font-size: 0.8em;
		font-weight: 400;
	}
}
