@import 'include.scss';

body,
html {
	font-family: 'Lato', arial, serif;
	overflow-x: hidden;
	height: 100%;
	margin: 0;
	padding: 5px;
	box-sizing: border-box;
}

#import_form {
	background: #fff;
	border: rgba(0, 0, 0, 0.11) 1px solid;
	box-shadow: 1px 3px 10px #888;

	.header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		background: #f1814b;
		padding: 6px 10px;
		margin: 0px;

		h1, a {
			font-size: 18px;
			font-weight: bold;
			color: #ffffff;
		}
	}

	thead {

		tr {
			height: 2em;
			padding: 6px 0px;
			border-bottom: solid 1px #888;
		}
	}

	tbody {
		tr {
			height: 2em;

			td {
				text-align: center;
				cursor: pointer;
			}
			&:hover {
				background: #bde3ff;
			}
		}

		.export {
			position: relative;
			.export-icon {
				width: 15px;
				height: 15px;
			}
		}
	}
}

.no_saves {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;

	h3 {
		font-size: 1.5em;
		font-weight: bold;
	}
}

.actions {
	position: fixed;
	width: 80px;
	left: 50%;
	bottom: 0px;
	margin-left: -40px;

	text-align: center;
	font-size: 1.1em;

	background: rgba(255, 255, 255, 0.562);
	padding: 14px;
	border-radius: 6px;
	margin-bottom: 5px;

	a {
		color: #f00;
	}
}
