@import 'include.scss';

h1 {
	font-family: Lato, arial, serif;
}

.container {
	background-color: #fff;
	position: relative;
	margin: 10px auto;
	padding: 0 10px 10px;
	display: block;
	border: 1px solid #ccc;
	box-shadow: 0 0 10px #aaa;
	width: 700px;

	.page {

		.search_list {
			
			.icon {
				background-repeat: no-repeat;
				background-size: 60px;
				margin: 0;
				padding: 0;
				width: 60px;
				height: 60px;
				display: inline-block;
				margin-right: 5px;
			}

			div {
				display: inline-block;
				padding: 4px;
			}

			.info-holder {
				position: relative;
				vertical-align: top;
			}

			div > ul {
				display: inline-block;
				width: 235px;
				vertical-align: top;
			}

			ul {
				margin: 0;
				padding: 0;
			}

			ul li {
				margin: 0;
				padding: 2px;
				list-style: none;
				overflow: hidden;
			}

			ul li.title {
				font-weight: bold;
				font-size: 0.9em;
			}

			ul li.type {
				color: #444;
				font-size: 0.8em;
			}
		}
	}

	.page > ul {
		list-style: none;
		margin: 0;
		padding: 0;

		> li {
			background-color: #eee;
			display: block;
			margin: 0 0 5px 0;
			border: 1px solid #ccc;
			border-radius: 10px;
		}
	}
}

.instance_search {
	width: 200px;
}

.search_match {
	box-sizing: border-box;
	display: inline-block;
	width: 48%;
	margin: 5px;
	padding: 10px;
	border: 1px solid #d3d3d3;

	> div {
		display: inline-block;
	}
}

.clickable {
	cursor: pointer;
}
