/* support-info */

.error-support {
	margin-top: 58px;

	h3 {
		margin-bottom: 1px;
	}

	span.subtitle {
		font-size: 0.9em;
		margin-top: 0px;
		color: #666;
	}

	dt {
		margin-left: 10px;

		&:after {
			content: ':';
		}
	}

	dd {
		margin: 5px 0 10px 20px;
	}
}