/* support-info */

.error-support {
	margin-top: 30px;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;

	h3, p {
		margin: 0 !important;
	}

	.supportSection {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 5px;
	}

	.supportItem {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 2px;
	}
}
