.uploader {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.uploader + label {
	font-family: 'Lato', arial, serif;
	padding: 7px 23px 8px 23px;
	background: #ffba5d;
	background-image: linear-gradient(#ffce8c, #ffa42a);

	border-radius: 6px;
	border: #fdb34f 1px solid;
	font-weight: 700;
	color: #694d28;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
	box-shadow: 1px 2px 4px #888;
	font-size: 18px;
	position: relative;
	cursor: pointer;
	display: inline-block;
	user-select: none;

	&:hover {
		background: #eca444;
		background-image: linear-gradient(#ffa42a, #ffce8c);
		text-decoration: none;
	}
}

h1 {
	font-family: Lato, arial, serif;
}

.container {
	background-color: #fff;
	position: relative;
	margin: 10px auto;
	padding: 0 10px 10px;
	display: block;
	border: 1px solid #ccc;
	box-shadow: 0 0 10px #aaa;
	width: 700px;

	.page > ul {
		list-style: none;
		margin: 0;
		padding: 0;

		> li {
			background-color: #eee;
			display: block;
			margin: 0 0 5px 0;
			border: 1px solid #ccc;
			border-radius: 10px;
		}
	}
}

.clickable {
	cursor: pointer;
}

.back {
	position: absolute;
	top: 3px;
	right: 5px;
	cursor: pointer;
	font-size: 120%;

	.arrow {
		display: inline-block;
		padding-top: 19px;
		margin-bottom: -4px;
		width: 17px;
		height: 0;
		margin-right: 5px;
		margin-left: -2px;

		background: url(../img/arrow.png) bottom no-repeat;
	}
}

.widget-title {
	background-color: #ddd;
	margin: 0;
	padding: 10px 10px 7px;
	border-radius: 10px;
	border-bottom: 1px solid #ccc;

	.title {
		margin: 0;
		padding: 0;
		vertical-align: middle;
		font-weight: bold;
		font-size: 20px;
	}
}

.img-holder {
	display: inline-block;
	vertical-align: middle;

	img {
		width: 50px;
		height: 50px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		display: inline-block;
		float: left;
		margin-right: 10px;
	}
}

.widget-info {
	.info-holder {
		flex-grow: 100;
		margin: 0 10px;
	}
}

.widget-info,
.user-info {
	margin: 10px 0;

	.top {
		pointer-events: none;
	}

	.error-holder {
		display: block;
		text-align: center;
		color: #f00;
	}

	.inline {
		display: inline-block;
	}

	div {
		display: block;
		vertical-align: top;
		margin: 5px 0 0;
	}

	input,
	textarea {
		font-size: 15px;
	}

	textarea {
		height: 55px;
		resize: none;
	}

	.info-holder {
		position: relative;
		vertical-align: top;

		span:not(.long),
		label {
			display: inline-block;
			vertical-align: top;
		}

		label:not(.normal) {
			width: 145px;
		}

		.normal input {
			margin: 0;
			padding: 0;
		}

		ul {
			list-style: none;
			padding: 0;
			margin: 0;
		}

		li {
			padding: 0 5px;
		}

		hr {
			margin: 5px auto;
			clear: right;
			width: auto;
		}

		.action_button {
			position: absolute;
			right: 0;
			bottom: 0;
		}
	}
}

.long {
	display: flex;

	input,
	textarea {
		flex-grow: 100;
	}
}

.user_add {
	width: 200px;
}

.search_match {
	box-sizing: border-box;
	display: inline-block;
	width: 48%;
	margin: 5px;
	padding: 10px;
	border: 1px solid #d3d3d3;

	> div {
		display: inline-block;
	}
}

.created_by:after {
	content: ' - Creator';
	font-size: 13px;
	font-weight: bold;
	vertical-align: middle;
}

.no_match_message {
	margin-top: 10px;
}
