@import 'partials/homepage_spotlight';

html {
	background-image: url('../../../img/back.png');

	// background-image: linear-gradient(left, #f5f5f5 15px, white 2px);
	background-size: 17px 100%;
}

body,
html {
	margin: 0;
	padding: 0;
	font-size: 16px;
}

body {
	font-family: 'Lucida Grande', arial, serif;
	overflow: auto;
}

section,
header,
nav,
article,
aside,
footer {
	display: block;
}

a {
	color: #0093e7;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}

	img {
		border: none;
	}
}

.elevated {
	color: #ffa52b;
}

header {
	position: relative;
	z-index: 1000;

	padding: 35px 0 0 136px;
	margin: 0 0 25px 0;
	display: block;

	background: #fff url(../../../img/header_border.png) 0% 100% repeat-x;
	height: 49px;

	&.logged_in {
		background: #fff url(../../../img/header_border_alt.png) 0% 100% repeat-x;
	}

	ul,
	p {
		margin: 0;
		padding: 0;
	}

	.avatar {
		font-family: 'Lucida Grande', arial, serif;
		right: 20px;
		line-height: 0;

		img {
			width: 35px;
			height: 35px;
			border-radius: 2px;
		}

		span {
			position: absolute;
			right: 32px;
		}
	}
	.user {
		color: #979696;
		font-size: 12px;
		position: absolute;
		top: 36px;
	}
	.user.avatar {
		top: 24px;

		a {
			font-size: 17px;
			font-weight: bold;
			font-family: 'Lato', arial, serif;
			position: absolute;
			top: 36px;
			right: 5px;
			width: 500px;
			text-align: right;

			span {
				text-align: right;
				position: absolute;
				top: -28px;
				right: 42px;
				width: 500px;
				font-size: 14px;
			}
			span:hover {
				text-decoration: underline;
			}

			img {
				position: absolute;
				top: -35px;
				right: 2px;
			}
		}
		.logout a {
			font-size: 14px;
			top: 26px;
			right: 18px;
			font-weight: 400;
		}
	}
}

h1.logo {
	position: absolute;
	left: 0;
	top: 0;
	margin: 0;
	overflow: hidden;

	a {
		display: block;
		width: 100px;
		height: 0;
		padding: 60px 0 0 10px;
		margin: 10px 0 0 10px;
		background: url(../../../img/materia_tmp_logo.png) 0% 0% no-repeat;
	}
}

.tiny {
	font-size: 85%;
}

a.external {
	padding-right: 18px;
	background: url('../../../img/external_link_arrow_blue.png') right center no-repeat;
}

.hidden {
	display: none;
}
.page {
	position: relative;
	z-index: 1;
}
.main h2,
.main h3 {
	font-family: 'Lato', arial, serif;
	margin: 0;
	padding: 0;
	display: inline;
	font-weight: 700;
}
.detail {
	padding-bottom: 10px;
}

#mobile-menu-toggle {
	display: none;
}

nav {
	display: block;
	margin-top: 16px;

	ul {
		li {
			display: inline;
			padding: 0 10px 0 0;

			.logout a {
				display: none;
				position: absolute;
				right: 20px;
				bottom: 13px;
				font-size: 14px;
			}

			a {
				font-family: 'Lato', arial, serif;
				font-size: 17px;
				font-weight: bold;
				margin: 0;
				padding: 0;
			}
		}
	}
}

// mobile header
@media (max-width: 720px) {
	header {
		min-height: 49px;
		height: auto;
		overflow: hidden;
		padding: 0;
		margin-bottom: 8px;

		h1.logo {
			display: inline-block;
			position: static;
		}

		.user.avatar {
			right: 54px;
			max-width: calc(100% - 185px);

			span {
				display: none;
			}

			a {
				top: 18px;

				img {
					float: none;
					margin: right;
					height: 35px;
					width: 35px;
					border-radius: 3px;
					top: -17px;
				}
			}
		}
	}

	nav {
		visibility: hidden;
		opacity: 0;
		max-height: 0;
		padding: 0 20px;
		text-align: right;
		transition: all ease 500ms;

		ul {
			li {
				display: block;
				padding: 5px;

				&.nav_expandable {
					&:hover ul li {
						display: inline-block;
						padding: 0 10px 5px;
						height: auto;
					}

					ul {
						top: 0;
						bottom: 0;
						right: 75px;
						left: auto;
						border-bottom: none;
						border-left: none;
						padding: 5px;
					}
				}

				.logout a {
					display: inline;
					font-size: 17px;
					position: static;
				}

				a {
					font-family: 'Lato', arial, serif;
					font-size: 17px;
					font-weight: bold;
					margin: 0;
					padding: 0;
				}
			}
		}
	}

	// mobile hamburger menu
	#mobile-menu-toggle {
		display: block;
		position: absolute;
		right: 15px;
		top: 25px;
		height: 35px;
		width: 37px;
		border: 1px solid #888;
		padding: 2px 5px;
		border-radius: 3px;
		text-align: left;
		background: none;
		box-shadow: none;

		&.expanded {
			~ nav {
				visibility: visible;
				max-height: 175px;
				margin-bottom: 25px;
				opacity: 1;
			}

			div {
				transform: rotate(50deg) translate(6px, -8px);
				width: 18px;
				&:before {
					opacity: 0;
					width: 0;
					transform: rotate(-50deg) translate(-6px, 8px);
				}
				&:after {
					transform: rotate(-100deg) translate(0, -7px);
					width: 18px;
				}
			}
		}

		div {
			transition: all 300ms ease;
			height: 2px;
			width: 25px;
			background: #333;
			position: relative;

			&:before,
			&:after {
				transition: all 300ms ease;
				content: ' ';
				height: 2px;
				width: 25px;
				background: #333;
				position: absolute;
			}

			&:before {
				top: -8px;
			}

			&:after {
				top: 8px;
			}
		}
	}
}

.nav_expandable {
	color: #0093e7;
	font-family: 'Lato', arial, serif;
	font-size: 17px;
	font-weight: bold;
	height: 27px;
	position: relative;
	margin-left: 20px;

	ul {
		display: none;
		background-color: #ffffff;
		padding: 0;
		position: absolute;
		bottom: -150%;
		left: -10px;
		border-left: 1px solid #d3d3d3;
		border-right: 1px solid #d3d3d3;
		border-bottom: 1px solid #d3d3d3;
	}

	&:hover > span {
		display: inline-block;
		height: 27px;
	}

	&:hover > ul {
		display: flex;

		li {
			padding: 0 10px 5px;
			height: auto;
		}
	}
}

.messages a {
	position: absolute;
	right: 20px;
	bottom: 13px;
	font-size: 14px;
}

.main a {
	padding: 0;
}
.searchClose {
	color: #ddd;
	margin-left: -25px;
	margin-top: 6px;
	cursor: pointer;
	position: relative;
	display: inline;
}

.popup h2,
.detail h2 {
	color: #0a0a0a;
	font-weight: 900;
	font-size: 20pt;
	font-family: 'Lato', arial, serif;
	margin: 0;
	padding: 0;
	text-shadow: 0px 1px 0px #ccc;
}

h3 {
	font-size: 1.1em;
	font-weight: 700;
	font-family: 'Lato', arial, serif;
}

.left {
	float: left;
}
.right {
	float: right;
}
.text {
	margin: 0 0 0 10px;
	float: left;
	width: 500px;
}
.layered_windows {
	float: left;
	width: 370px;
	margin-top: 50px;
}
.cat_list {
	font-family: 'Lato', arial, serif;
	width: 962px;
	margin: 0 auto;
	padding: 20px;
}
.cat_list h2 {
	display: inline-block;
	margin-bottom: 30px;
}
.action_button {
	font-family: 'Lato', arial, serif;
	padding: 7px 23px 8px 23px;
	background: #ffba5d;
	background-image: linear-gradient(#ffce8c, #ffa42a);

	font-weight: 700;
	color: #694d28;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
	box-shadow: 1px 2px 4px #888;
	font-size: 18px;
	position: relative;
	cursor: pointer;
	display: inline-block;
	user-select: none;

	border: 1px solid #525252;
	border-radius: 4px;

	.ng-modal & {
		margin: 5px auto;
	}

	&.green {
		background: #c4dd61;
		color: #525252;

		&:hover {
			background: #d5ea7f;
		}
	}
}

.cancel_button {
	color: #555;
	text-decoration: underline;
	margin: 10px 15px;
}

.ie .action_button {
	border-radius: 0;
}

.action_button:hover {
	background: #eca444;
	background-image: linear-gradient(#ffa42a, #ffce8c);
	text-decoration: none;
}
.index_catalog_button {
	float: right;
	margin-top: 15px;
}

.cat_list_ul {
	padding: 0;
	margin: 0 auto;
}
.cat_list_ul li {
	list-style: none;
	display: inline-block;
	margin-right: 47px;
	text-align: center;
}
.cat_list_ul li:first-child {
	margin-left: 4px;
}

.cat_list_ul li:last-child {
	margin-right: 0 !important;
}
.cat_list_ul li a {
	color: #000;
	text-decoration: none;
	font-family: 'Lato', arial, serif;
	font-weight: bold;
}

#notices {
	text-align: right;
	position: absolute;
	z-index: 101;

	right: 80px;
	top: 78px;
	width: 380px;
	max-height: 0;

	padding: 0;
	overflow: auto;
	overflow-x: hidden;

	background: #ffffff;

	border-radius: 3px 0 3px 3px;

	transition: max-height 400ms ease-out;

	&.open {
		border: 1px solid rgba(0, 0, 0, 0.25);
		box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.35);
		max-height: 400px;
	}
}

#notices:before {
	content: 'Messages:';
	font-family: 'Lato', arial, serif;
	font-weight: bold;
	color: #7f7f7f;

	margin-left: 19px;
	margin-top: 18px;
	margin-bottom: 12px;

	text-align: left;
	display: block;
}
#notices :first-child {
	border-top: 0px;
}
#notices :last-child {
	border-radius: 0 0 3px 3px;
}

.notice {
	padding: 0;
	display: block;
	background: #ffffff;
	border-top: 1px solid #e5e5e5;
	font-family: 'Lato', arial, serif;
	font-weight: bold;
	font-size: 10px;
	text-align: center;
	position: relative;
	padding: 12px 5px 10px 0;
	overflow: auto;

	&:hover {
		background: #f4f4f4;
	}

	&.deleted {
		background-color: red !important;
	}

	.notice_right_side {
		display: inline-block;
	}
	.noticeClose {
		position: absolute;
		right: 5px;
		top: 4px;
		background: url('../../../img/close.png') no-repeat;
		width: 19px;
		height: 19px;
		cursor: pointer;
	}
	p {
		font-family: 'Lucida Grande', arial, sans-serif;
		font-weight: 100;
		font-size: 17px;
		&.icon {
			float: left;
			margin: 10px 0 0 13px;
			max-width: 50px;

			.senderAvatar {
				max-width: 50px;
			}
		}
		&.subject {
			width: 270px;
			clear: both;
			margin: 0;
			padding: 0;
			text-align: left;
			font-size: 10px;

			b {
				font-weight: bold;
			}
		}
	}
}

#notifications_link {
	position: absolute;
	right: 120px;
	bottom: 16px;

	width: 30px;
	height: 17px;

	cursor: pointer;

	background: url(../../../img/materia-mail-icon.png) 0% 0% no-repeat;
	text-decoration: none;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.35);

	border-radius: 3px;
}
#notifications_link.selected {
	position: absolute;
	right: 80px;
	bottom: 5px;
	z-index: 110;

	width: 41px;
	height: 40px;

	border: 1px solid rgba(0, 0, 0, 0.25);
	border-bottom: none;
	background: #ffffff url(../../../img/materia-mail-icon.png) 0% 0% no-repeat;
	background-position: center;

	border-radius: 3px 3px 0 0;

	box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.35);
}
#notifications_link:after {
	content: attr(data-notifications);
	position: absolute;

	top: 0.5em;
	right: -1.25em;

	min-width: 1.5em;
	min-height: 1.5em;

	line-height: 1.5em;
	text-align: center;

	font-size: 0.72em;
	font-weight: bold;
	color: #ffffff;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.15);
	text-decoration: none;

	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.35);

	border-radius: 4em;

	background: #e00101;
	background-image: linear-gradient(rgb(243, 0, 0), rgb(150, 4, 4));

	border: 2px solid #fdfdfd;

	z-index: 999;
}

#popupback {
	background: #000000;
	opacity: 0.5;
	z-index: 1100;
	position: fixed;
	left: 0;
	top: 0;
	margin-top: -21px;
}
#popup {
	z-index: 1150;
	position: absolute;
	padding: 10px;

	&.dark {
		background: #262626;
		border: 3px solid #888;
		border-radius: 5px;
		color: #ffffff;
	}

	&.light {
		background: #ffffff;
		color: #000000;
	}
}
.loading_popup,
.register_popup {
	font-weight: bold;
}
#popup.alert {
	padding: 0;
	background-color: #ffffff;
	border-radius: 5px;
	text-align: center;
	width: 350px;

	h1 {
		background: #6390dc;
		background-image: linear-gradient(#7ba7f2, #4373c1);
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		color: #fff;
		margin: 0;
		padding: 10px 20px;
		font-family: 'Lato', arial, serif;
		font-size: 22px;
		text-align: left;
	}
	p {
		margin: 20px;
		font-size: 12px;
		text-align: left;
	}
	button {
		margin: 1em auto 2em;
		font-size: 16px;
	}
}

#loading_image {
	margin-top: -4px;
	display: inline-block;
}
#loading {
	display: inline-block;
	margin: -100px 20px 0 0;
	padding: 10px 0 0 0;
}

.template {
	display: none !important;
}

.container.general {
	margin: 0 auto;
	width: 970px;
	position: relative;

	.page {
		margin: 0 auto;
		top: 0;
		right: 0;
		z-index: 100;
		width: 660px;
		padding: 40px 60px 30px 60px;
		background-color: #fff;
		min-height: 400px;
		text-align: left;
	}

	h1 {
		font-family: 'Lato', arial, serif;
		font-weight: 700;
		font-size: 38px;
		margin: 0 0 20px 0;
		padding: 0 0 5px 0;
	}

	h2 {
		font-size: 26px;
		margin-top: 30px;
		font-family: 'Lato', arial, serif;
	}
}

.get_flash {
	margin-top: 25px;

	span {
		display: block;
		font-size: 11px;
	}
}

.error-nowidget {
	margin: 180px auto;

	color: #616161;

	background: #ededed;
	border: 1px solid #dadada;
	border-radius: 3px;

	text-align: center;

	width: 400px;
	height: 200px;

	display: block;

	p.errorWindowPara {
		width: 80%;
		margin: 75px auto !important;
		padding: 0;
	}
}

.error-support {
	margin-top: 58px;
}

.error-support dt {
	list-style: disc;
	margin-left: 40px;
	float: left;
	margin-right: 10px;
	display: list-item;
}

.error-support dt:after {
	content: ':';
}

.error-support h3 {
	margin-bottom: 1px;
}

.error-support span.subtitle {
	font-size: 0.9em;
	margin-top: 0px;
	color: #666;
}

.form-content ul li {
	text-align: left;
}

.get_started {
	text-align: center;
	font-family: 'Lato', arial, serif;
	font-size: 24px;
	font-weight: 900;
	color: #474747;
	margin-top: 50px;
	padding: 0;
	vertical-align: middle;
	width: 100%;
	background-color: #3690e6;

	p {
		display: inline-block;
		vertical-align: middle;
		padding: 0;
		margin: 36px 0;

		&.desc {
			font-family: 'Lato', arial, serif;
			font-size: 44px;
			font-weight: 500;
			color: #ffffff;
			text-align: left;
			width: 720px;
			margin-right: 15px;
		}
		&.button_wrap {
			height: 100%;
			display: inline-block;
		}
		.bold {
			font-weight: 700;
		}
	}

	.action_button {
		font-size: 30px;
	}
}

.bottom_header {
	text-align: center;
	font-family: 'Lato', arial, serif;
	font-size: 30px;
	font-weight: 500;
	color: #474747;
	line-height: 30px;

	hr {
		width: 350px;
		display: inline-block;
		margin: 0 10px;
		vertical-align: middle;
		opacity: 0.25;
	}
}

.front_bottom {
	width: 100%;
	background-color: #fbfbfb;
	margin-bottom: 0;
	padding-top: 65px;

	.wrapper {
		width: 965px;
		margin: 0 auto;
	}
	div {
		width: 600px;
		height: 275px;

		font-family: 'Lucida Grande', arial, serif;
		font-weight: 300;
		font-size: 14px;
		color: #4c4c4c;

		margin: 10px 0px 20px 20px;
		padding: 0 20px;
		text-align: left;
		display: inline-block;

		&:nth-of-type(2) {
			text-align: right;
			margin-left: 20px;
		}
		h2 {
			font-family: 'Lato', arial, serif;
			font-size: 30px;
			font-weight: 700;
			color: #3690e6;
		}
	}

	img {
		display: inline-block;
		float: left;
		border: solid 2px #ffffff;
		box-shadow: 1px 2px 4px #888;
		margin-top: 20px;
	}
	img:nth-of-type(2) {
		float: right;
	}
}

hr {
	width: 955px;
	opacity: 0.25;
	margin-top: 50px;
}

.p_s {
	width: 955px;
	text-align: center;
	margin: 30px auto 0;

	h2 {
		font-family: 'Lato', arial, serif;
		font-size: 30px;
		font-weight: 700;
		color: #3690e6;
	}
	p {
		font-family: 'Lucida Grande', arial, serif;
		color: #4c4c4c;
		font-weight: 300;
		font-size: 14px;
		text-align: left;

		&.copyright {
			text-align: center;
			margin: 150px auto 0;
			padding-bottom: 30px;
		}
	}
}

.qtip-wrapper {
	border-radius: 5px;
	box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
}
.qtip-content {
	font-family: 'Lato', Arial, sans;
	font-weight: 900;
}

#no_permission h1 {
	font-family: 'Lato', arial, serif;
	font-weight: 700;
	font-size: 33px;
	padding: 0 0 5px 0;
	padding-bottom: 20px;
	margin: 0 0 30px 0;
	border-bottom: dotted black 1px;
}
#no_permission .error-support .contact dt {
	width: 65px;
}
#no_permission .error-support .online-support dt {
	width: 170px;
}
#swfplaceholder {
	position: absolute;
	background: #ccc;
}
#swfplaceholder p {
	position: absolute;
	font-family: 'Lato';
	font-size: 3em;
	font-weight: bold;
	color: #aaa;
	padding: 0;
	margin: 0;
}

@media only screen and (min-device-pixel-ratio: 2),
	only screen and (-webkit-min-device-pixel-ratio: 2) {
	h1.logo a {
		background: url(../../../img/retina/materia_tmp_logo@2x.png) 0% 0% no-repeat;
		background-size: 160px 68px;
	}

	header {
		background: #fff url(../../../img/header_border.png) 0% 100% repeat-x;
		background-size: 12px 6px;
	}
}

.qtip {
	position: absolute;
	background: #b944cc;
	border: 4px solid #b944cc;
	z-index: 101;
	color: #fff;
	padding: 10px;
	border-radius: 5px;
	width: 230px;
	font-weight: bold;

	&.top:after,
	&.top:before {
		bottom: 100%;
		left: 50%;
		border: solid transparent;
		content: ' ';
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}

	&.top:after {
		border-color: rgba(185, 68, 204, 0);
		border-bottom-color: #b944cc;
		border-width: 20px;
		margin-left: -20px;
	}
	&.top:before {
		border-color: rgba(185, 68, 204, 0);
		border-bottom-color: #b944cc;
		border-width: 26px;
		margin-left: -26px;
	}

	&.right:after {
		left: 100%;
		top: 50%;
		border: solid transparent;
		content: ' ';
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: rgba(185, 68, 204, 0);
		border-left-color: #b944cc;
		border-width: 28px;
		margin-top: -28px;
	}
}

span.subtitle {
	font-size: 1.1em;
	font-weight: 700;
	font-family: 'Lato', arial, serif;
}

/*Styles for LTI Login page*/
#lti-login-section {
	margin: 0px auto;
	width: 100%;
	background: #fff;

	section {
		background: #fff;
		overflow: auto;
		width: 100%;
	}

	h1 {
		text-align: center;
		padding: 15px;
		font-size: 26px;
		margin-top: 0px;
		color: #fff;
		font-family: Lato, arial, serif;
	}

	p {
		line-height: 2em;
		margin: 10px auto;
		padding: 20px;
		width: 30em;
	}

	img {
		box-shadow: 1px 2px 4px #888;
		width: 250px;
		height: 150px;
	}

	header {
		background: #0093e7;
	}

	#h1-div {
		background: #0093e7;
	}

	.widget-info {
		display: inline-block;
		padding: 10px;
		margin: 20px auto;
	}

	#widgets-heading {
		font-size: 20px;
		color: #74bf5b;
		text-align: center;
	}

	#embed-heading {
		font-size: 20px;
		color: #f1824c;
		text-align: center;
	}

	.action_button {
		margin-bottom: 40px;
	}

	@media only screen and (min-width: 200px) and (max-width: 600px) {
		.widget-info {
			width: 100%;
			margin: 5px auto;
		}

		.widget-info p {
			width: 18em;
		}
	}

	@media only screen and (min-width: 601px) and (max-width: 1000px) {
		.widget-info {
			width: 45%;
			margin: 5px auto;
		}

		#make-widgets p {
			width: 17em;
		}

		#embed-widgets p {
			width: 18em;
		}
	}

	@media only screen and (min-width: 1001px) and (max-width: 1400px) {
		.widget-info {
			width: 30%;
			margin: 5px auto;
		}

		#make-widgets p {
			width: 20em;
		}

		#embed-widgets p {
			width: 22em;
		}
	}
}

.ng-modal-dialog {
	padding: 15px 10px 15px 10px;

	.ng-modal-title {
		font-size: 150%;
		border-bottom: solid 1px #bebebe;
	}
}

.alert .action_button {
	display: block;
}

/* hack fix to ngModal plugin to disable closing halting alerts */
.ng-modal.fatal {
	.ng-modal-close {
		display: none;
	}
	.ng-modal-overlay {
		pointer-events: none;
	}
}
