.container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;

	background: rgba(50, 50, 50, 1);
	color: #ffffff;

	section.page {
		width: 620px;
		background: rgba(0, 0, 0, 0);
	}

	div.widget_info {
		margin: 0;
		padding: 0;

		div.widget_icon {
			position: relative;
			display: inline-block;
			top: 0;
			left: 0;
			width: 80px;
			height: 80px;
			margin: 0;
			padding: 10px;

			img {
				width: 80px;
				height: 80px;
				margin: 0;
				padding: 0;
			}
		}

		ul.widget_info {
			width: 500px;
			float: right;
			padding: 0px 5px 0px 10px;

			li {
				border-bottom: dotted 1px #ffffff;
			}
		}
	}

	div.detail {
		margin-top: 55px;
		margin-left: 45px;
		margin-right: 45px;
	}
}

.container a {
	display: block;
	margin: auto;
	padding: 10px 20px;
	border: 1px solid #000;
	border-radius: 5px;
	background-color: #494949;
}
