//@import '../components/include.scss';

html,
body {
	height: 100%;
	min-height: 100%;
}
#container {
	margin: 0 auto;
	outline: 1px solid #999;
	display: block;
}

#container.html {
	border: 0;
	height: 100%;
	width: 100%;
}

.page {
	margin: 0;
	padding: 0;
	text-align: center;
}
.center {
	position: relative;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	margin: 0 auto;
	height: 100%;
	box-shadow: 0px 0px 34px 1px #999;
}
.embedded .center {
	box-shadow: none;
}
.no-flash .center {
	box-shadow: none;
}

section.widget {
	display: none;
	position: absolute;
	left: 20px;
	right: 20px;
	bottom: 20px;
	top: 110px;
	min-height: 400px;
	min-width: 400px;
}
.no-flash section.widget {
	left: 0;
	right: 0;
	bottom: 0;
}
section.widget.preview {
	top: 150px;
}
.embedded section.widget {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.widget .preview-bar {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	display: block;
	border-bottom: 4px #b944cc solid;
	width: 100%;
	height: 40px;
	padding: 0;
	background: none;
	margin-top: -44px;
	z-index: 1;
}

.widget .preview-bar:before {
	content: 'Previewing';
	background: #b944cc;
	display: block;

	left: 0px;
	top: -40px;
	width: 160px;
	height: 20px;
	padding: 8px 0 12px 0;

	font-family: 'Lato', 'Arial', sans-serif;
	font-size: 20px;
	font-weight: 900;
	color: #ffffff;
	text-align: center;
	vertical-align: middle;

	border-radius: 5px 5px 0 0;
}

.widget .preview-bar:after {
	content: 'Scores and interactions will not be recorded while previewing.';
	position: absolute;
	display: block;

	right: 0px;
	top: 16px;

	font-family: 'Lato', 'Arial', sans-serif;
	font-size: 14px;
	font-weight: 300;
}

.embedded {
	background-image: none;
	background: #ffffff;
}

.ng-modal button {
	position: relative;
	margin: auto;
	margin-bottom: 5px;
	display: block;
}

/* *************************************************************** */
/*        Validation Error Popup                                                                */
/* *************************************************************** */

@import 'partials/play_validation_error_modal';
