@import '../components/include.scss';

.page {
	margin: 0 5%;
	background: white;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 1px 3px 10px #888;

	font-family: 'Lato', arial, serif;
}

#top {
	display: flex;

	h1 {
		flex-grow: 1;
		margin: 10px 0 0 8px;
	}

	#guide-tabs {
		display: flex;

		&.players-guide {
			a:first-of-type {
				background: #1778af;
			}
		}

		&.creators-guide {
			a:nth-of-type(2) {
				background: #1778af;
			}
		}

		a {
			padding: 8px 15px;
			background: #004268;
			color: white;
			border-radius: 10px 10px 0 0;
			margin: 15px 0 0 10px;
		}
	}
}

#guide-container {
	.guide {
		height: calc(100vh - 200px);
		width: 100%;
		box-sizing: border-box;
		border-radius: 3px 0 3px 3px;
		border: 8px solid #1778af;
	}
}

// mobile
@media (max-width: 720px) {
	.page {
		margin: 5px;
	}

	#top {
		flex-direction: column;

		h1 {
			margin: 0;
			font-size: 20px;
		}

		#guide-tabs {
			justify-content: flex-end;

			a {
				padding: 6px 15px;
				background: lighten(#333, 20%);
				color: white;
				border-radius: 10px 10px 0 0;
				margin: 10px 0 0 10px;
				font-size: 14px;
			}
		}
	}
}
