.widget_catalog_button {
	padding: 10px ;
	margin-top:15px;
}
.widget_catalog_button .arrow {
	padding-top: 19px;
	margin-bottom: -4px;
	width: 17px;
	height:0px;
	margin-right:5px;
	margin-left:-2px;
}
.widget .page {
	margin: 0 auto;
	width:970px;
}
.arrow, .action_button .arrow_right {
	display:inline-block;
	background:url(../img/arrow.png) no-repeat bottom;
}

.action_button .arrow_right {
	background:url(../img/arrow_right.png) no-repeat bottom;
}

.widget .green:hover .arrow_right {
	background:url(../img/button_arrow_circle_green_hover.png) no-repeat bottom;
}
.widget_detail {
	position:relative;
	min-height: 505px;
	width: 962px;
	margin:0 auto;
	/*
	background:#fff;
	border-radius:5px;
	padding:15px 20px;
	border:rgba(0,0,0,0.11) 1px solid;
	-moz-box-shadow: 1px 3px 10px #888;
	-webkit-box-shadow: 1px 3px 10px #888;
	box-shadow: 1px 3px 10px #888;
	*/
}

	.widget_detail .tooltip {
		position:absolute;
		z-index:99;
		padding:15px;
		background:#fff;
		width:250px;
		border-radius:15px;
		-moz-box-shadow: 1px 2px 5px #888;
		-webkit-box-shadow: 1px 2px 5px #888;
		box-shadow: 1px 2px 5px #888;
		display:none;
		font-size:12px;
	}

.widget_icon {
	float:left;
	margin-right: 20px;
	width: 394px;
	height: 394px;
}

.pics {
	margin: 1em 0 0 0;
	padding:0;
}
.pics li {
	display: inline-block;
	background: #FFFFFF;
	width: 163px;
	padding: 6px;
	margin-left: 8px;
	border: #c3c3c3;
	-moz-box-shadow: 1px 2px 5px #888;
	-webkit-box-shadow: 1px 2px 5px #888;
	box-shadow: 1px 2px 5px #888;
	line-height: 0;
}
.pics li:first-child {
	margin-left: 0;
}
.pics li img {
	cursor: pointer;
}

.detail h3 {
	margin-bottom:-11px;
}
.thumbnail_explination {
	color: #b5b5b5;
	font-size: .7em;
	background: url(../img/mag_glass.png) left bottom no-repeat;
	padding: 0 0 0 13px;
	margin-top: 5px;
}


.widget_catalog_button {
	margin-bottom:13px;
	margin-left: 8px;
}

.widget .widget_detail .aligner {
	display: inline-block;
	width: 190px;
}

.widget .widget_detail dl {
	line-height:30px;
	width:300px;
	margin-top:0;
}

.widget .widget_detail dl dt {
	font-size: 14px;
	margin-right: 5px;
}

.widget .widget_detail dl dd {
	font-size:15px;
}

.widget .widget_detail a.feature {
	cursor: default;
	font-size:11px;
	padding: 2px 6px;
}

.widget .widget_detail a.supported_data {
	cursor: default;
	font-size:11px;
	padding: 2px 6px;
}

.widget .widget_detail .tooltip {
	line-height: 15px;
}

.widget .green {
	background:#b2cd43;
	background-image: -webkit-linear-gradient(top, #d1e776, #a6c430);
	background-image: -o-linear-gradient(top, #d1e776, #a6c430);
	background-image: -moz-linear-gradient(top, #d1e776, #a6c430);
	background-image: -ms-linear-gradient(top, #d1e776, #a6c430);
	border-color:#95a74e;
	color:#4d5822;
}

.widget .green:hover {
	background:#a2c129;
	background-image: -webkit-linear-gradient(top, #a6c430, #d1e776);
	background-image: -o-linear-gradient(top, #a6c430, #d1e776);
	background-image: -moz-linear-gradient(top, #a6c430, #d1e776);
	background-image: -ms-linear-gradient(top, #a6c430, #d1e776);
	text-decoration:none;

}

.widget .widget_right_selection {
	width: 230px;
}
.widget .widget_right_selection h4 {
	color: #B5B5B5;
    font-size: 0.9em;
	margin: 0px 0 6px 0;
	padding:10px 0 0 0;
	text-align:right;
	font-family:Lato;
}
.widget .widget_right_selection h4:first-child {
	padding:0;
}
.widget .widget_right_selection p {
	margin-top:0;
	text-align:right;
	padding:0;
}

/* Spotlight */

.spotlight h1 {
	font-family: 'Lato', arial, serif;
	font-weight: 900;
	font-size: 36px;
	border-bottom: dotted black 1px;
	margin: 0;
	padding: 0 0 10px 0;
}

.spotlight aside {
	width: 1005px;
	padding: 0 15px;
}
.spotlight aside p {
	display:inline;
	background: #fff389;
	margin:0;
	padding: 5px 10px;
	font-family: 'Lato', arial, serif;
	font-weight: bold;
	font-size: 18px;
}

.spotlight .main_container {
	background: #fff;
	width: 960px;
	text-align: left;
}

.spotlight .store_main p {
	color: #4a4a4a;
	font-size: 17px;
	line-height: 24px;
}

.spotlight a.more {
	position: absolute;
	top: 270px;
	text-decoration: underline;
	font-size: 17px;
	font-weight: 700;
}

.spotlight .store_main section {
	background: transparent;
	padding: 30px 40px 100px;
	width: 920px;
	height: 230px;
	overflow: visible;
}
.spotlight .store_main section.enigma {
	background: url(../img/spotlight/enigma.png) right 10px no-repeat;
	padding-right: 490px;
	width: 415px;
}
.spotlight .store_main section.crossword {
	background: url(../img/spotlight/crossword.png) left 10px no-repeat;
	padding-left: 425px;
	width: 507px;
}
.spotlight .store_main section.adventure {
	background: url(../img/spotlight/adventure.png) right center no-repeat;
	padding-right: 350px;
	width: 558px;
}
.spotlight .store_main section.html5 {
	background: url(../img/spotlight/materia-html5.png) -30px -8px no-repeat;
	padding-left: 400px;
	width: 530px;
}

.spotlight .store_main section.crossword h1, .spotlight .store_main section.crossword p
{
	text-align:right;
}

.spotlight .store_main section.crossword a.more,
.spotlight .store_main section.materia_new a.more
 {
	right: 40px;
}
