body {
	border: solid 4px #b944cc;
	border-top: none;
}
body, html {
	background: rgba(0, 0, 0, .1);
	height: 100%;
	display: flex;
	flex-shrink: 1;
	flex-flow: column;
	padding: 0;
	margin: 0;
	justify-content: center;
}
#default-creator {
	background-color: white;
	padding-left: 100px;
	margin: 0 auto;
	display: block;
	width: 450px;
	height: 310px;
	position: relative;
}
h1 {
	padding-top: 20px;
	
}
hr {
	border: 0;
	border-bottom: 1px dashed #ccc;
	background: #999;
}
input {
	height: 25px;
	width: 60%;
}

.icon {
	position: absolute;
	display: block;
	top: 25px;
	left: -25px;
	width: 100px;
	height: 100px;
}

.icon-image {
	display: relative;
}