{% include JB/setup %}
<!DOCTYPE html>
<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class=""> <!--<![endif]-->
	<head>
		<title>{{ page.title }}</title>

		<meta charset="utf-8" />
		<meta content="ucf, University of Central Florida, Learning Systems and Technology, Materia, Educational Widget Platform, Edutainment, Open Source Education, Steam for education, games, apps, widgets, instructional" name="keywords">
		<meta content="Materia is a  powerful new way to deliver interactive games, tools, &amp; study aids." name="description">
		<meta content="Materia - Open Source Learning Platform" property="og:site_name">
		<meta property="og:image" content="{{BASE_PATH}}/assets/img/facebook-thumbnail.png">
		<meta name="author" content="{{ site.author.name }}">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kameron:700&text=0123456789%25" type="text/css" data-src="fonts" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,700italic,900&amp;v2" type="text/css" data-src="fonts" />
		<link href="{{BASE_PATH}}/assets/css/bootstrap.css" rel="stylesheet">
		<link href="{{BASE_PATH}}/assets/css/bootstrap-responsive.css" rel="stylesheet">
		<link href="{{BASE_PATH}}/assets/css/font-awesome.css" rel="stylesheet">
		<link href="{{BASE_PATH}}/assets/css/site.css" rel="stylesheet">
		<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
		  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>
	<body>
		<div class="page-wrapper">
			{% include header.html %}
			{{ content }}
		</div>

		<footer>
			<div class="container">
				<div class="row-fluid">
					<div class="col1">
						<h1>About the developers</h1>
						<p>
							We're the Learning Systems &amp; Technologies team at the Center for Distributed Learning - a team of designers, developers and part time students at UCF. We develop web applications to empower instructors with cool tools to teach online and strive to better engage students who are learning online.
						</p>
					</div>
					<div class="col2">
						<ul>
							<li><a href="https://github.com/ucfcdl/Materia">Materia at GitHub<i class="icon-github-sign"></i></a></li>
							<li><a href="https://plus.google.com/communities/106099883953620832395">Google+<i class="icon-google-plus"></i></a></li>
							<li><a href="http://www.facebook.com/pages/Materia/150510601766296">Facebook<i class="icon-facebook"></i></a></li>
							<li><a href="https://twitter.com/materiaUCF">Twitter</a><i class="icon-twitter"></i></li>
							<li><a href="mailto:materia.ucf@gmail.com">E-Mail</a><i class="icon-envelope-alt"></i></li>
						</ul>
					</div>
				</div>
				<div class="row-fluid legal">
					<img src="{{BASE_PATH}}/assets/img/ucf-logo.png" />
					<span class="trademark">
						Materia is a registered trademark of the University of Central Florida.
					</span>
				</div>
			</div>
		</footer>

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
		<script src="{{BASE_PATH}}/assets/js/bootstrap.min.js"></script>
		{% include JB/analytics %}
	</body>
</html>
