<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="false" stopOnFailure="false" bootstrap="bootstrap_phpunit.php" >
	<php>
		<server name="doc_root" value="../../"/>
		<server name="app_path" value="fuel/app"/>
		<server name="core_path" value="fuel/core"/>
		<server name="package_path" value="fuel/packages"/>
		<server name="vendor_path" value="fuel/vendor"/>
		<server name="FUEL_ENV" value="test"/>
	</php>
	<testsuites>
<!-- 		<testsuite name="core">
			<directory suffix=".php">../core/tests</directory>
		</testsuite> -->
		<testsuite name="packages">
			<directory suffix=".php">../packages/*/tests</directory>
			<exclude>../packages/materia/tests/widget_source</exclude>
		</testsuite>
		<testsuite name="app">
			<directory suffix=".php">../app/tests</directory>
		</testsuite>
		<testsuite name="modules">
			<directory suffix=".php">../app/modules/*/tests</directory>
		</testsuite>
	</testsuites>
	<filter>
		<blacklist>
			<directory suffix=".php">../vendor</directory>
			<directory suffix=".php">../core</directory>
			<directory suffix=".php">../packages/orm</directory>
			<directory suffix=".php">../packages/auth</directory>
		</blacklist>
	</filter>
<!-- 	<logging>
		<log type="coverage-html" target="../../coverage"/>
	</logging> -->
</phpunit>
