<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true" stopOnFailure="false" bootstrap="bootstrap_phpunit.php">
	<php>
		<server name="doc_root" value="../../"/>
		<server name="app_path" value="fuel/app"/>
		<server name="core_path" value="fuel/core"/>
		<server name="package_path" value="fuel/packages"/>
	</php>
	<testsuites>
		<testsuite name="packages">
			<directory suffix=".php">../packages/*/tests</directory>
		</testsuite>
		<testsuite name="app">
			<directory suffix=".php">../app/tests</directory>
		</testsuite>
		<testsuite name="modules">
			<directory suffix=".php">../app/modules/*/tests</directory>
		</testsuite>
		<testsuite name="score">
			<directory suffix=".php">../packages/materia/vendor/widget/test</directory>
		</testsuite>
	</testsuites>
</phpunit>
