<?xml version="1.0" encoding="UTF-8"?>

<phpunit
	colors="false"
	stopOnFailure="true"
	bootstrap="bootstrap_phpunit.php"
	processIsolation="false"
	>
	<php>
		<server name="doc_root" value="../../"/>
		<server name="app_path" value="fuel/app"/>
		<server name="core_path" value="fuel/core"/>
		<server name="package_path" value="fuel/packages"/>
		<server name="vendor_path" value="fuel/vendor"/>
		<server name="FUEL_ENV" value="test"/>
	</php>
	<listeners>
		<listener class="JohnKary\PHPUnit\Listener\SpeedTrapListener">
			<arguments>
				<array>
					<element key="slowThreshold">
						<integer>200</integer>
					</element>
					<element key="reportLength">
						<integer>5</integer>
					</element>
				</array>
			</arguments>
		</listener>
	</listeners>
	<testsuites>
<!-- 		<testsuite name="core">
			<directory suffix=".php">../core/tests</directory>
		</testsuite> -->
		<testsuite name="packages">
			<directory suffix=".php">../packages/*/tests</directory>
			<exclude>../packages/materia/tests/widget_source</exclude>
		</testsuite>
		<testsuite name="app">
			<directory suffix=".php">../app/tests</directory>
		</testsuite>
		<testsuite name="modules">
			<directory suffix=".php">../app/modules/*/tests</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist>
			<directory suffix=".php">../packages/materia/classes</directory>
			<directory suffix=".php">../packages/ltiauth/classes</directory>
			<directory suffix=".php">../packages/materiaauth/classes</directory>
			<directory suffix=".php">../packages/materiaauth/tasks</directory>
			<directory suffix=".php">../packages/rocketduck/classes</directory>
			<directory suffix=".php">../app/classes</directory>
			<directory suffix=".php">../app/themes</directory>
			<directory suffix=".php">../app/lang</directory>
			<directory suffix=".php">../app/modules/lti/classes</directory>
			<directory suffix=".php">../app/tasks</directory>
		</whitelist>
	</filter>
<!-- 	<logging>
		<log type="coverage-html" target="../../coverage"/>
	</logging> -->
</phpunit>
