.ng-modal.share .cancel_button
{
	position: absolute;
	bottom: -35px;
	left: 200px;

	color: #555;
	text-decoration: underline;
	margin: 10px 15px;
	cursor: pointer;
}

.ng-modal.share .cancel_button.close_only
{
	left: 250px;
}

.ng-modal.share .action_button.save_button
{
	position: absolute;
	bottom: -35px;
	left: 285px;
}

.ng-modal.share .toggle_transfer
{
	font-size: 12px;
	position: absolute;
	bottom: 20px;
	left: 20px;
	padding: 5px 10px;
}
.ng-modal.share .cancel_button .share_button
{
	margin-top: 10px;
}

.ng-modal .green
{
	background:#b2cd43;
	background-image: -webkit-linear-gradient(top, #d1e776, #a6c430);
	background-image: -moz-linear-gradient(top, #d1e776, #a6c430);
	background-image: -o-linear-gradient(top, #d1e776, #a6c430);
	background-image: -ms-linear-gradient(top, #d1e776, #a6c430);
	border-color:#95a74e;
	color:#4d5822;
}
.ng-modal .green:hover
{
	background:#a2c129;
	background-image: -webkit-linear-gradient(top, #a6c430, #d1e776);
	background-image: -moz-linear-gradient(top, #a6c430, #d1e776);
	background-image: -o-linear-gradient(top, #a6c430, #d1e776);
	background-image: -ms-linear-gradient(top, #a6c430, #d1e776);
	text-decoration:none;
}
.ng-modal .gray
{
	background:#aeaeae;
	background-image: -webkit-linear-gradient(top, #e4e4e4, #b8b8b8);
	background-image: -moz-linear-gradient(top, #e4e4e4, #b8b8b8);
	background-image: -o-linear-gradient(top, #e4e4e4, #b8b8b8);
	background-image: -ms-linear-gradient(top, #e4e4e4, #b8b8b8);
	border-color:#747474;
	color:#545454;
}
.ng-modal .gray:hover
{
	background:#a2c129;
	background-image: -webkit-linear-gradient(top, #b8b8b8, #e4e4e4);
	background-image: -moz-linear-gradient(top, #b8b8b8, #e4e4e4);
	background-image: -o-linear-gradient(top, #b8b8b8, #e4e4e4);
	background-image: -ms-linear-gradient(top, #b8b8b8, #e4e4e4);
	text-decoration:none;
}

.ng-modal.share
{
	text-align: center;
}

.ng-modal.share #adding
{
	background-color: #f0f0f0;
	border:none;
	background: transparent;
	position: absolute;
	top: 0;
}

.ng-modal.share .container
{
	left: 0;
	top: 50px;
	width: 580px;
	height: 390px;
	padding-top: 15px;
}

.ng-modal.share .ng-modal-title
{
	top: 15px;
	left: 27px;
}

.ng-modal.share a.close
{
	display:block;
	position: absolute;
	right: 5px;
	top: 4px;
	margin: 4px;
	background: url('../img/close.png') no-repeat;
	text-indent: -10000px;
	width: 19px;
	height: 19px;
}
.ng-modal.share a.remove
{
	display:inline-block;
	color:#bfbfbf;
	text-decoration:none;
	font-size: 15px;
	position:absolute;
	left:5px;
	top:30px;
}
.ng-modal.share .name {
	float:left;
	font-weight: bold;
	font-size: 15px;
	margin-top:8px;
	text-align: left;
	width: 160px;
}

.ng-modal.share .name span {
	display:block;
	font-weight: normal;
	text-align:left;
}

.ng-modal.share .input_label
{
	font-size: 19px;
	margin: 0 25px 0 0;

	position: absolute;
}

.ng-modal.share #adding .input_label
{
	left: 20px;
	top: 20px;
}

.ng-modal.share #access input.user_add, .ng-modal.share #access .placeholder
{
	width: 445px;
	height: 30px;
	padding-left: 10px;
	z-index: 2;
	border: solid 1px #C9C9C9;
	font-size: 16px;

	position: absolute;
	right: 0;
}


.ng-modal.share #adding #input_holder {
	width: 445px;
	height: 30px;
	padding-left: 10px;
	z-index: 2;
	border: solid 1px #C9C9C9;
	font-size: 16px;
	background: #fff;
	position: absolute;
	right: 0;
	text-align:left;
	top: 20px;
	right: 20px;
}

.ng-modal.share #adding #input_area
{
	display: inline-block;
	outline: none;
	min-width: 15px;
	min-height: 30px;
	font-family: 'Lucida Grande', sans-serif;
	font-size: 16px;
	padding-top: 5px;
}
.ng-modal.share #adding #input_area input.user_add
{
	width: 460px;
	height: 30px;
	border: none;
	margin: 0;
	padding: 0;
	display: inline-block;
}

.ng-modal.share #adding #input_area input.user_add::-webkit-input-placeholder {
	color:    #343434;
}
.ng-modal.share #adding #input_area input.user_add:-moz-placeholder {
	color:    #343434;
}
.ng-modal.share #adding #input_area input.user_add:-ms-input-placeholder {
	color:    #343434;
}

.ng-modal.share #adding #expArea
{
	display: block;
}
.ng-modal.share #adding #expArea #expSet
{
	display: none;
	padding: 0;
	margin: 0;
}
.ng-modal.share .expElement
{
	padding: 0;
	margin: 0 5px;
}

.ng-modal.share .changeRoleExpiration {
	display: none;
}

.ng-modal.share #adding #expArea .exp_disclaimer
{
	padding: 0;
	margin: 10px 0;
}
.ng-modal.share #adding #expArea #roleExpiration
{
	width: 100px;
}

.ng-modal.share .share_user_to_add
{
	display: inline-block;
	font-size: 14px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background-color: #fbfbfb;
	border: 1px solid #aeaeae;
	margin: 3px;
	padding: 3px;
	height: 30px;
}

.share_user_to_add_name
{
	vertical-align: middle;
	padding: 0;
	margin: 0;
}

.ng-modal.share .search_list
{
	width: 456px;
	min-height: 130px;
	height: 340px;
	position: absolute;
	background-color:#ffffff;
	border: #bfbfbf 1px solid;
	padding-bottom: 5px;
	overflow: auto;
	z-index:3;
	text-align: left;
	top: 50px;
	left: 120px;
}
.ng-modal.share .no_match_message, .ng-modal.share .no_match_reason
{
	width: 60%;
	text-align:center;
	margin: 10px auto;
}

.ng-modal.share .no_match_reason
{
	color: #a0a0a0;
	font-size: 14px;
}

.ng-modal.share .search_match
{
	width: 200px;
	height: 56px;
	margin: 5px 5px 0 5px;
	padding: 0 5px 5px 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	display: inline-block;
	background-color: #ffffff;
}
.ng-modal.share .search_match:hover
{
	background-color: #c5e7fa;
	cursor: pointer;
}
.ng-modal.share .search_match.focused
{
	background-color: #7fc9f3;
}
.ng-modal.share .access_list
{
	background-color: #f2f2f2;
	width: 520px;
	height: 250px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-top: 50px;
	padding: 0 30px;
	text-align: right;
	overflow: auto;
}

.ng-modal.share .access_list.no-add-access
{
	background-color: #f2f2f2;
	height: 320px;
	margin-top: 0px;

}

.ng-modal.share .access_heading
{
	margin: 5px 125px 0 0;
	padding: 0;
}
.ng-modal.share .user_match_avatar
{
	float: left;
	margin: 5px;
}
.ng-modal.share .user_match_name
{
	font-size: 14px;
	text-align: left;
	width: 140px;
	height: 40px;
	font-family: 'Lucida Grande', sans-serif;
}
.ng-modal.share .user_match_student
{
	position: relative;
}
.ng-modal.share .user_match_student:after
{
	content: "Student";
	position: absolute;
	top: -10px;
	left: 0;
	font-size: 10px;
}

.ng-modal.share .disclaimer
{
	color: #575757;
	font-size: 14px;
	margin-top: 10px;
}

.ng-modal.share .user_perm
{
	border-bottom: #E1E1E1 1px solid;
	margin: 5px 0;
	margin:0;
}

.ng-modal.share .user_perm:last-child
{
	border: none;
}

.ng-modal.share .user_perm
{
	width: 420px;
	min-height: 64px;
	vertical-align: middle;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding: 15px 0 0 0;
}

.ng-modal.share .user_perm .options {
	position: absolute;
	right: 0;
	width: 145px;
	float: left;
	text-align: left;
	margin-top:6px;
}

.ng-modal.share .user_perm .options select {
	display: block;
}

.ng-modal.share .avatar, .user_perm_name, .user-perm .options, .user_perm_select, .user_match_avatar, .user_match_name
{
	display: inline-block;
	vertical-align: middle;
}

.ng-modal.share .avatar {
	margin-left:40px;
}



.ng-modal.share .avatar, .user_match_avatar
{
	width: 50px;
	height: 50px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	display: inline-block;
	float: left;
	margin-right: 10px;
}

.ng-modal.share .user_perm_name
{
	width: 187px;
	font-size: 15px;
	text-align: left;
	padding: 0 0 0 18px;
	margin: 0;
	font-weight:bold;
}

.ng-modal.share .user_perm_name span
{
	display:block;
	font-weight: normal;
}

.ng-modal.share .user_perm_select
{
	width: 150px;
	height: 20px;
	margin-right: 33px;
	text-align: left;
}

.ng-modal.share #adding .options
{
	width: 450px;
	margin: 10px 25px 0 0;
	float: right;
}
.ng-modal.share #adding .user_perm_select
{
	margin-left: 8px;
}

.ng-modal.share hr
{
	width: 100%;
	border: 1px dotted;
	margin: 10px 0;
}

.ng-modal.share .user_perm_check
{
	float: left;
	margin-bottom: 10px;
}

.ng-modal.share .user_perm_message
{
	display:block;
	text-align: left;
	width: 426px;
}
.ng-modal.share #adding textarea {
	resize: none;
}

.ng-modal.share .options
{
	text-align: right;
}

.ng-modal.share .owner
{
	display:none;
	width: 145px;
	text-align: left;
}

.ng-modal.share .owner a
{
	display: block;
	font-size: 13px;
}

.ng-modal.share .transfer
{
	display: none;
}

.ng-modal.share a.cancel-transfer
{
	display: inline !important;
}

.ng-modal.share .transfer .do-transfer,
.ng-modal.share .transfer span
{
	display: none;
}

.ng-modal.share .transfer span
{
	font-size: 14px;
}

.ng-modal.share .owner .transfer-owner
{
	display: none;
}

.ng-modal.share .undo
{
	display:none;
	width: 145px;
	text-align: left;
}

.ng-modal.share .deleted .avatar {
	opacity: .5;
}

.ng-modal.share .deleted .name {
	color: #5f5f5f;
}

.ng-modal.share .user_perm .exp_change_view
{
	display: none;
	text-align: right;
	background: #F2F2F2;

	position: absolute;
	top: 0;
	right: 0;
	height: 64px;
	font-size: 12px;
	top: -15px;
	width: 225px;
	padding-left: 16px;

	background: white;
	border-radius: 1px;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);

}

.ng-modal.share .user_perm .exp_change_view .access_expires
{
	text-align: left;
	font-family: 'Lato';
	font-size: 13px;
	line-height:0;
	padding-top: 6px;
}

.ng-modal.share .user_perm label
{
	margin-right:10px;
}


.ng-modal.share .exp_change_view .exp_button{
	font-family: Lato, arial, serif;
	position: absolute;
	top: 10px;
	right: 10px;
}

.ng-modal.share .exp_change_view .gray_min
{
	background:#aeaeae;
	color:#545454;
}
.ng-modal.share .exp_change_view .gray_min:hover
{
	background: #919191;
}
.ng-modal.share .exp_change_view .green_min
{
	background:#b2cd43;
	color:#4d5822;
}
.ng-modal.share .exp_change_view .green_min:hover
{
	background:#a2c129;
}

.ng-modal.share .exp_change_view input[type="text"]
{
	display: none;
	position: absolute;
	width: 75px;
	left: 145px;
}

.ng-modal.share .demote_dialogue
{
	border-radius: 4px;
	-webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 2px 2px rgba(0, 0, 0, .3);
	box-shadow: 0 2px 2px rgba(0, 0, 0, .3);
	padding: 1em;
	width: 310px;
	font-family: "Lucida Grande", sans-serif;
	font-size: 9pt;
	color: black;
	text-align: center;
	background: #fcdbdb;
	height: 40px;
	z-index: 10000;
	position:absolute;
	margin-left: 90px;
}

.ng-modal.share .demote_dialogue .arrow
{
	background: url('../img/pink-arrow-left.png') no-repeat 0 center;
	width: 13px;
	height: 23px;
	display: inline-block;
	top: 0;
	left: -13px;
	position: absolute;
	height: 100%;
}

.ng-modal.share .demote_dialogue .warning
{
	display: block;
	margin: -4px 0 6px 0;
	text-align: center;
}

.ng-modal.share .demote_dialogue .button
{
	text-align: center;
	margin: 0 10px 0 10px;
}

.ng-modal.share .demote_dialogue .red
{
	color: white;
	font-size: 11pt;
	padding: 5px 12px;
}

.ng-modal.share .demote_dialogue .no_button
{
	font-family: Lato, arial, serif;
	color: #555;
	text-decoration: underline;
	font-size: 12pt;
}